# Stock Market Data Analysis: Using Python to Scrape, Analyze, & Visualize Data from the S&P 500
Import Packages (You may need to install, using pip)
For further info on installing packages with Python visit: https://packaging.python.org/tutorials/installing-packages/

In [4]:
# If you want to pip install inline run the following:
!pip install pandas
!pip install pandas_datareader
!pip install mpl_finance
!pip install mplfinance
!pip install --upgrade mplfinance

# Import Packages
import bs4 as bs
import pickle
import requests
import datetime as dt
import os

import pandas as pd
from pandas import DataFrame
import pandas_datareader.data as web
#import pandas.plotting
from pandas.plotting import register_matplotlib_converters
#import pandas.testing
from pandas.testing import assert_frame_equal
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
import matplotlib.ticker as mticker
import matplotlib.dates as mdates
from matplotlib import style

import mplfinance  
from mpl_finance import candlestick_ohlc # mpl_finance is deprecated - need to update visualizations  
from concurrent import futures

import collections
from collections import Counter

import sklearn
from sklearn import svm, neighbors
from sklearn.svm import LinearSVC 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import VotingClassifier, RandomForestClassifier

style.use('ggplot')

Requirement already satisfied: pandas in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: pandas_datareader in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.10.0)
Requirement already satisfied: lxml in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_datareader) (4.9.4)
Requirement already satisfied: pandas>=0.23 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_datareader) (2.1.4)
Requirement already satisfied: requests>=2.19.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_datareader) (2.31.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=0.23->pandas_datareader) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=0.23->pandas_datareader) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=0.23->pandas_datareader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.19.0->pandas_datareader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.19.0->pandas_datareader) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.19.0->pandas_datareader) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.19.0->pandas_datareader) (2023.11.17)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.16.0)
Requirement already satisfied: mpl_finance in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.10.1)
Requirement already satisfied: matplotlib in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from mpl_finance) (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mpl_finance) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mpl_finance) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mpl_finance) (4.47.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mpl_finance) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mpl_finance) (1.26.2)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mpl_finance) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mpl_finance) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mpl_finance) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mpl_finance) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.7->matplotlib->mpl_finance) (1.16.0)
Requirement already satisfied: mplfinance in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.12.10b0)
Requirement already satisfied: matplotlib in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from mplfinance) (3.8.2)
Requirement already satisfied: pandas in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from mplfinance) (2.1.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mplfinance) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mplfinance) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mplfinance) (4.47.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mplfinance) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mplfinance) (1.26.2)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mplfinance) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mplfinance) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mplfinance) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mplfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->mplfinance) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->mplfinance) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.7->matplotlib->mplfinance) (1.16.0)
Requirement already satisfied: mplfinance in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.12.10b0)
Requirement already satisfied: matplotlib in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from mplfinance) (3.8.2)
Requirement already satisfied: pandas in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from mplfinance) (2.1.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mplfinance) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mplfinance) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mplfinance) (4.47.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mplfinance) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mplfinance) (1.26.2)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mplfinance) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mplfinance) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mplfinance) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib->mplfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->mplfinance) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->mplfinance) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.7->matplotlib->mplfinance) (1.16.0)

In [5]:
# Parts 1-3: Using Stock Market Data
# This example uses Tesla ($TSLA) stock data from 1/1/2000 to current date.
# df = pd.read_csv('c:/Users/JCW/Desktop/Stock_Market_Data_Analysis/Company Data/tsla.csv', parse_dates = True, index_col = 'Date')
start = dt.datetime(2000,1,1)
end = dt.datetime.now()
df = web.DataReader('TSLA', 'yahoo', start, end)

print(df.tail(10))

TypeError: string indices must be integers, not 'str'

In [ ]:
# Read data into csv.
df = web.DataReader('TSLA', 'yahoo', start, end)
df.to_csv('tsla.csv')
df = pd.read_csv('tsla.csv', parse_dates = True, index_col = 'Date')

# Moving average over 100 day period. You can alter the window to average over 30 days, or another time period.
df['100ma'] = df['Adj Close'].rolling(window = 100, min_periods = 0).mean()
df.dropna(inplace = True)
print(df.tail())

In [ ]:
# Plot data using two plots (one for adjusted close price, one for volume).
ax1 = plt.subplot2grid((6,1), (0,0), rowspan = 5, colspan = 1)
ax2 = plt.subplot2grid((6,1), (5,0), rowspan = 1, colspan = 1, sharex = ax1)

# Volume is shown in the subplot as a bar chart, and adj close is a line graph. Red is actual
# price, and blue is the 100 moving average.
ax1.plot(df.index, df['Adj Close'])
ax1.plot(df.index, df['100ma'])
ax2.bar(df.index, df['Volume'])
plt.show()

In [ ]:
df_ohlc = df['Adj Close'].resample('10D').ohlc()
df_volume = df['Volume'].resample('10D').sum()
df_ohlc.reset_index(inplace = True)
print(df_ohlc.head())

from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
df_ohlc['Date'] = df_ohlc['Date'].map(mdates.date2num)
print(df_ohlc.head())

In [ ]:
ax1 = plt.subplot2grid((6,1), (0,0), rowspan = 5, colspan = 1)
ax2 = plt.subplot2grid((6,1), (5,0), rowspan = 1, colspan = 1, sharex = ax1)

candlestick_ohlc(ax1, df_ohlc.values, width = 2, colorup = 'g')
ax2.fill_between(df_volume.index.map(mdates.date2num), df_volume.values, 0)
plt.show()

In [ ]:
# Part 4: Resampling
# Here we are using a resampling method for the data sample to improve accuracy 
df = pd.read_csv('tsla.csv', parse_dates = True, index_col = 0)
df['100ma'] = df['Adj Close'].rolling(window = 100, min_periods = 0).mean()
print(df.tail(10))

df_ohlc = df['Adj Close'].resample('10D').mean()

# Resample data for 10 day period
df_ohlc = df['Adj Close'].resample('10D').ohlc()
df_volume = df['Volume'].resample('10D').sum()
df_ohlc.reset_index(inplace = True)

# Convert datetime object to mdate
df_ohlc['Date'] = df_ohlc['Date'].map(mdates.date2num)
print(df_ohlc.head())

ax1 = plt.subplot2grid((6,1), (0,0), rowspan = 5, colspan = 1)
ax2 = plt.subplot2grid((6,1), (5,0), rowspan = 1, colspan = 1, sharex = ax1)
ax1.xaxis_date()

candlestick_ohlc(ax1, df_ohlc.values, width = 3, colorup = 'g')
ax2.fill_between(df_volume.index.map(mdates.date2num), df_volume.values, 0)
                 
ax1.plot(df.index, df['Adj Close'])
ax1.plot(df.index, df['100ma'])
ax2.bar(df.index, df['Volume'])

plt.show()

In [ ]:
# Part 5: Getting S&P500 List
# Here we are using BeautifulSoup to scrape data from wikipedia, and save the current S&P500 list.
def save_sp500_tickers():
    resp = requests.get('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
    soup = bs.BeautifulSoup(resp.text, "lxml")
    table = soup.find('table', {'id': 'constituents'})
    tickers = []
    for row in table.findAll('tr')[1:]:
        ticker = row.find_all('td')[0].text.strip()
        tickers.append(ticker)
        
    with open("sp500tickers.pickle", "wb") as f:
        pickle.dump(tickers, f)

    print(tickers)

    return tickers

save_sp500_tickers()

In [ ]:
# Part 6: Getting Stock Prices
# Get data from Yahoo and call SP500 tickers list as sp500
def get_data_from_yahoo(reload_sp500 = False):
    if reload_sp500:
        tickers = save_sp500_tickers()
    else:
        with open("sp500tickers.pickle", "rb") as f:
            tickers = pickle.load(f)

# Take all of the data for stocks and store in a directory
# Working with API, parsing website, take entire dataset and store locally
# Here we will look at Adjusted Close, but we can look at other columns later
    if not os.path.exists('stock_dfs2'):
        os.makedirs('stock_dfs2')
    
    start = dt.datetime(2016,1,1)        
    end = dt.datetime.now()
    #end = dt.datetime(2020,7,24)

    # Grab all ticker data
    for ticker in tickers:
        print(ticker)    
        if not os.path.exists('stock_dfs2/{}.csv'.format(ticker)):
            try:
                df = web.DataReader(ticker, 'yahoo', start, end)
                df.to_csv('stock_dfs2/{}.csv'.format(ticker))
            except:
                print(f'Problems retrieving data for {ticker}. Skipping!')
            else:
                print('Already have {}'.format(ticker))

get_data_from_yahoo()

In [ ]:
# Part 7: Combine S&P500 List with Adjusted Close Price for All Companies
def compile_data():
    with open("sp500tickers.pickle", "rb") as f:
        tickers = pickle.load(f)
    mainDataSet = pd.DataFrame()

# Count in SP500 tickers list
    for count, ticker in enumerate(tickers):
        fileDataSet = pd.read_csv('stock_dfs/{}.csv'.format(ticker))
        fileDataSet.set_index('Date', inplace = True)
        fileDataSet.rename(columns = {'Adj Close':ticker}, inplace = True)
        fileDataSet.drop(['Open', 'High', 'Low', 'Close', 'Volume'], 1, inplace = True)

        if mainDataSet.empty:
            mainDataSet = fileDataSet
        else:
            mainDataSet = mainDataSet.join(fileDataSet)
        print(mainDataSet.head())
    mainDataSet.to_csv('sp500_joined_closes.csv')
compile_data()

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        APD     AKAM       ALK  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  18.104057  321.250  7.803120
2000-01-04  14.625  NaN  27.172190  ...  17.552309  300.000  7.705581
2000-01-05  15.000  NaN  27.464891  ...  17.655748  283.500  7.747382
2000-01-06  16.000  NaN  27.684412  ...  18.828213  236.125  7.754352
2000-01-07  16.250  NaN  28.221029  ...  20.138605  248.375  8.040000

                 ALB        ARE     ALXN  ALGN  ALLE       LNT        ALL
Date
2000-01-03  6.324813  15.185927  7.37500   NaN   NaN  5.336293  14.409927
2000-01-04  6.324813  14.851833  6.93750   NaN   NaN  5.336293  13.950034
2000-01-05  6.434619  14.578481  7.28125   NaN   NaN  5.597509  14.563220
2000-01-06  6.654229  14.305137  7.75000   NaN   NaN  5.597509  14.486568
2000-01-07  6.544423  14.578481  8.25000   NaN   NaN  5.672143  15.023115

[5 rows x 22 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...     AKAM       ALK       ALB  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  321.250  7.803120  6.324813
2000-01-04  14.625  NaN  27.172190  ...  300.000  7.705581  6.324813
2000-01-05  15.000  NaN  27.464891  ...  283.500  7.747382  6.434619
2000-01-06  16.000  NaN  27.684412  ...  236.125  7.754352  6.654229
2000-01-07  16.250  NaN  28.221029  ...  248.375  8.040000  6.544423

                  ARE     ALXN  ALGN  ALLE       LNT        ALL  GOOGL
Date
2000-01-03  15.185927  7.37500   NaN   NaN  5.336293  14.409927    NaN
2000-01-04  14.851833  6.93750   NaN   NaN  5.336293  13.950034    NaN
2000-01-05  14.578481  7.28125   NaN   NaN  5.597509  14.563220    NaN
2000-01-06  14.305137  7.75000   NaN   NaN  5.597509  14.486568    NaN
2000-01-07  14.578481  8.25000   NaN   NaN  5.672143  15.023115    NaN

[5 rows x 23 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       ALK       ALB        ARE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  7.803120  6.324813  15.185927
2000-01-04  14.625  NaN  27.172190  ...  7.705581  6.324813  14.851833
2000-01-05  15.000  NaN  27.464891  ...  7.747382  6.434619  14.578481
2000-01-06  16.000  NaN  27.684412  ...  7.754352  6.654229  14.305137
2000-01-07  16.250  NaN  28.221029  ...  8.040000  6.544423  14.578481

               ALXN  ALGN  ALLE       LNT        ALL  GOOGL  GOOG
Date
2000-01-03  7.37500   NaN   NaN  5.336293  14.409927    NaN   NaN
2000-01-04  6.93750   NaN   NaN  5.336293  13.950034    NaN   NaN
2000-01-05  7.28125   NaN   NaN  5.597509  14.563220    NaN   NaN
2000-01-06  7.75000   NaN   NaN  5.597509  14.486568    NaN   NaN
2000-01-07  8.25000   NaN   NaN  5.672143  15.023115    NaN   NaN

[5 rows x 24 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       ALB        ARE     ALXN  ALGN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  6.324813  15.185927  7.37500   NaN
2000-01-04  14.625  NaN  27.172190  ...  6.324813  14.851833  6.93750   NaN
2000-01-05  15.000  NaN  27.464891  ...  6.434619  14.578481  7.28125   NaN
2000-01-06  16.000  NaN  27.684412  ...  6.654229  14.305137  7.75000   NaN
2000-01-07  16.250  NaN  28.221029  ...  6.544423  14.578481  8.25000   NaN

            ALLE       LNT        ALL  GOOGL  GOOG        MO
Date
2000-01-03   NaN  5.336293  14.409927    NaN   NaN  1.819708
2000-01-04   NaN  5.336293  13.950034    NaN   NaN  1.834266
2000-01-05   NaN  5.597509  14.563220    NaN   NaN  1.824561
2000-01-06   NaN  5.597509  14.486568    NaN   NaN  1.790593
2000-01-07   NaN  5.672143  15.023115    NaN   NaN  1.839118

[5 rows x 25 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        ARE     ALXN  ALGN  ALLE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  15.185927  7.37500   NaN   NaN
2000-01-04  14.625  NaN  27.172190  ...  14.851833  6.93750   NaN   NaN
2000-01-05  15.000  NaN  27.464891  ...  14.578481  7.28125   NaN   NaN
2000-01-06  16.000  NaN  27.684412  ...  14.305137  7.75000   NaN   NaN
2000-01-07  16.250  NaN  28.221029  ...  14.578481  8.25000   NaN   NaN

                 LNT        ALL  GOOGL  GOOG        MO     AMZN
Date
2000-01-03  5.336293  14.409927    NaN   NaN  1.819708  89.3750
2000-01-04  5.336293  13.950034    NaN   NaN  1.834266  81.9375
2000-01-05  5.597509  14.563220    NaN   NaN  1.824561  69.7500
2000-01-06  5.597509  14.486568    NaN   NaN  1.790593  65.5625
2000-01-07  5.672143  15.023115    NaN   NaN  1.839118  69.5625

[5 rows x 26 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...     ALXN  ALGN  ALLE       LNT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  7.37500   NaN   NaN  5.336293
2000-01-04  14.625  NaN  27.172190  ...  6.93750   NaN   NaN  5.336293
2000-01-05  15.000  NaN  27.464891  ...  7.28125   NaN   NaN  5.597509
2000-01-06  16.000  NaN  27.684412  ...  7.75000   NaN   NaN  5.597509
2000-01-07  16.250  NaN  28.221029  ...  8.25000   NaN   NaN  5.672143

                  ALL  GOOGL  GOOG        MO     AMZN  AMCR
Date
2000-01-03  14.409927    NaN   NaN  1.819708  89.3750   NaN
2000-01-04  13.950034    NaN   NaN  1.834266  81.9375   NaN
2000-01-05  14.563220    NaN   NaN  1.824561  69.7500   NaN
2000-01-06  14.486568    NaN   NaN  1.790593  65.5625   NaN
2000-01-07  15.023115    NaN   NaN  1.839118  69.5625   NaN

[5 rows x 27 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  ALGN  ALLE       LNT        ALL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN   NaN  5.336293  14.409927
2000-01-04  14.625  NaN  27.172190  ...   NaN   NaN  5.336293  13.950034
2000-01-05  15.000  NaN  27.464891  ...   NaN   NaN  5.597509  14.563220
2000-01-06  16.000  NaN  27.684412  ...   NaN   NaN  5.597509  14.486568
2000-01-07  16.250  NaN  28.221029  ...   NaN   NaN  5.672143  15.023115

            GOOGL  GOOG        MO     AMZN  AMCR        AEE
Date
2000-01-03    NaN   NaN  1.819708  89.3750   NaN  11.942023
2000-01-04    NaN   NaN  1.834266  81.9375   NaN  11.942023
2000-01-05    NaN   NaN  1.824561  69.7500   NaN  12.403996
2000-01-06    NaN   NaN  1.790593  65.5625   NaN  12.357801
2000-01-07    NaN   NaN  1.839118  69.5625   NaN  12.542591

[5 rows x 28 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  ALLE       LNT        ALL  GOOGL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  5.336293  14.409927    NaN
2000-01-04  14.625  NaN  27.172190  ...   NaN  5.336293  13.950034    NaN
2000-01-05  15.000  NaN  27.464891  ...   NaN  5.597509  14.563220    NaN
2000-01-06  16.000  NaN  27.684412  ...   NaN  5.597509  14.486568    NaN
2000-01-07  16.250  NaN  28.221029  ...   NaN  5.672143  15.023115    NaN

            GOOG        MO     AMZN  AMCR        AEE  AAL
Date
2000-01-03   NaN  1.819708  89.3750   NaN  11.942023  NaN
2000-01-04   NaN  1.834266  81.9375   NaN  11.942023  NaN
2000-01-05   NaN  1.824561  69.7500   NaN  12.403996  NaN
2000-01-06   NaN  1.790593  65.5625   NaN  12.357801  NaN
2000-01-07   NaN  1.839118  69.5625   NaN  12.542591  NaN

[5 rows x 29 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       LNT        ALL  GOOGL  GOOG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  5.336293  14.409927    NaN   NaN
2000-01-04  14.625  NaN  27.172190  ...  5.336293  13.950034    NaN   NaN
2000-01-05  15.000  NaN  27.464891  ...  5.597509  14.563220    NaN   NaN
2000-01-06  16.000  NaN  27.684412  ...  5.597509  14.486568    NaN   NaN
2000-01-07  16.250  NaN  28.221029  ...  5.672143  15.023115    NaN   NaN

                  MO     AMZN  AMCR        AEE  AAL        AEP
Date
2000-01-03  1.819708  89.3750   NaN  11.942023  NaN  12.473226
2000-01-04  1.834266  81.9375   NaN  11.942023  NaN  12.622015
2000-01-05  1.824561  69.7500   NaN  12.403996  NaN  13.093165
2000-01-06  1.790593  65.5625   NaN  12.357801  NaN  13.167562
2000-01-07  1.839118  69.5625   NaN  12.542591  NaN  13.341142

[5 rows x 30 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        ALL  GOOGL  GOOG        MO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  14.409927    NaN   NaN  1.819708
2000-01-04  14.625  NaN  27.172190  ...  13.950034    NaN   NaN  1.834266
2000-01-05  15.000  NaN  27.464891  ...  14.563220    NaN   NaN  1.824561
2000-01-06  16.000  NaN  27.684412  ...  14.486568    NaN   NaN  1.790593
2000-01-07  16.250  NaN  28.221029  ...  15.023115    NaN   NaN  1.839118

               AMZN  AMCR        AEE  AAL        AEP        AXP
Date
2000-01-03  89.3750   NaN  11.942023  NaN  12.473226  34.196667
2000-01-04  81.9375   NaN  11.942023  NaN  12.622015  32.905453
2000-01-05  69.7500   NaN  12.403996  NaN  13.093165  32.186031
2000-01-06  65.5625   NaN  12.357801  NaN  13.167562  32.841770
2000-01-07  69.5625   NaN  12.542591  NaN  13.341142  33.319920

[5 rows x 31 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  GOOGL  GOOG        MO     AMZN  AMCR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...    NaN   NaN  1.819708  89.3750   NaN
2000-01-04  14.625  NaN  27.172190  ...    NaN   NaN  1.834266  81.9375   NaN
2000-01-05  15.000  NaN  27.464891  ...    NaN   NaN  1.824561  69.7500   NaN
2000-01-06  16.000  NaN  27.684412  ...    NaN   NaN  1.790593  65.5625   NaN
2000-01-07  16.250  NaN  28.221029  ...    NaN   NaN  1.839118  69.5625   NaN

                  AEE  AAL        AEP        AXP          AIG
Date
2000-01-03  11.942023  NaN  12.473226  34.196667  1002.118225
2000-01-04  11.942023  NaN  12.622015  32.905453   950.897522
2000-01-05  12.403996  NaN  13.093165  32.186031   953.157166
2000-01-06  12.357801  NaN  13.167562  32.841770   982.231995
2000-01-07  12.542591  NaN  13.341142  33.319920  1055.748657

[5 rows x 32 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  GOOG        MO     AMZN  AMCR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  1.819708  89.3750   NaN
2000-01-04  14.625  NaN  27.172190  ...   NaN  1.834266  81.9375   NaN
2000-01-05  15.000  NaN  27.464891  ...   NaN  1.824561  69.7500   NaN
2000-01-06  16.000  NaN  27.684412  ...   NaN  1.790593  65.5625   NaN
2000-01-07  16.250  NaN  28.221029  ...   NaN  1.839118  69.5625   NaN

                  AEE  AAL        AEP        AXP          AIG        AMT
Date
2000-01-03  11.942023  NaN  12.473226  34.196667  1002.118225  25.186090
2000-01-04  11.942023  NaN  12.622015  32.905453   950.897522  24.917585
2000-01-05  12.403996  NaN  13.093165  32.186031   953.157166  25.669407
2000-01-06  12.357801  NaN  13.167562  32.841770   982.231995  25.400898
2000-01-07  12.542591  NaN  13.341142  33.319920  1055.748657  26.797138

[5 rows x 33 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        MO     AMZN  AMCR        AEE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  1.819708  89.3750   NaN  11.942023
2000-01-04  14.625  NaN  27.172190  ...  1.834266  81.9375   NaN  11.942023
2000-01-05  15.000  NaN  27.464891  ...  1.824561  69.7500   NaN  12.403996
2000-01-06  16.000  NaN  27.684412  ...  1.790593  65.5625   NaN  12.357801
2000-01-07  16.250  NaN  28.221029  ...  1.839118  69.5625   NaN  12.542591

            AAL        AEP        AXP          AIG        AMT  AWK
Date
2000-01-03  NaN  12.473226  34.196667  1002.118225  25.186090  NaN
2000-01-04  NaN  12.622015  32.905453   950.897522  24.917585  NaN
2000-01-05  NaN  13.093165  32.186031   953.157166  25.669407  NaN
2000-01-06  NaN  13.167562  32.841770   982.231995  25.400898  NaN
2000-01-07  NaN  13.341142  33.319920  1055.748657  26.797138  NaN

[5 rows x 34 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...     AMZN  AMCR        AEE  AAL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  89.3750   NaN  11.942023  NaN
2000-01-04  14.625  NaN  27.172190  ...  81.9375   NaN  11.942023  NaN
2000-01-05  15.000  NaN  27.464891  ...  69.7500   NaN  12.403996  NaN
2000-01-06  16.000  NaN  27.684412  ...  65.5625   NaN  12.357801  NaN
2000-01-07  16.250  NaN  28.221029  ...  69.5625   NaN  12.542591  NaN

                  AEP        AXP          AIG        AMT  AWK  AMP
Date
2000-01-03  12.473226  34.196667  1002.118225  25.186090  NaN  NaN
2000-01-04  12.622015  32.905453   950.897522  24.917585  NaN  NaN
2000-01-05  13.093165  32.186031   953.157166  25.669407  NaN  NaN
2000-01-06  13.167562  32.841770   982.231995  25.400898  NaN  NaN
2000-01-07  13.341142  33.319920  1055.748657  26.797138  NaN  NaN

[5 rows x 35 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  AMCR        AEE  AAL        AEP  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  11.942023  NaN  12.473226
2000-01-04  14.625  NaN  27.172190  ...   NaN  11.942023  NaN  12.622015
2000-01-05  15.000  NaN  27.464891  ...   NaN  12.403996  NaN  13.093165
2000-01-06  16.000  NaN  27.684412  ...   NaN  12.357801  NaN  13.167562
2000-01-07  16.250  NaN  28.221029  ...   NaN  12.542591  NaN  13.341142

                  AXP          AIG        AMT  AWK  AMP       ABC
Date
2000-01-03  34.196667  1002.118225  25.186090  NaN  NaN  3.107706
2000-01-04  32.905453   950.897522  24.917585  NaN  NaN  2.895534
2000-01-05  32.186031   953.157166  25.669407  NaN  NaN  3.120188
2000-01-06  32.841770   982.231995  25.400898  NaN  NaN  3.357322
2000-01-07  33.319920  1055.748657  26.797138  NaN  NaN  3.794148

[5 rows x 36 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        AEE  AAL        AEP        AXP  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  11.942023  NaN  12.473226  34.196667
2000-01-04  14.625  NaN  27.172190  ...  11.942023  NaN  12.622015  32.905453
2000-01-05  15.000  NaN  27.464891  ...  12.403996  NaN  13.093165  32.186031
2000-01-06  16.000  NaN  27.684412  ...  12.357801  NaN  13.167562  32.841770
2000-01-07  16.250  NaN  28.221029  ...  12.542591  NaN  13.341142  33.319920

                    AIG        AMT  AWK  AMP       ABC       AME
Date
2000-01-03  1002.118225  25.186090  NaN  NaN  3.107706  1.857676
2000-01-04   950.897522  24.917585  NaN  NaN  2.895534  1.851566
2000-01-05   953.157166  25.669407  NaN  NaN  3.120188  1.869898
2000-01-06   982.231995  25.400898  NaN  NaN  3.357322  1.857676
2000-01-07  1055.748657  26.797138  NaN  NaN  3.794148  1.882120

[5 rows x 37 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  AAL        AEP        AXP  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  12.473226  34.196667
2000-01-04  14.625  NaN  27.172190  ...  NaN  12.622015  32.905453
2000-01-05  15.000  NaN  27.464891  ...  NaN  13.093165  32.186031
2000-01-06  16.000  NaN  27.684412  ...  NaN  13.167562  32.841770
2000-01-07  16.250  NaN  28.221029  ...  NaN  13.341142  33.319920

                    AIG        AMT  AWK  AMP       ABC       AME       AMGN
Date
2000-01-03  1002.118225  25.186090  NaN  NaN  3.107706  1.857676  50.853237
2000-01-04   950.897522  24.917585  NaN  NaN  2.895534  1.851566  46.964756
2000-01-05   953.157166  25.669407  NaN  NaN  3.120188  1.869898  48.580750
2000-01-06   982.231995  25.400898  NaN  NaN  3.357322  1.857676  49.388741
2000-01-07  1055.748657  26.797138  NaN  NaN  3.794148  1.882120  54.943722

[5 rows x 38 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        AEP        AXP          AIG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  12.473226  34.196667  1002.118225
2000-01-04  14.625  NaN  27.172190  ...  12.622015  32.905453   950.897522
2000-01-05  15.000  NaN  27.464891  ...  13.093165  32.186031   953.157166
2000-01-06  16.000  NaN  27.684412  ...  13.167562  32.841770   982.231995
2000-01-07  16.250  NaN  28.221029  ...  13.341142  33.319920  1055.748657

                  AMT  AWK  AMP       ABC       AME       AMGN       APH
Date
2000-01-03  25.186090  NaN  NaN  3.107706  1.857676  50.853237  3.851934
2000-01-04  24.917585  NaN  NaN  2.895534  1.851566  46.964756  3.719480
2000-01-05  25.669407  NaN  NaN  3.120188  1.869898  48.580750  3.637143
2000-01-06  25.400898  NaN  NaN  3.357322  1.857676  49.388741  3.536906
2000-01-07  26.797138  NaN  NaN  3.794148  1.882120  54.943722  3.572705

[5 rows x 39 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        AXP          AIG        AMT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  34.196667  1002.118225  25.186090
2000-01-04  14.625  NaN  27.172190  ...  32.905453   950.897522  24.917585
2000-01-05  15.000  NaN  27.464891  ...  32.186031   953.157166  25.669407
2000-01-06  16.000  NaN  27.684412  ...  32.841770   982.231995  25.400898
2000-01-07  16.250  NaN  28.221029  ...  33.319920  1055.748657  26.797138

            AWK  AMP       ABC       AME       AMGN       APH        ADI
Date
2000-01-03  NaN  NaN  3.107706  1.857676  50.853237  3.851934  30.618002
2000-01-04  NaN  NaN  2.895534  1.851566  46.964756  3.719480  29.069048
2000-01-05  NaN  NaN  3.120188  1.869898  48.580750  3.637143  29.493437
2000-01-06  NaN  NaN  3.357322  1.857676  49.388741  3.536906  28.687130
2000-01-07  NaN  NaN  3.794148  1.882120  54.943722  3.572705  29.493437

[5 rows x 40 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...          AIG        AMT  AWK  AMP  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  1002.118225  25.186090  NaN  NaN
2000-01-04  14.625  NaN  27.172190  ...   950.897522  24.917585  NaN  NaN
2000-01-05  15.000  NaN  27.464891  ...   953.157166  25.669407  NaN  NaN
2000-01-06  16.000  NaN  27.684412  ...   982.231995  25.400898  NaN  NaN
2000-01-07  16.250  NaN  28.221029  ...  1055.748657  26.797138  NaN  NaN

                 ABC       AME       AMGN       APH        ADI      ANSS
Date
2000-01-03  3.107706  1.857676  50.853237  3.851934  30.618002  2.765625
2000-01-04  2.895534  1.851566  46.964756  3.719480  29.069048  2.687500
2000-01-05  3.120188  1.869898  48.580750  3.637143  29.493437  2.703125
2000-01-06  3.357322  1.857676  49.388741  3.536906  28.687130  2.703125
2000-01-07  3.794148  1.882120  54.943722  3.572705  29.493437  2.703125

[5 rows x 41 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        AMT  AWK  AMP       ABC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  25.186090  NaN  NaN  3.107706
2000-01-04  14.625  NaN  27.172190  ...  24.917585  NaN  NaN  2.895534
2000-01-05  15.000  NaN  27.464891  ...  25.669407  NaN  NaN  3.120188
2000-01-06  16.000  NaN  27.684412  ...  25.400898  NaN  NaN  3.357322
2000-01-07  16.250  NaN  28.221029  ...  26.797138  NaN  NaN  3.794148

                 AME       AMGN       APH        ADI      ANSS  ANTM
Date
2000-01-03  1.857676  50.853237  3.851934  30.618002  2.765625   NaN
2000-01-04  1.851566  46.964756  3.719480  29.069048  2.687500   NaN
2000-01-05  1.869898  48.580750  3.637143  29.493437  2.703125   NaN
2000-01-06  1.857676  49.388741  3.536906  28.687130  2.703125   NaN
2000-01-07  1.882120  54.943722  3.572705  29.493437  2.703125   NaN

[5 rows x 42 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  AWK  AMP       ABC       AME  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  NaN  3.107706  1.857676
2000-01-04  14.625  NaN  27.172190  ...  NaN  NaN  2.895534  1.851566
2000-01-05  15.000  NaN  27.464891  ...  NaN  NaN  3.120188  1.869898
2000-01-06  16.000  NaN  27.684412  ...  NaN  NaN  3.357322  1.857676
2000-01-07  16.250  NaN  28.221029  ...  NaN  NaN  3.794148  1.882120

                 AMGN       APH        ADI      ANSS  ANTM        AON
Date
2000-01-03  50.853237  3.851934  30.618002  2.765625   NaN  27.607428
2000-01-04  46.964756  3.719480  29.069048  2.687500   NaN  26.988020
2000-01-05  48.580750  3.637143  29.493437  2.703125   NaN  27.784399
2000-01-06  49.388741  3.536906  28.687130  2.703125   NaN  28.757729
2000-01-07  54.943722  3.572705  29.493437  2.703125   NaN  30.261972

[5 rows x 43 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  AMP       ABC       AME       AMGN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  3.107706  1.857676  50.853237
2000-01-04  14.625  NaN  27.172190  ...  NaN  2.895534  1.851566  46.964756
2000-01-05  15.000  NaN  27.464891  ...  NaN  3.120188  1.869898  48.580750
2000-01-06  16.000  NaN  27.684412  ...  NaN  3.357322  1.857676  49.388741
2000-01-07  16.250  NaN  28.221029  ...  NaN  3.794148  1.882120  54.943722

                 APH        ADI      ANSS  ANTM        AON       AOS
Date
2000-01-03  3.851934  30.618002  2.765625   NaN  27.607428  0.643602
2000-01-04  3.719480  29.069048  2.687500   NaN  26.988020  0.634328
2000-01-05  3.637143  29.493437  2.703125   NaN  27.784399  0.632473
2000-01-06  3.536906  28.687130  2.703125   NaN  28.757729  0.623199
2000-01-07  3.572705  29.493437  2.703125   NaN  30.261972  0.649166

[5 rows x 44 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       ABC       AME       AMGN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  3.107706  1.857676  50.853237
2000-01-04  14.625  NaN  27.172190  ...  2.895534  1.851566  46.964756
2000-01-05  15.000  NaN  27.464891  ...  3.120188  1.869898  48.580750
2000-01-06  16.000  NaN  27.684412  ...  3.357322  1.857676  49.388741
2000-01-07  16.250  NaN  28.221029  ...  3.794148  1.882120  54.943722

                 APH        ADI      ANSS  ANTM        AON       AOS  \
Date
2000-01-03  3.851934  30.618002  2.765625   NaN  27.607428  0.643602
2000-01-04  3.719480  29.069048  2.687500   NaN  26.988020  0.634328
2000-01-05  3.637143  29.493437  2.703125   NaN  27.784399  0.632473
2000-01-06  3.536906  28.687130  2.703125   NaN  28.757729  0.623199
2000-01-07  3.572705  29.493437  2.703125   NaN  30.261972  0.649166

                  APA
Date
2000-01-03  11.709501
2000-01-04  11.194800
2000-01-05  11.516488
2000-01-06  12.610233
2000-01-07  12.567342

[5 rows x 45 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       AME       AMGN       APH  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  1.857676  50.853237  3.851934
2000-01-04  14.625  NaN  27.172190  ...  1.851566  46.964756  3.719480
2000-01-05  15.000  NaN  27.464891  ...  1.869898  48.580750  3.637143
2000-01-06  16.000  NaN  27.684412  ...  1.857676  49.388741  3.536906
2000-01-07  16.250  NaN  28.221029  ...  1.882120  54.943722  3.572705

                  ADI      ANSS  ANTM        AON       AOS        APA  \
Date
2000-01-03  30.618002  2.765625   NaN  27.607428  0.643602  11.709501
2000-01-04  29.069048  2.687500   NaN  26.988020  0.634328  11.194800
2000-01-05  29.493437  2.703125   NaN  27.784399  0.632473  11.516488
2000-01-06  28.687130  2.703125   NaN  28.757729  0.623199  12.610233
2000-01-07  29.493437  2.703125   NaN  30.261972  0.649166  12.567342

                  AIV
Date
2000-01-03  10.057044
2000-01-04   9.924721
2000-01-05  10.023967
2000-01-06  10.222464
2000-01-07  10.338249

[5 rows x 46 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       AMGN       APH        ADI  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  50.853237  3.851934  30.618002
2000-01-04  14.625  NaN  27.172190  ...  46.964756  3.719480  29.069048
2000-01-05  15.000  NaN  27.464891  ...  48.580750  3.637143  29.493437
2000-01-06  16.000  NaN  27.684412  ...  49.388741  3.536906  28.687130
2000-01-07  16.250  NaN  28.221029  ...  54.943722  3.572705  29.493437

                ANSS  ANTM        AON       AOS        APA        AIV  \
Date
2000-01-03  2.765625   NaN  27.607428  0.643602  11.709501  10.057044
2000-01-04  2.687500   NaN  26.988020  0.634328  11.194800   9.924721
2000-01-05  2.703125   NaN  27.784399  0.632473  11.516488  10.023967
2000-01-06  2.703125   NaN  28.757729  0.623199  12.610233  10.222464
2000-01-07  2.703125   NaN  30.261972  0.649166  12.567342  10.338249

                AAPL
Date
2000-01-03  3.460857
2000-01-04  3.169071
2000-01-05  3.215448
2000-01-06  2.937188
2000-01-07  3.076317

[5 rows x 47 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       APH        ADI      ANSS  ANTM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  3.851934  30.618002  2.765625   NaN
2000-01-04  14.625  NaN  27.172190  ...  3.719480  29.069048  2.687500   NaN
2000-01-05  15.000  NaN  27.464891  ...  3.637143  29.493437  2.703125   NaN
2000-01-06  16.000  NaN  27.684412  ...  3.536906  28.687130  2.703125   NaN
2000-01-07  16.250  NaN  28.221029  ...  3.572705  29.493437  2.703125   NaN

                  AON       AOS        APA        AIV      AAPL       AMAT
Date
2000-01-03  27.607428  0.643602  11.709501  10.057044  3.460857  24.005121
2000-01-04  26.988020  0.634328  11.194800   9.924721  3.169071  22.819094
2000-01-05  27.784399  0.632473  11.516488  10.023967  3.215448  21.965160
2000-01-06  28.757729  0.623199  12.610233  10.222464  2.937188  22.000732
2000-01-07  30.261972  0.649166  12.567342  10.338249  3.076317  22.190500

[5 rows x 48 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        ADI      ANSS  ANTM        AON  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  30.618002  2.765625   NaN  27.607428
2000-01-04  14.625  NaN  27.172190  ...  29.069048  2.687500   NaN  26.988020
2000-01-05  15.000  NaN  27.464891  ...  29.493437  2.703125   NaN  27.784399
2000-01-06  16.000  NaN  27.684412  ...  28.687130  2.703125   NaN  28.757729
2000-01-07  16.250  NaN  28.221029  ...  29.493437  2.703125   NaN  30.261972

                 AOS        APA        AIV      AAPL       AMAT  APTV
Date
2000-01-03  0.643602  11.709501  10.057044  3.460857  24.005121   NaN
2000-01-04  0.634328  11.194800   9.924721  3.169071  22.819094   NaN
2000-01-05  0.632473  11.516488  10.023967  3.215448  21.965160   NaN
2000-01-06  0.623199  12.610233  10.222464  2.937188  22.000732   NaN
2000-01-07  0.649166  12.567342  10.338249  3.076317  22.190500   NaN

[5 rows x 49 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      ANSS  ANTM        AON       AOS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  2.765625   NaN  27.607428  0.643602
2000-01-04  14.625  NaN  27.172190  ...  2.687500   NaN  26.988020  0.634328
2000-01-05  15.000  NaN  27.464891  ...  2.703125   NaN  27.784399  0.632473
2000-01-06  16.000  NaN  27.684412  ...  2.703125   NaN  28.757729  0.623199
2000-01-07  16.250  NaN  28.221029  ...  2.703125   NaN  30.261972  0.649166

                  APA        AIV      AAPL       AMAT  APTV       ADM
Date
2000-01-03  11.709501  10.057044  3.460857  24.005121   NaN  7.004237
2000-01-04  11.194800   9.924721  3.169071  22.819094   NaN  6.931280
2000-01-05  11.516488  10.023967  3.215448  21.965160   NaN  6.821836
2000-01-06  12.610233  10.222464  2.937188  22.000732   NaN  6.858321
2000-01-07  12.567342  10.338249  3.076317  22.190500   NaN  6.967760

[5 rows x 50 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  ANTM        AON       AOS        APA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  27.607428  0.643602  11.709501
2000-01-04  14.625  NaN  27.172190  ...   NaN  26.988020  0.634328  11.194800
2000-01-05  15.000  NaN  27.464891  ...   NaN  27.784399  0.632473  11.516488
2000-01-06  16.000  NaN  27.684412  ...   NaN  28.757729  0.623199  12.610233
2000-01-07  16.250  NaN  28.221029  ...   NaN  30.261972  0.649166  12.567342

                  AIV      AAPL       AMAT  APTV       ADM  ANET
Date
2000-01-03  10.057044  3.460857  24.005121   NaN  7.004237   NaN
2000-01-04   9.924721  3.169071  22.819094   NaN  6.931280   NaN
2000-01-05  10.023967  3.215448  21.965160   NaN  6.821836   NaN
2000-01-06  10.222464  2.937188  22.000732   NaN  6.858321   NaN
2000-01-07  10.338249  3.076317  22.190500   NaN  6.967760   NaN

[5 rows x 51 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        AON       AOS        APA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  27.607428  0.643602  11.709501
2000-01-04  14.625  NaN  27.172190  ...  26.988020  0.634328  11.194800
2000-01-05  15.000  NaN  27.464891  ...  27.784399  0.632473  11.516488
2000-01-06  16.000  NaN  27.684412  ...  28.757729  0.623199  12.610233
2000-01-07  16.250  NaN  28.221029  ...  30.261972  0.649166  12.567342

                  AIV      AAPL       AMAT  APTV       ADM  ANET       AJG
Date
2000-01-03  10.057044  3.460857  24.005121   NaN  7.004237   NaN  7.951206
2000-01-04   9.924721  3.169071  22.819094   NaN  6.931280   NaN  7.591920
2000-01-05  10.023967  3.215448  21.965160   NaN  6.821836   NaN  7.623160
2000-01-06  10.222464  2.937188  22.000732   NaN  6.858321   NaN  7.609494
2000-01-07  10.338249  3.076317  22.190500   NaN  6.967760   NaN  7.904342

[5 rows x 52 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       AOS        APA        AIV  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  0.643602  11.709501  10.057044
2000-01-04  14.625  NaN  27.172190  ...  0.634328  11.194800   9.924721
2000-01-05  15.000  NaN  27.464891  ...  0.632473  11.516488  10.023967
2000-01-06  16.000  NaN  27.684412  ...  0.623199  12.610233  10.222464
2000-01-07  16.250  NaN  28.221029  ...  0.649166  12.567342  10.338249

                AAPL       AMAT  APTV       ADM  ANET       AJG  AIZ
Date
2000-01-03  3.460857  24.005121   NaN  7.004237   NaN  7.951206  NaN
2000-01-04  3.169071  22.819094   NaN  6.931280   NaN  7.591920  NaN
2000-01-05  3.215448  21.965160   NaN  6.821836   NaN  7.623160  NaN
2000-01-06  2.937188  22.000732   NaN  6.858321   NaN  7.609494  NaN
2000-01-07  3.076317  22.190500   NaN  6.967760   NaN  7.904342  NaN

[5 rows x 53 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        APA        AIV      AAPL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  11.709501  10.057044  3.460857
2000-01-04  14.625  NaN  27.172190  ...  11.194800   9.924721  3.169071
2000-01-05  15.000  NaN  27.464891  ...  11.516488  10.023967  3.215448
2000-01-06  16.000  NaN  27.684412  ...  12.610233  10.222464  2.937188
2000-01-07  16.250  NaN  28.221029  ...  12.567342  10.338249  3.076317

                 AMAT  APTV       ADM  ANET       AJG  AIZ          T
Date
2000-01-03  24.005121   NaN  7.004237   NaN  7.951206  NaN  17.282593
2000-01-04  22.819094   NaN  6.931280   NaN  7.591920  NaN  16.271378
2000-01-05  21.965160   NaN  6.821836   NaN  7.623160  NaN  16.524181
2000-01-06  22.000732   NaN  6.858321   NaN  7.609494  NaN  16.175280
2000-01-07  22.190500   NaN  6.967760   NaN  7.904342  NaN  16.313929

[5 rows x 54 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        AIV      AAPL       AMAT  APTV  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.057044  3.460857  24.005121   NaN
2000-01-04  14.625  NaN  27.172190  ...   9.924721  3.169071  22.819094   NaN
2000-01-05  15.000  NaN  27.464891  ...  10.023967  3.215448  21.965160   NaN
2000-01-06  16.000  NaN  27.684412  ...  10.222464  2.937188  22.000732   NaN
2000-01-07  16.250  NaN  28.221029  ...  10.338249  3.076317  22.190500   NaN

                 ADM  ANET       AJG  AIZ          T       ATO
Date
2000-01-03  7.004237   NaN  7.951206  NaN  17.282593  8.780582
2000-01-04  6.931280   NaN  7.591920  NaN  16.271378  8.561753
2000-01-05  6.821836   NaN  7.623160  NaN  16.524181  8.835291
2000-01-06  6.858321   NaN  7.609494  NaN  16.175280  8.698522
2000-01-07  6.967760   NaN  7.904342  NaN  16.313929  8.780582

[5 rows x 55 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      AAPL       AMAT  APTV       ADM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  3.460857  24.005121   NaN  7.004237
2000-01-04  14.625  NaN  27.172190  ...  3.169071  22.819094   NaN  6.931280
2000-01-05  15.000  NaN  27.464891  ...  3.215448  21.965160   NaN  6.821836
2000-01-06  16.000  NaN  27.684412  ...  2.937188  22.000732   NaN  6.858321
2000-01-07  16.250  NaN  28.221029  ...  3.076317  22.190500   NaN  6.967760

            ANET       AJG  AIZ          T       ATO      ADSK
Date
2000-01-03   NaN  7.951206  NaN  17.282593  8.780582  8.052903
2000-01-04   NaN  7.591920  NaN  16.271378  8.561753  7.660817
2000-01-05   NaN  7.623160  NaN  16.524181  8.835291  7.178246
2000-01-06   NaN  7.609494  NaN  16.175280  8.698522  6.740915
2000-01-07   NaN  7.904342  NaN  16.313929  8.780582  7.540174

[5 rows x 56 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       AMAT  APTV       ADM  ANET  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  24.005121   NaN  7.004237   NaN
2000-01-04  14.625  NaN  27.172190  ...  22.819094   NaN  6.931280   NaN
2000-01-05  15.000  NaN  27.464891  ...  21.965160   NaN  6.821836   NaN
2000-01-06  16.000  NaN  27.684412  ...  22.000732   NaN  6.858321   NaN
2000-01-07  16.250  NaN  28.221029  ...  22.190500   NaN  6.967760   NaN

                 AJG  AIZ          T       ATO      ADSK        ADP
Date
2000-01-03  7.951206  NaN  17.282593  8.780582  8.052903  26.878614
2000-01-04  7.591920  NaN  16.271378  8.561753  7.660817  26.878614
2000-01-05  7.623160  NaN  16.524181  8.835291  7.178246  26.620173
2000-01-06  7.609494  NaN  16.175280  8.698522  6.740915  26.975552
2000-01-07  7.904342  NaN  16.313929  8.780582  7.540174  27.589367

[5 rows x 57 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  APTV       ADM  ANET       AJG  AIZ  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  7.004237   NaN  7.951206  NaN
2000-01-04  14.625  NaN  27.172190  ...   NaN  6.931280   NaN  7.591920  NaN
2000-01-05  15.000  NaN  27.464891  ...   NaN  6.821836   NaN  7.623160  NaN
2000-01-06  16.000  NaN  27.684412  ...   NaN  6.858321   NaN  7.609494  NaN
2000-01-07  16.250  NaN  28.221029  ...   NaN  6.967760   NaN  7.904342  NaN

                    T       ATO      ADSK        ADP      AZO
Date
2000-01-03  17.282593  8.780582  8.052903  26.878614  30.5625
2000-01-04  16.271378  8.561753  7.660817  26.878614  30.4375
2000-01-05  16.524181  8.835291  7.178246  26.620173  30.3125
2000-01-06  16.175280  8.698522  6.740915  26.975552  29.0625
2000-01-07  16.313929  8.780582  7.540174  27.589367  30.4375

[5 rows x 58 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       ADM  ANET       AJG  AIZ  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  7.004237   NaN  7.951206  NaN
2000-01-04  14.625  NaN  27.172190  ...  6.931280   NaN  7.591920  NaN
2000-01-05  15.000  NaN  27.464891  ...  6.821836   NaN  7.623160  NaN
2000-01-06  16.000  NaN  27.684412  ...  6.858321   NaN  7.609494  NaN
2000-01-07  16.250  NaN  28.221029  ...  6.967760   NaN  7.904342  NaN

                    T       ATO      ADSK        ADP      AZO        AVB
Date
2000-01-03  17.282593  8.780582  8.052903  26.878614  30.5625  15.067223
2000-01-04  16.271378  8.561753  7.660817  26.878614  30.4375  14.734252
2000-01-05  16.524181  8.835291  7.178246  26.620173  30.3125  14.872992
2000-01-06  16.175280  8.698522  6.740915  26.975552  29.0625  15.372456
2000-01-07  16.313929  8.780582  7.540174  27.589367  30.4375  15.760929

[5 rows x 59 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  ANET       AJG  AIZ          T  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  7.951206  NaN  17.282593
2000-01-04  14.625  NaN  27.172190  ...   NaN  7.591920  NaN  16.271378
2000-01-05  15.000  NaN  27.464891  ...   NaN  7.623160  NaN  16.524181
2000-01-06  16.000  NaN  27.684412  ...   NaN  7.609494  NaN  16.175280
2000-01-07  16.250  NaN  28.221029  ...   NaN  7.904342  NaN  16.313929

                 ATO      ADSK        ADP      AZO        AVB        AVY
Date
2000-01-03  8.780582  8.052903  26.878614  30.5625  15.067223  41.993992
2000-01-04  8.561753  7.660817  26.878614  30.4375  14.734252  41.442417
2000-01-05  8.835291  7.178246  26.620173  30.3125  14.872992  42.802998
2000-01-06  8.698522  6.740915  26.975552  29.0625  15.372456  44.310669
2000-01-07  8.780582  7.540174  27.589367  30.4375  15.760929  44.457745

[5 rows x 60 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       AJG  AIZ          T       ATO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  7.951206  NaN  17.282593  8.780582
2000-01-04  14.625  NaN  27.172190  ...  7.591920  NaN  16.271378  8.561753
2000-01-05  15.000  NaN  27.464891  ...  7.623160  NaN  16.524181  8.835291
2000-01-06  16.000  NaN  27.684412  ...  7.609494  NaN  16.175280  8.698522
2000-01-07  16.250  NaN  28.221029  ...  7.904342  NaN  16.313929  8.780582

                ADSK        ADP      AZO        AVB        AVY        BKR
Date
2000-01-03  8.052903  26.878614  30.5625  15.067223  41.993992  10.526615
2000-01-04  7.660817  26.878614  30.4375  14.734252  41.442417  10.526615
2000-01-05  7.178246  26.620173  30.3125  14.872992  42.802998  10.591587
2000-01-06  6.740915  26.975552  29.0625  15.372456  44.310669  11.598760
2000-01-07  7.540174  27.589367  30.4375  15.760929  44.457745  12.378510

[5 rows x 61 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  AIZ          T       ATO      ADSK  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  17.282593  8.780582  8.052903
2000-01-04  14.625  NaN  27.172190  ...  NaN  16.271378  8.561753  7.660817
2000-01-05  15.000  NaN  27.464891  ...  NaN  16.524181  8.835291  7.178246
2000-01-06  16.000  NaN  27.684412  ...  NaN  16.175280  8.698522  6.740915
2000-01-07  16.250  NaN  28.221029  ...  NaN  16.313929  8.780582  7.540174

                  ADP      AZO        AVB        AVY        BKR       BLL
Date
2000-01-03  26.878614  30.5625  15.067223  41.993992  10.526615  0.869111
2000-01-04  26.878614  30.4375  14.734252  41.442417  10.526615  0.840459
2000-01-05  26.620173  30.3125  14.872992  42.802998  10.591587  0.855467
2000-01-06  26.975552  29.0625  15.372456  44.310669  11.598760  0.869111
2000-01-07  27.589367  30.4375  15.760929  44.457745  12.378510  0.844552

[5 rows x 62 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...          T       ATO      ADSK  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  17.282593  8.780582  8.052903
2000-01-04  14.625  NaN  27.172190  ...  16.271378  8.561753  7.660817
2000-01-05  15.000  NaN  27.464891  ...  16.524181  8.835291  7.178246
2000-01-06  16.000  NaN  27.684412  ...  16.175280  8.698522  6.740915
2000-01-07  16.250  NaN  28.221029  ...  16.313929  8.780582  7.540174

                  ADP      AZO        AVB        AVY        BKR       BLL  \
Date
2000-01-03  26.878614  30.5625  15.067223  41.993992  10.526615  0.869111
2000-01-04  26.878614  30.4375  14.734252  41.442417  10.526615  0.840459
2000-01-05  26.620173  30.3125  14.872992  42.802998  10.591587  0.855467
2000-01-06  26.975552  29.0625  15.372456  44.310669  11.598760  0.869111
2000-01-07  27.589367  30.4375  15.760929  44.457745  12.378510  0.844552

                  BAC
Date
2000-01-03  11.966080
2000-01-04  11.255836
2000-01-05  11.379356
2000-01-06  12.352086
2000-01-07  12.027840

[5 rows x 63 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       ATO      ADSK        ADP  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  8.780582  8.052903  26.878614
2000-01-04  14.625  NaN  27.172190  ...  8.561753  7.660817  26.878614
2000-01-05  15.000  NaN  27.464891  ...  8.835291  7.178246  26.620173
2000-01-06  16.000  NaN  27.684412  ...  8.698522  6.740915  26.975552
2000-01-07  16.250  NaN  28.221029  ...  8.780582  7.540174  27.589367

                AZO        AVB        AVY        BKR       BLL        BAC  \
Date
2000-01-03  30.5625  15.067223  41.993992  10.526615  0.869111  11.966080
2000-01-04  30.4375  14.734252  41.442417  10.526615  0.840459  11.255836
2000-01-05  30.3125  14.872992  42.802998  10.591587  0.855467  11.379356
2000-01-06  29.0625  15.372456  44.310669  11.598760  0.869111  12.352086
2000-01-07  30.4375  15.760929  44.457745  12.378510  0.844552  12.027840

                   BK
Date
2000-01-03  25.558714
2000-01-04  24.824766
2000-01-05  24.263496
2000-01-06  24.867937
2000-01-07  26.163147

[5 rows x 64 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      ADSK        ADP      AZO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  8.052903  26.878614  30.5625
2000-01-04  14.625  NaN  27.172190  ...  7.660817  26.878614  30.4375
2000-01-05  15.000  NaN  27.464891  ...  7.178246  26.620173  30.3125
2000-01-06  16.000  NaN  27.684412  ...  6.740915  26.975552  29.0625
2000-01-07  16.250  NaN  28.221029  ...  7.540174  27.589367  30.4375

                  AVB        AVY        BKR       BLL        BAC         BK  \
Date
2000-01-03  15.067223  41.993992  10.526615  0.869111  11.966080  25.558714
2000-01-04  14.734252  41.442417  10.526615  0.840459  11.255836  24.824766
2000-01-05  14.872992  42.802998  10.591587  0.855467  11.379356  24.263496
2000-01-06  15.372456  44.310669  11.598760  0.869111  12.352086  24.867937
2000-01-07  15.760929  44.457745  12.378510  0.844552  12.027840  26.163147

                  BAX
Date
2000-01-03  11.154243
2000-01-04  10.904355
2000-01-05  11.381418
2000-01-06  11.619949
2000-01-07  12.278758

[5 rows x 65 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        ADP      AZO        AVB  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  26.878614  30.5625  15.067223
2000-01-04  14.625  NaN  27.172190  ...  26.878614  30.4375  14.734252
2000-01-05  15.000  NaN  27.464891  ...  26.620173  30.3125  14.872992
2000-01-06  16.000  NaN  27.684412  ...  26.975552  29.0625  15.372456
2000-01-07  16.250  NaN  28.221029  ...  27.589367  30.4375  15.760929

                  AVY        BKR       BLL        BAC         BK        BAX  \
Date
2000-01-03  41.993992  10.526615  0.869111  11.966080  25.558714  11.154243
2000-01-04  41.442417  10.526615  0.840459  11.255836  24.824766  10.904355
2000-01-05  42.802998  10.591587  0.855467  11.379356  24.263496  11.381418
2000-01-06  44.310669  11.598760  0.869111  12.352086  24.867937  11.619949
2000-01-07  44.457745  12.378510  0.844552  12.027840  26.163147  12.278758

                  BDX
Date
2000-01-03  19.089441
2000-01-04  18.588293
2000-01-05  18.724966
2000-01-06  19.499475
2000-01-07  20.592911

[5 rows x 66 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      AZO        AVB        AVY  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  30.5625  15.067223  41.993992
2000-01-04  14.625  NaN  27.172190  ...  30.4375  14.734252  41.442417
2000-01-05  15.000  NaN  27.464891  ...  30.3125  14.872992  42.802998
2000-01-06  16.000  NaN  27.684412  ...  29.0625  15.372456  44.310669
2000-01-07  16.250  NaN  28.221029  ...  30.4375  15.760929  44.457745

                  BKR       BLL        BAC         BK        BAX        BDX  \
Date
2000-01-03  10.526615  0.869111  11.966080  25.558714  11.154243  19.089441
2000-01-04  10.526615  0.840459  11.255836  24.824766  10.904355  18.588293
2000-01-05  10.591587  0.855467  11.379356  24.263496  11.381418  18.724966
2000-01-06  11.598760  0.869111  12.352086  24.867937  11.619949  19.499475
2000-01-07  12.378510  0.844552  12.027840  26.163147  12.278758  20.592911

            BRK.B
Date
2000-01-03    NaN
2000-01-04    NaN
2000-01-05    NaN
2000-01-06    NaN
2000-01-07    NaN

[5 rows x 67 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        AVB        AVY        BKR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  15.067223  41.993992  10.526615
2000-01-04  14.625  NaN  27.172190  ...  14.734252  41.442417  10.526615
2000-01-05  15.000  NaN  27.464891  ...  14.872992  42.802998  10.591587
2000-01-06  16.000  NaN  27.684412  ...  15.372456  44.310669  11.598760
2000-01-07  16.250  NaN  28.221029  ...  15.760929  44.457745  12.378510

                 BLL        BAC         BK        BAX        BDX  BRK.B  \
Date
2000-01-03  0.869111  11.966080  25.558714  11.154243  19.089441    NaN
2000-01-04  0.840459  11.255836  24.824766  10.904355  18.588293    NaN
2000-01-05  0.855467  11.379356  24.263496  11.381418  18.724966    NaN
2000-01-06  0.869111  12.352086  24.867937  11.619949  19.499475    NaN
2000-01-07  0.844552  12.027840  26.163147  12.278758  20.592911    NaN

                  BBY
Date
2000-01-03  18.150681
2000-01-04  18.032827
2000-01-05  17.914955
2000-01-06  17.757807
2000-01-07  18.307835

[5 rows x 68 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        AVY        BKR       BLL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  41.993992  10.526615  0.869111
2000-01-04  14.625  NaN  27.172190  ...  41.442417  10.526615  0.840459
2000-01-05  15.000  NaN  27.464891  ...  42.802998  10.591587  0.855467
2000-01-06  16.000  NaN  27.684412  ...  44.310669  11.598760  0.869111
2000-01-07  16.250  NaN  28.221029  ...  44.457745  12.378510  0.844552

                  BAC         BK        BAX        BDX  BRK.B        BBY  BIO
Date
2000-01-03  11.966080  25.558714  11.154243  19.089441    NaN  18.150681  NaN
2000-01-04  11.255836  24.824766  10.904355  18.588293    NaN  18.032827  NaN
2000-01-05  11.379356  24.263496  11.381418  18.724966    NaN  17.914955  NaN
2000-01-06  12.352086  24.867937  11.619949  19.499475    NaN  17.757807  NaN
2000-01-07  12.027840  26.163147  12.278758  20.592911    NaN  18.307835  NaN

[5 rows x 69 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        BKR       BLL        BAC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.526615  0.869111  11.966080
2000-01-04  14.625  NaN  27.172190  ...  10.526615  0.840459  11.255836
2000-01-05  15.000  NaN  27.464891  ...  10.591587  0.855467  11.379356
2000-01-06  16.000  NaN  27.684412  ...  11.598760  0.869111  12.352086
2000-01-07  16.250  NaN  28.221029  ...  12.378510  0.844552  12.027840

                   BK        BAX        BDX  BRK.B        BBY  BIO       BIIB
Date
2000-01-03  25.558714  11.154243  19.089441    NaN  18.150681  NaN  31.083334
2000-01-04  24.824766  10.904355  18.588293    NaN  18.032827  NaN  28.979166
2000-01-05  24.263496  11.381418  18.724966    NaN  17.914955  NaN  31.000000
2000-01-06  24.867937  11.619949  19.499475    NaN  17.757807  NaN  32.375000
2000-01-07  26.163147  12.278758  20.592911    NaN  18.307835  NaN  36.104168

[5 rows x 70 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       BLL        BAC         BK  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  0.869111  11.966080  25.558714
2000-01-04  14.625  NaN  27.172190  ...  0.840459  11.255836  24.824766
2000-01-05  15.000  NaN  27.464891  ...  0.855467  11.379356  24.263496
2000-01-06  16.000  NaN  27.684412  ...  0.869111  12.352086  24.867937
2000-01-07  16.250  NaN  28.221029  ...  0.844552  12.027840  26.163147

                  BAX        BDX  BRK.B        BBY  BIO       BIIB        BLK
Date
2000-01-03  11.154243  19.089441    NaN  18.150681  NaN  31.083334  11.313210
2000-01-04  10.904355  18.588293    NaN  18.032827  NaN  28.979166  10.802842
2000-01-05  11.381418  18.724966    NaN  17.914955  NaN  31.000000  10.717777
2000-01-06  11.619949  19.499475    NaN  17.757807  NaN  32.375000  10.887901
2000-01-07  12.278758  20.592911    NaN  18.307835  NaN  36.104168  10.802842

[5 rows x 71 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        BAC         BK        BAX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  11.966080  25.558714  11.154243
2000-01-04  14.625  NaN  27.172190  ...  11.255836  24.824766  10.904355
2000-01-05  15.000  NaN  27.464891  ...  11.379356  24.263496  11.381418
2000-01-06  16.000  NaN  27.684412  ...  12.352086  24.867937  11.619949
2000-01-07  16.250  NaN  28.221029  ...  12.027840  26.163147  12.278758

                  BDX  BRK.B        BBY  BIO       BIIB        BLK         BA
Date
2000-01-03  19.089441    NaN  18.150681  NaN  31.083334  11.313210  25.741438
2000-01-04  18.588293    NaN  18.032827  NaN  28.979166  10.802842  25.701408
2000-01-05  18.724966    NaN  17.914955  NaN  31.000000  10.717777  27.302753
2000-01-06  19.499475    NaN  17.757807  NaN  32.375000  10.887901  27.582977
2000-01-07  20.592911    NaN  18.307835  NaN  36.104168  10.802842  28.383648

[5 rows x 72 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         BK        BAX        BDX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  25.558714  11.154243  19.089441
2000-01-04  14.625  NaN  27.172190  ...  24.824766  10.904355  18.588293
2000-01-05  15.000  NaN  27.464891  ...  24.263496  11.381418  18.724966
2000-01-06  16.000  NaN  27.684412  ...  24.867937  11.619949  19.499475
2000-01-07  16.250  NaN  28.221029  ...  26.163147  12.278758  20.592911

            BRK.B        BBY  BIO       BIIB        BLK         BA     BKNG
Date
2000-01-03    NaN  18.150681  NaN  31.083334  11.313210  25.741438  307.500
2000-01-04    NaN  18.032827  NaN  28.979166  10.802842  25.701408  324.000
2000-01-05    NaN  17.914955  NaN  31.000000  10.717777  27.302753  359.625
2000-01-06    NaN  17.757807  NaN  32.375000  10.887901  27.582977  345.000
2000-01-07    NaN  18.307835  NaN  36.104168  10.802842  28.383648  343.500

[5 rows x 73 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        BAX        BDX  BRK.B  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  11.154243  19.089441    NaN
2000-01-04  14.625  NaN  27.172190  ...  10.904355  18.588293    NaN
2000-01-05  15.000  NaN  27.464891  ...  11.381418  18.724966    NaN
2000-01-06  16.000  NaN  27.684412  ...  11.619949  19.499475    NaN
2000-01-07  16.250  NaN  28.221029  ...  12.278758  20.592911    NaN

                  BBY  BIO       BIIB        BLK         BA     BKNG       BWA
Date
2000-01-03  18.150681  NaN  31.083334  11.313210  25.741438  307.500  2.292869
2000-01-04  18.032827  NaN  28.979166  10.802842  25.701408  324.000  2.292869
2000-01-05  17.914955  NaN  31.000000  10.717777  27.302753  359.625  2.303982
2000-01-06  17.757807  NaN  32.375000  10.887901  27.582977  345.000  2.274348
2000-01-07  18.307835  NaN  36.104168  10.802842  28.383648  343.500  2.337319

[5 rows x 74 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        BDX  BRK.B        BBY  BIO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  19.089441    NaN  18.150681  NaN
2000-01-04  14.625  NaN  27.172190  ...  18.588293    NaN  18.032827  NaN
2000-01-05  15.000  NaN  27.464891  ...  18.724966    NaN  17.914955  NaN
2000-01-06  16.000  NaN  27.684412  ...  19.499475    NaN  17.757807  NaN
2000-01-07  16.250  NaN  28.221029  ...  20.592911    NaN  18.307835  NaN

                 BIIB        BLK         BA     BKNG       BWA        BXP
Date
2000-01-03  31.083334  11.313210  25.741438  307.500  2.292869  15.232924
2000-01-04  28.979166  10.802842  25.701408  324.000  2.292869  14.984723
2000-01-05  31.000000  10.717777  27.302753  359.625  2.303982  15.108823
2000-01-06  32.375000  10.887901  27.582977  345.000  2.274348  15.388036
2000-01-07  36.104168  10.802842  28.383648  343.500  2.337319  15.946471

[5 rows x 75 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  BRK.B        BBY  BIO       BIIB  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...    NaN  18.150681  NaN  31.083334
2000-01-04  14.625  NaN  27.172190  ...    NaN  18.032827  NaN  28.979166
2000-01-05  15.000  NaN  27.464891  ...    NaN  17.914955  NaN  31.000000
2000-01-06  16.000  NaN  27.684412  ...    NaN  17.757807  NaN  32.375000
2000-01-07  16.250  NaN  28.221029  ...    NaN  18.307835  NaN  36.104168

                  BLK         BA     BKNG       BWA        BXP       BSX
Date
2000-01-03  11.313210  25.741438  307.500  2.292869  15.232924  11.50000
2000-01-04  10.802842  25.701408  324.000  2.292869  14.984723  11.68750
2000-01-05  10.717777  27.302753  359.625  2.303982  15.108823  12.53125
2000-01-06  10.887901  27.582977  345.000  2.274348  15.388036  12.87500
2000-01-07  10.802842  28.383648  343.500  2.337319  15.946471  12.40625

[5 rows x 76 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        BBY  BIO       BIIB        BLK  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  18.150681  NaN  31.083334  11.313210
2000-01-04  14.625  NaN  27.172190  ...  18.032827  NaN  28.979166  10.802842
2000-01-05  15.000  NaN  27.464891  ...  17.914955  NaN  31.000000  10.717777
2000-01-06  16.000  NaN  27.684412  ...  17.757807  NaN  32.375000  10.887901
2000-01-07  16.250  NaN  28.221029  ...  18.307835  NaN  36.104168  10.802842

                   BA     BKNG       BWA        BXP       BSX        BMY
Date
2000-01-03  25.741438  307.500  2.292869  15.232924  11.50000  28.865088
2000-01-04  25.701408  324.000  2.292869  14.984723  11.68750  26.681309
2000-01-05  27.302753  359.625  2.303982  15.108823  12.53125  26.515928
2000-01-06  27.582977  345.000  2.274348  15.388036  12.87500  26.881487
2000-01-07  28.383648  343.500  2.337319  15.946471  12.40625  30.818092

[5 rows x 77 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  BIO       BIIB        BLK         BA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  31.083334  11.313210  25.741438
2000-01-04  14.625  NaN  27.172190  ...  NaN  28.979166  10.802842  25.701408
2000-01-05  15.000  NaN  27.464891  ...  NaN  31.000000  10.717777  27.302753
2000-01-06  16.000  NaN  27.684412  ...  NaN  32.375000  10.887901  27.582977
2000-01-07  16.250  NaN  28.221029  ...  NaN  36.104168  10.802842  28.383648

               BKNG       BWA        BXP       BSX        BMY  AVGO
Date
2000-01-03  307.500  2.292869  15.232924  11.50000  28.865088   NaN
2000-01-04  324.000  2.292869  14.984723  11.68750  26.681309   NaN
2000-01-05  359.625  2.303982  15.108823  12.53125  26.515928   NaN
2000-01-06  345.000  2.274348  15.388036  12.87500  26.881487   NaN
2000-01-07  343.500  2.337319  15.946471  12.40625  30.818092   NaN

[5 rows x 78 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       BIIB        BLK         BA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  31.083334  11.313210  25.741438
2000-01-04  14.625  NaN  27.172190  ...  28.979166  10.802842  25.701408
2000-01-05  15.000  NaN  27.464891  ...  31.000000  10.717777  27.302753
2000-01-06  16.000  NaN  27.684412  ...  32.375000  10.887901  27.582977
2000-01-07  16.250  NaN  28.221029  ...  36.104168  10.802842  28.383648

               BKNG       BWA        BXP       BSX        BMY  AVGO  BR
Date
2000-01-03  307.500  2.292869  15.232924  11.50000  28.865088   NaN NaN
2000-01-04  324.000  2.292869  14.984723  11.68750  26.681309   NaN NaN
2000-01-05  359.625  2.303982  15.108823  12.53125  26.515928   NaN NaN
2000-01-06  345.000  2.274348  15.388036  12.87500  26.881487   NaN NaN
2000-01-07  343.500  2.337319  15.946471  12.40625  30.818092   NaN NaN

[5 rows x 79 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        BLK         BA     BKNG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  11.313210  25.741438  307.500
2000-01-04  14.625  NaN  27.172190  ...  10.802842  25.701408  324.000
2000-01-05  15.000  NaN  27.464891  ...  10.717777  27.302753  359.625
2000-01-06  16.000  NaN  27.684412  ...  10.887901  27.582977  345.000
2000-01-07  16.250  NaN  28.221029  ...  10.802842  28.383648  343.500

                 BWA        BXP       BSX        BMY  AVGO  BR      BF.B
Date
2000-01-03  2.292869  15.232924  11.50000  28.865088   NaN NaN  1.056217
2000-01-04  2.292869  14.984723  11.68750  26.681309   NaN NaN  1.036743
2000-01-05  2.303982  15.108823  12.53125  26.515928   NaN NaN  1.044762
2000-01-06  2.274348  15.388036  12.87500  26.881487   NaN NaN  1.051635
2000-01-07  2.337319  15.946471  12.40625  30.818092   NaN NaN  1.063091

[5 rows x 80 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         BA     BKNG       BWA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  25.741438  307.500  2.292869
2000-01-04  14.625  NaN  27.172190  ...  25.701408  324.000  2.292869
2000-01-05  15.000  NaN  27.464891  ...  27.302753  359.625  2.303982
2000-01-06  16.000  NaN  27.684412  ...  27.582977  345.000  2.274348
2000-01-07  16.250  NaN  28.221029  ...  28.383648  343.500  2.337319

                  BXP       BSX        BMY  AVGO  BR      BF.B      CHRW
Date
2000-01-03  15.232924  11.50000  28.865088   NaN NaN  1.056217  6.855355
2000-01-04  14.984723  11.68750  26.681309   NaN NaN  1.036743  6.625382
2000-01-05  15.108823  12.53125  26.515928   NaN NaN  1.044762  6.537773
2000-01-06  15.388036  12.87500  26.881487   NaN NaN  1.051635  6.570628
2000-01-07  15.946471  12.40625  30.818092   NaN NaN  1.063091  6.658237

[5 rows x 81 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...     BKNG       BWA        BXP  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  307.500  2.292869  15.232924
2000-01-04  14.625  NaN  27.172190  ...  324.000  2.292869  14.984723
2000-01-05  15.000  NaN  27.464891  ...  359.625  2.303982  15.108823
2000-01-06  16.000  NaN  27.684412  ...  345.000  2.274348  15.388036
2000-01-07  16.250  NaN  28.221029  ...  343.500  2.337319  15.946471

                 BSX        BMY  AVGO  BR      BF.B      CHRW       COG
Date
2000-01-03  11.50000  28.865088   NaN NaN  1.056217  6.855355  0.686059
2000-01-04  11.68750  26.681309   NaN NaN  1.036743  6.625382  0.665796
2000-01-05  12.53125  26.515928   NaN NaN  1.044762  6.537773  0.677375
2000-01-06  12.87500  26.881487   NaN NaN  1.051635  6.570628  0.691849
2000-01-07  12.40625  30.818092   NaN NaN  1.063091  6.658237  0.720796

[5 rows x 82 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       BWA        BXP       BSX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  2.292869  15.232924  11.50000
2000-01-04  14.625  NaN  27.172190  ...  2.292869  14.984723  11.68750
2000-01-05  15.000  NaN  27.464891  ...  2.303982  15.108823  12.53125
2000-01-06  16.000  NaN  27.684412  ...  2.274348  15.388036  12.87500
2000-01-07  16.250  NaN  28.221029  ...  2.337319  15.946471  12.40625

                  BMY  AVGO  BR      BF.B      CHRW       COG     CDNS
Date
2000-01-03  28.865088   NaN NaN  1.056217  6.855355  0.686059  22.0625
2000-01-04  26.681309   NaN NaN  1.036743  6.625382  0.665796  22.0000
2000-01-05  26.515928   NaN NaN  1.044762  6.537773  0.677375  21.6250
2000-01-06  26.881487   NaN NaN  1.051635  6.570628  0.691849  20.9375
2000-01-07  30.818092   NaN NaN  1.063091  6.658237  0.720796  22.3125

[5 rows x 83 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        BXP       BSX        BMY  AVGO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  15.232924  11.50000  28.865088   NaN
2000-01-04  14.625  NaN  27.172190  ...  14.984723  11.68750  26.681309   NaN
2000-01-05  15.000  NaN  27.464891  ...  15.108823  12.53125  26.515928   NaN
2000-01-06  16.000  NaN  27.684412  ...  15.388036  12.87500  26.881487   NaN
2000-01-07  16.250  NaN  28.221029  ...  15.946471  12.40625  30.818092   NaN

            BR      BF.B      CHRW       COG     CDNS        CPB
Date
2000-01-03 NaN  1.056217  6.855355  0.686059  22.0625  20.845127
2000-01-04 NaN  1.036743  6.625382  0.665796  22.0000  20.075670
2000-01-05 NaN  1.044762  6.537773  0.677375  21.6250  20.026398
2000-01-06 NaN  1.051635  6.570628  0.691849  20.9375  20.448750
2000-01-07 NaN  1.063091  6.658237  0.720796  22.3125  20.835901

[5 rows x 84 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       BSX        BMY  AVGO  BR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  11.50000  28.865088   NaN NaN
2000-01-04  14.625  NaN  27.172190  ...  11.68750  26.681309   NaN NaN
2000-01-05  15.000  NaN  27.464891  ...  12.53125  26.515928   NaN NaN
2000-01-06  16.000  NaN  27.684412  ...  12.87500  26.881487   NaN NaN
2000-01-07  16.250  NaN  28.221029  ...  12.40625  30.818092   NaN NaN

                BF.B      CHRW       COG     CDNS        CPB        COF
Date
2000-01-03  1.056217  6.855355  0.686059  22.0625  20.845127  36.145565
2000-01-04  1.036743  6.625382  0.665796  22.0000  20.075670  33.895641
2000-01-05  1.044762  6.537773  0.677375  21.6250  20.026398  33.113079
2000-01-06  1.051635  6.570628  0.691849  20.9375  20.448750  34.629311
2000-01-07  1.063091  6.658237  0.720796  22.3125  20.835901  35.607559

[5 rows x 85 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        BMY  AVGO  BR      BF.B  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  28.865088   NaN NaN  1.056217
2000-01-04  14.625  NaN  27.172190  ...  26.681309   NaN NaN  1.036743
2000-01-05  15.000  NaN  27.464891  ...  26.515928   NaN NaN  1.044762
2000-01-06  16.000  NaN  27.684412  ...  26.881487   NaN NaN  1.051635
2000-01-07  16.250  NaN  28.221029  ...  30.818092   NaN NaN  1.063091

                CHRW       COG     CDNS        CPB        COF        CAH
Date
2000-01-03  6.855355  0.686059  22.0625  20.845127  36.145565  16.953266
2000-01-04  6.625382  0.665796  22.0000  20.075670  33.895641  16.759890
2000-01-05  6.537773  0.677375  21.6250  20.026398  33.113079  17.941675
2000-01-06  6.570628  0.691849  20.9375  20.448750  34.629311  18.564796
2000-01-07  6.658237  0.720796  22.3125  20.835901  35.607559  20.240793

[5 rows x 86 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  AVGO  BR      BF.B      CHRW  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN NaN  1.056217  6.855355
2000-01-04  14.625  NaN  27.172190  ...   NaN NaN  1.036743  6.625382
2000-01-05  15.000  NaN  27.464891  ...   NaN NaN  1.044762  6.537773
2000-01-06  16.000  NaN  27.684412  ...   NaN NaN  1.051635  6.570628
2000-01-07  16.250  NaN  28.221029  ...   NaN NaN  1.063091  6.658237

                 COG     CDNS        CPB        COF        CAH      KMX
Date
2000-01-03  0.686059  22.0625  20.845127  36.145565  16.953266  1.12500
2000-01-04  0.665796  22.0000  20.075670  33.895641  16.759890  1.09375
2000-01-05  0.677375  21.6250  20.026398  33.113079  17.941675  1.06250
2000-01-06  0.691849  20.9375  20.448750  34.629311  18.564796  1.12500
2000-01-07  0.720796  22.3125  20.835901  35.607559  20.240793  1.18750

[5 rows x 87 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  BR      BF.B      CHRW       COG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ... NaN  1.056217  6.855355  0.686059
2000-01-04  14.625  NaN  27.172190  ... NaN  1.036743  6.625382  0.665796
2000-01-05  15.000  NaN  27.464891  ... NaN  1.044762  6.537773  0.677375
2000-01-06  16.000  NaN  27.684412  ... NaN  1.051635  6.570628  0.691849
2000-01-07  16.250  NaN  28.221029  ... NaN  1.063091  6.658237  0.720796

               CDNS        CPB        COF        CAH      KMX        CCL
Date
2000-01-03  22.0625  20.845127  36.145565  16.953266  1.12500  28.484207
2000-01-04  22.0000  20.075670  33.895641  16.759890  1.09375  28.142393
2000-01-05  21.6250  20.026398  33.113079  17.941675  1.06250  29.091873
2000-01-06  20.9375  20.448750  34.629311  18.564796  1.12500  29.509623
2000-01-07  22.3125  20.835901  35.607559  20.240793  1.18750  29.167824

[5 rows x 88 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      BF.B      CHRW       COG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  1.056217  6.855355  0.686059
2000-01-04  14.625  NaN  27.172190  ...  1.036743  6.625382  0.665796
2000-01-05  15.000  NaN  27.464891  ...  1.044762  6.537773  0.677375
2000-01-06  16.000  NaN  27.684412  ...  1.051635  6.570628  0.691849
2000-01-07  16.250  NaN  28.221029  ...  1.063091  6.658237  0.720796

               CDNS        CPB        COF        CAH      KMX        CCL  CARR
Date
2000-01-03  22.0625  20.845127  36.145565  16.953266  1.12500  28.484207   NaN
2000-01-04  22.0000  20.075670  33.895641  16.759890  1.09375  28.142393   NaN
2000-01-05  21.6250  20.026398  33.113079  17.941675  1.06250  29.091873   NaN
2000-01-06  20.9375  20.448750  34.629311  18.564796  1.12500  29.509623   NaN
2000-01-07  22.3125  20.835901  35.607559  20.240793  1.18750  29.167824   NaN

[5 rows x 89 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      CHRW       COG     CDNS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  6.855355  0.686059  22.0625
2000-01-04  14.625  NaN  27.172190  ...  6.625382  0.665796  22.0000
2000-01-05  15.000  NaN  27.464891  ...  6.537773  0.677375  21.6250
2000-01-06  16.000  NaN  27.684412  ...  6.570628  0.691849  20.9375
2000-01-07  16.250  NaN  28.221029  ...  6.658237  0.720796  22.3125

                  CPB        COF        CAH      KMX        CCL  CARR  \
Date
2000-01-03  20.845127  36.145565  16.953266  1.12500  28.484207   NaN
2000-01-04  20.075670  33.895641  16.759890  1.09375  28.142393   NaN
2000-01-05  20.026398  33.113079  17.941675  1.06250  29.091873   NaN
2000-01-06  20.448750  34.629311  18.564796  1.12500  29.509623   NaN
2000-01-07  20.835901  35.607559  20.240793  1.18750  29.167824   NaN

                  CAT
Date
2000-01-03  11.845388
2000-01-04  11.693136
2000-01-05  11.967190
2000-01-06  12.576205
2000-01-07  12.987292

[5 rows x 90 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       COG     CDNS        CPB  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  0.686059  22.0625  20.845127
2000-01-04  14.625  NaN  27.172190  ...  0.665796  22.0000  20.075670
2000-01-05  15.000  NaN  27.464891  ...  0.677375  21.6250  20.026398
2000-01-06  16.000  NaN  27.684412  ...  0.691849  20.9375  20.448750
2000-01-07  16.250  NaN  28.221029  ...  0.720796  22.3125  20.835901

                  COF        CAH      KMX        CCL  CARR        CAT  CBOE
Date
2000-01-03  36.145565  16.953266  1.12500  28.484207   NaN  11.845388   NaN
2000-01-04  33.895641  16.759890  1.09375  28.142393   NaN  11.693136   NaN
2000-01-05  33.113079  17.941675  1.06250  29.091873   NaN  11.967190   NaN
2000-01-06  34.629311  18.564796  1.12500  29.509623   NaN  12.576205   NaN
2000-01-07  35.607559  20.240793  1.18750  29.167824   NaN  12.987292   NaN

[5 rows x 91 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...     CDNS        CPB        COF  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  22.0625  20.845127  36.145565
2000-01-04  14.625  NaN  27.172190  ...  22.0000  20.075670  33.895641
2000-01-05  15.000  NaN  27.464891  ...  21.6250  20.026398  33.113079
2000-01-06  16.000  NaN  27.684412  ...  20.9375  20.448750  34.629311
2000-01-07  16.250  NaN  28.221029  ...  22.3125  20.835901  35.607559

                  CAH      KMX        CCL  CARR        CAT  CBOE  CBRE
Date
2000-01-03  16.953266  1.12500  28.484207   NaN  11.845388   NaN   NaN
2000-01-04  16.759890  1.09375  28.142393   NaN  11.693136   NaN   NaN
2000-01-05  17.941675  1.06250  29.091873   NaN  11.967190   NaN   NaN
2000-01-06  18.564796  1.12500  29.509623   NaN  12.576205   NaN   NaN
2000-01-07  20.240793  1.18750  29.167824   NaN  12.987292   NaN   NaN

[5 rows x 92 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        CPB        COF        CAH  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  20.845127  36.145565  16.953266
2000-01-04  14.625  NaN  27.172190  ...  20.075670  33.895641  16.759890
2000-01-05  15.000  NaN  27.464891  ...  20.026398  33.113079  17.941675
2000-01-06  16.000  NaN  27.684412  ...  20.448750  34.629311  18.564796
2000-01-07  16.250  NaN  28.221029  ...  20.835901  35.607559  20.240793

                KMX        CCL  CARR        CAT  CBOE  CBRE  CDW
Date
2000-01-03  1.12500  28.484207   NaN  11.845388   NaN   NaN  NaN
2000-01-04  1.09375  28.142393   NaN  11.693136   NaN   NaN  NaN
2000-01-05  1.06250  29.091873   NaN  11.967190   NaN   NaN  NaN
2000-01-06  1.12500  29.509623   NaN  12.576205   NaN   NaN  NaN
2000-01-07  1.18750  29.167824   NaN  12.987292   NaN   NaN  NaN

[5 rows x 93 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        COF        CAH      KMX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  36.145565  16.953266  1.12500
2000-01-04  14.625  NaN  27.172190  ...  33.895641  16.759890  1.09375
2000-01-05  15.000  NaN  27.464891  ...  33.113079  17.941675  1.06250
2000-01-06  16.000  NaN  27.684412  ...  34.629311  18.564796  1.12500
2000-01-07  16.250  NaN  28.221029  ...  35.607559  20.240793  1.18750

                  CCL  CARR        CAT  CBOE  CBRE  CDW  CE
Date
2000-01-03  28.484207   NaN  11.845388   NaN   NaN  NaN NaN
2000-01-04  28.142393   NaN  11.693136   NaN   NaN  NaN NaN
2000-01-05  29.091873   NaN  11.967190   NaN   NaN  NaN NaN
2000-01-06  29.509623   NaN  12.576205   NaN   NaN  NaN NaN
2000-01-07  29.167824   NaN  12.987292   NaN   NaN  NaN NaN

[5 rows x 94 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        CAH      KMX        CCL  CARR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  16.953266  1.12500  28.484207   NaN
2000-01-04  14.625  NaN  27.172190  ...  16.759890  1.09375  28.142393   NaN
2000-01-05  15.000  NaN  27.464891  ...  17.941675  1.06250  29.091873   NaN
2000-01-06  16.000  NaN  27.684412  ...  18.564796  1.12500  29.509623   NaN
2000-01-07  16.250  NaN  28.221029  ...  20.240793  1.18750  29.167824   NaN

                  CAT  CBOE  CBRE  CDW  CE  CNC
Date
2000-01-03  11.845388   NaN   NaN  NaN NaN  NaN
2000-01-04  11.693136   NaN   NaN  NaN NaN  NaN
2000-01-05  11.967190   NaN   NaN  NaN NaN  NaN
2000-01-06  12.576205   NaN   NaN  NaN NaN  NaN
2000-01-07  12.987292   NaN   NaN  NaN NaN  NaN

[5 rows x 95 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      KMX        CCL  CARR        CAT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  1.12500  28.484207   NaN  11.845388
2000-01-04  14.625  NaN  27.172190  ...  1.09375  28.142393   NaN  11.693136
2000-01-05  15.000  NaN  27.464891  ...  1.06250  29.091873   NaN  11.967190
2000-01-06  16.000  NaN  27.684412  ...  1.12500  29.509623   NaN  12.576205
2000-01-07  16.250  NaN  28.221029  ...  1.18750  29.167824   NaN  12.987292

            CBOE  CBRE  CDW  CE  CNC       CNP
Date
2000-01-03   NaN   NaN  NaN NaN  NaN  6.079404
2000-01-04   NaN   NaN  NaN NaN  NaN  6.147709
2000-01-05   NaN   NaN  NaN NaN  NaN  6.403867
2000-01-06   NaN   NaN  NaN NaN  NaN  6.438023
2000-01-07   NaN   NaN  NaN NaN  NaN  6.540483

[5 rows x 96 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        CCL  CARR        CAT  CBOE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  28.484207   NaN  11.845388   NaN
2000-01-04  14.625  NaN  27.172190  ...  28.142393   NaN  11.693136   NaN
2000-01-05  15.000  NaN  27.464891  ...  29.091873   NaN  11.967190   NaN
2000-01-06  16.000  NaN  27.684412  ...  29.509623   NaN  12.576205   NaN
2000-01-07  16.250  NaN  28.221029  ...  29.167824   NaN  12.987292   NaN

            CBRE  CDW  CE  CNC       CNP        CTL
Date
2000-01-03   NaN  NaN NaN  NaN  6.079404  16.096891
2000-01-04   NaN  NaN NaN  NaN  6.147709  15.452129
2000-01-05   NaN  NaN NaN  NaN  6.403867  15.563292
2000-01-06   NaN  NaN NaN  NaN  6.438023  15.385429
2000-01-07   NaN  NaN NaN  NaN  6.540483  15.252025

[5 rows x 97 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  CARR        CAT  CBOE  CBRE  CDW  CE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  11.845388   NaN   NaN  NaN NaN
2000-01-04  14.625  NaN  27.172190  ...   NaN  11.693136   NaN   NaN  NaN NaN
2000-01-05  15.000  NaN  27.464891  ...   NaN  11.967190   NaN   NaN  NaN NaN
2000-01-06  16.000  NaN  27.684412  ...   NaN  12.576205   NaN   NaN  NaN NaN
2000-01-07  16.250  NaN  28.221029  ...   NaN  12.987292   NaN   NaN  NaN NaN

            CNC       CNP        CTL      CERN
Date
2000-01-03  NaN  6.079404  16.096891  2.527873
2000-01-04  NaN  6.147709  15.452129  2.481490
2000-01-05  NaN  6.403867  15.563292  2.481490
2000-01-06  NaN  6.438023  15.385429  2.466029
2000-01-07  NaN  6.540483  15.252025  2.512412

[5 rows x 98 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        CAT  CBOE  CBRE  CDW  CE  CNC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  11.845388   NaN   NaN  NaN NaN  NaN
2000-01-04  14.625  NaN  27.172190  ...  11.693136   NaN   NaN  NaN NaN  NaN
2000-01-05  15.000  NaN  27.464891  ...  11.967190   NaN   NaN  NaN NaN  NaN
2000-01-06  16.000  NaN  27.684412  ...  12.576205   NaN   NaN  NaN NaN  NaN
2000-01-07  16.250  NaN  28.221029  ...  12.987292   NaN   NaN  NaN NaN  NaN

                 CNP        CTL      CERN  CF
Date
2000-01-03  6.079404  16.096891  2.527873 NaN
2000-01-04  6.147709  15.452129  2.481490 NaN
2000-01-05  6.403867  15.563292  2.481490 NaN
2000-01-06  6.438023  15.385429  2.466029 NaN
2000-01-07  6.540483  15.252025  2.512412 NaN

[5 rows x 99 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  CBOE  CBRE  CDW  CE  CNC       CNP  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN   NaN  NaN NaN  NaN  6.079404
2000-01-04  14.625  NaN  27.172190  ...   NaN   NaN  NaN NaN  NaN  6.147709
2000-01-05  15.000  NaN  27.464891  ...   NaN   NaN  NaN NaN  NaN  6.403867
2000-01-06  16.000  NaN  27.684412  ...   NaN   NaN  NaN NaN  NaN  6.438023
2000-01-07  16.250  NaN  28.221029  ...   NaN   NaN  NaN NaN  NaN  6.540483

                  CTL      CERN  CF       SCHW
Date
2000-01-03  16.096891  2.527873 NaN  20.056469
2000-01-04  15.452129  2.481490 NaN  19.785444
2000-01-05  15.563292  2.481490 NaN  19.920959
2000-01-06  15.385429  2.466029 NaN  19.920959
2000-01-07  15.252025  2.512412 NaN  21.072849

[5 rows x 100 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  CBRE  CDW  CE  CNC       CNP  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  NaN NaN  NaN  6.079404
2000-01-04  14.625  NaN  27.172190  ...   NaN  NaN NaN  NaN  6.147709
2000-01-05  15.000  NaN  27.464891  ...   NaN  NaN NaN  NaN  6.403867
2000-01-06  16.000  NaN  27.684412  ...   NaN  NaN NaN  NaN  6.438023
2000-01-07  16.250  NaN  28.221029  ...   NaN  NaN NaN  NaN  6.540483

                  CTL      CERN  CF       SCHW  CHTR
Date
2000-01-03  16.096891  2.527873 NaN  20.056469   NaN
2000-01-04  15.452129  2.481490 NaN  19.785444   NaN
2000-01-05  15.563292  2.481490 NaN  19.920959   NaN
2000-01-06  15.385429  2.466029 NaN  19.920959   NaN
2000-01-07  15.252025  2.512412 NaN  21.072849   NaN

[5 rows x 101 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  CDW  CE  CNC       CNP        CTL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN NaN  NaN  6.079404  16.096891
2000-01-04  14.625  NaN  27.172190  ...  NaN NaN  NaN  6.147709  15.452129
2000-01-05  15.000  NaN  27.464891  ...  NaN NaN  NaN  6.403867  15.563292
2000-01-06  16.000  NaN  27.684412  ...  NaN NaN  NaN  6.438023  15.385429
2000-01-07  16.250  NaN  28.221029  ...  NaN NaN  NaN  6.540483  15.252025

                CERN  CF       SCHW  CHTR        CVX
Date
2000-01-03  2.527873 NaN  20.056469   NaN  17.167484
2000-01-04  2.481490 NaN  19.785444   NaN  17.167484
2000-01-05  2.481490 NaN  19.920959   NaN  17.475414
2000-01-06  2.466029 NaN  19.920959   NaN  18.219591
2000-01-07  2.512412 NaN  21.072849   NaN  18.540367

[5 rows x 102 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  CE  CNC       CNP        CTL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ... NaN  NaN  6.079404  16.096891
2000-01-04  14.625  NaN  27.172190  ... NaN  NaN  6.147709  15.452129
2000-01-05  15.000  NaN  27.464891  ... NaN  NaN  6.403867  15.563292
2000-01-06  16.000  NaN  27.684412  ... NaN  NaN  6.438023  15.385429
2000-01-07  16.250  NaN  28.221029  ... NaN  NaN  6.540483  15.252025

                CERN  CF       SCHW  CHTR        CVX  CMG
Date
2000-01-03  2.527873 NaN  20.056469   NaN  17.167484  NaN
2000-01-04  2.481490 NaN  19.785444   NaN  17.167484  NaN
2000-01-05  2.481490 NaN  19.920959   NaN  17.475414  NaN
2000-01-06  2.466029 NaN  19.920959   NaN  18.219591  NaN
2000-01-07  2.512412 NaN  21.072849   NaN  18.540367  NaN

[5 rows x 103 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  CNC       CNP        CTL      CERN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  6.079404  16.096891  2.527873
2000-01-04  14.625  NaN  27.172190  ...  NaN  6.147709  15.452129  2.481490
2000-01-05  15.000  NaN  27.464891  ...  NaN  6.403867  15.563292  2.481490
2000-01-06  16.000  NaN  27.684412  ...  NaN  6.438023  15.385429  2.466029
2000-01-07  16.250  NaN  28.221029  ...  NaN  6.540483  15.252025  2.512412

            CF       SCHW  CHTR        CVX  CMG        CB
Date
2000-01-03 NaN  20.056469   NaN  17.167484  NaN  7.325750
2000-01-04 NaN  19.785444   NaN  17.167484  NaN  7.269614
2000-01-05 NaN  19.920959   NaN  17.475414  NaN  6.848598
2000-01-06 NaN  19.920959   NaN  18.219591  NaN  7.213480
2000-01-07 NaN  21.072849   NaN  18.540367  NaN  8.139721

[5 rows x 104 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       CNP        CTL      CERN  CF  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  6.079404  16.096891  2.527873 NaN
2000-01-04  14.625  NaN  27.172190  ...  6.147709  15.452129  2.481490 NaN
2000-01-05  15.000  NaN  27.464891  ...  6.403867  15.563292  2.481490 NaN
2000-01-06  16.000  NaN  27.684412  ...  6.438023  15.385429  2.466029 NaN
2000-01-07  16.250  NaN  28.221029  ...  6.540483  15.252025  2.512412 NaN

                 SCHW  CHTR        CVX  CMG        CB       CHD
Date
2000-01-03  20.056469   NaN  17.167484  NaN  7.325750  3.303076
2000-01-04  19.785444   NaN  17.167484  NaN  7.269614  3.223673
2000-01-05  19.920959   NaN  17.475414  NaN  6.848598  3.223673
2000-01-06  19.920959   NaN  18.219591  NaN  7.213480  3.334835
2000-01-07  21.072849   NaN  18.540367  NaN  8.139721  3.461875

[5 rows x 105 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        CTL      CERN  CF       SCHW  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  16.096891  2.527873 NaN  20.056469
2000-01-04  14.625  NaN  27.172190  ...  15.452129  2.481490 NaN  19.785444
2000-01-05  15.000  NaN  27.464891  ...  15.563292  2.481490 NaN  19.920959
2000-01-06  16.000  NaN  27.684412  ...  15.385429  2.466029 NaN  19.920959
2000-01-07  16.250  NaN  28.221029  ...  15.252025  2.512412 NaN  21.072849

            CHTR        CVX  CMG        CB       CHD         CI
Date
2000-01-03   NaN  17.167484  NaN  7.325750  3.303076  23.584595
2000-01-04   NaN  17.167484  NaN  7.269614  3.223673  23.490625
2000-01-05   NaN  17.475414  NaN  6.848598  3.223673  23.396673
2000-01-06   NaN  18.219591  NaN  7.213480  3.334835  24.524212
2000-01-07   NaN  18.540367  NaN  8.139721  3.461875  25.595387

[5 rows x 106 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      CERN  CF       SCHW  CHTR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  2.527873 NaN  20.056469   NaN
2000-01-04  14.625  NaN  27.172190  ...  2.481490 NaN  19.785444   NaN
2000-01-05  15.000  NaN  27.464891  ...  2.481490 NaN  19.920959   NaN
2000-01-06  16.000  NaN  27.684412  ...  2.466029 NaN  19.920959   NaN
2000-01-07  16.250  NaN  28.221029  ...  2.512412 NaN  21.072849   NaN

                  CVX  CMG        CB       CHD         CI       CINF
Date
2000-01-03  17.167484  NaN  7.325750  3.303076  23.584595  13.659487
2000-01-04  17.167484  NaN  7.269614  3.223673  23.490625  13.645506
2000-01-05  17.475414  NaN  6.848598  3.223673  23.396673  13.785316
2000-01-06  18.219591  NaN  7.213480  3.334835  24.524212  13.869204
2000-01-07  18.540367  NaN  8.139721  3.461875  25.595387  14.148827

[5 rows x 107 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  CF       SCHW  CHTR        CVX  CMG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ... NaN  20.056469   NaN  17.167484  NaN
2000-01-04  14.625  NaN  27.172190  ... NaN  19.785444   NaN  17.167484  NaN
2000-01-05  15.000  NaN  27.464891  ... NaN  19.920959   NaN  17.475414  NaN
2000-01-06  16.000  NaN  27.684412  ... NaN  19.920959   NaN  18.219591  NaN
2000-01-07  16.250  NaN  28.221029  ... NaN  21.072849   NaN  18.540367  NaN

                  CB       CHD         CI       CINF       CTAS
Date
2000-01-03  7.325750  3.303076  23.584595  13.659487  27.019138
2000-01-04  7.269614  3.223673  23.490625  13.645506  25.920277
2000-01-05  6.848598  3.223673  23.396673  13.785316  26.211151
2000-01-06  7.213480  3.334835  24.524212  13.869204  26.356592
2000-01-07  8.139721  3.461875  25.595387  14.148827  27.681692

[5 rows x 108 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       SCHW  CHTR        CVX  CMG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  20.056469   NaN  17.167484  NaN
2000-01-04  14.625  NaN  27.172190  ...  19.785444   NaN  17.167484  NaN
2000-01-05  15.000  NaN  27.464891  ...  19.920959   NaN  17.475414  NaN
2000-01-06  16.000  NaN  27.684412  ...  19.920959   NaN  18.219591  NaN
2000-01-07  16.250  NaN  28.221029  ...  21.072849   NaN  18.540367  NaN

                  CB       CHD         CI       CINF       CTAS       CSCO
Date
2000-01-03  7.325750  3.303076  23.584595  13.659487  27.019138  41.433525
2000-01-04  7.269614  3.223673  23.490625  13.645506  25.920277  39.109055
2000-01-05  6.848598  3.223673  23.396673  13.785316  26.211151  38.989223
2000-01-06  7.213480  3.334835  24.524212  13.869204  26.356592  38.342190
2000-01-07  8.139721  3.461875  25.595387  14.148827  27.681692  40.594810

[5 rows x 109 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  CHTR        CVX  CMG        CB  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  17.167484  NaN  7.325750
2000-01-04  14.625  NaN  27.172190  ...   NaN  17.167484  NaN  7.269614
2000-01-05  15.000  NaN  27.464891  ...   NaN  17.475414  NaN  6.848598
2000-01-06  16.000  NaN  27.684412  ...   NaN  18.219591  NaN  7.213480
2000-01-07  16.250  NaN  28.221029  ...   NaN  18.540367  NaN  8.139721

                 CHD         CI       CINF       CTAS       CSCO           C
Date
2000-01-03  3.303076  23.584595  13.659487  27.019138  41.433525  326.904785
2000-01-04  3.223673  23.490625  13.645506  25.920277  39.109055  306.858734
2000-01-05  3.223673  23.396673  13.785316  26.211151  38.989223  319.194885
2000-01-06  3.334835  24.524212  13.869204  26.356592  38.342190  334.614807
2000-01-07  3.461875  25.595387  14.148827  27.681692  40.594810  333.072784

[5 rows x 110 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        CVX  CMG        CB       CHD  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  17.167484  NaN  7.325750  3.303076
2000-01-04  14.625  NaN  27.172190  ...  17.167484  NaN  7.269614  3.223673
2000-01-05  15.000  NaN  27.464891  ...  17.475414  NaN  6.848598  3.223673
2000-01-06  16.000  NaN  27.684412  ...  18.219591  NaN  7.213480  3.334835
2000-01-07  16.250  NaN  28.221029  ...  18.540367  NaN  8.139721  3.461875

                   CI       CINF       CTAS       CSCO           C  CFG
Date
2000-01-03  23.584595  13.659487  27.019138  41.433525  326.904785  NaN
2000-01-04  23.490625  13.645506  25.920277  39.109055  306.858734  NaN
2000-01-05  23.396673  13.785316  26.211151  38.989223  319.194885  NaN
2000-01-06  24.524212  13.869204  26.356592  38.342190  334.614807  NaN
2000-01-07  25.595387  14.148827  27.681692  40.594810  333.072784  NaN

[5 rows x 111 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  CMG        CB       CHD         CI  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  7.325750  3.303076  23.584595
2000-01-04  14.625  NaN  27.172190  ...  NaN  7.269614  3.223673  23.490625
2000-01-05  15.000  NaN  27.464891  ...  NaN  6.848598  3.223673  23.396673
2000-01-06  16.000  NaN  27.684412  ...  NaN  7.213480  3.334835  24.524212
2000-01-07  16.250  NaN  28.221029  ...  NaN  8.139721  3.461875  25.595387

                 CINF       CTAS       CSCO           C  CFG       CTXS
Date
2000-01-03  13.659487  27.019138  41.433525  326.904785  NaN  49.982899
2000-01-04  13.645506  25.920277  39.109055  306.858734  NaN  47.520329
2000-01-05  13.785316  26.211151  38.989223  319.194885  NaN  44.789551
2000-01-06  13.869204  26.356592  38.342190  334.614807  NaN  40.961594
2000-01-07  14.148827  27.681692  40.594810  333.072784  NaN  43.546070

[5 rows x 112 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        CB       CHD         CI  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  7.325750  3.303076  23.584595
2000-01-04  14.625  NaN  27.172190  ...  7.269614  3.223673  23.490625
2000-01-05  15.000  NaN  27.464891  ...  6.848598  3.223673  23.396673
2000-01-06  16.000  NaN  27.684412  ...  7.213480  3.334835  24.524212
2000-01-07  16.250  NaN  28.221029  ...  8.139721  3.461875  25.595387

                 CINF       CTAS       CSCO           C  CFG       CTXS  \
Date
2000-01-03  13.659487  27.019138  41.433525  326.904785  NaN  49.982899
2000-01-04  13.645506  25.920277  39.109055  306.858734  NaN  47.520329
2000-01-05  13.785316  26.211151  38.989223  319.194885  NaN  44.789551
2000-01-06  13.869204  26.356592  38.342190  334.614807  NaN  40.961594
2000-01-07  14.148827  27.681692  40.594810  333.072784  NaN  43.546070

                  CLX
Date
2000-01-03  28.627275
2000-01-04  27.863398
2000-01-05  28.590889
2000-01-06  28.845522
2000-01-07  30.446035

[5 rows x 113 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       CHD         CI       CINF  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  3.303076  23.584595  13.659487
2000-01-04  14.625  NaN  27.172190  ...  3.223673  23.490625  13.645506
2000-01-05  15.000  NaN  27.464891  ...  3.223673  23.396673  13.785316
2000-01-06  16.000  NaN  27.684412  ...  3.334835  24.524212  13.869204
2000-01-07  16.250  NaN  28.221029  ...  3.461875  25.595387  14.148827

                 CTAS       CSCO           C  CFG       CTXS        CLX  CME
Date
2000-01-03  27.019138  41.433525  326.904785  NaN  49.982899  28.627275  NaN
2000-01-04  25.920277  39.109055  306.858734  NaN  47.520329  27.863398  NaN
2000-01-05  26.211151  38.989223  319.194885  NaN  44.789551  28.590889  NaN
2000-01-06  26.356592  38.342190  334.614807  NaN  40.961594  28.845522  NaN
2000-01-07  27.681692  40.594810  333.072784  NaN  43.546070  30.446035  NaN

[5 rows x 114 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         CI       CINF       CTAS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  23.584595  13.659487  27.019138
2000-01-04  14.625  NaN  27.172190  ...  23.490625  13.645506  25.920277
2000-01-05  15.000  NaN  27.464891  ...  23.396673  13.785316  26.211151
2000-01-06  16.000  NaN  27.684412  ...  24.524212  13.869204  26.356592
2000-01-07  16.250  NaN  28.221029  ...  25.595387  14.148827  27.681692

                 CSCO           C  CFG       CTXS        CLX  CME        CMS
Date
2000-01-03  41.433525  326.904785  NaN  49.982899  28.627275  NaN  15.633080
2000-01-04  39.109055  306.858734  NaN  47.520329  27.863398  NaN  15.831815
2000-01-05  38.989223  319.194885  NaN  44.789551  28.590889  NaN  16.262384
2000-01-06  38.342190  334.614807  NaN  40.961594  28.845522  NaN  16.129894
2000-01-07  40.594810  333.072784  NaN  43.546070  30.446035  NaN  16.494232

[5 rows x 115 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       CINF       CTAS       CSCO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  13.659487  27.019138  41.433525
2000-01-04  14.625  NaN  27.172190  ...  13.645506  25.920277  39.109055
2000-01-05  15.000  NaN  27.464891  ...  13.785316  26.211151  38.989223
2000-01-06  16.000  NaN  27.684412  ...  13.869204  26.356592  38.342190
2000-01-07  16.250  NaN  28.221029  ...  14.148827  27.681692  40.594810

                     C  CFG       CTXS        CLX  CME        CMS         KO
Date
2000-01-03  326.904785  NaN  49.982899  28.627275  NaN  15.633080  12.015392
2000-01-04  306.858734  NaN  47.520329  27.863398  NaN  15.831815  12.028710
2000-01-05  319.194885  NaN  44.789551  28.590889  NaN  16.262384  12.135282
2000-01-06  334.614807  NaN  40.961594  28.845522  NaN  16.129894  12.148600
2000-01-07  333.072784  NaN  43.546070  30.446035  NaN  16.494232  12.947854

[5 rows x 116 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       CTAS       CSCO           C  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  27.019138  41.433525  326.904785
2000-01-04  14.625  NaN  27.172190  ...  25.920277  39.109055  306.858734
2000-01-05  15.000  NaN  27.464891  ...  26.211151  38.989223  319.194885
2000-01-06  16.000  NaN  27.684412  ...  26.356592  38.342190  334.614807
2000-01-07  16.250  NaN  28.221029  ...  27.681692  40.594810  333.072784

            CFG       CTXS        CLX  CME        CMS         KO      CTSH
Date
2000-01-03  NaN  49.982899  28.627275  NaN  15.633080  12.015392  1.922517
2000-01-04  NaN  47.520329  27.863398  NaN  15.831815  12.028710  1.857432
2000-01-05  NaN  44.789551  28.590889  NaN  16.262384  12.135282  1.960066
2000-01-06  NaN  40.961594  28.845522  NaN  16.129894  12.148600  1.859935
2000-01-07  NaN  43.546070  30.446035  NaN  16.494232  12.947854  1.882465

[5 rows x 117 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       CSCO           C  CFG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  41.433525  326.904785  NaN
2000-01-04  14.625  NaN  27.172190  ...  39.109055  306.858734  NaN
2000-01-05  15.000  NaN  27.464891  ...  38.989223  319.194885  NaN
2000-01-06  16.000  NaN  27.684412  ...  38.342190  334.614807  NaN
2000-01-07  16.250  NaN  28.221029  ...  40.594810  333.072784  NaN

                 CTXS        CLX  CME        CMS         KO      CTSH  \
Date
2000-01-03  49.982899  28.627275  NaN  15.633080  12.015392  1.922517
2000-01-04  47.520329  27.863398  NaN  15.831815  12.028710  1.857432
2000-01-05  44.789551  28.590889  NaN  16.262384  12.135282  1.960066
2000-01-06  40.961594  28.845522  NaN  16.129894  12.148600  1.859935
2000-01-07  43.546070  30.446035  NaN  16.494232  12.947854  1.882465

                   CL
Date
2000-01-03  20.230127
2000-01-04  19.702030
2000-01-05  19.031754
2000-01-06  18.991133
2000-01-07  20.128572

[5 rows x 118 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...           C  CFG       CTXS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  326.904785  NaN  49.982899
2000-01-04  14.625  NaN  27.172190  ...  306.858734  NaN  47.520329
2000-01-05  15.000  NaN  27.464891  ...  319.194885  NaN  44.789551
2000-01-06  16.000  NaN  27.684412  ...  334.614807  NaN  40.961594
2000-01-07  16.250  NaN  28.221029  ...  333.072784  NaN  43.546070

                  CLX  CME        CMS         KO      CTSH         CL  \
Date
2000-01-03  28.627275  NaN  15.633080  12.015392  1.922517  20.230127
2000-01-04  27.863398  NaN  15.831815  12.028710  1.857432  19.702030
2000-01-05  28.590889  NaN  16.262384  12.135282  1.960066  19.031754
2000-01-06  28.845522  NaN  16.129894  12.148600  1.859935  18.991133
2000-01-07  30.446035  NaN  16.494232  12.947854  1.882465  20.128572

                CMCSA
Date
2000-01-03  12.436954
2000-01-04  11.505847
2000-01-05  11.206564
2000-01-06  11.638860
2000-01-07  11.273067

[5 rows x 119 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  CFG       CTXS        CLX  CME  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  49.982899  28.627275  NaN
2000-01-04  14.625  NaN  27.172190  ...  NaN  47.520329  27.863398  NaN
2000-01-05  15.000  NaN  27.464891  ...  NaN  44.789551  28.590889  NaN
2000-01-06  16.000  NaN  27.684412  ...  NaN  40.961594  28.845522  NaN
2000-01-07  16.250  NaN  28.221029  ...  NaN  43.546070  30.446035  NaN

                  CMS         KO      CTSH         CL      CMCSA        CMA
Date
2000-01-03  15.633080  12.015392  1.922517  20.230127  12.436954  24.774324
2000-01-04  15.831815  12.028710  1.857432  19.702030  11.505847  23.742056
2000-01-05  16.262384  12.135282  1.960066  19.031754  11.206564  23.673237
2000-01-06  16.129894  12.148600  1.859935  18.991133  11.638860  24.361423
2000-01-07  16.494232  12.947854  1.882465  20.128572  11.273067  24.327005

[5 rows x 120 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       CTXS        CLX  CME        CMS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  49.982899  28.627275  NaN  15.633080
2000-01-04  14.625  NaN  27.172190  ...  47.520329  27.863398  NaN  15.831815
2000-01-05  15.000  NaN  27.464891  ...  44.789551  28.590889  NaN  16.262384
2000-01-06  16.000  NaN  27.684412  ...  40.961594  28.845522  NaN  16.129894
2000-01-07  16.250  NaN  28.221029  ...  43.546070  30.446035  NaN  16.494232

                   KO      CTSH         CL      CMCSA        CMA       CAG
Date
2000-01-03  12.015392  1.922517  20.230127  12.436954  24.774324  8.767573
2000-01-04  12.028710  1.857432  19.702030  11.505847  23.742056  8.599883
2000-01-05  12.135282  1.960066  19.031754  11.206564  23.673237  8.456153
2000-01-06  12.148600  1.859935  18.991133  11.638860  24.361423  8.695703
2000-01-07  12.947854  1.882465  20.128572  11.273067  24.327005  8.887345

[5 rows x 121 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        CLX  CME        CMS         KO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  28.627275  NaN  15.633080  12.015392
2000-01-04  14.625  NaN  27.172190  ...  27.863398  NaN  15.831815  12.028710
2000-01-05  15.000  NaN  27.464891  ...  28.590889  NaN  16.262384  12.135282
2000-01-06  16.000  NaN  27.684412  ...  28.845522  NaN  16.129894  12.148600
2000-01-07  16.250  NaN  28.221029  ...  30.446035  NaN  16.494232  12.947854

                CTSH         CL      CMCSA        CMA       CAG  CXO
Date
2000-01-03  1.922517  20.230127  12.436954  24.774324  8.767573  NaN
2000-01-04  1.857432  19.702030  11.505847  23.742056  8.599883  NaN
2000-01-05  1.960066  19.031754  11.206564  23.673237  8.456153  NaN
2000-01-06  1.859935  18.991133  11.638860  24.361423  8.695703  NaN
2000-01-07  1.882465  20.128572  11.273067  24.327005  8.887345  NaN

[5 rows x 122 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  CME        CMS         KO      CTSH  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  15.633080  12.015392  1.922517
2000-01-04  14.625  NaN  27.172190  ...  NaN  15.831815  12.028710  1.857432
2000-01-05  15.000  NaN  27.464891  ...  NaN  16.262384  12.135282  1.960066
2000-01-06  16.000  NaN  27.684412  ...  NaN  16.129894  12.148600  1.859935
2000-01-07  16.250  NaN  28.221029  ...  NaN  16.494232  12.947854  1.882465

                   CL      CMCSA        CMA       CAG  CXO       COP
Date
2000-01-03  20.230127  12.436954  24.774324  8.767573  NaN  6.827606
2000-01-04  19.702030  11.505847  23.742056  8.599883  NaN  6.695764
2000-01-05  19.031754  11.206564  23.673237  8.456153  NaN  6.573339
2000-01-06  18.991133  11.638860  24.361423  8.695703  NaN  6.799354
2000-01-07  20.128572  11.273067  24.327005  8.887345  NaN  6.799354

[5 rows x 123 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        CMS         KO      CTSH  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  15.633080  12.015392  1.922517
2000-01-04  14.625  NaN  27.172190  ...  15.831815  12.028710  1.857432
2000-01-05  15.000  NaN  27.464891  ...  16.262384  12.135282  1.960066
2000-01-06  16.000  NaN  27.684412  ...  16.129894  12.148600  1.859935
2000-01-07  16.250  NaN  28.221029  ...  16.494232  12.947854  1.882465

                   CL      CMCSA        CMA       CAG  CXO       COP  \
Date
2000-01-03  20.230127  12.436954  24.774324  8.767573  NaN  6.827606
2000-01-04  19.702030  11.505847  23.742056  8.599883  NaN  6.695764
2000-01-05  19.031754  11.206564  23.673237  8.456153  NaN  6.573339
2000-01-06  18.991133  11.638860  24.361423  8.695703  NaN  6.799354
2000-01-07  20.128572  11.273067  24.327005  8.887345  NaN  6.799354

                   ED
Date
2000-01-03  12.767960
2000-01-04  12.933472
2000-01-05  13.524576
2000-01-06  13.548223
2000-01-07  13.642800

[5 rows x 124 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         KO      CTSH         CL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  12.015392  1.922517  20.230127
2000-01-04  14.625  NaN  27.172190  ...  12.028710  1.857432  19.702030
2000-01-05  15.000  NaN  27.464891  ...  12.135282  1.960066  19.031754
2000-01-06  16.000  NaN  27.684412  ...  12.148600  1.859935  18.991133
2000-01-07  16.250  NaN  28.221029  ...  12.947854  1.882465  20.128572

                CMCSA        CMA       CAG  CXO       COP         ED       STZ
Date
2000-01-03  12.436954  24.774324  8.767573  NaN  6.827606  12.767960  5.836346
2000-01-04  11.505847  23.742056  8.599883  NaN  6.695764  12.933472  5.616660
2000-01-05  11.206564  23.673237  8.456153  NaN  6.573339  13.524576  5.807055
2000-01-06  11.638860  24.361423  8.695703  NaN  6.799354  13.548223  6.034063
2000-01-07  11.273067  24.327005  8.887345  NaN  6.799354  13.642800  6.209814

[5 rows x 125 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      CTSH         CL      CMCSA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  1.922517  20.230127  12.436954
2000-01-04  14.625  NaN  27.172190  ...  1.857432  19.702030  11.505847
2000-01-05  15.000  NaN  27.464891  ...  1.960066  19.031754  11.206564
2000-01-06  16.000  NaN  27.684412  ...  1.859935  18.991133  11.638860
2000-01-07  16.250  NaN  28.221029  ...  1.882465  20.128572  11.273067

                  CMA       CAG  CXO       COP         ED       STZ        COO
Date
2000-01-03  24.774324  8.767573  NaN  6.827606  12.767960  5.836346  14.346992
2000-01-04  23.742056  8.599883  NaN  6.695764  12.933472  5.616660  14.468577
2000-01-05  23.673237  8.456153  NaN  6.573339  13.524576  5.807055  14.559765
2000-01-06  24.361423  8.695703  NaN  6.799354  13.548223  6.034063  14.559765
2000-01-07  24.327005  8.887345  NaN  6.799354  13.642800  6.209814  14.681354

[5 rows x 126 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         CL      CMCSA        CMA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  20.230127  12.436954  24.774324
2000-01-04  14.625  NaN  27.172190  ...  19.702030  11.505847  23.742056
2000-01-05  15.000  NaN  27.464891  ...  19.031754  11.206564  23.673237
2000-01-06  16.000  NaN  27.684412  ...  18.991133  11.638860  24.361423
2000-01-07  16.250  NaN  28.221029  ...  20.128572  11.273067  24.327005

                 CAG  CXO       COP         ED       STZ        COO      CPRT
Date
2000-01-03  8.767573  NaN  6.827606  12.767960  5.836346  14.346992  3.250000
2000-01-04  8.599883  NaN  6.695764  12.933472  5.616660  14.468577  2.843750
2000-01-05  8.456153  NaN  6.573339  13.524576  5.807055  14.559765  2.822917
2000-01-06  8.695703  NaN  6.799354  13.548223  6.034063  14.559765  2.625000
2000-01-07  8.887345  NaN  6.799354  13.642800  6.209814  14.681354  2.927083

[5 rows x 127 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      CMCSA        CMA       CAG  CXO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  12.436954  24.774324  8.767573  NaN
2000-01-04  14.625  NaN  27.172190  ...  11.505847  23.742056  8.599883  NaN
2000-01-05  15.000  NaN  27.464891  ...  11.206564  23.673237  8.456153  NaN
2000-01-06  16.000  NaN  27.684412  ...  11.638860  24.361423  8.695703  NaN
2000-01-07  16.250  NaN  28.221029  ...  11.273067  24.327005  8.887345  NaN

                 COP         ED       STZ        COO      CPRT        GLW
Date
2000-01-03  6.827606  12.767960  5.836346  14.346992  3.250000  30.948677
2000-01-04  6.695764  12.933472  5.616660  14.468577  2.843750  27.947496
2000-01-05  6.573339  13.524576  5.807055  14.559765  2.822917  27.312323
2000-01-06  6.799354  13.548223  6.034063  14.559765  2.625000  26.677155
2000-01-07  6.799354  13.642800  6.209814  14.681354  2.927083  29.694229

[5 rows x 128 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        CMA       CAG  CXO       COP  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  24.774324  8.767573  NaN  6.827606
2000-01-04  14.625  NaN  27.172190  ...  23.742056  8.599883  NaN  6.695764
2000-01-05  15.000  NaN  27.464891  ...  23.673237  8.456153  NaN  6.573339
2000-01-06  16.000  NaN  27.684412  ...  24.361423  8.695703  NaN  6.799354
2000-01-07  16.250  NaN  28.221029  ...  24.327005  8.887345  NaN  6.799354

                   ED       STZ        COO      CPRT        GLW  CTVA
Date
2000-01-03  12.767960  5.836346  14.346992  3.250000  30.948677   NaN
2000-01-04  12.933472  5.616660  14.468577  2.843750  27.947496   NaN
2000-01-05  13.524576  5.807055  14.559765  2.822917  27.312323   NaN
2000-01-06  13.548223  6.034063  14.559765  2.625000  26.677155   NaN
2000-01-07  13.642800  6.209814  14.681354  2.927083  29.694229   NaN

[5 rows x 129 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       CAG  CXO       COP         ED  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  8.767573  NaN  6.827606  12.767960
2000-01-04  14.625  NaN  27.172190  ...  8.599883  NaN  6.695764  12.933472
2000-01-05  15.000  NaN  27.464891  ...  8.456153  NaN  6.573339  13.524576
2000-01-06  16.000  NaN  27.684412  ...  8.695703  NaN  6.799354  13.548223
2000-01-07  16.250  NaN  28.221029  ...  8.887345  NaN  6.799354  13.642800

                 STZ        COO      CPRT        GLW  CTVA       COST
Date
2000-01-03  5.836346  14.346992  3.250000  30.948677   NaN  32.375179
2000-01-04  5.616660  14.468577  2.843750  27.947496   NaN  30.601828
2000-01-05  5.807055  14.559765  2.822917  27.312323   NaN  31.124743
2000-01-06  6.034063  14.559765  2.625000  26.677155   NaN  31.749947
2000-01-07  6.209814  14.681354  2.927083  29.694229   NaN  33.853001

[5 rows x 130 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  CXO       COP         ED       STZ  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  6.827606  12.767960  5.836346
2000-01-04  14.625  NaN  27.172190  ...  NaN  6.695764  12.933472  5.616660
2000-01-05  15.000  NaN  27.464891  ...  NaN  6.573339  13.524576  5.807055
2000-01-06  16.000  NaN  27.684412  ...  NaN  6.799354  13.548223  6.034063
2000-01-07  16.250  NaN  28.221029  ...  NaN  6.799354  13.642800  6.209814

                  COO      CPRT        GLW  CTVA       COST  COTY
Date
2000-01-03  14.346992  3.250000  30.948677   NaN  32.375179   NaN
2000-01-04  14.468577  2.843750  27.947496   NaN  30.601828   NaN
2000-01-05  14.559765  2.822917  27.312323   NaN  31.124743   NaN
2000-01-06  14.559765  2.625000  26.677155   NaN  31.749947   NaN
2000-01-07  14.681354  2.927083  29.694229   NaN  33.853001   NaN

[5 rows x 131 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       COP         ED       STZ  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  6.827606  12.767960  5.836346
2000-01-04  14.625  NaN  27.172190  ...  6.695764  12.933472  5.616660
2000-01-05  15.000  NaN  27.464891  ...  6.573339  13.524576  5.807055
2000-01-06  16.000  NaN  27.684412  ...  6.799354  13.548223  6.034063
2000-01-07  16.250  NaN  28.221029  ...  6.799354  13.642800  6.209814

                  COO      CPRT        GLW  CTVA       COST  COTY        CCI
Date
2000-01-03  14.346992  3.250000  30.948677   NaN  32.375179   NaN  24.362835
2000-01-04  14.468577  2.843750  27.947496   NaN  30.601828   NaN  24.337896
2000-01-05  14.559765  2.822917  27.312323   NaN  31.124743   NaN  23.988785
2000-01-06  14.559765  2.625000  26.677155   NaN  31.749947   NaN  23.140949
2000-01-07  14.681354  2.927083  29.694229   NaN  33.853001   NaN  24.337896

[5 rows x 132 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         ED       STZ        COO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  12.767960  5.836346  14.346992
2000-01-04  14.625  NaN  27.172190  ...  12.933472  5.616660  14.468577
2000-01-05  15.000  NaN  27.464891  ...  13.524576  5.807055  14.559765
2000-01-06  16.000  NaN  27.684412  ...  13.548223  6.034063  14.559765
2000-01-07  16.250  NaN  28.221029  ...  13.642800  6.209814  14.681354

                CPRT        GLW  CTVA       COST  COTY        CCI       CSX
Date
2000-01-03  3.250000  30.948677   NaN  32.375179   NaN  24.362835  3.501594
2000-01-04  2.843750  27.947496   NaN  30.601828   NaN  24.337896  3.395484
2000-01-05  2.822917  27.312323   NaN  31.124743   NaN  23.988785  3.466223
2000-01-06  2.625000  26.677155   NaN  31.749947   NaN  23.140949  3.621849
2000-01-07  2.927083  29.694229   NaN  33.853001   NaN  24.337896  3.621849

[5 rows x 133 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       STZ        COO      CPRT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  5.836346  14.346992  3.250000
2000-01-04  14.625  NaN  27.172190  ...  5.616660  14.468577  2.843750
2000-01-05  15.000  NaN  27.464891  ...  5.807055  14.559765  2.822917
2000-01-06  16.000  NaN  27.684412  ...  6.034063  14.559765  2.625000
2000-01-07  16.250  NaN  28.221029  ...  6.209814  14.681354  2.927083

                  GLW  CTVA       COST  COTY        CCI       CSX       CMI
Date
2000-01-03  30.948677   NaN  32.375179   NaN  24.362835  3.501594  4.169108
2000-01-04  27.947496   NaN  30.601828   NaN  24.337896  3.395484  4.053454
2000-01-05  27.312323   NaN  31.124743   NaN  23.988785  3.466223  4.058960
2000-01-06  26.677155   NaN  31.749947   NaN  23.140949  3.621849  4.202154
2000-01-07  29.694229   NaN  33.853001   NaN  24.337896  3.621849  4.312303

[5 rows x 134 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        COO      CPRT        GLW  CTVA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  14.346992  3.250000  30.948677   NaN
2000-01-04  14.625  NaN  27.172190  ...  14.468577  2.843750  27.947496   NaN
2000-01-05  15.000  NaN  27.464891  ...  14.559765  2.822917  27.312323   NaN
2000-01-06  16.000  NaN  27.684412  ...  14.559765  2.625000  26.677155   NaN
2000-01-07  16.250  NaN  28.221029  ...  14.681354  2.927083  29.694229   NaN

                 COST  COTY        CCI       CSX       CMI        CVS
Date
2000-01-03  32.375179   NaN  24.362835  3.501594  4.169108  13.832482
2000-01-04  30.601828   NaN  24.337896  3.395484  4.053454  13.718168
2000-01-05  31.124743   NaN  23.988785  3.466223  4.058960  14.472672
2000-01-06  31.749947   NaN  23.140949  3.621849  4.202154  13.443807
2000-01-07  33.853001   NaN  24.337896  3.621849  4.312303  13.763899

[5 rows x 135 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      CPRT        GLW  CTVA       COST  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  3.250000  30.948677   NaN  32.375179
2000-01-04  14.625  NaN  27.172190  ...  2.843750  27.947496   NaN  30.601828
2000-01-05  15.000  NaN  27.464891  ...  2.822917  27.312323   NaN  31.124743
2000-01-06  16.000  NaN  27.684412  ...  2.625000  26.677155   NaN  31.749947
2000-01-07  16.250  NaN  28.221029  ...  2.927083  29.694229   NaN  33.853001

            COTY        CCI       CSX       CMI        CVS       DHI
Date
2000-01-03   NaN  24.362835  3.501594  4.169108  13.832482  2.559436
2000-01-04   NaN  24.337896  3.395484  4.053454  13.718168  2.462853
2000-01-05   NaN  23.988785  3.466223  4.058960  14.472672  2.499073
2000-01-06   NaN  23.140949  3.621849  4.202154  13.443807  2.366271
2000-01-07   NaN  24.337896  3.621849  4.312303  13.763899  2.450781

[5 rows x 136 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        GLW  CTVA       COST  COTY  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  30.948677   NaN  32.375179   NaN
2000-01-04  14.625  NaN  27.172190  ...  27.947496   NaN  30.601828   NaN
2000-01-05  15.000  NaN  27.464891  ...  27.312323   NaN  31.124743   NaN
2000-01-06  16.000  NaN  27.684412  ...  26.677155   NaN  31.749947   NaN
2000-01-07  16.250  NaN  28.221029  ...  29.694229   NaN  33.853001   NaN

                  CCI       CSX       CMI        CVS       DHI       DHR
Date
2000-01-03  24.362835  3.501594  4.169108  13.832482  2.559436  5.401667
2000-01-04  24.337896  3.395484  4.053454  13.718168  2.462853  5.205636
2000-01-05  23.988785  3.466223  4.058960  14.472672  2.499073  5.263720
2000-01-06  23.140949  3.621849  4.202154  13.443807  2.366271  5.321804
2000-01-07  24.337896  3.621849  4.312303  13.763899  2.450781  5.365364

[5 rows x 137 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  CTVA       COST  COTY        CCI  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  32.375179   NaN  24.362835
2000-01-04  14.625  NaN  27.172190  ...   NaN  30.601828   NaN  24.337896
2000-01-05  15.000  NaN  27.464891  ...   NaN  31.124743   NaN  23.988785
2000-01-06  16.000  NaN  27.684412  ...   NaN  31.749947   NaN  23.140949
2000-01-07  16.250  NaN  28.221029  ...   NaN  33.853001   NaN  24.337896

                 CSX       CMI        CVS       DHI       DHR       DRI
Date
2000-01-03  3.501594  4.169108  13.832482  2.559436  5.401667  6.254695
2000-01-04  3.395484  4.053454  13.718168  2.462853  5.205636  6.209535
2000-01-05  3.466223  4.058960  14.472672  2.499073  5.263720  6.435337
2000-01-06  3.621849  4.202154  13.443807  2.366271  5.321804  6.367594
2000-01-07  3.621849  4.312303  13.763899  2.450781  5.365364  6.277276

[5 rows x 138 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       COST  COTY        CCI       CSX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  32.375179   NaN  24.362835  3.501594
2000-01-04  14.625  NaN  27.172190  ...  30.601828   NaN  24.337896  3.395484
2000-01-05  15.000  NaN  27.464891  ...  31.124743   NaN  23.988785  3.466223
2000-01-06  16.000  NaN  27.684412  ...  31.749947   NaN  23.140949  3.621849
2000-01-07  16.250  NaN  28.221029  ...  33.853001   NaN  24.337896  3.621849

                 CMI        CVS       DHI       DHR       DRI       DVA
Date
2000-01-03  4.169108  13.832482  2.559436  5.401667  6.254695  2.291667
2000-01-04  4.053454  13.718168  2.462853  5.205636  6.209535  2.250000
2000-01-05  4.058960  14.472672  2.499073  5.263720  6.435337  2.062500
2000-01-06  4.202154  13.443807  2.366271  5.321804  6.367594  2.000000
2000-01-07  4.312303  13.763899  2.450781  5.365364  6.277276  2.208333

[5 rows x 139 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  COTY        CCI       CSX       CMI  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  24.362835  3.501594  4.169108
2000-01-04  14.625  NaN  27.172190  ...   NaN  24.337896  3.395484  4.053454
2000-01-05  15.000  NaN  27.464891  ...   NaN  23.988785  3.466223  4.058960
2000-01-06  16.000  NaN  27.684412  ...   NaN  23.140949  3.621849  4.202154
2000-01-07  16.250  NaN  28.221029  ...   NaN  24.337896  3.621849  4.312303

                  CVS       DHI       DHR       DRI       DVA         DE
Date
2000-01-03  13.832482  2.559436  5.401667  6.254695  2.291667  13.984537
2000-01-04  13.718168  2.462853  5.205636  6.209535  2.250000  13.964153
2000-01-05  14.472672  2.499073  5.263720  6.435337  2.062500  14.290329
2000-01-06  13.443807  2.366271  5.321804  6.367594  2.000000  15.024205
2000-01-07  13.763899  2.450781  5.365364  6.277276  2.208333  15.003815

[5 rows x 140 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        CCI       CSX       CMI  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  24.362835  3.501594  4.169108
2000-01-04  14.625  NaN  27.172190  ...  24.337896  3.395484  4.053454
2000-01-05  15.000  NaN  27.464891  ...  23.988785  3.466223  4.058960
2000-01-06  16.000  NaN  27.684412  ...  23.140949  3.621849  4.202154
2000-01-07  16.250  NaN  28.221029  ...  24.337896  3.621849  4.312303

                  CVS       DHI       DHR       DRI       DVA         DE  DAL
Date
2000-01-03  13.832482  2.559436  5.401667  6.254695  2.291667  13.984537  NaN
2000-01-04  13.718168  2.462853  5.205636  6.209535  2.250000  13.964153  NaN
2000-01-05  14.472672  2.499073  5.263720  6.435337  2.062500  14.290329  NaN
2000-01-06  13.443807  2.366271  5.321804  6.367594  2.000000  15.024205  NaN
2000-01-07  13.763899  2.450781  5.365364  6.277276  2.208333  15.003815  NaN

[5 rows x 141 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       CSX       CMI        CVS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  3.501594  4.169108  13.832482
2000-01-04  14.625  NaN  27.172190  ...  3.395484  4.053454  13.718168
2000-01-05  15.000  NaN  27.464891  ...  3.466223  4.058960  14.472672
2000-01-06  16.000  NaN  27.684412  ...  3.621849  4.202154  13.443807
2000-01-07  16.250  NaN  28.221029  ...  3.621849  4.312303  13.763899

                 DHI       DHR       DRI       DVA         DE  DAL      XRAY
Date
2000-01-03  2.559436  5.401667  6.254695  2.291667  13.984537  NaN  6.954667
2000-01-04  2.462853  5.205636  6.209535  2.250000  13.964153  NaN  6.954667
2000-01-05  2.499073  5.263720  6.435337  2.062500  14.290329  NaN  7.074894
2000-01-06  2.366271  5.321804  6.367594  2.000000  15.024205  NaN  7.084142
2000-01-07  2.450781  5.365364  6.277276  2.208333  15.003815  NaN  7.065648

[5 rows x 142 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       CMI        CVS       DHI  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  4.169108  13.832482  2.559436
2000-01-04  14.625  NaN  27.172190  ...  4.053454  13.718168  2.462853
2000-01-05  15.000  NaN  27.464891  ...  4.058960  14.472672  2.499073
2000-01-06  16.000  NaN  27.684412  ...  4.202154  13.443807  2.366271
2000-01-07  16.250  NaN  28.221029  ...  4.312303  13.763899  2.450781

                 DHR       DRI       DVA         DE  DAL      XRAY        DVN
Date
2000-01-03  5.401667  6.254695  2.291667  13.984537  NaN  6.954667  13.206322
2000-01-04  5.205636  6.209535  2.250000  13.964153  NaN  6.954667  12.925879
2000-01-05  5.263720  6.435337  2.062500  14.290329  NaN  7.074894  13.155335
2000-01-06  5.321804  6.367594  2.000000  15.024205  NaN  7.084142  13.818199
2000-01-07  5.365364  6.277276  2.208333  15.003815  NaN  7.065648  13.894685

[5 rows x 143 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        CVS       DHI       DHR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  13.832482  2.559436  5.401667
2000-01-04  14.625  NaN  27.172190  ...  13.718168  2.462853  5.205636
2000-01-05  15.000  NaN  27.464891  ...  14.472672  2.499073  5.263720
2000-01-06  16.000  NaN  27.684412  ...  13.443807  2.366271  5.321804
2000-01-07  16.250  NaN  28.221029  ...  13.763899  2.450781  5.365364

                 DRI       DVA         DE  DAL      XRAY        DVN  DXCM
Date
2000-01-03  6.254695  2.291667  13.984537  NaN  6.954667  13.206322   NaN
2000-01-04  6.209535  2.250000  13.964153  NaN  6.954667  12.925879   NaN
2000-01-05  6.435337  2.062500  14.290329  NaN  7.074894  13.155335   NaN
2000-01-06  6.367594  2.000000  15.024205  NaN  7.084142  13.818199   NaN
2000-01-07  6.277276  2.208333  15.003815  NaN  7.065648  13.894685   NaN

[5 rows x 144 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       DHI       DHR       DRI  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  2.559436  5.401667  6.254695
2000-01-04  14.625  NaN  27.172190  ...  2.462853  5.205636  6.209535
2000-01-05  15.000  NaN  27.464891  ...  2.499073  5.263720  6.435337
2000-01-06  16.000  NaN  27.684412  ...  2.366271  5.321804  6.367594
2000-01-07  16.250  NaN  28.221029  ...  2.450781  5.365364  6.277276

                 DVA         DE  DAL      XRAY        DVN  DXCM  FANG
Date
2000-01-03  2.291667  13.984537  NaN  6.954667  13.206322   NaN   NaN
2000-01-04  2.250000  13.964153  NaN  6.954667  12.925879   NaN   NaN
2000-01-05  2.062500  14.290329  NaN  7.074894  13.155335   NaN   NaN
2000-01-06  2.000000  15.024205  NaN  7.084142  13.818199   NaN   NaN
2000-01-07  2.208333  15.003815  NaN  7.065648  13.894685   NaN   NaN

[5 rows x 145 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       DHR       DRI       DVA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  5.401667  6.254695  2.291667
2000-01-04  14.625  NaN  27.172190  ...  5.205636  6.209535  2.250000
2000-01-05  15.000  NaN  27.464891  ...  5.263720  6.435337  2.062500
2000-01-06  16.000  NaN  27.684412  ...  5.321804  6.367594  2.000000
2000-01-07  16.250  NaN  28.221029  ...  5.365364  6.277276  2.208333

                   DE  DAL      XRAY        DVN  DXCM  FANG  DLR
Date
2000-01-03  13.984537  NaN  6.954667  13.206322   NaN   NaN  NaN
2000-01-04  13.964153  NaN  6.954667  12.925879   NaN   NaN  NaN
2000-01-05  14.290329  NaN  7.074894  13.155335   NaN   NaN  NaN
2000-01-06  15.024205  NaN  7.084142  13.818199   NaN   NaN  NaN
2000-01-07  15.003815  NaN  7.065648  13.894685   NaN   NaN  NaN

[5 rows x 146 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       DRI       DVA         DE  DAL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  6.254695  2.291667  13.984537  NaN
2000-01-04  14.625  NaN  27.172190  ...  6.209535  2.250000  13.964153  NaN
2000-01-05  15.000  NaN  27.464891  ...  6.435337  2.062500  14.290329  NaN
2000-01-06  16.000  NaN  27.684412  ...  6.367594  2.000000  15.024205  NaN
2000-01-07  16.250  NaN  28.221029  ...  6.277276  2.208333  15.003815  NaN

                XRAY        DVN  DXCM  FANG  DLR  DFS
Date
2000-01-03  6.954667  13.206322   NaN   NaN  NaN  NaN
2000-01-04  6.954667  12.925879   NaN   NaN  NaN  NaN
2000-01-05  7.074894  13.155335   NaN   NaN  NaN  NaN
2000-01-06  7.084142  13.818199   NaN   NaN  NaN  NaN
2000-01-07  7.065648  13.894685   NaN   NaN  NaN  NaN

[5 rows x 147 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       DVA         DE  DAL      XRAY  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  2.291667  13.984537  NaN  6.954667
2000-01-04  14.625  NaN  27.172190  ...  2.250000  13.964153  NaN  6.954667
2000-01-05  15.000  NaN  27.464891  ...  2.062500  14.290329  NaN  7.074894
2000-01-06  16.000  NaN  27.684412  ...  2.000000  15.024205  NaN  7.084142
2000-01-07  16.250  NaN  28.221029  ...  2.208333  15.003815  NaN  7.065648

                  DVN  DXCM  FANG  DLR  DFS  DISCA
Date
2000-01-03  13.206322   NaN   NaN  NaN  NaN    NaN
2000-01-04  12.925879   NaN   NaN  NaN  NaN    NaN
2000-01-05  13.155335   NaN   NaN  NaN  NaN    NaN
2000-01-06  13.818199   NaN   NaN  NaN  NaN    NaN
2000-01-07  13.894685   NaN   NaN  NaN  NaN    NaN

[5 rows x 148 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         DE  DAL      XRAY        DVN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  13.984537  NaN  6.954667  13.206322
2000-01-04  14.625  NaN  27.172190  ...  13.964153  NaN  6.954667  12.925879
2000-01-05  15.000  NaN  27.464891  ...  14.290329  NaN  7.074894  13.155335
2000-01-06  16.000  NaN  27.684412  ...  15.024205  NaN  7.084142  13.818199
2000-01-07  16.250  NaN  28.221029  ...  15.003815  NaN  7.065648  13.894685

            DXCM  FANG  DLR  DFS  DISCA  DISCK
Date
2000-01-03   NaN   NaN  NaN  NaN    NaN    NaN
2000-01-04   NaN   NaN  NaN  NaN    NaN    NaN
2000-01-05   NaN   NaN  NaN  NaN    NaN    NaN
2000-01-06   NaN   NaN  NaN  NaN    NaN    NaN
2000-01-07   NaN   NaN  NaN  NaN    NaN    NaN

[5 rows x 149 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  DAL      XRAY        DVN  DXCM  FANG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  6.954667  13.206322   NaN   NaN
2000-01-04  14.625  NaN  27.172190  ...  NaN  6.954667  12.925879   NaN   NaN
2000-01-05  15.000  NaN  27.464891  ...  NaN  7.074894  13.155335   NaN   NaN
2000-01-06  16.000  NaN  27.684412  ...  NaN  7.084142  13.818199   NaN   NaN
2000-01-07  16.250  NaN  28.221029  ...  NaN  7.065648  13.894685   NaN   NaN

            DLR  DFS  DISCA  DISCK       DISH
Date
2000-01-03  NaN  NaN    NaN    NaN  33.913342
2000-01-04  NaN  NaN    NaN    NaN  32.666359
2000-01-05  NaN  NaN    NaN    NaN  32.555019
2000-01-06  NaN  NaN    NaN    NaN  29.281706
2000-01-07  NaN  NaN    NaN    NaN  30.417347

[5 rows x 150 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      XRAY        DVN  DXCM  FANG  DLR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  6.954667  13.206322   NaN   NaN  NaN
2000-01-04  14.625  NaN  27.172190  ...  6.954667  12.925879   NaN   NaN  NaN
2000-01-05  15.000  NaN  27.464891  ...  7.074894  13.155335   NaN   NaN  NaN
2000-01-06  16.000  NaN  27.684412  ...  7.084142  13.818199   NaN   NaN  NaN
2000-01-07  16.250  NaN  28.221029  ...  7.065648  13.894685   NaN   NaN  NaN

            DFS  DISCA  DISCK       DISH  DG
Date
2000-01-03  NaN    NaN    NaN  33.913342 NaN
2000-01-04  NaN    NaN    NaN  32.666359 NaN
2000-01-05  NaN    NaN    NaN  32.555019 NaN
2000-01-06  NaN    NaN    NaN  29.281706 NaN
2000-01-07  NaN    NaN    NaN  30.417347 NaN

[5 rows x 151 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        DVN  DXCM  FANG  DLR  DFS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  13.206322   NaN   NaN  NaN  NaN
2000-01-04  14.625  NaN  27.172190  ...  12.925879   NaN   NaN  NaN  NaN
2000-01-05  15.000  NaN  27.464891  ...  13.155335   NaN   NaN  NaN  NaN
2000-01-06  16.000  NaN  27.684412  ...  13.818199   NaN   NaN  NaN  NaN
2000-01-07  16.250  NaN  28.221029  ...  13.894685   NaN   NaN  NaN  NaN

            DISCA  DISCK       DISH  DG       DLTR
Date
2000-01-03    NaN    NaN  33.913342 NaN  10.861111
2000-01-04    NaN    NaN  32.666359 NaN  10.847222
2000-01-05    NaN    NaN  32.555019 NaN  10.861111
2000-01-06    NaN    NaN  29.281706 NaN  11.055555
2000-01-07    NaN    NaN  30.417347 NaN  11.458333

[5 rows x 152 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  DXCM  FANG  DLR  DFS  DISCA  DISCK  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN   NaN  NaN  NaN    NaN    NaN
2000-01-04  14.625  NaN  27.172190  ...   NaN   NaN  NaN  NaN    NaN    NaN
2000-01-05  15.000  NaN  27.464891  ...   NaN   NaN  NaN  NaN    NaN    NaN
2000-01-06  16.000  NaN  27.684412  ...   NaN   NaN  NaN  NaN    NaN    NaN
2000-01-07  16.250  NaN  28.221029  ...   NaN   NaN  NaN  NaN    NaN    NaN

                 DISH  DG       DLTR         D
Date
2000-01-03  33.913342 NaN  10.861111  5.982473
2000-01-04  32.666359 NaN  10.847222  6.129583
2000-01-05  32.555019 NaN  10.861111  6.296309
2000-01-06  29.281706 NaN  11.055555  6.364962
2000-01-07  30.417347 NaN  11.458333  6.364962

[5 rows x 153 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  FANG  DLR  DFS  DISCA  DISCK  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  NaN  NaN    NaN    NaN
2000-01-04  14.625  NaN  27.172190  ...   NaN  NaN  NaN    NaN    NaN
2000-01-05  15.000  NaN  27.464891  ...   NaN  NaN  NaN    NaN    NaN
2000-01-06  16.000  NaN  27.684412  ...   NaN  NaN  NaN    NaN    NaN
2000-01-07  16.250  NaN  28.221029  ...   NaN  NaN  NaN    NaN    NaN

                 DISH  DG       DLTR         D  DPZ
Date
2000-01-03  33.913342 NaN  10.861111  5.982473  NaN
2000-01-04  32.666359 NaN  10.847222  6.129583  NaN
2000-01-05  32.555019 NaN  10.861111  6.296309  NaN
2000-01-06  29.281706 NaN  11.055555  6.364962  NaN
2000-01-07  30.417347 NaN  11.458333  6.364962  NaN

[5 rows x 154 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  DLR  DFS  DISCA  DISCK       DISH  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  NaN    NaN    NaN  33.913342
2000-01-04  14.625  NaN  27.172190  ...  NaN  NaN    NaN    NaN  32.666359
2000-01-05  15.000  NaN  27.464891  ...  NaN  NaN    NaN    NaN  32.555019
2000-01-06  16.000  NaN  27.684412  ...  NaN  NaN    NaN    NaN  29.281706
2000-01-07  16.250  NaN  28.221029  ...  NaN  NaN    NaN    NaN  30.417347

            DG       DLTR         D  DPZ        DOV
Date
2000-01-03 NaN  10.861111  5.982473  NaN  17.053835
2000-01-04 NaN  10.847222  6.129583  NaN  16.738024
2000-01-05 NaN  10.861111  6.296309  NaN  16.810896
2000-01-06 NaN  11.055555  6.364962  NaN  16.883785
2000-01-07 NaN  11.458333  6.364962  NaN  17.345350

[5 rows x 155 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  DFS  DISCA  DISCK       DISH  DG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN    NaN    NaN  33.913342 NaN
2000-01-04  14.625  NaN  27.172190  ...  NaN    NaN    NaN  32.666359 NaN
2000-01-05  15.000  NaN  27.464891  ...  NaN    NaN    NaN  32.555019 NaN
2000-01-06  16.000  NaN  27.684412  ...  NaN    NaN    NaN  29.281706 NaN
2000-01-07  16.250  NaN  28.221029  ...  NaN    NaN    NaN  30.417347 NaN

                 DLTR         D  DPZ        DOV  DOW
Date
2000-01-03  10.861111  5.982473  NaN  17.053835  NaN
2000-01-04  10.847222  6.129583  NaN  16.738024  NaN
2000-01-05  10.861111  6.296309  NaN  16.810896  NaN
2000-01-06  11.055555  6.364962  NaN  16.883785  NaN
2000-01-07  11.458333  6.364962  NaN  17.345350  NaN

[5 rows x 156 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  DISCA  DISCK       DISH  DG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...    NaN    NaN  33.913342 NaN
2000-01-04  14.625  NaN  27.172190  ...    NaN    NaN  32.666359 NaN
2000-01-05  15.000  NaN  27.464891  ...    NaN    NaN  32.555019 NaN
2000-01-06  16.000  NaN  27.684412  ...    NaN    NaN  29.281706 NaN
2000-01-07  16.250  NaN  28.221029  ...    NaN    NaN  30.417347 NaN

                 DLTR         D  DPZ        DOV  DOW        DTE
Date
2000-01-03  10.861111  5.982473  NaN  17.053835  NaN  12.050096
2000-01-04  10.847222  6.129583  NaN  16.738024  NaN  12.075153
2000-01-05  10.861111  6.296309  NaN  16.810896  NaN  12.450941
2000-01-06  11.055555  6.364962  NaN  16.883785  NaN  12.400831
2000-01-07  11.458333  6.364962  NaN  17.345350  NaN  12.526093

[5 rows x 157 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  DISCK       DISH  DG       DLTR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...    NaN  33.913342 NaN  10.861111
2000-01-04  14.625  NaN  27.172190  ...    NaN  32.666359 NaN  10.847222
2000-01-05  15.000  NaN  27.464891  ...    NaN  32.555019 NaN  10.861111
2000-01-06  16.000  NaN  27.684412  ...    NaN  29.281706 NaN  11.055555
2000-01-07  16.250  NaN  28.221029  ...    NaN  30.417347 NaN  11.458333

                   D  DPZ        DOV  DOW        DTE        DUK
Date
2000-01-03  5.982473  NaN  17.053835  NaN  12.050096  21.758743
2000-01-04  6.129583  NaN  16.738024  NaN  12.075153  22.096954
2000-01-05  6.296309  NaN  16.810896  NaN  12.450941  22.998890
2000-01-06  6.364962  NaN  16.883785  NaN  12.400831  23.618952
2000-01-07  6.364962  NaN  17.345350  NaN  12.526093  24.239027

[5 rows x 158 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       DISH  DG       DLTR         D  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  33.913342 NaN  10.861111  5.982473
2000-01-04  14.625  NaN  27.172190  ...  32.666359 NaN  10.847222  6.129583
2000-01-05  15.000  NaN  27.464891  ...  32.555019 NaN  10.861111  6.296309
2000-01-06  16.000  NaN  27.684412  ...  29.281706 NaN  11.055555  6.364962
2000-01-07  16.250  NaN  28.221029  ...  30.417347 NaN  11.458333  6.364962

            DPZ        DOV  DOW        DTE        DUK       DRE
Date
2000-01-03  NaN  17.053835  NaN  12.050096  21.758743  6.057658
2000-01-04  NaN  16.738024  NaN  12.075153  22.096954  6.017806
2000-01-05  NaN  16.810896  NaN  12.450941  22.998890  6.037733
2000-01-06  NaN  16.883785  NaN  12.400831  23.618952  6.177219
2000-01-07  NaN  17.345350  NaN  12.526093  24.239027  6.296778

[5 rows x 159 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  DG       DLTR         D  DPZ  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ... NaN  10.861111  5.982473  NaN
2000-01-04  14.625  NaN  27.172190  ... NaN  10.847222  6.129583  NaN
2000-01-05  15.000  NaN  27.464891  ... NaN  10.861111  6.296309  NaN
2000-01-06  16.000  NaN  27.684412  ... NaN  11.055555  6.364962  NaN
2000-01-07  16.250  NaN  28.221029  ... NaN  11.458333  6.364962  NaN

                  DOV  DOW        DTE        DUK       DRE         DD
Date
2000-01-03  17.053835  NaN  12.050096  21.758743  6.057658  37.837978
2000-01-04  16.738024  NaN  12.075153  22.096954  6.017806  36.803764
2000-01-05  16.810896  NaN  12.450941  22.998890  6.037733  37.998447
2000-01-06  16.883785  NaN  12.400831  23.618952  6.177219  39.068329
2000-01-07  17.345350  NaN  12.526093  24.239027  6.296778  39.942051

[5 rows x 160 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       DLTR         D  DPZ        DOV  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.861111  5.982473  NaN  17.053835
2000-01-04  14.625  NaN  27.172190  ...  10.847222  6.129583  NaN  16.738024
2000-01-05  15.000  NaN  27.464891  ...  10.861111  6.296309  NaN  16.810896
2000-01-06  16.000  NaN  27.684412  ...  11.055555  6.364962  NaN  16.883785
2000-01-07  16.250  NaN  28.221029  ...  11.458333  6.364962  NaN  17.345350

            DOW        DTE        DUK       DRE         DD        DXC
Date
2000-01-03  NaN  12.050096  21.758743  6.057658  37.837978  25.624720
2000-01-04  NaN  12.075153  22.096954  6.017806  36.803764  25.452974
2000-01-05  NaN  12.450941  22.998890  6.037733  37.998447  23.666796
2000-01-06  NaN  12.400831  23.618952  6.177219  39.068329  24.010292
2000-01-07  NaN  12.526093  24.239027  6.296778  39.942051  23.958775

[5 rows x 161 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         D  DPZ        DOV  DOW  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  5.982473  NaN  17.053835  NaN
2000-01-04  14.625  NaN  27.172190  ...  6.129583  NaN  16.738024  NaN
2000-01-05  15.000  NaN  27.464891  ...  6.296309  NaN  16.810896  NaN
2000-01-06  16.000  NaN  27.684412  ...  6.364962  NaN  16.883785  NaN
2000-01-07  16.250  NaN  28.221029  ...  6.364962  NaN  17.345350  NaN

                  DTE        DUK       DRE         DD        DXC        ETFC
Date
2000-01-03  12.050096  21.758743  6.057658  37.837978  25.624720  248.264008
2000-01-04  12.075153  22.096954  6.017806  36.803764  25.452974  241.628830
2000-01-05  12.450941  22.998890  6.037733  37.998447  23.666796  231.123230
2000-01-06  12.400831  23.618952  6.177219  39.068329  24.010292  233.334900
2000-01-07  12.526093  24.239027  6.296778  39.942051  23.958775  236.099548

[5 rows x 162 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  DPZ        DOV  DOW        DTE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  17.053835  NaN  12.050096
2000-01-04  14.625  NaN  27.172190  ...  NaN  16.738024  NaN  12.075153
2000-01-05  15.000  NaN  27.464891  ...  NaN  16.810896  NaN  12.450941
2000-01-06  16.000  NaN  27.684412  ...  NaN  16.883785  NaN  12.400831
2000-01-07  16.250  NaN  28.221029  ...  NaN  17.345350  NaN  12.526093

                  DUK       DRE         DD        DXC        ETFC       EMN
Date
2000-01-03  21.758743  6.057658  37.837978  25.624720  248.264008  7.776294
2000-01-04  22.096954  6.017806  36.803764  25.452974  241.628830  7.587906
2000-01-05  22.998890  6.037733  37.998447  23.666796  231.123230  7.964685
2000-01-06  23.618952  6.177219  39.068329  24.010292  233.334900  8.467057
2000-01-07  24.239027  6.296778  39.942051  23.958775  236.099548  8.446130

[5 rows x 163 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        DOV  DOW        DTE        DUK  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  17.053835  NaN  12.050096  21.758743
2000-01-04  14.625  NaN  27.172190  ...  16.738024  NaN  12.075153  22.096954
2000-01-05  15.000  NaN  27.464891  ...  16.810896  NaN  12.450941  22.998890
2000-01-06  16.000  NaN  27.684412  ...  16.883785  NaN  12.400831  23.618952
2000-01-07  16.250  NaN  28.221029  ...  17.345350  NaN  12.526093  24.239027

                 DRE         DD        DXC        ETFC       EMN       ETN
Date
2000-01-03  6.057658  37.837978  25.624720  248.264008  7.776294  2.688206
2000-01-04  6.017806  36.803764  25.452974  241.628830  7.587906  2.596401
2000-01-05  6.037733  37.998447  23.666796  231.123230  7.964685  2.617585
2000-01-06  6.177219  39.068329  24.010292  233.334900  8.467057  2.671727
2000-01-07  6.296778  39.942051  23.958775  236.099548  8.446130  2.754115

[5 rows x 164 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  DOW        DTE        DUK       DRE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  12.050096  21.758743  6.057658
2000-01-04  14.625  NaN  27.172190  ...  NaN  12.075153  22.096954  6.017806
2000-01-05  15.000  NaN  27.464891  ...  NaN  12.450941  22.998890  6.037733
2000-01-06  16.000  NaN  27.684412  ...  NaN  12.400831  23.618952  6.177219
2000-01-07  16.250  NaN  28.221029  ...  NaN  12.526093  24.239027  6.296778

                   DD        DXC        ETFC       EMN       ETN      EBAY
Date
2000-01-03  37.837978  25.624720  248.264008  7.776294  2.688206  7.287086
2000-01-04  36.803764  25.452974  241.628830  7.587906  2.596401  6.603519
2000-01-05  37.998447  23.666796  231.123230  7.964685  2.617585  7.045258
2000-01-06  39.068329  24.010292  233.334900  8.467057  2.671727  6.958200
2000-01-07  39.942051  23.958775  236.099548  8.446130  2.754115  6.951751

[5 rows x 165 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        DTE        DUK       DRE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  12.050096  21.758743  6.057658
2000-01-04  14.625  NaN  27.172190  ...  12.075153  22.096954  6.017806
2000-01-05  15.000  NaN  27.464891  ...  12.450941  22.998890  6.037733
2000-01-06  16.000  NaN  27.684412  ...  12.400831  23.618952  6.177219
2000-01-07  16.250  NaN  28.221029  ...  12.526093  24.239027  6.296778

                   DD        DXC        ETFC       EMN       ETN      EBAY  \
Date
2000-01-03  37.837978  25.624720  248.264008  7.776294  2.688206  7.287086
2000-01-04  36.803764  25.452974  241.628830  7.587906  2.596401  6.603519
2000-01-05  37.998447  23.666796  231.123230  7.964685  2.617585  7.045258
2000-01-06  39.068329  24.010292  233.334900  8.467057  2.671727  6.958200
2000-01-07  39.942051  23.958775  236.099548  8.446130  2.754115  6.951751

                  ECL
Date
2000-01-03  14.673091
2000-01-04  14.283750
2000-01-05  14.843422
2000-01-06  15.500422
2000-01-07  15.500422

[5 rows x 166 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        DUK       DRE         DD  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  21.758743  6.057658  37.837978
2000-01-04  14.625  NaN  27.172190  ...  22.096954  6.017806  36.803764
2000-01-05  15.000  NaN  27.464891  ...  22.998890  6.037733  37.998447
2000-01-06  16.000  NaN  27.684412  ...  23.618952  6.177219  39.068329
2000-01-07  16.250  NaN  28.221029  ...  24.239027  6.296778  39.942051

                  DXC        ETFC       EMN       ETN      EBAY        ECL  \
Date
2000-01-03  25.624720  248.264008  7.776294  2.688206  7.287086  14.673091
2000-01-04  25.452974  241.628830  7.587906  2.596401  6.603519  14.283750
2000-01-05  23.666796  231.123230  7.964685  2.617585  7.045258  14.843422
2000-01-06  24.010292  233.334900  8.467057  2.671727  6.958200  15.500422
2000-01-07  23.958775  236.099548  8.446130  2.754115  6.951751  15.500422

                  EIX
Date
2000-01-03  14.330171
2000-01-04  14.473108
2000-01-05  15.402249
2000-01-06  15.366509
2000-01-07  16.009760

[5 rows x 167 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       DRE         DD        DXC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  6.057658  37.837978  25.624720
2000-01-04  14.625  NaN  27.172190  ...  6.017806  36.803764  25.452974
2000-01-05  15.000  NaN  27.464891  ...  6.037733  37.998447  23.666796
2000-01-06  16.000  NaN  27.684412  ...  6.177219  39.068329  24.010292
2000-01-07  16.250  NaN  28.221029  ...  6.296778  39.942051  23.958775

                  ETFC       EMN       ETN      EBAY        ECL        EIX  EW
Date
2000-01-03  248.264008  7.776294  2.688206  7.287086  14.673091  14.330171 NaN
2000-01-04  241.628830  7.587906  2.596401  6.603519  14.283750  14.473108 NaN
2000-01-05  231.123230  7.964685  2.617585  7.045258  14.843422  15.402249 NaN
2000-01-06  233.334900  8.467057  2.671727  6.958200  15.500422  15.366509 NaN
2000-01-07  236.099548  8.446130  2.754115  6.951751  15.500422  16.009760 NaN

[5 rows x 168 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         DD        DXC        ETFC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  37.837978  25.624720  248.264008
2000-01-04  14.625  NaN  27.172190  ...  36.803764  25.452974  241.628830
2000-01-05  15.000  NaN  27.464891  ...  37.998447  23.666796  231.123230
2000-01-06  16.000  NaN  27.684412  ...  39.068329  24.010292  233.334900
2000-01-07  16.250  NaN  28.221029  ...  39.942051  23.958775  236.099548

                 EMN       ETN      EBAY        ECL        EIX  EW         EA
Date
2000-01-03  7.776294  2.688206  7.287086  14.673091  14.330171 NaN  25.265625
2000-01-04  7.587906  2.596401  6.603519  14.283750  14.473108 NaN  22.343750
2000-01-05  7.964685  2.617585  7.045258  14.843422  15.402249 NaN  22.328125
2000-01-06  8.467057  2.671727  6.958200  15.500422  15.366509 NaN  20.000000
2000-01-07  8.446130  2.754115  6.951751  15.500422  16.009760 NaN  20.593750

[5 rows x 169 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        DXC        ETFC       EMN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  25.624720  248.264008  7.776294
2000-01-04  14.625  NaN  27.172190  ...  25.452974  241.628830  7.587906
2000-01-05  15.000  NaN  27.464891  ...  23.666796  231.123230  7.964685
2000-01-06  16.000  NaN  27.684412  ...  24.010292  233.334900  8.467057
2000-01-07  16.250  NaN  28.221029  ...  23.958775  236.099548  8.446130

                 ETN      EBAY        ECL        EIX  EW         EA        EMR
Date
2000-01-03  2.688206  7.287086  14.673091  14.330171 NaN  25.265625  13.161297
2000-01-04  2.596401  6.603519  14.283750  14.473108 NaN  22.343750  13.004105
2000-01-05  2.617585  7.045258  14.843422  15.402249 NaN  22.328125  13.247034
2000-01-06  2.671727  6.958200  15.500422  15.366509 NaN  20.000000  13.618576
2000-01-07  2.754115  6.951751  15.500422  16.009760 NaN  20.593750  14.233062

[5 rows x 170 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        ETFC       EMN       ETN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  248.264008  7.776294  2.688206
2000-01-04  14.625  NaN  27.172190  ...  241.628830  7.587906  2.596401
2000-01-05  15.000  NaN  27.464891  ...  231.123230  7.964685  2.617585
2000-01-06  16.000  NaN  27.684412  ...  233.334900  8.467057  2.671727
2000-01-07  16.250  NaN  28.221029  ...  236.099548  8.446130  2.754115

                EBAY        ECL        EIX  EW         EA        EMR  \
Date
2000-01-03  7.287086  14.673091  14.330171 NaN  25.265625  13.161297
2000-01-04  6.603519  14.283750  14.473108 NaN  22.343750  13.004105
2000-01-05  7.045258  14.843422  15.402249 NaN  22.328125  13.247034
2000-01-06  6.958200  15.500422  15.366509 NaN  20.000000  13.618576
2000-01-07  6.951751  15.500422  16.009760 NaN  20.593750  14.233062

                  ETR
Date
2000-01-03  11.400367
2000-01-04  11.428587
2000-01-05  11.908303
2000-01-06  11.682555
2000-01-07  11.682555

[5 rows x 171 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       EMN       ETN      EBAY  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  7.776294  2.688206  7.287086
2000-01-04  14.625  NaN  27.172190  ...  7.587906  2.596401  6.603519
2000-01-05  15.000  NaN  27.464891  ...  7.964685  2.617585  7.045258
2000-01-06  16.000  NaN  27.684412  ...  8.467057  2.671727  6.958200
2000-01-07  16.250  NaN  28.221029  ...  8.446130  2.754115  6.951751

                  ECL        EIX  EW         EA        EMR        ETR  EOG
Date
2000-01-03  14.673091  14.330171 NaN  25.265625  13.161297  11.400367  NaN
2000-01-04  14.283750  14.473108 NaN  22.343750  13.004105  11.428587  NaN
2000-01-05  14.843422  15.402249 NaN  22.328125  13.247034  11.908303  NaN
2000-01-06  15.500422  15.366509 NaN  20.000000  13.618576  11.682555  NaN
2000-01-07  15.500422  16.009760 NaN  20.593750  14.233062  11.682555  NaN

[5 rows x 172 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       ETN      EBAY        ECL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  2.688206  7.287086  14.673091
2000-01-04  14.625  NaN  27.172190  ...  2.596401  6.603519  14.283750
2000-01-05  15.000  NaN  27.464891  ...  2.617585  7.045258  14.843422
2000-01-06  16.000  NaN  27.684412  ...  2.671727  6.958200  15.500422
2000-01-07  16.250  NaN  28.221029  ...  2.754115  6.951751  15.500422

                  EIX  EW         EA        EMR        ETR  EOG        EFX
Date
2000-01-03  14.330171 NaN  25.265625  13.161297  11.400367  NaN  10.907270
2000-01-04  14.473108 NaN  22.343750  13.004105  11.428587  NaN  10.541660
2000-01-05  15.402249 NaN  22.328125  13.247034  11.908303  NaN  10.419790
2000-01-06  15.366509 NaN  20.000000  13.618576  11.682555  NaN  10.297920
2000-01-07  16.009760 NaN  20.593750  14.233062  11.682555  NaN  10.785398

[5 rows x 173 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      EBAY        ECL        EIX  EW  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  7.287086  14.673091  14.330171 NaN
2000-01-04  14.625  NaN  27.172190  ...  6.603519  14.283750  14.473108 NaN
2000-01-05  15.000  NaN  27.464891  ...  7.045258  14.843422  15.402249 NaN
2000-01-06  16.000  NaN  27.684412  ...  6.958200  15.500422  15.366509 NaN
2000-01-07  16.250  NaN  28.221029  ...  6.951751  15.500422  16.009760 NaN

                   EA        EMR        ETR  EOG        EFX  EQIX
Date
2000-01-03  25.265625  13.161297  11.400367  NaN  10.907270   NaN
2000-01-04  22.343750  13.004105  11.428587  NaN  10.541660   NaN
2000-01-05  22.328125  13.247034  11.908303  NaN  10.419790   NaN
2000-01-06  20.000000  13.618576  11.682555  NaN  10.297920   NaN
2000-01-07  20.593750  14.233062  11.682555  NaN  10.785398   NaN

[5 rows x 174 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        ECL        EIX  EW         EA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  14.673091  14.330171 NaN  25.265625
2000-01-04  14.625  NaN  27.172190  ...  14.283750  14.473108 NaN  22.343750
2000-01-05  15.000  NaN  27.464891  ...  14.843422  15.402249 NaN  22.328125
2000-01-06  16.000  NaN  27.684412  ...  15.500422  15.366509 NaN  20.000000
2000-01-07  16.250  NaN  28.221029  ...  15.500422  16.009760 NaN  20.593750

                  EMR        ETR  EOG        EFX  EQIX       EQR
Date
2000-01-03  13.161297  11.400367  NaN  10.907270   NaN  7.484406
2000-01-04  13.004105  11.428587  NaN  10.541660   NaN  7.428960
2000-01-05  13.247034  11.908303  NaN  10.419790   NaN  7.584192
2000-01-06  13.618576  11.682555  NaN  10.297920   NaN  7.661807
2000-01-07  14.233062  11.682555  NaN  10.785398   NaN  7.805958

[5 rows x 175 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        EIX  EW         EA        EMR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  14.330171 NaN  25.265625  13.161297
2000-01-04  14.625  NaN  27.172190  ...  14.473108 NaN  22.343750  13.004105
2000-01-05  15.000  NaN  27.464891  ...  15.402249 NaN  22.328125  13.247034
2000-01-06  16.000  NaN  27.684412  ...  15.366509 NaN  20.000000  13.618576
2000-01-07  16.250  NaN  28.221029  ...  16.009760 NaN  20.593750  14.233062

                  ETR  EOG        EFX  EQIX       EQR        ESS
Date
2000-01-03  11.400367  NaN  10.907270   NaN  7.484406  15.226315
2000-01-04  11.428587  NaN  10.541660   NaN  7.428960  15.054901
2000-01-05  11.908303  NaN  10.419790   NaN  7.584192  14.997775
2000-01-06  11.682555  NaN  10.297920   NaN  7.661807  15.140605
2000-01-07  11.682555  NaN  10.785398   NaN  7.805958  15.654817

[5 rows x 176 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  EW         EA        EMR        ETR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ... NaN  25.265625  13.161297  11.400367
2000-01-04  14.625  NaN  27.172190  ... NaN  22.343750  13.004105  11.428587
2000-01-05  15.000  NaN  27.464891  ... NaN  22.328125  13.247034  11.908303
2000-01-06  16.000  NaN  27.684412  ... NaN  20.000000  13.618576  11.682555
2000-01-07  16.250  NaN  28.221029  ... NaN  20.593750  14.233062  11.682555

            EOG        EFX  EQIX       EQR        ESS         EL
Date
2000-01-03  NaN  10.907270   NaN  7.484406  15.226315  17.446737
2000-01-04  NaN  10.541660   NaN  7.428960  15.054901  17.138727
2000-01-05  NaN  10.419790   NaN  7.584192  14.997775  16.561195
2000-01-06  NaN  10.297920   NaN  7.661807  15.140605  17.050722
2000-01-07  NaN  10.785398   NaN  7.805958  15.654817  17.644745

[5 rows x 177 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         EA        EMR        ETR  EOG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  25.265625  13.161297  11.400367  NaN
2000-01-04  14.625  NaN  27.172190  ...  22.343750  13.004105  11.428587  NaN
2000-01-05  15.000  NaN  27.464891  ...  22.328125  13.247034  11.908303  NaN
2000-01-06  16.000  NaN  27.684412  ...  20.000000  13.618576  11.682555  NaN
2000-01-07  16.250  NaN  28.221029  ...  20.593750  14.233062  11.682555  NaN

                  EFX  EQIX       EQR        ESS         EL      EVRG
Date
2000-01-03  10.907270   NaN  7.484406  15.226315  17.446737  6.292474
2000-01-04  10.541660   NaN  7.428960  15.054901  17.138727  6.506991
2000-01-05  10.419790   NaN  7.584192  14.997775  16.561195  6.840682
2000-01-06  10.297920   NaN  7.661807  15.140605  17.050722  6.793015
2000-01-07  10.785398   NaN  7.805958  15.654817  17.644745  6.721507

[5 rows x 178 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        EMR        ETR  EOG        EFX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  13.161297  11.400367  NaN  10.907270
2000-01-04  14.625  NaN  27.172190  ...  13.004105  11.428587  NaN  10.541660
2000-01-05  15.000  NaN  27.464891  ...  13.247034  11.908303  NaN  10.419790
2000-01-06  16.000  NaN  27.684412  ...  13.618576  11.682555  NaN  10.297920
2000-01-07  16.250  NaN  28.221029  ...  14.233062  11.682555  NaN  10.785398

            EQIX       EQR        ESS         EL      EVRG         ES
Date
2000-01-03   NaN  7.484406  15.226315  17.446737  6.292474  10.760827
2000-01-04   NaN  7.428960  15.054901  17.138727  6.506991  10.760827
2000-01-05   NaN  7.584192  14.997775  16.561195  6.840682  10.825849
2000-01-06   NaN  7.661807  15.140605  17.050722  6.793015  10.955889
2000-01-07   NaN  7.805958  15.654817  17.644745  6.721507  11.053419

[5 rows x 179 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        ETR  EOG        EFX  EQIX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  11.400367  NaN  10.907270   NaN
2000-01-04  14.625  NaN  27.172190  ...  11.428587  NaN  10.541660   NaN
2000-01-05  15.000  NaN  27.464891  ...  11.908303  NaN  10.419790   NaN
2000-01-06  16.000  NaN  27.684412  ...  11.682555  NaN  10.297920   NaN
2000-01-07  16.250  NaN  28.221029  ...  11.682555  NaN  10.785398   NaN

                 EQR        ESS         EL      EVRG         ES         RE
Date
2000-01-03  7.484406  15.226315  17.446737  6.292474  10.760827  15.743755
2000-01-04  7.428960  15.054901  17.138727  6.506991  10.760827  15.698774
2000-01-05  7.584192  14.997775  16.561195  6.840682  10.825849  16.733370
2000-01-06  7.661807  15.140605  17.050722  6.793015  10.955889  17.498070
2000-01-07  7.805958  15.654817  17.644745  6.721507  11.053419  18.442692

[5 rows x 180 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  EOG        EFX  EQIX       EQR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  10.907270   NaN  7.484406
2000-01-04  14.625  NaN  27.172190  ...  NaN  10.541660   NaN  7.428960
2000-01-05  15.000  NaN  27.464891  ...  NaN  10.419790   NaN  7.584192
2000-01-06  16.000  NaN  27.684412  ...  NaN  10.297920   NaN  7.661807
2000-01-07  16.250  NaN  28.221029  ...  NaN  10.785398   NaN  7.805958

                  ESS         EL      EVRG         ES         RE       EXC
Date
2000-01-03  15.226315  17.446737  6.292474  10.760827  15.743755  7.875502
2000-01-04  15.054901  17.138727  6.506991  10.760827  15.698774  7.817380
2000-01-05  14.997775  16.561195  6.840682  10.825849  16.733370  8.195171
2000-01-06  15.140605  17.050722  6.793015  10.955889  17.498070  8.209702
2000-01-07  15.654817  17.644745  6.721507  11.053419  18.442692  8.209702

[5 rows x 181 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        EFX  EQIX       EQR        ESS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.907270   NaN  7.484406  15.226315
2000-01-04  14.625  NaN  27.172190  ...  10.541660   NaN  7.428960  15.054901
2000-01-05  15.000  NaN  27.464891  ...  10.419790   NaN  7.584192  14.997775
2000-01-06  16.000  NaN  27.684412  ...  10.297920   NaN  7.661807  15.140605
2000-01-07  16.250  NaN  28.221029  ...  10.785398   NaN  7.805958  15.654817

                   EL      EVRG         ES         RE       EXC  EXPE
Date
2000-01-03  17.446737  6.292474  10.760827  15.743755  7.875502   NaN
2000-01-04  17.138727  6.506991  10.760827  15.698774  7.817380   NaN
2000-01-05  16.561195  6.840682  10.825849  16.733370  8.195171   NaN
2000-01-06  17.050722  6.793015  10.955889  17.498070  8.209702   NaN
2000-01-07  17.644745  6.721507  11.053419  18.442692  8.209702   NaN

[5 rows x 182 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  EQIX       EQR        ESS         EL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  7.484406  15.226315  17.446737
2000-01-04  14.625  NaN  27.172190  ...   NaN  7.428960  15.054901  17.138727
2000-01-05  15.000  NaN  27.464891  ...   NaN  7.584192  14.997775  16.561195
2000-01-06  16.000  NaN  27.684412  ...   NaN  7.661807  15.140605  17.050722
2000-01-07  16.250  NaN  28.221029  ...   NaN  7.805958  15.654817  17.644745

                EVRG         ES         RE       EXC  EXPE      EXPD
Date
2000-01-03  6.292474  10.760827  15.743755  7.875502   NaN  8.927643
2000-01-04  6.506991  10.760827  15.698774  7.817380   NaN  8.779065
2000-01-05  6.840682  10.825849  16.733370  8.195171   NaN  8.804903
2000-01-06  6.793015  10.955889  17.498070  8.209702   NaN  8.850121
2000-01-07  6.721507  11.053419  18.442692  8.209702   NaN  8.779065

[5 rows x 183 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       EQR        ESS         EL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  7.484406  15.226315  17.446737
2000-01-04  14.625  NaN  27.172190  ...  7.428960  15.054901  17.138727
2000-01-05  15.000  NaN  27.464891  ...  7.584192  14.997775  16.561195
2000-01-06  16.000  NaN  27.684412  ...  7.661807  15.140605  17.050722
2000-01-07  16.250  NaN  28.221029  ...  7.805958  15.654817  17.644745

                EVRG         ES         RE       EXC  EXPE      EXPD  EXR
Date
2000-01-03  6.292474  10.760827  15.743755  7.875502   NaN  8.927643  NaN
2000-01-04  6.506991  10.760827  15.698774  7.817380   NaN  8.779065  NaN
2000-01-05  6.840682  10.825849  16.733370  8.195171   NaN  8.804903  NaN
2000-01-06  6.793015  10.955889  17.498070  8.209702   NaN  8.850121  NaN
2000-01-07  6.721507  11.053419  18.442692  8.209702   NaN  8.779065  NaN

[5 rows x 184 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        ESS         EL      EVRG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  15.226315  17.446737  6.292474
2000-01-04  14.625  NaN  27.172190  ...  15.054901  17.138727  6.506991
2000-01-05  15.000  NaN  27.464891  ...  14.997775  16.561195  6.840682
2000-01-06  16.000  NaN  27.684412  ...  15.140605  17.050722  6.793015
2000-01-07  16.250  NaN  28.221029  ...  15.654817  17.644745  6.721507

                   ES         RE       EXC  EXPE      EXPD  EXR        XOM
Date
2000-01-03  10.760827  15.743755  7.875502   NaN  8.927643  NaN  21.139345
2000-01-04  10.760827  15.698774  7.817380   NaN  8.779065  NaN  20.734442
2000-01-05  10.825849  16.733370  8.195171   NaN  8.804903  NaN  21.864794
2000-01-06  10.955889  17.498070  8.209702   NaN  8.850121  NaN  22.995153
2000-01-07  11.053419  18.442692  8.209702   NaN  8.779065  NaN  22.927673

[5 rows x 185 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         EL      EVRG         ES  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  17.446737  6.292474  10.760827
2000-01-04  14.625  NaN  27.172190  ...  17.138727  6.506991  10.760827
2000-01-05  15.000  NaN  27.464891  ...  16.561195  6.840682  10.825849
2000-01-06  16.000  NaN  27.684412  ...  17.050722  6.793015  10.955889
2000-01-07  16.250  NaN  28.221029  ...  17.644745  6.721507  11.053419

                   RE       EXC  EXPE      EXPD  EXR        XOM      FFIV
Date
2000-01-03  15.743755  7.875502   NaN  8.927643  NaN  21.139345  59.75000
2000-01-04  15.698774  7.817380   NaN  8.779065  NaN  20.734442  58.96875
2000-01-05  16.733370  8.195171   NaN  8.804903  NaN  21.864794  55.40625
2000-01-06  17.498070  8.209702   NaN  8.850121  NaN  22.995153  51.06250
2000-01-07  18.442692  8.209702   NaN  8.779065  NaN  22.927673  49.31250

[5 rows x 186 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      EVRG         ES         RE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  6.292474  10.760827  15.743755
2000-01-04  14.625  NaN  27.172190  ...  6.506991  10.760827  15.698774
2000-01-05  15.000  NaN  27.464891  ...  6.840682  10.825849  16.733370
2000-01-06  16.000  NaN  27.684412  ...  6.793015  10.955889  17.498070
2000-01-07  16.250  NaN  28.221029  ...  6.721507  11.053419  18.442692

                 EXC  EXPE      EXPD  EXR        XOM      FFIV  FB
Date
2000-01-03  7.875502   NaN  8.927643  NaN  21.139345  59.75000 NaN
2000-01-04  7.817380   NaN  8.779065  NaN  20.734442  58.96875 NaN
2000-01-05  8.195171   NaN  8.804903  NaN  21.864794  55.40625 NaN
2000-01-06  8.209702   NaN  8.850121  NaN  22.995153  51.06250 NaN
2000-01-07  8.209702   NaN  8.779065  NaN  22.927673  49.31250 NaN

[5 rows x 187 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         ES         RE       EXC  EXPE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.760827  15.743755  7.875502   NaN
2000-01-04  14.625  NaN  27.172190  ...  10.760827  15.698774  7.817380   NaN
2000-01-05  15.000  NaN  27.464891  ...  10.825849  16.733370  8.195171   NaN
2000-01-06  16.000  NaN  27.684412  ...  10.955889  17.498070  8.209702   NaN
2000-01-07  16.250  NaN  28.221029  ...  11.053419  18.442692  8.209702   NaN

                EXPD  EXR        XOM      FFIV  FB      FAST
Date
2000-01-03  8.927643  NaN  21.139345  59.75000 NaN  1.851905
2000-01-04  8.779065  NaN  20.734442  58.96875 NaN  1.745536
2000-01-05  8.804903  NaN  21.864794  55.40625 NaN  1.819176
2000-01-06  8.850121  NaN  22.995153  51.06250 NaN  1.819176
2000-01-07  8.779065  NaN  22.927673  49.31250 NaN  1.816448

[5 rows x 188 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         RE       EXC  EXPE      EXPD  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  15.743755  7.875502   NaN  8.927643
2000-01-04  14.625  NaN  27.172190  ...  15.698774  7.817380   NaN  8.779065
2000-01-05  15.000  NaN  27.464891  ...  16.733370  8.195171   NaN  8.804903
2000-01-06  16.000  NaN  27.684412  ...  17.498070  8.209702   NaN  8.850121
2000-01-07  16.250  NaN  28.221029  ...  18.442692  8.209702   NaN  8.779065

            EXR        XOM      FFIV  FB      FAST       FRT
Date
2000-01-03  NaN  21.139345  59.75000 NaN  1.851905  7.809035
2000-01-04  NaN  20.734442  58.96875 NaN  1.745536  7.783094
2000-01-05  NaN  21.864794  55.40625 NaN  1.819176  7.757147
2000-01-06  NaN  22.995153  51.06250 NaN  1.819176  7.990644
2000-01-07  NaN  22.927673  49.31250 NaN  1.816448  8.405745

[5 rows x 189 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       EXC  EXPE      EXPD  EXR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  7.875502   NaN  8.927643  NaN
2000-01-04  14.625  NaN  27.172190  ...  7.817380   NaN  8.779065  NaN
2000-01-05  15.000  NaN  27.464891  ...  8.195171   NaN  8.804903  NaN
2000-01-06  16.000  NaN  27.684412  ...  8.209702   NaN  8.850121  NaN
2000-01-07  16.250  NaN  28.221029  ...  8.209702   NaN  8.779065  NaN

                  XOM      FFIV  FB      FAST       FRT        FDX
Date
2000-01-03  21.139345  59.75000 NaN  1.851905  7.809035  38.223751
2000-01-04  20.734442  58.96875 NaN  1.745536  7.783094  36.944042
2000-01-05  21.864794  55.40625 NaN  1.819176  7.757147  37.778625
2000-01-06  22.995153  51.06250 NaN  1.819176  7.990644  42.062809
2000-01-07  22.927673  49.31250 NaN  1.816448  8.405745  42.285366

[5 rows x 190 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  EXPE      EXPD  EXR        XOM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  8.927643  NaN  21.139345
2000-01-04  14.625  NaN  27.172190  ...   NaN  8.779065  NaN  20.734442
2000-01-05  15.000  NaN  27.464891  ...   NaN  8.804903  NaN  21.864794
2000-01-06  16.000  NaN  27.684412  ...   NaN  8.850121  NaN  22.995153
2000-01-07  16.250  NaN  28.221029  ...   NaN  8.779065  NaN  22.927673

                FFIV  FB      FAST       FRT        FDX  FIS
Date
2000-01-03  59.75000 NaN  1.851905  7.809035  38.223751  NaN
2000-01-04  58.96875 NaN  1.745536  7.783094  36.944042  NaN
2000-01-05  55.40625 NaN  1.819176  7.757147  37.778625  NaN
2000-01-06  51.06250 NaN  1.819176  7.990644  42.062809  NaN
2000-01-07  49.31250 NaN  1.816448  8.405745  42.285366  NaN

[5 rows x 191 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      EXPD  EXR        XOM      FFIV  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  8.927643  NaN  21.139345  59.75000
2000-01-04  14.625  NaN  27.172190  ...  8.779065  NaN  20.734442  58.96875
2000-01-05  15.000  NaN  27.464891  ...  8.804903  NaN  21.864794  55.40625
2000-01-06  16.000  NaN  27.684412  ...  8.850121  NaN  22.995153  51.06250
2000-01-07  16.250  NaN  28.221029  ...  8.779065  NaN  22.927673  49.31250

            FB      FAST       FRT        FDX  FIS       FITB
Date
2000-01-03 NaN  1.851905  7.809035  38.223751  NaN  27.507853
2000-01-04 NaN  1.745536  7.783094  36.944042  NaN  26.351439
2000-01-05 NaN  1.819176  7.757147  37.778625  NaN  25.957760
2000-01-06 NaN  1.819176  7.990644  42.062809  NaN  26.868122
2000-01-07 NaN  1.816448  8.405745  42.285366  NaN  26.695894

[5 rows x 192 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  EXR        XOM      FFIV  FB  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  21.139345  59.75000 NaN
2000-01-04  14.625  NaN  27.172190  ...  NaN  20.734442  58.96875 NaN
2000-01-05  15.000  NaN  27.464891  ...  NaN  21.864794  55.40625 NaN
2000-01-06  16.000  NaN  27.684412  ...  NaN  22.995153  51.06250 NaN
2000-01-07  16.250  NaN  28.221029  ...  NaN  22.927673  49.31250 NaN

                FAST       FRT        FDX  FIS       FITB        FE
Date
2000-01-03  1.851905  7.809035  38.223751  NaN  27.507853  8.814839
2000-01-04  1.745536  7.783094  36.944042  NaN  26.351439  8.814839
2000-01-05  1.819176  7.757147  37.778625  NaN  25.957760  9.139463
2000-01-06  1.819176  7.990644  42.062809  NaN  26.868122  9.164433
2000-01-07  1.816448  8.405745  42.285366  NaN  26.695894  9.214382

[5 rows x 193 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        XOM      FFIV  FB      FAST  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  21.139345  59.75000 NaN  1.851905
2000-01-04  14.625  NaN  27.172190  ...  20.734442  58.96875 NaN  1.745536
2000-01-05  15.000  NaN  27.464891  ...  21.864794  55.40625 NaN  1.819176
2000-01-06  16.000  NaN  27.684412  ...  22.995153  51.06250 NaN  1.819176
2000-01-07  16.250  NaN  28.221029  ...  22.927673  49.31250 NaN  1.816448

                 FRT        FDX  FIS       FITB        FE  FRC
Date
2000-01-03  7.809035  38.223751  NaN  27.507853  8.814839  NaN
2000-01-04  7.783094  36.944042  NaN  26.351439  8.814839  NaN
2000-01-05  7.757147  37.778625  NaN  25.957760  9.139463  NaN
2000-01-06  7.990644  42.062809  NaN  26.868122  9.164433  NaN
2000-01-07  8.405745  42.285366  NaN  26.695894  9.214382  NaN

[5 rows x 194 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      FFIV  FB      FAST       FRT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  59.75000 NaN  1.851905  7.809035
2000-01-04  14.625  NaN  27.172190  ...  58.96875 NaN  1.745536  7.783094
2000-01-05  15.000  NaN  27.464891  ...  55.40625 NaN  1.819176  7.757147
2000-01-06  16.000  NaN  27.684412  ...  51.06250 NaN  1.819176  7.990644
2000-01-07  16.250  NaN  28.221029  ...  49.31250 NaN  1.816448  8.405745

                  FDX  FIS       FITB        FE  FRC      FISV
Date
2000-01-03  38.223751  NaN  27.507853  8.814839  NaN  6.354167
2000-01-04  36.944042  NaN  26.351439  8.814839  NaN  5.916667
2000-01-05  37.778625  NaN  25.957760  9.139463  NaN  6.328125
2000-01-06  42.062809  NaN  26.868122  9.164433  NaN  6.130208
2000-01-07  42.285366  NaN  26.695894  9.214382  NaN  6.359375

[5 rows x 195 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  FB      FAST       FRT        FDX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ... NaN  1.851905  7.809035  38.223751
2000-01-04  14.625  NaN  27.172190  ... NaN  1.745536  7.783094  36.944042
2000-01-05  15.000  NaN  27.464891  ... NaN  1.819176  7.757147  37.778625
2000-01-06  16.000  NaN  27.684412  ... NaN  1.819176  7.990644  42.062809
2000-01-07  16.250  NaN  28.221029  ... NaN  1.816448  8.405745  42.285366

            FIS       FITB        FE  FRC      FISV  FLT
Date
2000-01-03  NaN  27.507853  8.814839  NaN  6.354167  NaN
2000-01-04  NaN  26.351439  8.814839  NaN  5.916667  NaN
2000-01-05  NaN  25.957760  9.139463  NaN  6.328125  NaN
2000-01-06  NaN  26.868122  9.164433  NaN  6.130208  NaN
2000-01-07  NaN  26.695894  9.214382  NaN  6.359375  NaN

[5 rows x 196 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      FAST       FRT        FDX  FIS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  1.851905  7.809035  38.223751  NaN
2000-01-04  14.625  NaN  27.172190  ...  1.745536  7.783094  36.944042  NaN
2000-01-05  15.000  NaN  27.464891  ...  1.819176  7.757147  37.778625  NaN
2000-01-06  16.000  NaN  27.684412  ...  1.819176  7.990644  42.062809  NaN
2000-01-07  16.250  NaN  28.221029  ...  1.816448  8.405745  42.285366  NaN

                 FITB        FE  FRC      FISV  FLT      FLIR
Date
2000-01-03  27.507853  8.814839  NaN  6.354167  NaN  1.847155
2000-01-04  26.351439  8.814839  NaN  5.916667  NaN  1.702415
2000-01-05  25.957760  9.139463  NaN  6.328125  NaN  1.792016
2000-01-06  26.868122  9.164433  NaN  6.130208  NaN  1.778232
2000-01-07  26.695894  9.214382  NaN  6.359375  NaN  1.792016

[5 rows x 197 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       FRT        FDX  FIS       FITB  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  7.809035  38.223751  NaN  27.507853
2000-01-04  14.625  NaN  27.172190  ...  7.783094  36.944042  NaN  26.351439
2000-01-05  15.000  NaN  27.464891  ...  7.757147  37.778625  NaN  25.957760
2000-01-06  16.000  NaN  27.684412  ...  7.990644  42.062809  NaN  26.868122
2000-01-07  16.250  NaN  28.221029  ...  8.405745  42.285366  NaN  26.695894

                  FE  FRC      FISV  FLT      FLIR       FLS
Date
2000-01-03  8.814839  NaN  6.354167  NaN  1.847155  4.583350
2000-01-04  8.814839  NaN  5.916667  NaN  1.702415  4.496214
2000-01-05  9.139463  NaN  6.328125  NaN  1.792016  4.565925
2000-01-06  9.164433  NaN  6.130208  NaN  1.778232  4.583350
2000-01-07  9.214382  NaN  6.359375  NaN  1.792016  4.618205

[5 rows x 198 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        FDX  FIS       FITB        FE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  38.223751  NaN  27.507853  8.814839
2000-01-04  14.625  NaN  27.172190  ...  36.944042  NaN  26.351439  8.814839
2000-01-05  15.000  NaN  27.464891  ...  37.778625  NaN  25.957760  9.139463
2000-01-06  16.000  NaN  27.684412  ...  42.062809  NaN  26.868122  9.164433
2000-01-07  16.250  NaN  28.221029  ...  42.285366  NaN  26.695894  9.214382

            FRC      FISV  FLT      FLIR       FLS       FMC
Date
2000-01-03  NaN  6.354167  NaN  1.847155  4.583350  4.771420
2000-01-04  NaN  5.916667  NaN  1.702415  4.496214  4.711777
2000-01-05  NaN  6.328125  NaN  1.792016  4.565925  4.798528
2000-01-06  NaN  6.130208  NaN  1.778232  4.583350  4.793107
2000-01-07  NaN  6.359375  NaN  1.792016  4.618205  4.787687

[5 rows x 199 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  FIS       FITB        FE  FRC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  27.507853  8.814839  NaN
2000-01-04  14.625  NaN  27.172190  ...  NaN  26.351439  8.814839  NaN
2000-01-05  15.000  NaN  27.464891  ...  NaN  25.957760  9.139463  NaN
2000-01-06  16.000  NaN  27.684412  ...  NaN  26.868122  9.164433  NaN
2000-01-07  16.250  NaN  28.221029  ...  NaN  26.695894  9.214382  NaN

                FISV  FLT      FLIR       FLS       FMC          F
Date
2000-01-03  6.354167  NaN  1.847155  4.583350  4.771420  14.873239
2000-01-04  5.916667  NaN  1.702415  4.496214  4.711777  14.376281
2000-01-05  6.328125  NaN  1.792016  4.565925  4.798528  14.429532
2000-01-06  6.130208  NaN  1.778232  4.583350  4.793107  14.447269
2000-01-07  6.359375  NaN  1.792016  4.618205  4.787687  15.512177

[5 rows x 200 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       FITB        FE  FRC      FISV  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  27.507853  8.814839  NaN  6.354167
2000-01-04  14.625  NaN  27.172190  ...  26.351439  8.814839  NaN  5.916667
2000-01-05  15.000  NaN  27.464891  ...  25.957760  9.139463  NaN  6.328125
2000-01-06  16.000  NaN  27.684412  ...  26.868122  9.164433  NaN  6.130208
2000-01-07  16.250  NaN  28.221029  ...  26.695894  9.214382  NaN  6.359375

            FLT      FLIR       FLS       FMC          F  FTNT
Date
2000-01-03  NaN  1.847155  4.583350  4.771420  14.873239   NaN
2000-01-04  NaN  1.702415  4.496214  4.711777  14.376281   NaN
2000-01-05  NaN  1.792016  4.565925  4.798528  14.429532   NaN
2000-01-06  NaN  1.778232  4.583350  4.793107  14.447269   NaN
2000-01-07  NaN  1.792016  4.618205  4.787687  15.512177   NaN

[5 rows x 201 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        FE  FRC      FISV  FLT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  8.814839  NaN  6.354167  NaN
2000-01-04  14.625  NaN  27.172190  ...  8.814839  NaN  5.916667  NaN
2000-01-05  15.000  NaN  27.464891  ...  9.139463  NaN  6.328125  NaN
2000-01-06  16.000  NaN  27.684412  ...  9.164433  NaN  6.130208  NaN
2000-01-07  16.250  NaN  28.221029  ...  9.214382  NaN  6.359375  NaN

                FLIR       FLS       FMC          F  FTNT  FTV
Date
2000-01-03  1.847155  4.583350  4.771420  14.873239   NaN  NaN
2000-01-04  1.702415  4.496214  4.711777  14.376281   NaN  NaN
2000-01-05  1.792016  4.565925  4.798528  14.429532   NaN  NaN
2000-01-06  1.778232  4.583350  4.793107  14.447269   NaN  NaN
2000-01-07  1.792016  4.618205  4.787687  15.512177   NaN  NaN

[5 rows x 202 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  FRC      FISV  FLT      FLIR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  6.354167  NaN  1.847155
2000-01-04  14.625  NaN  27.172190  ...  NaN  5.916667  NaN  1.702415
2000-01-05  15.000  NaN  27.464891  ...  NaN  6.328125  NaN  1.792016
2000-01-06  16.000  NaN  27.684412  ...  NaN  6.130208  NaN  1.778232
2000-01-07  16.250  NaN  28.221029  ...  NaN  6.359375  NaN  1.792016

                 FLS       FMC          F  FTNT  FTV  FBHS
Date
2000-01-03  4.583350  4.771420  14.873239   NaN  NaN   NaN
2000-01-04  4.496214  4.711777  14.376281   NaN  NaN   NaN
2000-01-05  4.565925  4.798528  14.429532   NaN  NaN   NaN
2000-01-06  4.583350  4.793107  14.447269   NaN  NaN   NaN
2000-01-07  4.618205  4.787687  15.512177   NaN  NaN   NaN

[5 rows x 203 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      FISV  FLT      FLIR       FLS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  6.354167  NaN  1.847155  4.583350
2000-01-04  14.625  NaN  27.172190  ...  5.916667  NaN  1.702415  4.496214
2000-01-05  15.000  NaN  27.464891  ...  6.328125  NaN  1.792016  4.565925
2000-01-06  16.000  NaN  27.684412  ...  6.130208  NaN  1.778232  4.583350
2000-01-07  16.250  NaN  28.221029  ...  6.359375  NaN  1.792016  4.618205

                 FMC          F  FTNT  FTV  FBHS  FOXA
Date
2000-01-03  4.771420  14.873239   NaN  NaN   NaN   NaN
2000-01-04  4.711777  14.376281   NaN  NaN   NaN   NaN
2000-01-05  4.798528  14.429532   NaN  NaN   NaN   NaN
2000-01-06  4.793107  14.447269   NaN  NaN   NaN   NaN
2000-01-07  4.787687  15.512177   NaN  NaN   NaN   NaN

[5 rows x 204 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  FLT      FLIR       FLS       FMC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  1.847155  4.583350  4.771420
2000-01-04  14.625  NaN  27.172190  ...  NaN  1.702415  4.496214  4.711777
2000-01-05  15.000  NaN  27.464891  ...  NaN  1.792016  4.565925  4.798528
2000-01-06  16.000  NaN  27.684412  ...  NaN  1.778232  4.583350  4.793107
2000-01-07  16.250  NaN  28.221029  ...  NaN  1.792016  4.618205  4.787687

                    F  FTNT  FTV  FBHS  FOXA  FOX
Date
2000-01-03  14.873239   NaN  NaN   NaN   NaN  NaN
2000-01-04  14.376281   NaN  NaN   NaN   NaN  NaN
2000-01-05  14.429532   NaN  NaN   NaN   NaN  NaN
2000-01-06  14.447269   NaN  NaN   NaN   NaN  NaN
2000-01-07  15.512177   NaN  NaN   NaN   NaN  NaN

[5 rows x 205 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      FLIR       FLS       FMC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  1.847155  4.583350  4.771420
2000-01-04  14.625  NaN  27.172190  ...  1.702415  4.496214  4.711777
2000-01-05  15.000  NaN  27.464891  ...  1.792016  4.565925  4.798528
2000-01-06  16.000  NaN  27.684412  ...  1.778232  4.583350  4.793107
2000-01-07  16.250  NaN  28.221029  ...  1.792016  4.618205  4.787687

                    F  FTNT  FTV  FBHS  FOXA  FOX       BEN
Date
2000-01-03  14.873239   NaN  NaN   NaN   NaN  NaN  6.348482
2000-01-04  14.376281   NaN  NaN   NaN   NaN  NaN  6.235785
2000-01-05  14.429532   NaN  NaN   NaN   NaN  NaN  6.335961
2000-01-06  14.447269   NaN  NaN   NaN   NaN  NaN  6.724130
2000-01-07  15.512177   NaN  NaN   NaN   NaN  NaN  6.774220

[5 rows x 206 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       FLS       FMC          F  FTNT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  4.583350  4.771420  14.873239   NaN
2000-01-04  14.625  NaN  27.172190  ...  4.496214  4.711777  14.376281   NaN
2000-01-05  15.000  NaN  27.464891  ...  4.565925  4.798528  14.429532   NaN
2000-01-06  16.000  NaN  27.684412  ...  4.583350  4.793107  14.447269   NaN
2000-01-07  16.250  NaN  28.221029  ...  4.618205  4.787687  15.512177   NaN

            FTV  FBHS  FOXA  FOX       BEN       FCX
Date
2000-01-03  NaN   NaN   NaN  NaN  6.348482  5.760734
2000-01-04  NaN   NaN   NaN  NaN  6.235785  5.437866
2000-01-05  NaN   NaN   NaN  NaN  6.335961  5.641784
2000-01-06  NaN   NaN   NaN  NaN  6.724130  5.471850
2000-01-07  NaN   NaN   NaN  NaN  6.774220  5.335903

[5 rows x 207 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       FMC          F  FTNT  FTV  FBHS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  4.771420  14.873239   NaN  NaN   NaN
2000-01-04  14.625  NaN  27.172190  ...  4.711777  14.376281   NaN  NaN   NaN
2000-01-05  15.000  NaN  27.464891  ...  4.798528  14.429532   NaN  NaN   NaN
2000-01-06  16.000  NaN  27.684412  ...  4.793107  14.447269   NaN  NaN   NaN
2000-01-07  16.250  NaN  28.221029  ...  4.787687  15.512177   NaN  NaN   NaN

            FOXA  FOX       BEN       FCX        GPS
Date
2000-01-03   NaN  NaN  6.348482  5.760734  27.622633
2000-01-04   NaN  NaN  6.235785  5.437866  26.621805
2000-01-05   NaN  NaN  6.335961  5.641784  25.460854
2000-01-06   NaN  NaN  6.724130  5.471850  28.463314
2000-01-07   NaN  NaN  6.774220  5.335903  29.824432

[5 rows x 208 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...          F  FTNT  FTV  FBHS  FOXA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  14.873239   NaN  NaN   NaN   NaN
2000-01-04  14.625  NaN  27.172190  ...  14.376281   NaN  NaN   NaN   NaN
2000-01-05  15.000  NaN  27.464891  ...  14.429532   NaN  NaN   NaN   NaN
2000-01-06  16.000  NaN  27.684412  ...  14.447269   NaN  NaN   NaN   NaN
2000-01-07  16.250  NaN  28.221029  ...  15.512177   NaN  NaN   NaN   NaN

            FOX       BEN       FCX        GPS  GRMN
Date
2000-01-03  NaN  6.348482  5.760734  27.622633   NaN
2000-01-04  NaN  6.235785  5.437866  26.621805   NaN
2000-01-05  NaN  6.335961  5.641784  25.460854   NaN
2000-01-06  NaN  6.724130  5.471850  28.463314   NaN
2000-01-07  NaN  6.774220  5.335903  29.824432   NaN

[5 rows x 209 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  FTNT  FTV  FBHS  FOXA  FOX       BEN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  NaN   NaN   NaN  NaN  6.348482
2000-01-04  14.625  NaN  27.172190  ...   NaN  NaN   NaN   NaN  NaN  6.235785
2000-01-05  15.000  NaN  27.464891  ...   NaN  NaN   NaN   NaN  NaN  6.335961
2000-01-06  16.000  NaN  27.684412  ...   NaN  NaN   NaN   NaN  NaN  6.724130
2000-01-07  16.250  NaN  28.221029  ...   NaN  NaN   NaN   NaN  NaN  6.774220

                 FCX        GPS  GRMN      IT
Date
2000-01-03  5.760734  27.622633   NaN  16.625
2000-01-04  5.437866  26.621805   NaN  15.375
2000-01-05  5.641784  25.460854   NaN  14.750
2000-01-06  5.471850  28.463314   NaN  14.750
2000-01-07  5.335903  29.824432   NaN  14.750

[5 rows x 210 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  FTV  FBHS  FOXA  FOX       BEN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN   NaN   NaN  NaN  6.348482
2000-01-04  14.625  NaN  27.172190  ...  NaN   NaN   NaN  NaN  6.235785
2000-01-05  15.000  NaN  27.464891  ...  NaN   NaN   NaN  NaN  6.335961
2000-01-06  16.000  NaN  27.684412  ...  NaN   NaN   NaN  NaN  6.724130
2000-01-07  16.250  NaN  28.221029  ...  NaN   NaN   NaN  NaN  6.774220

                 FCX        GPS  GRMN      IT         GD
Date
2000-01-03  5.760734  27.622633   NaN  16.625  16.108694
2000-01-04  5.437866  26.621805   NaN  15.375  16.785870
2000-01-05  5.641784  25.460854   NaN  14.750  17.935028
2000-01-06  5.471850  28.463314   NaN  14.750  17.996588
2000-01-07  5.335903  29.824432   NaN  14.750  18.468561

[5 rows x 211 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  FBHS  FOXA  FOX       BEN       FCX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN   NaN  NaN  6.348482  5.760734
2000-01-04  14.625  NaN  27.172190  ...   NaN   NaN  NaN  6.235785  5.437866
2000-01-05  15.000  NaN  27.464891  ...   NaN   NaN  NaN  6.335961  5.641784
2000-01-06  16.000  NaN  27.684412  ...   NaN   NaN  NaN  6.724130  5.471850
2000-01-07  16.250  NaN  28.221029  ...   NaN   NaN  NaN  6.774220  5.335903

                  GPS  GRMN      IT         GD         GE
Date
2000-01-03  27.622633   NaN  16.625  16.108694  25.534224
2000-01-04  26.621805   NaN  15.375  16.785870  24.512873
2000-01-05  25.460854   NaN  14.750  17.935028  24.470304
2000-01-06  28.463314   NaN  14.750  17.996588  24.797457
2000-01-07  29.824432   NaN  14.750  18.468561  25.757654

[5 rows x 212 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  FOXA  FOX       BEN       FCX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  NaN  6.348482  5.760734
2000-01-04  14.625  NaN  27.172190  ...   NaN  NaN  6.235785  5.437866
2000-01-05  15.000  NaN  27.464891  ...   NaN  NaN  6.335961  5.641784
2000-01-06  16.000  NaN  27.684412  ...   NaN  NaN  6.724130  5.471850
2000-01-07  16.250  NaN  28.221029  ...   NaN  NaN  6.774220  5.335903

                  GPS  GRMN      IT         GD         GE       GIS
Date
2000-01-03  27.622633   NaN  16.625  16.108694  25.534224  6.960728
2000-01-04  26.621805   NaN  15.375  16.785870  24.512873  6.834403
2000-01-05  25.460854   NaN  14.750  17.935028  24.470304  6.796502
2000-01-06  28.463314   NaN  14.750  17.996588  24.797457  6.896676
2000-01-07  29.824432   NaN  14.750  18.468561  25.757654  6.909520

[5 rows x 213 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  FOX       BEN       FCX        GPS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  6.348482  5.760734  27.622633
2000-01-04  14.625  NaN  27.172190  ...  NaN  6.235785  5.437866  26.621805
2000-01-05  15.000  NaN  27.464891  ...  NaN  6.335961  5.641784  25.460854
2000-01-06  16.000  NaN  27.684412  ...  NaN  6.724130  5.471850  28.463314
2000-01-07  16.250  NaN  28.221029  ...  NaN  6.774220  5.335903  29.824432

            GRMN      IT         GD         GE       GIS  GM
Date
2000-01-03   NaN  16.625  16.108694  25.534224  6.960728 NaN
2000-01-04   NaN  15.375  16.785870  24.512873  6.834403 NaN
2000-01-05   NaN  14.750  17.935028  24.470304  6.796502 NaN
2000-01-06   NaN  14.750  17.996588  24.797457  6.896676 NaN
2000-01-07   NaN  14.750  18.468561  25.757654  6.909520 NaN

[5 rows x 214 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       BEN       FCX        GPS  GRMN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  6.348482  5.760734  27.622633   NaN
2000-01-04  14.625  NaN  27.172190  ...  6.235785  5.437866  26.621805   NaN
2000-01-05  15.000  NaN  27.464891  ...  6.335961  5.641784  25.460854   NaN
2000-01-06  16.000  NaN  27.684412  ...  6.724130  5.471850  28.463314   NaN
2000-01-07  16.250  NaN  28.221029  ...  6.774220  5.335903  29.824432   NaN

                IT         GD         GE       GIS  GM        GPC
Date
2000-01-03  16.625  16.108694  25.534224  6.960728 NaN  12.215413
2000-01-04  15.375  16.785870  24.512873  6.834403 NaN  12.088499
2000-01-05  14.750  17.935028  24.470304  6.796502 NaN  12.025039
2000-01-06  14.750  17.996588  24.797457  6.896676 NaN  12.025039
2000-01-07  14.750  18.468561  25.757654  6.909520 NaN  12.818248

[5 rows x 215 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       FCX        GPS  GRMN      IT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  5.760734  27.622633   NaN  16.625
2000-01-04  14.625  NaN  27.172190  ...  5.437866  26.621805   NaN  15.375
2000-01-05  15.000  NaN  27.464891  ...  5.641784  25.460854   NaN  14.750
2000-01-06  16.000  NaN  27.684412  ...  5.471850  28.463314   NaN  14.750
2000-01-07  16.250  NaN  28.221029  ...  5.335903  29.824432   NaN  14.750

                   GD         GE       GIS  GM        GPC      GILD
Date
2000-01-03  16.108694  25.534224  6.960728 NaN  12.215413  1.527291
2000-01-04  16.785870  24.512873  6.834403 NaN  12.088499  1.457792
2000-01-05  17.935028  24.470304  6.796502 NaN  12.025039  1.445926
2000-01-06  17.996588  24.797457  6.896676 NaN  12.025039  1.544242
2000-01-07  18.468561  25.757654  6.909520 NaN  12.818248  1.779863

[5 rows x 216 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        GPS  GRMN      IT         GD  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  27.622633   NaN  16.625  16.108694
2000-01-04  14.625  NaN  27.172190  ...  26.621805   NaN  15.375  16.785870
2000-01-05  15.000  NaN  27.464891  ...  25.460854   NaN  14.750  17.935028
2000-01-06  16.000  NaN  27.684412  ...  28.463314   NaN  14.750  17.996588
2000-01-07  16.250  NaN  28.221029  ...  29.824432   NaN  14.750  18.468561

                   GE       GIS  GM        GPC      GILD        GL
Date
2000-01-03  25.534224  6.960728 NaN  12.215413  1.527291  8.717456
2000-01-04  24.512873  6.834403 NaN  12.088499  1.457792  8.544263
2000-01-05  24.470304  6.796502 NaN  12.025039  1.445926  8.607070
2000-01-06  24.797457  6.896676 NaN  12.025039  1.544242  8.587687
2000-01-07  25.757654  6.909520 NaN  12.818248  1.779863  8.762154

[5 rows x 217 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  GRMN      IT         GD         GE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  16.625  16.108694  25.534224
2000-01-04  14.625  NaN  27.172190  ...   NaN  15.375  16.785870  24.512873
2000-01-05  15.000  NaN  27.464891  ...   NaN  14.750  17.935028  24.470304
2000-01-06  16.000  NaN  27.684412  ...   NaN  14.750  17.996588  24.797457
2000-01-07  16.250  NaN  28.221029  ...   NaN  14.750  18.468561  25.757654

                 GIS  GM        GPC      GILD        GL  GPN
Date
2000-01-03  6.960728 NaN  12.215413  1.527291  8.717456  NaN
2000-01-04  6.834403 NaN  12.088499  1.457792  8.544263  NaN
2000-01-05  6.796502 NaN  12.025039  1.445926  8.607070  NaN
2000-01-06  6.896676 NaN  12.025039  1.544242  8.587687  NaN
2000-01-07  6.909520 NaN  12.818248  1.779863  8.762154  NaN

[5 rows x 218 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      IT         GD         GE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  16.625  16.108694  25.534224
2000-01-04  14.625  NaN  27.172190  ...  15.375  16.785870  24.512873
2000-01-05  15.000  NaN  27.464891  ...  14.750  17.935028  24.470304
2000-01-06  16.000  NaN  27.684412  ...  14.750  17.996588  24.797457
2000-01-07  16.250  NaN  28.221029  ...  14.750  18.468561  25.757654

                 GIS  GM        GPC      GILD        GL  GPN         GS
Date
2000-01-03  6.960728 NaN  12.215413  1.527291  8.717456  NaN  70.332672
2000-01-04  6.834403 NaN  12.088499  1.457792  8.544263  NaN  65.902657
2000-01-05  6.796502 NaN  12.025039  1.445926  8.607070  NaN  62.816559
2000-01-06  6.896676 NaN  12.025039  1.544242  8.587687  NaN  65.504456
2000-01-07  6.909520 NaN  12.818248  1.779863  8.762154  NaN  65.753326

[5 rows x 219 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         GD         GE       GIS  GM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  16.108694  25.534224  6.960728 NaN
2000-01-04  14.625  NaN  27.172190  ...  16.785870  24.512873  6.834403 NaN
2000-01-05  15.000  NaN  27.464891  ...  17.935028  24.470304  6.796502 NaN
2000-01-06  16.000  NaN  27.684412  ...  17.996588  24.797457  6.896676 NaN
2000-01-07  16.250  NaN  28.221029  ...  18.468561  25.757654  6.909520 NaN

                  GPC      GILD        GL  GPN         GS        GWW
Date
2000-01-03  12.215413  1.527291  8.717456  NaN  70.332672  31.934031
2000-01-04  12.088499  1.457792  8.544263  NaN  65.902657  31.021645
2000-01-05  12.025039  1.445926  8.607070  NaN  62.816559  31.456114
2000-01-06  12.025039  1.544242  8.587687  NaN  65.504456  31.325766
2000-01-07  12.818248  1.779863  8.762154  NaN  65.753326  30.847849

[5 rows x 220 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         GE       GIS  GM        GPC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  25.534224  6.960728 NaN  12.215413
2000-01-04  14.625  NaN  27.172190  ...  24.512873  6.834403 NaN  12.088499
2000-01-05  15.000  NaN  27.464891  ...  24.470304  6.796502 NaN  12.025039
2000-01-06  16.000  NaN  27.684412  ...  24.797457  6.896676 NaN  12.025039
2000-01-07  16.250  NaN  28.221029  ...  25.757654  6.909520 NaN  12.818248

                GILD        GL  GPN         GS        GWW       HRB
Date
2000-01-03  1.527291  8.717456  NaN  70.332672  31.934031  4.680020
2000-01-04  1.457792  8.544263  NaN  65.902657  31.021645  4.554098
2000-01-05  1.445926  8.607070  NaN  62.816559  31.456114  4.980827
2000-01-06  1.544242  8.587687  NaN  65.504456  31.325766  4.931857
2000-01-07  1.779863  8.762154  NaN  65.753326  30.847849  5.099751

[5 rows x 221 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       GIS  GM        GPC      GILD  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  6.960728 NaN  12.215413  1.527291
2000-01-04  14.625  NaN  27.172190  ...  6.834403 NaN  12.088499  1.457792
2000-01-05  15.000  NaN  27.464891  ...  6.796502 NaN  12.025039  1.445926
2000-01-06  16.000  NaN  27.684412  ...  6.896676 NaN  12.025039  1.544242
2000-01-07  16.250  NaN  28.221029  ...  6.909520 NaN  12.818248  1.779863

                  GL  GPN         GS        GWW       HRB        HAL
Date
2000-01-03  8.717456  NaN  70.332672  31.934031  4.680020  12.328655
2000-01-04  8.544263  NaN  65.902657  31.021645  4.554098  12.388980
2000-01-05  8.607070  NaN  62.816559  31.456114  4.980827  11.845963
2000-01-06  8.587687  NaN  65.504456  31.325766  4.931857  12.328655
2000-01-07  8.762154  NaN  65.753326  30.847849  5.099751  13.092907

[5 rows x 222 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  GM        GPC      GILD        GL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ... NaN  12.215413  1.527291  8.717456
2000-01-04  14.625  NaN  27.172190  ... NaN  12.088499  1.457792  8.544263
2000-01-05  15.000  NaN  27.464891  ... NaN  12.025039  1.445926  8.607070
2000-01-06  16.000  NaN  27.684412  ... NaN  12.025039  1.544242  8.587687
2000-01-07  16.250  NaN  28.221029  ... NaN  12.818248  1.779863  8.762154

            GPN         GS        GWW       HRB        HAL  HBI
Date
2000-01-03  NaN  70.332672  31.934031  4.680020  12.328655  NaN
2000-01-04  NaN  65.902657  31.021645  4.554098  12.388980  NaN
2000-01-05  NaN  62.816559  31.456114  4.980827  11.845963  NaN
2000-01-06  NaN  65.504456  31.325766  4.931857  12.328655  NaN
2000-01-07  NaN  65.753326  30.847849  5.099751  13.092907  NaN

[5 rows x 223 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        GPC      GILD        GL  GPN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  12.215413  1.527291  8.717456  NaN
2000-01-04  14.625  NaN  27.172190  ...  12.088499  1.457792  8.544263  NaN
2000-01-05  15.000  NaN  27.464891  ...  12.025039  1.445926  8.607070  NaN
2000-01-06  16.000  NaN  27.684412  ...  12.025039  1.544242  8.587687  NaN
2000-01-07  16.250  NaN  28.221029  ...  12.818248  1.779863  8.762154  NaN

                   GS        GWW       HRB        HAL  HBI        HIG
Date
2000-01-03  70.332672  31.934031  4.680020  12.328655  NaN  29.600504
2000-01-04  65.902657  31.021645  4.554098  12.388980  NaN  28.619247
2000-01-05  62.816559  31.456114  4.980827  11.845963  NaN  27.760685
2000-01-06  65.504456  31.325766  4.931857  12.328655  NaN  28.005995
2000-01-07  65.753326  30.847849  5.099751  13.092907  NaN  29.314297

[5 rows x 224 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      GILD        GL  GPN         GS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  1.527291  8.717456  NaN  70.332672
2000-01-04  14.625  NaN  27.172190  ...  1.457792  8.544263  NaN  65.902657
2000-01-05  15.000  NaN  27.464891  ...  1.445926  8.607070  NaN  62.816559
2000-01-06  16.000  NaN  27.684412  ...  1.544242  8.587687  NaN  65.504456
2000-01-07  16.250  NaN  28.221029  ...  1.779863  8.762154  NaN  65.753326

                  GWW       HRB        HAL  HBI        HIG        HAS
Date
2000-01-03  31.934031  4.680020  12.328655  NaN  29.600504  11.565478
2000-01-04  31.021645  4.554098  12.388980  NaN  28.619247  10.820583
2000-01-05  31.456114  4.980827  11.845963  NaN  27.760685  10.310920
2000-01-06  31.325766  4.931857  12.328655  NaN  28.005995  10.036487
2000-01-07  30.847849  5.099751  13.092907  NaN  29.314297  10.389327

[5 rows x 225 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        GL  GPN         GS        GWW  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  8.717456  NaN  70.332672  31.934031
2000-01-04  14.625  NaN  27.172190  ...  8.544263  NaN  65.902657  31.021645
2000-01-05  15.000  NaN  27.464891  ...  8.607070  NaN  62.816559  31.456114
2000-01-06  16.000  NaN  27.684412  ...  8.587687  NaN  65.504456  31.325766
2000-01-07  16.250  NaN  28.221029  ...  8.762154  NaN  65.753326  30.847849

                 HRB        HAL  HBI        HIG        HAS  HCA
Date
2000-01-03  4.680020  12.328655  NaN  29.600504  11.565478  NaN
2000-01-04  4.554098  12.388980  NaN  28.619247  10.820583  NaN
2000-01-05  4.980827  11.845963  NaN  27.760685  10.310920  NaN
2000-01-06  4.931857  12.328655  NaN  28.005995  10.036487  NaN
2000-01-07  5.099751  13.092907  NaN  29.314297  10.389327  NaN

[5 rows x 226 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  GPN         GS        GWW       HRB  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  70.332672  31.934031  4.680020
2000-01-04  14.625  NaN  27.172190  ...  NaN  65.902657  31.021645  4.554098
2000-01-05  15.000  NaN  27.464891  ...  NaN  62.816559  31.456114  4.980827
2000-01-06  16.000  NaN  27.684412  ...  NaN  65.504456  31.325766  4.931857
2000-01-07  16.250  NaN  28.221029  ...  NaN  65.753326  30.847849  5.099751

                  HAL  HBI        HIG        HAS  HCA      PEAK
Date
2000-01-03  12.328655  NaN  29.600504  11.565478  NaN  3.023008
2000-01-04  12.388980  NaN  28.619247  10.820583  NaN  3.015116
2000-01-05  11.845963  NaN  27.760685  10.310920  NaN  3.070367
2000-01-06  12.328655  NaN  28.005995  10.036487  NaN  3.180869
2000-01-07  13.092907  NaN  29.314297  10.389327  NaN  3.251905

[5 rows x 227 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         GS        GWW       HRB  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  70.332672  31.934031  4.680020
2000-01-04  14.625  NaN  27.172190  ...  65.902657  31.021645  4.554098
2000-01-05  15.000  NaN  27.464891  ...  62.816559  31.456114  4.980827
2000-01-06  16.000  NaN  27.684412  ...  65.504456  31.325766  4.931857
2000-01-07  16.250  NaN  28.221029  ...  65.753326  30.847849  5.099751

                  HAL  HBI        HIG        HAS  HCA      PEAK      HSIC
Date
2000-01-03  12.328655  NaN  29.600504  11.565478  NaN  3.023008  2.475490
2000-01-04  12.388980  NaN  28.619247  10.820583  NaN  3.015116  2.352941
2000-01-05  11.845963  NaN  27.760685  10.310920  NaN  3.070367  2.500000
2000-01-06  12.328655  NaN  28.005995  10.036487  NaN  3.180869  2.487745
2000-01-07  13.092907  NaN  29.314297  10.389327  NaN  3.251905  2.573529

[5 rows x 228 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        GWW       HRB        HAL  HBI  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  31.934031  4.680020  12.328655  NaN
2000-01-04  14.625  NaN  27.172190  ...  31.021645  4.554098  12.388980  NaN
2000-01-05  15.000  NaN  27.464891  ...  31.456114  4.980827  11.845963  NaN
2000-01-06  16.000  NaN  27.684412  ...  31.325766  4.931857  12.328655  NaN
2000-01-07  16.250  NaN  28.221029  ...  30.847849  5.099751  13.092907  NaN

                  HIG        HAS  HCA      PEAK      HSIC        HSY
Date
2000-01-03  29.600504  11.565478  NaN  3.023008  2.475490  13.235672
2000-01-04  28.619247  10.820583  NaN  3.015116  2.352941  12.736210
2000-01-05  27.760685  10.310920  NaN  3.070367  2.500000  12.789721
2000-01-06  28.005995  10.036487  NaN  3.180869  2.487745  13.128642
2000-01-07  29.314297  10.389327  NaN  3.251905  2.573529  13.164315

[5 rows x 229 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       HRB        HAL  HBI        HIG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  4.680020  12.328655  NaN  29.600504
2000-01-04  14.625  NaN  27.172190  ...  4.554098  12.388980  NaN  28.619247
2000-01-05  15.000  NaN  27.464891  ...  4.980827  11.845963  NaN  27.760685
2000-01-06  16.000  NaN  27.684412  ...  4.931857  12.328655  NaN  28.005995
2000-01-07  16.250  NaN  28.221029  ...  5.099751  13.092907  NaN  29.314297

                  HAS  HCA      PEAK      HSIC        HSY        HES
Date
2000-01-03  11.565478  NaN  3.023008  2.475490  13.235672  11.411185
2000-01-04  10.820583  NaN  3.015116  2.352941  12.736210  11.188725
2000-01-05  10.310920  NaN  3.070367  2.500000  12.789721  11.097116
2000-01-06  10.036487  NaN  3.180869  2.487745  13.128642  11.332666
2000-01-07  10.389327  NaN  3.251905  2.573529  13.164315  11.816858

[5 rows x 230 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        HAL  HBI        HIG        HAS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  12.328655  NaN  29.600504  11.565478
2000-01-04  14.625  NaN  27.172190  ...  12.388980  NaN  28.619247  10.820583
2000-01-05  15.000  NaN  27.464891  ...  11.845963  NaN  27.760685  10.310920
2000-01-06  16.000  NaN  27.684412  ...  12.328655  NaN  28.005995  10.036487
2000-01-07  16.250  NaN  28.221029  ...  13.092907  NaN  29.314297  10.389327

            HCA      PEAK      HSIC        HSY        HES  HPE
Date
2000-01-03  NaN  3.023008  2.475490  13.235672  11.411185  NaN
2000-01-04  NaN  3.015116  2.352941  12.736210  11.188725  NaN
2000-01-05  NaN  3.070367  2.500000  12.789721  11.097116  NaN
2000-01-06  NaN  3.180869  2.487745  13.128642  11.332666  NaN
2000-01-07  NaN  3.251905  2.573529  13.164315  11.816858  NaN

[5 rows x 231 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  HBI        HIG        HAS  HCA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  29.600504  11.565478  NaN
2000-01-04  14.625  NaN  27.172190  ...  NaN  28.619247  10.820583  NaN
2000-01-05  15.000  NaN  27.464891  ...  NaN  27.760685  10.310920  NaN
2000-01-06  16.000  NaN  27.684412  ...  NaN  28.005995  10.036487  NaN
2000-01-07  16.250  NaN  28.221029  ...  NaN  29.314297  10.389327  NaN

                PEAK      HSIC        HSY        HES  HPE  HLT
Date
2000-01-03  3.023008  2.475490  13.235672  11.411185  NaN  NaN
2000-01-04  3.015116  2.352941  12.736210  11.188725  NaN  NaN
2000-01-05  3.070367  2.500000  12.789721  11.097116  NaN  NaN
2000-01-06  3.180869  2.487745  13.128642  11.332666  NaN  NaN
2000-01-07  3.251905  2.573529  13.164315  11.816858  NaN  NaN

[5 rows x 232 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        HIG        HAS  HCA      PEAK  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  29.600504  11.565478  NaN  3.023008
2000-01-04  14.625  NaN  27.172190  ...  28.619247  10.820583  NaN  3.015116
2000-01-05  15.000  NaN  27.464891  ...  27.760685  10.310920  NaN  3.070367
2000-01-06  16.000  NaN  27.684412  ...  28.005995  10.036487  NaN  3.180869
2000-01-07  16.250  NaN  28.221029  ...  29.314297  10.389327  NaN  3.251905

                HSIC        HSY        HES  HPE  HLT       HFC
Date
2000-01-03  2.475490  13.235672  11.411185  NaN  NaN  0.082275
2000-01-04  2.352941  12.736210  11.188725  NaN  NaN  0.083030
2000-01-05  2.500000  12.789721  11.097116  NaN  NaN  0.084162
2000-01-06  2.487745  13.128642  11.332666  NaN  NaN  0.083030
2000-01-07  2.573529  13.164315  11.816858  NaN  NaN  0.083407

[5 rows x 233 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        HAS  HCA      PEAK      HSIC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  11.565478  NaN  3.023008  2.475490
2000-01-04  14.625  NaN  27.172190  ...  10.820583  NaN  3.015116  2.352941
2000-01-05  15.000  NaN  27.464891  ...  10.310920  NaN  3.070367  2.500000
2000-01-06  16.000  NaN  27.684412  ...  10.036487  NaN  3.180869  2.487745
2000-01-07  16.250  NaN  28.221029  ...  10.389327  NaN  3.251905  2.573529

                  HSY        HES  HPE  HLT       HFC      HOLX
Date
2000-01-03  13.235672  11.411185  NaN  NaN  0.082275  1.500000
2000-01-04  12.736210  11.188725  NaN  NaN  0.083030  1.421875
2000-01-05  12.789721  11.097116  NaN  NaN  0.084162  1.500000
2000-01-06  13.128642  11.332666  NaN  NaN  0.083030  1.484375
2000-01-07  13.164315  11.816858  NaN  NaN  0.083407  1.546875

[5 rows x 234 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  HCA      PEAK      HSIC        HSY  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  3.023008  2.475490  13.235672
2000-01-04  14.625  NaN  27.172190  ...  NaN  3.015116  2.352941  12.736210
2000-01-05  15.000  NaN  27.464891  ...  NaN  3.070367  2.500000  12.789721
2000-01-06  16.000  NaN  27.684412  ...  NaN  3.180869  2.487745  13.128642
2000-01-07  16.250  NaN  28.221029  ...  NaN  3.251905  2.573529  13.164315

                  HES  HPE  HLT       HFC      HOLX         HD
Date
2000-01-03  11.411185  NaN  NaN  0.082275  1.500000  43.549004
2000-01-04  11.188725  NaN  NaN  0.083030  1.421875  41.252556
2000-01-05  11.097116  NaN  NaN  0.084162  1.500000  42.087643
2000-01-06  11.332666  NaN  NaN  0.083030  1.484375  40.083481
2000-01-07  11.816858  NaN  NaN  0.083407  1.546875  42.421669

[5 rows x 235 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      PEAK      HSIC        HSY  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  3.023008  2.475490  13.235672
2000-01-04  14.625  NaN  27.172190  ...  3.015116  2.352941  12.736210
2000-01-05  15.000  NaN  27.464891  ...  3.070367  2.500000  12.789721
2000-01-06  16.000  NaN  27.684412  ...  3.180869  2.487745  13.128642
2000-01-07  16.250  NaN  28.221029  ...  3.251905  2.573529  13.164315

                  HES  HPE  HLT       HFC      HOLX         HD        HON
Date
2000-01-03  11.411185  NaN  NaN  0.082275  1.500000  43.549004  33.049091
2000-01-04  11.188725  NaN  NaN  0.083030  1.421875  41.252556  32.466099
2000-01-05  11.097116  NaN  NaN  0.084162  1.500000  42.087643  32.028824
2000-01-06  11.332666  NaN  NaN  0.083030  1.484375  40.083481  32.648270
2000-01-07  11.816858  NaN  NaN  0.083407  1.546875  42.421669  34.397289

[5 rows x 236 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      HSIC        HSY        HES  HPE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  2.475490  13.235672  11.411185  NaN
2000-01-04  14.625  NaN  27.172190  ...  2.352941  12.736210  11.188725  NaN
2000-01-05  15.000  NaN  27.464891  ...  2.500000  12.789721  11.097116  NaN
2000-01-06  16.000  NaN  27.684412  ...  2.487745  13.128642  11.332666  NaN
2000-01-07  16.250  NaN  28.221029  ...  2.573529  13.164315  11.816858  NaN

            HLT       HFC      HOLX         HD        HON       HRL
Date
2000-01-03  NaN  0.082275  1.500000  43.549004  33.049091  1.643118
2000-01-04  NaN  0.083030  1.421875  41.252556  32.466099  1.620156
2000-01-05  NaN  0.084162  1.500000  42.087643  32.028824  1.645669
2000-01-06  NaN  0.083030  1.484375  40.083481  32.648270  1.673735
2000-01-07  NaN  0.083407  1.546875  42.421669  34.397289  1.689044

[5 rows x 237 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        HSY        HES  HPE  HLT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  13.235672  11.411185  NaN  NaN
2000-01-04  14.625  NaN  27.172190  ...  12.736210  11.188725  NaN  NaN
2000-01-05  15.000  NaN  27.464891  ...  12.789721  11.097116  NaN  NaN
2000-01-06  16.000  NaN  27.684412  ...  13.128642  11.332666  NaN  NaN
2000-01-07  16.250  NaN  28.221029  ...  13.164315  11.816858  NaN  NaN

                 HFC      HOLX         HD        HON       HRL       HST
Date
2000-01-03  0.082275  1.500000  43.549004  33.049091  1.643118  4.358634
2000-01-04  0.083030  1.421875  41.252556  32.466099  1.620156  4.326347
2000-01-05  0.084162  1.500000  42.087643  32.028824  1.645669  4.164915
2000-01-06  0.083030  1.484375  40.083481  32.648270  1.673735  4.229488
2000-01-07  0.083407  1.546875  42.421669  34.397289  1.689044  4.294061

[5 rows x 238 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        HES  HPE  HLT       HFC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  11.411185  NaN  NaN  0.082275
2000-01-04  14.625  NaN  27.172190  ...  11.188725  NaN  NaN  0.083030
2000-01-05  15.000  NaN  27.464891  ...  11.097116  NaN  NaN  0.084162
2000-01-06  16.000  NaN  27.684412  ...  11.332666  NaN  NaN  0.083030
2000-01-07  16.250  NaN  28.221029  ...  11.816858  NaN  NaN  0.083407

                HOLX         HD        HON       HRL       HST  HWM
Date
2000-01-03  1.500000  43.549004  33.049091  1.643118  4.358634  NaN
2000-01-04  1.421875  41.252556  32.466099  1.620156  4.326347  NaN
2000-01-05  1.500000  42.087643  32.028824  1.645669  4.164915  NaN
2000-01-06  1.484375  40.083481  32.648270  1.673735  4.229488  NaN
2000-01-07  1.546875  42.421669  34.397289  1.689044  4.294061  NaN

[5 rows x 239 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  HPE  HLT       HFC      HOLX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  NaN  0.082275  1.500000
2000-01-04  14.625  NaN  27.172190  ...  NaN  NaN  0.083030  1.421875
2000-01-05  15.000  NaN  27.464891  ...  NaN  NaN  0.084162  1.500000
2000-01-06  16.000  NaN  27.684412  ...  NaN  NaN  0.083030  1.484375
2000-01-07  16.250  NaN  28.221029  ...  NaN  NaN  0.083407  1.546875

                   HD        HON       HRL       HST  HWM        HPQ
Date
2000-01-03  43.549004  33.049091  1.643118  4.358634  NaN  10.766153
2000-01-04  41.252556  32.466099  1.620156  4.326347  NaN   9.952532
2000-01-05  42.087643  32.028824  1.645669  4.164915  NaN   9.889507
2000-01-06  40.083481  32.648270  1.673735  4.229488  NaN   9.259240
2000-01-07  42.421669  34.397289  1.689044  4.294061  NaN   9.522806

[5 rows x 240 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  HLT       HFC      HOLX         HD  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  0.082275  1.500000  43.549004
2000-01-04  14.625  NaN  27.172190  ...  NaN  0.083030  1.421875  41.252556
2000-01-05  15.000  NaN  27.464891  ...  NaN  0.084162  1.500000  42.087643
2000-01-06  16.000  NaN  27.684412  ...  NaN  0.083030  1.484375  40.083481
2000-01-07  16.250  NaN  28.221029  ...  NaN  0.083407  1.546875  42.421669

                  HON       HRL       HST  HWM        HPQ       HUM
Date
2000-01-03  33.049091  1.643118  4.358634  NaN  10.766153  6.980583
2000-01-04  32.466099  1.620156  4.326347  NaN   9.952532  7.038273
2000-01-05  32.028824  1.645669  4.164915  NaN   9.889507  7.211346
2000-01-06  32.648270  1.673735  4.229488  NaN   9.259240  7.499801
2000-01-07  34.397289  1.689044  4.294061  NaN   9.522806  8.076711

[5 rows x 241 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       HFC      HOLX         HD  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  0.082275  1.500000  43.549004
2000-01-04  14.625  NaN  27.172190  ...  0.083030  1.421875  41.252556
2000-01-05  15.000  NaN  27.464891  ...  0.084162  1.500000  42.087643
2000-01-06  16.000  NaN  27.684412  ...  0.083030  1.484375  40.083481
2000-01-07  16.250  NaN  28.221029  ...  0.083407  1.546875  42.421669

                  HON       HRL       HST  HWM        HPQ       HUM       HBAN
Date
2000-01-03  33.049091  1.643118  4.358634  NaN  10.766153  6.980583  10.218407
2000-01-04  32.466099  1.620156  4.326347  NaN   9.952532  7.038273   9.905304
2000-01-05  32.028824  1.645669  4.164915  NaN   9.889507  7.211346   9.649134
2000-01-06  32.648270  1.673735  4.229488  NaN   9.259240  7.499801   9.990699
2000-01-07  34.397289  1.689044  4.294061  NaN   9.522806  8.076711  10.076088

[5 rows x 242 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      HOLX         HD        HON  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  1.500000  43.549004  33.049091
2000-01-04  14.625  NaN  27.172190  ...  1.421875  41.252556  32.466099
2000-01-05  15.000  NaN  27.464891  ...  1.500000  42.087643  32.028824
2000-01-06  16.000  NaN  27.684412  ...  1.484375  40.083481  32.648270
2000-01-07  16.250  NaN  28.221029  ...  1.546875  42.421669  34.397289

                 HRL       HST  HWM        HPQ       HUM       HBAN  HII
Date
2000-01-03  1.643118  4.358634  NaN  10.766153  6.980583  10.218407  NaN
2000-01-04  1.620156  4.326347  NaN   9.952532  7.038273   9.905304  NaN
2000-01-05  1.645669  4.164915  NaN   9.889507  7.211346   9.649134  NaN
2000-01-06  1.673735  4.229488  NaN   9.259240  7.499801   9.990699  NaN
2000-01-07  1.689044  4.294061  NaN   9.522806  8.076711  10.076088  NaN

[5 rows x 243 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         HD        HON       HRL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  43.549004  33.049091  1.643118
2000-01-04  14.625  NaN  27.172190  ...  41.252556  32.466099  1.620156
2000-01-05  15.000  NaN  27.464891  ...  42.087643  32.028824  1.645669
2000-01-06  16.000  NaN  27.684412  ...  40.083481  32.648270  1.673735
2000-01-07  16.250  NaN  28.221029  ...  42.421669  34.397289  1.689044

                 HST  HWM        HPQ       HUM       HBAN  HII       IEX
Date
2000-01-03  4.358634  NaN  10.766153  6.980583  10.218407  NaN  8.660472
2000-01-04  4.326347  NaN   9.952532  7.038273   9.905304  NaN  8.265998
2000-01-05  4.164915  NaN   9.889507  7.211346   9.649134  NaN  8.230138
2000-01-06  4.229488  NaN   9.259240  7.499801   9.990699  NaN  8.230138
2000-01-07  4.294061  NaN   9.522806  8.076711  10.076088  NaN  8.463233

[5 rows x 244 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        HON       HRL       HST  HWM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  33.049091  1.643118  4.358634  NaN
2000-01-04  14.625  NaN  27.172190  ...  32.466099  1.620156  4.326347  NaN
2000-01-05  15.000  NaN  27.464891  ...  32.028824  1.645669  4.164915  NaN
2000-01-06  16.000  NaN  27.684412  ...  32.648270  1.673735  4.229488  NaN
2000-01-07  16.250  NaN  28.221029  ...  34.397289  1.689044  4.294061  NaN

                  HPQ       HUM       HBAN  HII       IEX      IDXX
Date
2000-01-03  10.766153  6.980583  10.218407  NaN  8.660472  4.015625
2000-01-04   9.952532  7.038273   9.905304  NaN  8.265998  3.656250
2000-01-05   9.889507  7.211346   9.649134  NaN  8.230138  3.765625
2000-01-06   9.259240  7.499801   9.990699  NaN  8.230138  3.750000
2000-01-07   9.522806  8.076711  10.076088  NaN  8.463233  3.953125

[5 rows x 245 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       HRL       HST  HWM        HPQ  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  1.643118  4.358634  NaN  10.766153
2000-01-04  14.625  NaN  27.172190  ...  1.620156  4.326347  NaN   9.952532
2000-01-05  15.000  NaN  27.464891  ...  1.645669  4.164915  NaN   9.889507
2000-01-06  16.000  NaN  27.684412  ...  1.673735  4.229488  NaN   9.259240
2000-01-07  16.250  NaN  28.221029  ...  1.689044  4.294061  NaN   9.522806

                 HUM       HBAN  HII       IEX      IDXX  INFO
Date
2000-01-03  6.980583  10.218407  NaN  8.660472  4.015625   NaN
2000-01-04  7.038273   9.905304  NaN  8.265998  3.656250   NaN
2000-01-05  7.211346   9.649134  NaN  8.230138  3.765625   NaN
2000-01-06  7.499801   9.990699  NaN  8.230138  3.750000   NaN
2000-01-07  8.076711  10.076088  NaN  8.463233  3.953125   NaN

[5 rows x 246 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       HST  HWM        HPQ       HUM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  4.358634  NaN  10.766153  6.980583
2000-01-04  14.625  NaN  27.172190  ...  4.326347  NaN   9.952532  7.038273
2000-01-05  15.000  NaN  27.464891  ...  4.164915  NaN   9.889507  7.211346
2000-01-06  16.000  NaN  27.684412  ...  4.229488  NaN   9.259240  7.499801
2000-01-07  16.250  NaN  28.221029  ...  4.294061  NaN   9.522806  8.076711

                 HBAN  HII       IEX      IDXX  INFO        ITW
Date
2000-01-03  10.218407  NaN  8.660472  4.015625   NaN  19.242121
2000-01-04   9.905304  NaN  8.265998  3.656250   NaN  18.376034
2000-01-05   9.649134  NaN  8.230138  3.765625   NaN  18.601973
2000-01-06   9.990699  NaN  8.230138  3.750000   NaN  18.470165
2000-01-07  10.076088  NaN  8.463233  3.953125   NaN  19.656332

[5 rows x 247 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  HWM        HPQ       HUM       HBAN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  10.766153  6.980583  10.218407
2000-01-04  14.625  NaN  27.172190  ...  NaN   9.952532  7.038273   9.905304
2000-01-05  15.000  NaN  27.464891  ...  NaN   9.889507  7.211346   9.649134
2000-01-06  16.000  NaN  27.684412  ...  NaN   9.259240  7.499801   9.990699
2000-01-07  16.250  NaN  28.221029  ...  NaN   9.522806  8.076711  10.076088

            HII       IEX      IDXX  INFO        ITW  ILMN
Date
2000-01-03  NaN  8.660472  4.015625   NaN  19.242121   NaN
2000-01-04  NaN  8.265998  3.656250   NaN  18.376034   NaN
2000-01-05  NaN  8.230138  3.765625   NaN  18.601973   NaN
2000-01-06  NaN  8.230138  3.750000   NaN  18.470165   NaN
2000-01-07  NaN  8.463233  3.953125   NaN  19.656332   NaN

[5 rows x 248 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        HPQ       HUM       HBAN  HII  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.766153  6.980583  10.218407  NaN
2000-01-04  14.625  NaN  27.172190  ...   9.952532  7.038273   9.905304  NaN
2000-01-05  15.000  NaN  27.464891  ...   9.889507  7.211346   9.649134  NaN
2000-01-06  16.000  NaN  27.684412  ...   9.259240  7.499801   9.990699  NaN
2000-01-07  16.250  NaN  28.221029  ...   9.522806  8.076711  10.076088  NaN

                 IEX      IDXX  INFO        ITW  ILMN       INCY
Date
2000-01-03  8.660472  4.015625   NaN  19.242121   NaN  44.828125
2000-01-04  8.265998  3.656250   NaN  18.376034   NaN  46.625000
2000-01-05  8.230138  3.765625   NaN  18.601973   NaN  42.984375
2000-01-06  8.230138  3.750000   NaN  18.470165   NaN  41.656250
2000-01-07  8.463233  3.953125   NaN  19.656332   NaN  52.187500

[5 rows x 249 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       HUM       HBAN  HII       IEX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  6.980583  10.218407  NaN  8.660472
2000-01-04  14.625  NaN  27.172190  ...  7.038273   9.905304  NaN  8.265998
2000-01-05  15.000  NaN  27.464891  ...  7.211346   9.649134  NaN  8.230138
2000-01-06  16.000  NaN  27.684412  ...  7.499801   9.990699  NaN  8.230138
2000-01-07  16.250  NaN  28.221029  ...  8.076711  10.076088  NaN  8.463233

                IDXX  INFO        ITW  ILMN       INCY  IR
Date
2000-01-03  4.015625   NaN  19.242121   NaN  44.828125 NaN
2000-01-04  3.656250   NaN  18.376034   NaN  46.625000 NaN
2000-01-05  3.765625   NaN  18.601973   NaN  42.984375 NaN
2000-01-06  3.750000   NaN  18.470165   NaN  41.656250 NaN
2000-01-07  3.953125   NaN  19.656332   NaN  52.187500 NaN

[5 rows x 250 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       HBAN  HII       IEX      IDXX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.218407  NaN  8.660472  4.015625
2000-01-04  14.625  NaN  27.172190  ...   9.905304  NaN  8.265998  3.656250
2000-01-05  15.000  NaN  27.464891  ...   9.649134  NaN  8.230138  3.765625
2000-01-06  16.000  NaN  27.684412  ...   9.990699  NaN  8.230138  3.750000
2000-01-07  16.250  NaN  28.221029  ...  10.076088  NaN  8.463233  3.953125

            INFO        ITW  ILMN       INCY  IR       INTC
Date
2000-01-03   NaN  19.242121   NaN  44.828125 NaN  27.719835
2000-01-04   NaN  18.376034   NaN  46.625000 NaN  26.425453
2000-01-05   NaN  18.601973   NaN  42.984375 NaN  26.644501
2000-01-06   NaN  18.470165   NaN  41.656250 NaN  25.091228
2000-01-07   NaN  19.656332   NaN  52.187500 NaN  26.126728

[5 rows x 251 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  HII       IEX      IDXX  INFO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  8.660472  4.015625   NaN
2000-01-04  14.625  NaN  27.172190  ...  NaN  8.265998  3.656250   NaN
2000-01-05  15.000  NaN  27.464891  ...  NaN  8.230138  3.765625   NaN
2000-01-06  16.000  NaN  27.684412  ...  NaN  8.230138  3.750000   NaN
2000-01-07  16.250  NaN  28.221029  ...  NaN  8.463233  3.953125   NaN

                  ITW  ILMN       INCY  IR       INTC  ICE
Date
2000-01-03  19.242121   NaN  44.828125 NaN  27.719835  NaN
2000-01-04  18.376034   NaN  46.625000 NaN  26.425453  NaN
2000-01-05  18.601973   NaN  42.984375 NaN  26.644501  NaN
2000-01-06  18.470165   NaN  41.656250 NaN  25.091228  NaN
2000-01-07  19.656332   NaN  52.187500 NaN  26.126728  NaN

[5 rows x 252 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       IEX      IDXX  INFO        ITW  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  8.660472  4.015625   NaN  19.242121
2000-01-04  14.625  NaN  27.172190  ...  8.265998  3.656250   NaN  18.376034
2000-01-05  15.000  NaN  27.464891  ...  8.230138  3.765625   NaN  18.601973
2000-01-06  16.000  NaN  27.684412  ...  8.230138  3.750000   NaN  18.470165
2000-01-07  16.250  NaN  28.221029  ...  8.463233  3.953125   NaN  19.656332

            ILMN       INCY  IR       INTC  ICE        IBM
Date
2000-01-03   NaN  44.828125 NaN  27.719835  NaN  74.620827
2000-01-04   NaN  46.625000 NaN  26.425453  NaN  72.087906
2000-01-05   NaN  42.984375 NaN  26.644501  NaN  74.620827
2000-01-06   NaN  41.656250 NaN  25.091228  NaN  73.334274
2000-01-07   NaN  52.187500 NaN  26.126728  NaN  73.012619

[5 rows x 253 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      IDXX  INFO        ITW  ILMN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  4.015625   NaN  19.242121   NaN
2000-01-04  14.625  NaN  27.172190  ...  3.656250   NaN  18.376034   NaN
2000-01-05  15.000  NaN  27.464891  ...  3.765625   NaN  18.601973   NaN
2000-01-06  16.000  NaN  27.684412  ...  3.750000   NaN  18.470165   NaN
2000-01-07  16.250  NaN  28.221029  ...  3.953125   NaN  19.656332   NaN

                 INCY  IR       INTC  ICE        IBM         IP
Date
2000-01-03  44.828125 NaN  27.719835  NaN  74.620827  28.391825
2000-01-04  46.625000 NaN  26.425453  NaN  72.087906  27.688427
2000-01-05  42.984375 NaN  26.644501  NaN  74.620827  28.647625
2000-01-06  41.656250 NaN  25.091228  NaN  73.334274  29.223120
2000-01-07  52.187500 NaN  26.126728  NaN  73.012619  29.990486

[5 rows x 254 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  INFO        ITW  ILMN       INCY  IR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  19.242121   NaN  44.828125 NaN
2000-01-04  14.625  NaN  27.172190  ...   NaN  18.376034   NaN  46.625000 NaN
2000-01-05  15.000  NaN  27.464891  ...   NaN  18.601973   NaN  42.984375 NaN
2000-01-06  16.000  NaN  27.684412  ...   NaN  18.470165   NaN  41.656250 NaN
2000-01-07  16.250  NaN  28.221029  ...   NaN  19.656332   NaN  52.187500 NaN

                 INTC  ICE        IBM         IP        IPG
Date
2000-01-03  27.719835  NaN  74.620827  28.391825  40.313938
2000-01-04  26.425453  NaN  72.087906  27.688427  37.112949
2000-01-05  26.644501  NaN  74.620827  28.647625  36.277905
2000-01-06  25.091228  NaN  73.334274  29.223120  36.370689
2000-01-07  26.126728  NaN  73.012619  29.990486  37.669628

[5 rows x 255 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        ITW  ILMN       INCY  IR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  19.242121   NaN  44.828125 NaN
2000-01-04  14.625  NaN  27.172190  ...  18.376034   NaN  46.625000 NaN
2000-01-05  15.000  NaN  27.464891  ...  18.601973   NaN  42.984375 NaN
2000-01-06  16.000  NaN  27.684412  ...  18.470165   NaN  41.656250 NaN
2000-01-07  16.250  NaN  28.221029  ...  19.656332   NaN  52.187500 NaN

                 INTC  ICE        IBM         IP        IPG        IFF
Date
2000-01-03  27.719835  NaN  74.620827  28.391825  40.313938  22.768127
2000-01-04  26.425453  NaN  72.087906  27.688427  37.112949  22.488022
2000-01-05  26.644501  NaN  74.620827  28.647625  36.277905  22.688107
2000-01-06  25.091228  NaN  73.334274  29.223120  36.370689  23.208284
2000-01-07  26.126728  NaN  73.012619  29.990486  37.669628  23.888525

[5 rows x 256 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  ILMN       INCY  IR       INTC  ICE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  44.828125 NaN  27.719835  NaN
2000-01-04  14.625  NaN  27.172190  ...   NaN  46.625000 NaN  26.425453  NaN
2000-01-05  15.000  NaN  27.464891  ...   NaN  42.984375 NaN  26.644501  NaN
2000-01-06  16.000  NaN  27.684412  ...   NaN  41.656250 NaN  25.091228  NaN
2000-01-07  16.250  NaN  28.221029  ...   NaN  52.187500 NaN  26.126728  NaN

                  IBM         IP        IPG        IFF       INTU
Date
2000-01-03  74.620827  28.391825  40.313938  22.768127  27.455267
2000-01-04  72.087906  27.688427  37.112949  22.488022  27.740072
2000-01-05  74.620827  28.647625  36.277905  22.688107  35.743107
2000-01-06  73.334274  29.223120  36.370689  23.208284  31.898235
2000-01-07  73.012619  29.990486  37.669628  23.888525  33.521637

[5 rows x 257 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       INCY  IR       INTC  ICE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  44.828125 NaN  27.719835  NaN
2000-01-04  14.625  NaN  27.172190  ...  46.625000 NaN  26.425453  NaN
2000-01-05  15.000  NaN  27.464891  ...  42.984375 NaN  26.644501  NaN
2000-01-06  16.000  NaN  27.684412  ...  41.656250 NaN  25.091228  NaN
2000-01-07  16.250  NaN  28.221029  ...  52.187500 NaN  26.126728  NaN

                  IBM         IP        IPG        IFF       INTU  ISRG
Date
2000-01-03  74.620827  28.391825  40.313938  22.768127  27.455267   NaN
2000-01-04  72.087906  27.688427  37.112949  22.488022  27.740072   NaN
2000-01-05  74.620827  28.647625  36.277905  22.688107  35.743107   NaN
2000-01-06  73.334274  29.223120  36.370689  23.208284  31.898235   NaN
2000-01-07  73.012619  29.990486  37.669628  23.888525  33.521637   NaN

[5 rows x 258 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  IR       INTC  ICE        IBM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ... NaN  27.719835  NaN  74.620827
2000-01-04  14.625  NaN  27.172190  ... NaN  26.425453  NaN  72.087906
2000-01-05  15.000  NaN  27.464891  ... NaN  26.644501  NaN  74.620827
2000-01-06  16.000  NaN  27.684412  ... NaN  25.091228  NaN  73.334274
2000-01-07  16.250  NaN  28.221029  ... NaN  26.126728  NaN  73.012619

                   IP        IPG        IFF       INTU  ISRG        IVZ
Date
2000-01-03  28.391825  40.313938  22.768127  27.455267   NaN  11.922708
2000-01-04  27.688427  37.112949  22.488022  27.740072   NaN  11.722219
2000-01-05  28.647625  36.277905  22.688107  35.743107   NaN  11.227665
2000-01-06  29.223120  36.370689  23.208284  31.898235   NaN  11.094001
2000-01-07  29.990486  37.669628  23.888525  33.521637   NaN  11.508353

[5 rows x 259 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       INTC  ICE        IBM         IP  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  27.719835  NaN  74.620827  28.391825
2000-01-04  14.625  NaN  27.172190  ...  26.425453  NaN  72.087906  27.688427
2000-01-05  15.000  NaN  27.464891  ...  26.644501  NaN  74.620827  28.647625
2000-01-06  16.000  NaN  27.684412  ...  25.091228  NaN  73.334274  29.223120
2000-01-07  16.250  NaN  28.221029  ...  26.126728  NaN  73.012619  29.990486

                  IPG        IFF       INTU  ISRG        IVZ  IPGP
Date
2000-01-03  40.313938  22.768127  27.455267   NaN  11.922708   NaN
2000-01-04  37.112949  22.488022  27.740072   NaN  11.722219   NaN
2000-01-05  36.277905  22.688107  35.743107   NaN  11.227665   NaN
2000-01-06  36.370689  23.208284  31.898235   NaN  11.094001   NaN
2000-01-07  37.669628  23.888525  33.521637   NaN  11.508353   NaN

[5 rows x 260 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  ICE        IBM         IP        IPG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  74.620827  28.391825  40.313938
2000-01-04  14.625  NaN  27.172190  ...  NaN  72.087906  27.688427  37.112949
2000-01-05  15.000  NaN  27.464891  ...  NaN  74.620827  28.647625  36.277905
2000-01-06  16.000  NaN  27.684412  ...  NaN  73.334274  29.223120  36.370689
2000-01-07  16.250  NaN  28.221029  ...  NaN  73.012619  29.990486  37.669628

                  IFF       INTU  ISRG        IVZ  IPGP  IQV
Date
2000-01-03  22.768127  27.455267   NaN  11.922708   NaN  NaN
2000-01-04  22.488022  27.740072   NaN  11.722219   NaN  NaN
2000-01-05  22.688107  35.743107   NaN  11.227665   NaN  NaN
2000-01-06  23.208284  31.898235   NaN  11.094001   NaN  NaN
2000-01-07  23.888525  33.521637   NaN  11.508353   NaN  NaN

[5 rows x 261 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        IBM         IP        IPG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  74.620827  28.391825  40.313938
2000-01-04  14.625  NaN  27.172190  ...  72.087906  27.688427  37.112949
2000-01-05  15.000  NaN  27.464891  ...  74.620827  28.647625  36.277905
2000-01-06  16.000  NaN  27.684412  ...  73.334274  29.223120  36.370689
2000-01-07  16.250  NaN  28.221029  ...  73.012619  29.990486  37.669628

                  IFF       INTU  ISRG        IVZ  IPGP  IQV       IRM
Date
2000-01-03  22.768127  27.455267   NaN  11.922708   NaN  NaN  5.058746
2000-01-04  22.488022  27.740072   NaN  11.722219   NaN  NaN  4.899275
2000-01-05  22.688107  35.743107   NaN  11.227665   NaN  NaN  4.739805
2000-01-06  23.208284  31.898235   NaN  11.094001   NaN  NaN  4.695508
2000-01-07  23.888525  33.521637   NaN  11.508353   NaN  NaN  4.677791

[5 rows x 262 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         IP        IPG        IFF  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  28.391825  40.313938  22.768127
2000-01-04  14.625  NaN  27.172190  ...  27.688427  37.112949  22.488022
2000-01-05  15.000  NaN  27.464891  ...  28.647625  36.277905  22.688107
2000-01-06  16.000  NaN  27.684412  ...  29.223120  36.370689  23.208284
2000-01-07  16.250  NaN  28.221029  ...  29.990486  37.669628  23.888525

                 INTU  ISRG        IVZ  IPGP  IQV       IRM       JKHY
Date
2000-01-03  27.455267   NaN  11.922708   NaN  NaN  5.058746  10.634753
2000-01-04  27.740072   NaN  11.722219   NaN  NaN  4.899275   9.769133
2000-01-05  35.743107   NaN  11.227665   NaN  NaN  4.739805   9.966991
2000-01-06  31.898235   NaN  11.094001   NaN  NaN  4.695508   9.868058
2000-01-07  33.521637   NaN  11.508353   NaN  NaN  4.677791   9.868058

[5 rows x 263 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        IPG        IFF       INTU  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  40.313938  22.768127  27.455267
2000-01-04  14.625  NaN  27.172190  ...  37.112949  22.488022  27.740072
2000-01-05  15.000  NaN  27.464891  ...  36.277905  22.688107  35.743107
2000-01-06  16.000  NaN  27.684412  ...  36.370689  23.208284  31.898235
2000-01-07  16.250  NaN  28.221029  ...  37.669628  23.888525  33.521637

            ISRG        IVZ  IPGP  IQV       IRM       JKHY         J
Date
2000-01-03   NaN  11.922708   NaN  NaN  5.058746  10.634753  7.726096
2000-01-04   NaN  11.722219   NaN  NaN  4.899275   9.769133  7.680737
2000-01-05   NaN  11.227665   NaN  NaN  4.739805   9.966991  7.726096
2000-01-06   NaN  11.094001   NaN  NaN  4.695508   9.868058  7.763896
2000-01-07   NaN  11.508353   NaN  NaN  4.677791   9.868058  7.937771

[5 rows x 264 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        IFF       INTU  ISRG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  22.768127  27.455267   NaN
2000-01-04  14.625  NaN  27.172190  ...  22.488022  27.740072   NaN
2000-01-05  15.000  NaN  27.464891  ...  22.688107  35.743107   NaN
2000-01-06  16.000  NaN  27.684412  ...  23.208284  31.898235   NaN
2000-01-07  16.250  NaN  28.221029  ...  23.888525  33.521637   NaN

                  IVZ  IPGP  IQV       IRM       JKHY         J      JBHT
Date
2000-01-03  11.922708   NaN  NaN  5.058746  10.634753  7.726096  2.795751
2000-01-04  11.722219   NaN  NaN  4.899275   9.769133  7.680737  2.652712
2000-01-05  11.227665   NaN  NaN  4.739805   9.966991  7.726096  2.678720
2000-01-06  11.094001   NaN  NaN  4.695508   9.868058  7.763896  2.756741
2000-01-07  11.508353   NaN  NaN  4.677791   9.868058  7.937771  2.756741

[5 rows x 265 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       INTU  ISRG        IVZ  IPGP  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  27.455267   NaN  11.922708   NaN
2000-01-04  14.625  NaN  27.172190  ...  27.740072   NaN  11.722219   NaN
2000-01-05  15.000  NaN  27.464891  ...  35.743107   NaN  11.227665   NaN
2000-01-06  16.000  NaN  27.684412  ...  31.898235   NaN  11.094001   NaN
2000-01-07  16.250  NaN  28.221029  ...  33.521637   NaN  11.508353   NaN

            IQV       IRM       JKHY         J      JBHT        SJM
Date
2000-01-03  NaN  5.058746  10.634753  7.726096  2.795751  10.413020
2000-01-04  NaN  4.899275   9.769133  7.680737  2.652712  10.276905
2000-01-05  NaN  4.739805   9.966991  7.726096  2.678720  10.208840
2000-01-06  NaN  4.695508   9.868058  7.763896  2.756741  10.413020
2000-01-07  NaN  4.677791   9.868058  7.937771  2.756741  10.481078

[5 rows x 266 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  ISRG        IVZ  IPGP  IQV       IRM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  11.922708   NaN  NaN  5.058746
2000-01-04  14.625  NaN  27.172190  ...   NaN  11.722219   NaN  NaN  4.899275
2000-01-05  15.000  NaN  27.464891  ...   NaN  11.227665   NaN  NaN  4.739805
2000-01-06  16.000  NaN  27.684412  ...   NaN  11.094001   NaN  NaN  4.695508
2000-01-07  16.250  NaN  28.221029  ...   NaN  11.508353   NaN  NaN  4.677791

                 JKHY         J      JBHT        SJM        JNJ
Date
2000-01-03  10.634753  7.726096  2.795751  10.413020  26.779993
2000-01-04   9.769133  7.680737  2.652712  10.276905  25.799568
2000-01-05   9.966991  7.726096  2.678720  10.208840  26.071909
2000-01-06   9.868058  7.763896  2.756741  10.413020  26.888935
2000-01-07   9.868058  7.937771  2.756741  10.481078  28.032753

[5 rows x 267 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        IVZ  IPGP  IQV       IRM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  11.922708   NaN  NaN  5.058746
2000-01-04  14.625  NaN  27.172190  ...  11.722219   NaN  NaN  4.899275
2000-01-05  15.000  NaN  27.464891  ...  11.227665   NaN  NaN  4.739805
2000-01-06  16.000  NaN  27.684412  ...  11.094001   NaN  NaN  4.695508
2000-01-07  16.250  NaN  28.221029  ...  11.508353   NaN  NaN  4.677791

                 JKHY         J      JBHT        SJM        JNJ        JCI
Date
2000-01-03  10.634753  7.726096  2.795751  10.413020  26.779993  28.140066
2000-01-04   9.769133  7.680737  2.652712  10.276905  25.799568  26.749308
2000-01-05   9.966991  7.726096  2.678720  10.208840  26.071909  26.332069
2000-01-06   9.868058  7.763896  2.756741  10.413020  26.888935  26.053923
2000-01-07   9.868058  7.937771  2.756741  10.481078  28.032753  26.424780

[5 rows x 268 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  IPGP  IQV       IRM       JKHY  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  NaN  5.058746  10.634753
2000-01-04  14.625  NaN  27.172190  ...   NaN  NaN  4.899275   9.769133
2000-01-05  15.000  NaN  27.464891  ...   NaN  NaN  4.739805   9.966991
2000-01-06  16.000  NaN  27.684412  ...   NaN  NaN  4.695508   9.868058
2000-01-07  16.250  NaN  28.221029  ...   NaN  NaN  4.677791   9.868058

                   J      JBHT        SJM        JNJ        JCI        JPM
Date
2000-01-03  7.726096  2.795751  10.413020  26.779993  28.140066  26.551420
2000-01-04  7.680737  2.652712  10.276905  25.799568  26.749308  25.968838
2000-01-05  7.726096  2.678720  10.208840  26.071909  26.332069  25.808540
2000-01-06  7.763896  2.756741  10.413020  26.888935  26.053923  26.174952
2000-01-07  7.937771  2.756741  10.481078  28.032753  26.424780  26.655846

[5 rows x 269 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  IQV       IRM       JKHY         J  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  5.058746  10.634753  7.726096
2000-01-04  14.625  NaN  27.172190  ...  NaN  4.899275   9.769133  7.680737
2000-01-05  15.000  NaN  27.464891  ...  NaN  4.739805   9.966991  7.726096
2000-01-06  16.000  NaN  27.684412  ...  NaN  4.695508   9.868058  7.763896
2000-01-07  16.250  NaN  28.221029  ...  NaN  4.677791   9.868058  7.937771

                JBHT        SJM        JNJ        JCI        JPM       JNPR
Date
2000-01-03  2.795751  10.413020  26.779993  28.140066  26.551420  50.860447
2000-01-04  2.652712  10.276905  25.799568  26.749308  25.968838  48.624214
2000-01-05  2.678720  10.208840  26.071909  26.332069  25.808540  48.254581
2000-01-06  2.756741  10.413020  26.888935  26.053923  26.174952  46.129246
2000-01-07  2.756741  10.481078  28.032753  26.424780  26.655846  48.032810

[5 rows x 270 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       IRM       JKHY         J  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  5.058746  10.634753  7.726096
2000-01-04  14.625  NaN  27.172190  ...  4.899275   9.769133  7.680737
2000-01-05  15.000  NaN  27.464891  ...  4.739805   9.966991  7.726096
2000-01-06  16.000  NaN  27.684412  ...  4.695508   9.868058  7.763896
2000-01-07  16.250  NaN  28.221029  ...  4.677791   9.868058  7.937771

                JBHT        SJM        JNJ        JCI        JPM       JNPR  \
Date
2000-01-03  2.795751  10.413020  26.779993  28.140066  26.551420  50.860447
2000-01-04  2.652712  10.276905  25.799568  26.749308  25.968838  48.624214
2000-01-05  2.678720  10.208840  26.071909  26.332069  25.808540  48.254581
2000-01-06  2.756741  10.413020  26.888935  26.053923  26.174952  46.129246
2000-01-07  2.756741  10.481078  28.032753  26.424780  26.655846  48.032810

                  KSU
Date
2000-01-03  65.806404
2000-01-04  62.422760
2000-01-05  60.497585
2000-01-06  62.422760
2000-01-07  62.422760

[5 rows x 271 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       JKHY         J      JBHT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.634753  7.726096  2.795751
2000-01-04  14.625  NaN  27.172190  ...   9.769133  7.680737  2.652712
2000-01-05  15.000  NaN  27.464891  ...   9.966991  7.726096  2.678720
2000-01-06  16.000  NaN  27.684412  ...   9.868058  7.763896  2.756741
2000-01-07  16.250  NaN  28.221029  ...   9.868058  7.937771  2.756741

                  SJM        JNJ        JCI        JPM       JNPR        KSU  \
Date
2000-01-03  10.413020  26.779993  28.140066  26.551420  50.860447  65.806404
2000-01-04  10.276905  25.799568  26.749308  25.968838  48.624214  62.422760
2000-01-05  10.208840  26.071909  26.332069  25.808540  48.254581  60.497585
2000-01-06  10.413020  26.888935  26.053923  26.174952  46.129246  62.422760
2000-01-07  10.481078  28.032753  26.424780  26.655846  48.032810  62.422760

                    K
Date
2000-01-03  16.248468
2000-01-04  15.670599
2000-01-05  15.534624
2000-01-06  15.670599
2000-01-07  15.908546

[5 rows x 272 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         J      JBHT        SJM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  7.726096  2.795751  10.413020
2000-01-04  14.625  NaN  27.172190  ...  7.680737  2.652712  10.276905
2000-01-05  15.000  NaN  27.464891  ...  7.726096  2.678720  10.208840
2000-01-06  16.000  NaN  27.684412  ...  7.763896  2.756741  10.413020
2000-01-07  16.250  NaN  28.221029  ...  7.937771  2.756741  10.481078

                  JNJ        JCI        JPM       JNPR        KSU          K  \
Date
2000-01-03  26.779993  28.140066  26.551420  50.860447  65.806404  16.248468
2000-01-04  25.799568  26.749308  25.968838  48.624214  62.422760  15.670599
2000-01-05  26.071909  26.332069  25.808540  48.254581  60.497585  15.534624
2000-01-06  26.888935  26.053923  26.174952  46.129246  62.422760  15.670599
2000-01-07  28.032753  26.424780  26.655846  48.032810  62.422760  15.908546

                  KEY
Date
2000-01-03  10.688341
2000-01-04  10.559573
2000-01-05  10.366411
2000-01-06  10.752731
2000-01-07  11.042479

[5 rows x 273 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      JBHT        SJM        JNJ  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  2.795751  10.413020  26.779993
2000-01-04  14.625  NaN  27.172190  ...  2.652712  10.276905  25.799568
2000-01-05  15.000  NaN  27.464891  ...  2.678720  10.208840  26.071909
2000-01-06  16.000  NaN  27.684412  ...  2.756741  10.413020  26.888935
2000-01-07  16.250  NaN  28.221029  ...  2.756741  10.481078  28.032753

                  JCI        JPM       JNPR        KSU          K        KEY  \
Date
2000-01-03  28.140066  26.551420  50.860447  65.806404  16.248468  10.688341
2000-01-04  26.749308  25.968838  48.624214  62.422760  15.670599  10.559573
2000-01-05  26.332069  25.808540  48.254581  60.497585  15.534624  10.366411
2000-01-06  26.053923  26.174952  46.129246  62.422760  15.670599  10.752731
2000-01-07  26.424780  26.655846  48.032810  62.422760  15.908546  11.042479

            KEYS
Date
2000-01-03   NaN
2000-01-04   NaN
2000-01-05   NaN
2000-01-06   NaN
2000-01-07   NaN

[5 rows x 274 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        SJM        JNJ        JCI  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.413020  26.779993  28.140066
2000-01-04  14.625  NaN  27.172190  ...  10.276905  25.799568  26.749308
2000-01-05  15.000  NaN  27.464891  ...  10.208840  26.071909  26.332069
2000-01-06  16.000  NaN  27.684412  ...  10.413020  26.888935  26.053923
2000-01-07  16.250  NaN  28.221029  ...  10.481078  28.032753  26.424780

                  JPM       JNPR        KSU          K        KEY  KEYS  \
Date
2000-01-03  26.551420  50.860447  65.806404  16.248468  10.688341   NaN
2000-01-04  25.968838  48.624214  62.422760  15.670599  10.559573   NaN
2000-01-05  25.808540  48.254581  60.497585  15.534624  10.366411   NaN
2000-01-06  26.174952  46.129246  62.422760  15.670599  10.752731   NaN
2000-01-07  26.655846  48.032810  62.422760  15.908546  11.042479   NaN

                  KMB
Date
2000-01-03  31.379929
2000-01-04  31.103867
2000-01-05  30.950481
2000-01-06  31.410608
2000-01-07  32.330837

[5 rows x 275 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        JNJ        JCI        JPM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  26.779993  28.140066  26.551420
2000-01-04  14.625  NaN  27.172190  ...  25.799568  26.749308  25.968838
2000-01-05  15.000  NaN  27.464891  ...  26.071909  26.332069  25.808540
2000-01-06  16.000  NaN  27.684412  ...  26.888935  26.053923  26.174952
2000-01-07  16.250  NaN  28.221029  ...  28.032753  26.424780  26.655846

                 JNPR        KSU          K        KEY  KEYS        KMB  \
Date
2000-01-03  50.860447  65.806404  16.248468  10.688341   NaN  31.379929
2000-01-04  48.624214  62.422760  15.670599  10.559573   NaN  31.103867
2000-01-05  48.254581  60.497585  15.534624  10.366411   NaN  30.950481
2000-01-06  46.129246  62.422760  15.670599  10.752731   NaN  31.410608
2000-01-07  48.032810  62.422760  15.908546  11.042479   NaN  32.330837

                 KIM
Date
2000-01-03  2.438046
2000-01-04  2.415554
2000-01-05  2.429049
2000-01-06  2.501021
2000-01-07  2.541507

[5 rows x 276 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        JCI        JPM       JNPR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  28.140066  26.551420  50.860447
2000-01-04  14.625  NaN  27.172190  ...  26.749308  25.968838  48.624214
2000-01-05  15.000  NaN  27.464891  ...  26.332069  25.808540  48.254581
2000-01-06  16.000  NaN  27.684412  ...  26.053923  26.174952  46.129246
2000-01-07  16.250  NaN  28.221029  ...  26.424780  26.655846  48.032810

                  KSU          K        KEY  KEYS        KMB       KIM  KMI
Date
2000-01-03  65.806404  16.248468  10.688341   NaN  31.379929  2.438046  NaN
2000-01-04  62.422760  15.670599  10.559573   NaN  31.103867  2.415554  NaN
2000-01-05  60.497585  15.534624  10.366411   NaN  30.950481  2.429049  NaN
2000-01-06  62.422760  15.670599  10.752731   NaN  31.410608  2.501021  NaN
2000-01-07  62.422760  15.908546  11.042479   NaN  32.330837  2.541507  NaN

[5 rows x 277 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        JPM       JNPR        KSU  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  26.551420  50.860447  65.806404
2000-01-04  14.625  NaN  27.172190  ...  25.968838  48.624214  62.422760
2000-01-05  15.000  NaN  27.464891  ...  25.808540  48.254581  60.497585
2000-01-06  16.000  NaN  27.684412  ...  26.174952  46.129246  62.422760
2000-01-07  16.250  NaN  28.221029  ...  26.655846  48.032810  62.422760

                    K        KEY  KEYS        KMB       KIM  KMI       KLAC
Date
2000-01-03  16.248468  10.688341   NaN  31.379929  2.438046  NaN  30.367538
2000-01-04  15.670599  10.559573   NaN  31.103867  2.415554  NaN  29.073057
2000-01-05  15.534624  10.366411   NaN  30.950481  2.429049  NaN  27.621162
2000-01-06  15.670599  10.752731   NaN  31.410608  2.501021  NaN  27.831081
2000-01-07  15.908546  11.042479   NaN  32.330837  2.541507  NaN  29.475389

[5 rows x 278 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       JNPR        KSU          K  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  50.860447  65.806404  16.248468
2000-01-04  14.625  NaN  27.172190  ...  48.624214  62.422760  15.670599
2000-01-05  15.000  NaN  27.464891  ...  48.254581  60.497585  15.534624
2000-01-06  16.000  NaN  27.684412  ...  46.129246  62.422760  15.670599
2000-01-07  16.250  NaN  28.221029  ...  48.032810  62.422760  15.908546

                  KEY  KEYS        KMB       KIM  KMI       KLAC        KSS
Date
2000-01-03  10.688341   NaN  31.379929  2.438046  NaN  30.367538  23.710402
2000-01-04  10.559573   NaN  31.103867  2.415554  NaN  29.073057  23.428648
2000-01-05  10.366411   NaN  30.950481  2.429049  NaN  27.621162  23.753748
2000-01-06  10.752731   NaN  31.410608  2.501021  NaN  27.831081  24.512300
2000-01-07  11.042479   NaN  32.330837  2.541507  NaN  29.475389  26.202806

[5 rows x 279 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        KSU          K        KEY  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  65.806404  16.248468  10.688341
2000-01-04  14.625  NaN  27.172190  ...  62.422760  15.670599  10.559573
2000-01-05  15.000  NaN  27.464891  ...  60.497585  15.534624  10.366411
2000-01-06  16.000  NaN  27.684412  ...  62.422760  15.670599  10.752731
2000-01-07  16.250  NaN  28.221029  ...  62.422760  15.908546  11.042479

            KEYS        KMB       KIM  KMI       KLAC        KSS  KHC
Date
2000-01-03   NaN  31.379929  2.438046  NaN  30.367538  23.710402  NaN
2000-01-04   NaN  31.103867  2.415554  NaN  29.073057  23.428648  NaN
2000-01-05   NaN  30.950481  2.429049  NaN  27.621162  23.753748  NaN
2000-01-06   NaN  31.410608  2.501021  NaN  27.831081  24.512300  NaN
2000-01-07   NaN  32.330837  2.541507  NaN  29.475389  26.202806  NaN

[5 rows x 280 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...          K        KEY  KEYS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  16.248468  10.688341   NaN
2000-01-04  14.625  NaN  27.172190  ...  15.670599  10.559573   NaN
2000-01-05  15.000  NaN  27.464891  ...  15.534624  10.366411   NaN
2000-01-06  16.000  NaN  27.684412  ...  15.670599  10.752731   NaN
2000-01-07  16.250  NaN  28.221029  ...  15.908546  11.042479   NaN

                  KMB       KIM  KMI       KLAC        KSS  KHC        KR
Date
2000-01-03  31.379929  2.438046  NaN  30.367538  23.710402  NaN  6.489871
2000-01-04  31.103867  2.415554  NaN  29.073057  23.428648  NaN  6.704060
2000-01-05  30.950481  2.429049  NaN  27.621162  23.753748  NaN  6.811152
2000-01-06  31.410608  2.501021  NaN  27.831081  24.512300  NaN  6.554132
2000-01-07  32.330837  2.541507  NaN  29.475389  26.202806  NaN  6.489871

[5 rows x 281 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        KEY  KEYS        KMB       KIM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.688341   NaN  31.379929  2.438046
2000-01-04  14.625  NaN  27.172190  ...  10.559573   NaN  31.103867  2.415554
2000-01-05  15.000  NaN  27.464891  ...  10.366411   NaN  30.950481  2.429049
2000-01-06  16.000  NaN  27.684412  ...  10.752731   NaN  31.410608  2.501021
2000-01-07  16.250  NaN  28.221029  ...  11.042479   NaN  32.330837  2.541507

            KMI       KLAC        KSS  KHC        KR        LB
Date
2000-01-03  NaN  30.367538  23.710402  NaN  6.489871  7.874387
2000-01-04  NaN  29.073057  23.428648  NaN  6.704060  7.716657
2000-01-05  NaN  27.621162  23.753748  NaN  6.811152  7.607459
2000-01-06  NaN  27.831081  24.512300  NaN  6.554132  7.486126
2000-01-07  NaN  29.475389  26.202806  NaN  6.489871  7.534658

[5 rows x 282 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  KEYS        KMB       KIM  KMI  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  31.379929  2.438046  NaN
2000-01-04  14.625  NaN  27.172190  ...   NaN  31.103867  2.415554  NaN
2000-01-05  15.000  NaN  27.464891  ...   NaN  30.950481  2.429049  NaN
2000-01-06  16.000  NaN  27.684412  ...   NaN  31.410608  2.501021  NaN
2000-01-07  16.250  NaN  28.221029  ...   NaN  32.330837  2.541507  NaN

                 KLAC        KSS  KHC        KR        LB       LHX
Date
2000-01-03  30.367538  23.710402  NaN  6.489871  7.874387  8.721471
2000-01-04  29.073057  23.428648  NaN  6.704060  7.716657  8.385221
2000-01-05  27.621162  23.753748  NaN  6.811152  7.607459  8.301151
2000-01-06  27.831081  24.512300  NaN  6.554132  7.486126  8.238107
2000-01-07  29.475389  26.202806  NaN  6.489871  7.534658  8.406235

[5 rows x 283 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        KMB       KIM  KMI       KLAC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  31.379929  2.438046  NaN  30.367538
2000-01-04  14.625  NaN  27.172190  ...  31.103867  2.415554  NaN  29.073057
2000-01-05  15.000  NaN  27.464891  ...  30.950481  2.429049  NaN  27.621162
2000-01-06  16.000  NaN  27.684412  ...  31.410608  2.501021  NaN  27.831081
2000-01-07  16.250  NaN  28.221029  ...  32.330837  2.541507  NaN  29.475389

                  KSS  KHC        KR        LB       LHX       LH
Date
2000-01-03  23.710402  NaN  6.489871  7.874387  8.721471  9.06250
2000-01-04  23.428648  NaN  6.704060  7.716657  8.385221  8.75000
2000-01-05  23.753748  NaN  6.811152  7.607459  8.301151  8.75000
2000-01-06  24.512300  NaN  6.554132  7.486126  8.238107  8.59375
2000-01-07  26.202806  NaN  6.489871  7.534658  8.406235  8.90625

[5 rows x 284 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       KIM  KMI       KLAC        KSS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  2.438046  NaN  30.367538  23.710402
2000-01-04  14.625  NaN  27.172190  ...  2.415554  NaN  29.073057  23.428648
2000-01-05  15.000  NaN  27.464891  ...  2.429049  NaN  27.621162  23.753748
2000-01-06  16.000  NaN  27.684412  ...  2.501021  NaN  27.831081  24.512300
2000-01-07  16.250  NaN  28.221029  ...  2.541507  NaN  29.475389  26.202806

            KHC        KR        LB       LHX       LH       LRCX
Date
2000-01-03  NaN  6.489871  7.874387  8.721471  9.06250  33.976929
2000-01-04  NaN  6.704060  7.716657  8.385221  8.75000  32.502972
2000-01-05  NaN  6.811152  7.607459  8.301151  8.75000  32.030529
2000-01-06  NaN  6.554132  7.486126  8.238107  8.59375  31.803774
2000-01-07  NaN  6.489871  7.534658  8.406235  8.90625  32.276196

[5 rows x 285 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  KMI       KLAC        KSS  KHC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  30.367538  23.710402  NaN
2000-01-04  14.625  NaN  27.172190  ...  NaN  29.073057  23.428648  NaN
2000-01-05  15.000  NaN  27.464891  ...  NaN  27.621162  23.753748  NaN
2000-01-06  16.000  NaN  27.684412  ...  NaN  27.831081  24.512300  NaN
2000-01-07  16.250  NaN  28.221029  ...  NaN  29.475389  26.202806  NaN

                  KR        LB       LHX       LH       LRCX  LW
Date
2000-01-03  6.489871  7.874387  8.721471  9.06250  33.976929 NaN
2000-01-04  6.704060  7.716657  8.385221  8.75000  32.502972 NaN
2000-01-05  6.811152  7.607459  8.301151  8.75000  32.030529 NaN
2000-01-06  6.554132  7.486126  8.238107  8.59375  31.803774 NaN
2000-01-07  6.489871  7.534658  8.406235  8.90625  32.276196 NaN

[5 rows x 286 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       KLAC        KSS  KHC        KR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  30.367538  23.710402  NaN  6.489871
2000-01-04  14.625  NaN  27.172190  ...  29.073057  23.428648  NaN  6.704060
2000-01-05  15.000  NaN  27.464891  ...  27.621162  23.753748  NaN  6.811152
2000-01-06  16.000  NaN  27.684412  ...  27.831081  24.512300  NaN  6.554132
2000-01-07  16.250  NaN  28.221029  ...  29.475389  26.202806  NaN  6.489871

                  LB       LHX       LH       LRCX  LW  LVS
Date
2000-01-03  7.874387  8.721471  9.06250  33.976929 NaN  NaN
2000-01-04  7.716657  8.385221  8.75000  32.502972 NaN  NaN
2000-01-05  7.607459  8.301151  8.75000  32.030529 NaN  NaN
2000-01-06  7.486126  8.238107  8.59375  31.803774 NaN  NaN
2000-01-07  7.534658  8.406235  8.90625  32.276196 NaN  NaN

[5 rows x 287 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        KSS  KHC        KR        LB  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  23.710402  NaN  6.489871  7.874387
2000-01-04  14.625  NaN  27.172190  ...  23.428648  NaN  6.704060  7.716657
2000-01-05  15.000  NaN  27.464891  ...  23.753748  NaN  6.811152  7.607459
2000-01-06  16.000  NaN  27.684412  ...  24.512300  NaN  6.554132  7.486126
2000-01-07  16.250  NaN  28.221029  ...  26.202806  NaN  6.489871  7.534658

                 LHX       LH       LRCX  LW  LVS        LEG
Date
2000-01-03  8.721471  9.06250  33.976929 NaN  NaN  10.075068
2000-01-04  8.385221  8.75000  32.502972 NaN  NaN   9.554474
2000-01-05  8.301151  8.75000  32.030529 NaN  NaN   9.554474
2000-01-06  8.238107  8.59375  31.803774 NaN  NaN   9.523849
2000-01-07  8.406235  8.90625  32.276196 NaN  NaN   9.676968

[5 rows x 288 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  KHC        KR        LB       LHX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  6.489871  7.874387  8.721471
2000-01-04  14.625  NaN  27.172190  ...  NaN  6.704060  7.716657  8.385221
2000-01-05  15.000  NaN  27.464891  ...  NaN  6.811152  7.607459  8.301151
2000-01-06  16.000  NaN  27.684412  ...  NaN  6.554132  7.486126  8.238107
2000-01-07  16.250  NaN  28.221029  ...  NaN  6.489871  7.534658  8.406235

                 LH       LRCX  LW  LVS        LEG  LDOS
Date
2000-01-03  9.06250  33.976929 NaN  NaN  10.075068   NaN
2000-01-04  8.75000  32.502972 NaN  NaN   9.554474   NaN
2000-01-05  8.75000  32.030529 NaN  NaN   9.554474   NaN
2000-01-06  8.59375  31.803774 NaN  NaN   9.523849   NaN
2000-01-07  8.90625  32.276196 NaN  NaN   9.676968   NaN

[5 rows x 289 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        KR        LB       LHX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  6.489871  7.874387  8.721471
2000-01-04  14.625  NaN  27.172190  ...  6.704060  7.716657  8.385221
2000-01-05  15.000  NaN  27.464891  ...  6.811152  7.607459  8.301151
2000-01-06  16.000  NaN  27.684412  ...  6.554132  7.486126  8.238107
2000-01-07  16.250  NaN  28.221029  ...  6.489871  7.534658  8.406235

                 LH       LRCX  LW  LVS        LEG  LDOS       LEN
Date
2000-01-03  9.06250  33.976929 NaN  NaN  10.075068   NaN  5.978436
2000-01-04  8.75000  32.502972 NaN  NaN   9.554474   NaN  5.931546
2000-01-05  8.75000  32.030529 NaN  NaN   9.554474   NaN  5.954991
2000-01-06  8.59375  31.803774 NaN  NaN   9.523849   NaN  5.954991
2000-01-07  8.90625  32.276196 NaN  NaN   9.676968   NaN  6.072215

[5 rows x 290 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        LB       LHX       LH  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  7.874387  8.721471  9.06250
2000-01-04  14.625  NaN  27.172190  ...  7.716657  8.385221  8.75000
2000-01-05  15.000  NaN  27.464891  ...  7.607459  8.301151  8.75000
2000-01-06  16.000  NaN  27.684412  ...  7.486126  8.238107  8.59375
2000-01-07  16.250  NaN  28.221029  ...  7.534658  8.406235  8.90625

                 LRCX  LW  LVS        LEG  LDOS       LEN        LLY
Date
2000-01-03  33.976929 NaN  NaN  10.075068   NaN  5.978436  34.483345
2000-01-04  32.502972 NaN  NaN   9.554474   NaN  5.931546  33.398540
2000-01-05  32.030529 NaN  NaN   9.554474   NaN  5.954991  33.825878
2000-01-06  31.803774 NaN  NaN   9.523849   NaN  5.954991  34.812069
2000-01-07  32.276196 NaN  NaN   9.676968   NaN  6.072215  37.376133

[5 rows x 291 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       LHX       LH       LRCX  LW  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  8.721471  9.06250  33.976929 NaN
2000-01-04  14.625  NaN  27.172190  ...  8.385221  8.75000  32.502972 NaN
2000-01-05  15.000  NaN  27.464891  ...  8.301151  8.75000  32.030529 NaN
2000-01-06  16.000  NaN  27.684412  ...  8.238107  8.59375  31.803774 NaN
2000-01-07  16.250  NaN  28.221029  ...  8.406235  8.90625  32.276196 NaN

            LVS        LEG  LDOS       LEN        LLY        LNC
Date
2000-01-03  NaN  10.075068   NaN  5.978436  34.483345  24.369007
2000-01-04  NaN   9.554474   NaN  5.931546  33.398540  23.667173
2000-01-05  NaN   9.554474   NaN  5.954991  33.825878  22.848383
2000-01-06  NaN   9.523849   NaN  5.954991  34.812069  23.266548
2000-01-07  NaN   9.676968   NaN  6.072215  37.376133  23.856071

[5 rows x 292 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       LH       LRCX  LW  LVS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  9.06250  33.976929 NaN  NaN
2000-01-04  14.625  NaN  27.172190  ...  8.75000  32.502972 NaN  NaN
2000-01-05  15.000  NaN  27.464891  ...  8.75000  32.030529 NaN  NaN
2000-01-06  16.000  NaN  27.684412  ...  8.59375  31.803774 NaN  NaN
2000-01-07  16.250  NaN  28.221029  ...  8.90625  32.276196 NaN  NaN

                  LEG  LDOS       LEN        LLY        LNC        LIN
Date
2000-01-03  10.075068   NaN  5.978436  34.483345  24.369007  15.950179
2000-01-04   9.554474   NaN  5.931546  33.398540  23.667173  15.669993
2000-01-05   9.554474   NaN  5.954991  33.825878  22.848383  15.950179
2000-01-06   9.523849   NaN  5.954991  34.812069  23.266548  17.130926
2000-01-07   9.676968   NaN  6.072215  37.376133  23.856071  17.150934

[5 rows x 293 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       LRCX  LW  LVS        LEG  LDOS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  33.976929 NaN  NaN  10.075068   NaN
2000-01-04  14.625  NaN  27.172190  ...  32.502972 NaN  NaN   9.554474   NaN
2000-01-05  15.000  NaN  27.464891  ...  32.030529 NaN  NaN   9.554474   NaN
2000-01-06  16.000  NaN  27.684412  ...  31.803774 NaN  NaN   9.523849   NaN
2000-01-07  16.250  NaN  28.221029  ...  32.276196 NaN  NaN   9.676968   NaN

                 LEN        LLY        LNC        LIN  LYV
Date
2000-01-03  5.978436  34.483345  24.369007  15.950179  NaN
2000-01-04  5.931546  33.398540  23.667173  15.669993  NaN
2000-01-05  5.954991  33.825878  22.848383  15.950179  NaN
2000-01-06  5.954991  34.812069  23.266548  17.130926  NaN
2000-01-07  6.072215  37.376133  23.856071  17.150934  NaN

[5 rows x 294 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  LW  LVS        LEG  LDOS       LEN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ... NaN  NaN  10.075068   NaN  5.978436
2000-01-04  14.625  NaN  27.172190  ... NaN  NaN   9.554474   NaN  5.931546
2000-01-05  15.000  NaN  27.464891  ... NaN  NaN   9.554474   NaN  5.954991
2000-01-06  16.000  NaN  27.684412  ... NaN  NaN   9.523849   NaN  5.954991
2000-01-07  16.250  NaN  28.221029  ... NaN  NaN   9.676968   NaN  6.072215

                  LLY        LNC        LIN  LYV  LKQ
Date
2000-01-03  34.483345  24.369007  15.950179  NaN  NaN
2000-01-04  33.398540  23.667173  15.669993  NaN  NaN
2000-01-05  33.825878  22.848383  15.950179  NaN  NaN
2000-01-06  34.812069  23.266548  17.130926  NaN  NaN
2000-01-07  37.376133  23.856071  17.150934  NaN  NaN

[5 rows x 295 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  LVS        LEG  LDOS       LEN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  10.075068   NaN  5.978436
2000-01-04  14.625  NaN  27.172190  ...  NaN   9.554474   NaN  5.931546
2000-01-05  15.000  NaN  27.464891  ...  NaN   9.554474   NaN  5.954991
2000-01-06  16.000  NaN  27.684412  ...  NaN   9.523849   NaN  5.954991
2000-01-07  16.250  NaN  28.221029  ...  NaN   9.676968   NaN  6.072215

                  LLY        LNC        LIN  LYV  LKQ        LMT
Date
2000-01-03  34.483345  24.369007  15.950179  NaN  NaN  12.144202
2000-01-04  33.398540  23.667173  15.669993  NaN  NaN  12.556508
2000-01-05  33.825878  22.848383  15.950179  NaN  NaN  12.631470
2000-01-06  34.812069  23.266548  17.130926  NaN  NaN  12.818884
2000-01-07  37.376133  23.856071  17.150934  NaN  NaN  12.856369

[5 rows x 296 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        LEG  LDOS       LEN        LLY  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.075068   NaN  5.978436  34.483345
2000-01-04  14.625  NaN  27.172190  ...   9.554474   NaN  5.931546  33.398540
2000-01-05  15.000  NaN  27.464891  ...   9.554474   NaN  5.954991  33.825878
2000-01-06  16.000  NaN  27.684412  ...   9.523849   NaN  5.954991  34.812069
2000-01-07  16.250  NaN  28.221029  ...   9.676968   NaN  6.072215  37.376133

                  LNC        LIN  LYV  LKQ        LMT         L
Date
2000-01-03  24.369007  15.950179  NaN  NaN  12.144202  8.329817
2000-01-04  23.667173  15.669993  NaN  NaN  12.556508  8.276928
2000-01-05  22.848383  15.950179  NaN  NaN  12.631470  8.224044
2000-01-06  23.266548  17.130926  NaN  NaN  12.818884  8.171153
2000-01-07  23.856071  17.150934  NaN  NaN  12.856369  8.303373

[5 rows x 297 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  LDOS       LEN        LLY        LNC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  5.978436  34.483345  24.369007
2000-01-04  14.625  NaN  27.172190  ...   NaN  5.931546  33.398540  23.667173
2000-01-05  15.000  NaN  27.464891  ...   NaN  5.954991  33.825878  22.848383
2000-01-06  16.000  NaN  27.684412  ...   NaN  5.954991  34.812069  23.266548
2000-01-07  16.250  NaN  28.221029  ...   NaN  6.072215  37.376133  23.856071

                  LIN  LYV  LKQ        LMT         L        LOW
Date
2000-01-03  15.950179  NaN  NaN  12.144202  8.329817  10.516467
2000-01-04  15.669993  NaN  NaN  12.556508  8.276928   9.950560
2000-01-05  15.950179  NaN  NaN  12.631470  8.224044   9.938770
2000-01-06  17.130926  NaN  NaN  12.818884  8.171153   9.915185
2000-01-07  17.150934  NaN  NaN  12.856369  8.303373  10.139192

[5 rows x 298 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       LEN        LLY        LNC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  5.978436  34.483345  24.369007
2000-01-04  14.625  NaN  27.172190  ...  5.931546  33.398540  23.667173
2000-01-05  15.000  NaN  27.464891  ...  5.954991  33.825878  22.848383
2000-01-06  16.000  NaN  27.684412  ...  5.954991  34.812069  23.266548
2000-01-07  16.250  NaN  28.221029  ...  6.072215  37.376133  23.856071

                  LIN  LYV  LKQ        LMT         L        LOW  LYB
Date
2000-01-03  15.950179  NaN  NaN  12.144202  8.329817  10.516467  NaN
2000-01-04  15.669993  NaN  NaN  12.556508  8.276928   9.950560  NaN
2000-01-05  15.950179  NaN  NaN  12.631470  8.224044   9.938770  NaN
2000-01-06  17.130926  NaN  NaN  12.818884  8.171153   9.915185  NaN
2000-01-07  17.150934  NaN  NaN  12.856369  8.303373  10.139192  NaN

[5 rows x 299 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        LLY        LNC        LIN  LYV  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  34.483345  24.369007  15.950179  NaN
2000-01-04  14.625  NaN  27.172190  ...  33.398540  23.667173  15.669993  NaN
2000-01-05  15.000  NaN  27.464891  ...  33.825878  22.848383  15.950179  NaN
2000-01-06  16.000  NaN  27.684412  ...  34.812069  23.266548  17.130926  NaN
2000-01-07  16.250  NaN  28.221029  ...  37.376133  23.856071  17.150934  NaN

            LKQ        LMT         L        LOW  LYB        MTB
Date
2000-01-03  NaN  12.144202  8.329817  10.516467  NaN  24.819506
2000-01-04  NaN  12.556508  8.276928   9.950560  NaN  24.022083
2000-01-05  NaN  12.631470  8.224044   9.938770  NaN  24.128908
2000-01-06  NaN  12.818884  8.171153   9.915185  NaN  24.411247
2000-01-07  NaN  12.856369  8.303373  10.139192  NaN  24.846226

[5 rows x 300 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        LNC        LIN  LYV  LKQ  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  24.369007  15.950179  NaN  NaN
2000-01-04  14.625  NaN  27.172190  ...  23.667173  15.669993  NaN  NaN
2000-01-05  15.000  NaN  27.464891  ...  22.848383  15.950179  NaN  NaN
2000-01-06  16.000  NaN  27.684412  ...  23.266548  17.130926  NaN  NaN
2000-01-07  16.250  NaN  28.221029  ...  23.856071  17.150934  NaN  NaN

                  LMT         L        LOW  LYB        MTB       MRO
Date
2000-01-03  12.144202  8.329817  10.516467  NaN  24.819506  2.399103
2000-01-04  12.556508  8.276928   9.950560  NaN  24.022083  2.306355
2000-01-05  12.631470  8.224044   9.938770  NaN  24.128908  2.368186
2000-01-06  12.818884  8.171153   9.915185  NaN  24.411247  2.621700
2000-01-07  12.856369  8.303373  10.139192  NaN  24.846226  2.695900

[5 rows x 301 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        LIN  LYV  LKQ        LMT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  15.950179  NaN  NaN  12.144202
2000-01-04  14.625  NaN  27.172190  ...  15.669993  NaN  NaN  12.556508
2000-01-05  15.000  NaN  27.464891  ...  15.950179  NaN  NaN  12.631470
2000-01-06  16.000  NaN  27.684412  ...  17.130926  NaN  NaN  12.818884
2000-01-07  16.250  NaN  28.221029  ...  17.150934  NaN  NaN  12.856369

                   L        LOW  LYB        MTB       MRO  MPC
Date
2000-01-03  8.329817  10.516467  NaN  24.819506  2.399103  NaN
2000-01-04  8.276928   9.950560  NaN  24.022083  2.306355  NaN
2000-01-05  8.224044   9.938770  NaN  24.128908  2.368186  NaN
2000-01-06  8.171153   9.915185  NaN  24.411247  2.621700  NaN
2000-01-07  8.303373  10.139192  NaN  24.846226  2.695900  NaN

[5 rows x 302 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  LYV  LKQ        LMT         L  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  NaN  12.144202  8.329817
2000-01-04  14.625  NaN  27.172190  ...  NaN  NaN  12.556508  8.276928
2000-01-05  15.000  NaN  27.464891  ...  NaN  NaN  12.631470  8.224044
2000-01-06  16.000  NaN  27.684412  ...  NaN  NaN  12.818884  8.171153
2000-01-07  16.250  NaN  28.221029  ...  NaN  NaN  12.856369  8.303373

                  LOW  LYB        MTB       MRO  MPC  MKTX
Date
2000-01-03  10.516467  NaN  24.819506  2.399103  NaN   NaN
2000-01-04   9.950560  NaN  24.022083  2.306355  NaN   NaN
2000-01-05   9.938770  NaN  24.128908  2.368186  NaN   NaN
2000-01-06   9.915185  NaN  24.411247  2.621700  NaN   NaN
2000-01-07  10.139192  NaN  24.846226  2.695900  NaN   NaN

[5 rows x 303 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  LKQ        LMT         L        LOW  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  12.144202  8.329817  10.516467
2000-01-04  14.625  NaN  27.172190  ...  NaN  12.556508  8.276928   9.950560
2000-01-05  15.000  NaN  27.464891  ...  NaN  12.631470  8.224044   9.938770
2000-01-06  16.000  NaN  27.684412  ...  NaN  12.818884  8.171153   9.915185
2000-01-07  16.250  NaN  28.221029  ...  NaN  12.856369  8.303373  10.139192

            LYB        MTB       MRO  MPC  MKTX        MAR
Date
2000-01-03  NaN  24.819506  2.399103  NaN   NaN  11.590939
2000-01-04  NaN  24.022083  2.306355  NaN   NaN  11.519688
2000-01-05  NaN  24.128908  2.368186  NaN   NaN  11.709705
2000-01-06  NaN  24.411247  2.621700  NaN   NaN  11.875965
2000-01-07  NaN  24.846226  2.695900  NaN   NaN  12.208491

[5 rows x 304 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        LMT         L        LOW  LYB  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  12.144202  8.329817  10.516467  NaN
2000-01-04  14.625  NaN  27.172190  ...  12.556508  8.276928   9.950560  NaN
2000-01-05  15.000  NaN  27.464891  ...  12.631470  8.224044   9.938770  NaN
2000-01-06  16.000  NaN  27.684412  ...  12.818884  8.171153   9.915185  NaN
2000-01-07  16.250  NaN  28.221029  ...  12.856369  8.303373  10.139192  NaN

                  MTB       MRO  MPC  MKTX        MAR        MMC
Date
2000-01-03  24.819506  2.399103  NaN   NaN  11.590939  26.990477
2000-01-04  24.022083  2.306355  NaN   NaN  11.519688  25.777422
2000-01-05  24.128908  2.368186  NaN   NaN  11.709705  24.849794
2000-01-06  24.411247  2.621700  NaN   NaN  11.875965  26.659546
2000-01-07  24.846226  2.695900  NaN   NaN  12.208491  27.506729

[5 rows x 305 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         L        LOW  LYB        MTB  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  8.329817  10.516467  NaN  24.819506
2000-01-04  14.625  NaN  27.172190  ...  8.276928   9.950560  NaN  24.022083
2000-01-05  15.000  NaN  27.464891  ...  8.224044   9.938770  NaN  24.128908
2000-01-06  16.000  NaN  27.684412  ...  8.171153   9.915185  NaN  24.411247
2000-01-07  16.250  NaN  28.221029  ...  8.303373  10.139192  NaN  24.846226

                 MRO  MPC  MKTX        MAR        MMC        MLM
Date
2000-01-03  2.399103  NaN   NaN  11.590939  26.990477  30.544085
2000-01-04  2.306355  NaN   NaN  11.519688  25.777422  30.119860
2000-01-05  2.368186  NaN   NaN  11.709705  24.849794  31.675343
2000-01-06  2.621700  NaN   NaN  11.875965  26.659546  34.032150
2000-01-07  2.695900  NaN   NaN  12.208491  27.506729  35.446213

[5 rows x 306 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        LOW  LYB        MTB       MRO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.516467  NaN  24.819506  2.399103
2000-01-04  14.625  NaN  27.172190  ...   9.950560  NaN  24.022083  2.306355
2000-01-05  15.000  NaN  27.464891  ...   9.938770  NaN  24.128908  2.368186
2000-01-06  16.000  NaN  27.684412  ...   9.915185  NaN  24.411247  2.621700
2000-01-07  16.250  NaN  28.221029  ...  10.139192  NaN  24.846226  2.695900

            MPC  MKTX        MAR        MMC        MLM        MAS
Date
2000-01-03  NaN   NaN  11.590939  26.990477  30.544085  12.996982
2000-01-04  NaN   NaN  11.519688  25.777422  30.119860  12.674477
2000-01-05  NaN   NaN  11.709705  24.849794  31.675343  12.161582
2000-01-06  NaN   NaN  11.875965  26.659546  34.032150  12.291308
2000-01-07  NaN   NaN  12.208491  27.506729  35.446213  12.745337

[5 rows x 307 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  LYB        MTB       MRO  MPC  MKTX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  24.819506  2.399103  NaN   NaN
2000-01-04  14.625  NaN  27.172190  ...  NaN  24.022083  2.306355  NaN   NaN
2000-01-05  15.000  NaN  27.464891  ...  NaN  24.128908  2.368186  NaN   NaN
2000-01-06  16.000  NaN  27.684412  ...  NaN  24.411247  2.621700  NaN   NaN
2000-01-07  16.250  NaN  28.221029  ...  NaN  24.846226  2.695900  NaN   NaN

                  MAR        MMC        MLM        MAS  MA
Date
2000-01-03  11.590939  26.990477  30.544085  12.996982 NaN
2000-01-04  11.519688  25.777422  30.119860  12.674477 NaN
2000-01-05  11.709705  24.849794  31.675343  12.161582 NaN
2000-01-06  11.875965  26.659546  34.032150  12.291308 NaN
2000-01-07  12.208491  27.506729  35.446213  12.745337 NaN

[5 rows x 308 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        MTB       MRO  MPC  MKTX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  24.819506  2.399103  NaN   NaN
2000-01-04  14.625  NaN  27.172190  ...  24.022083  2.306355  NaN   NaN
2000-01-05  15.000  NaN  27.464891  ...  24.128908  2.368186  NaN   NaN
2000-01-06  16.000  NaN  27.684412  ...  24.411247  2.621700  NaN   NaN
2000-01-07  16.250  NaN  28.221029  ...  24.846226  2.695900  NaN   NaN

                  MAR        MMC        MLM        MAS  MA       MKC
Date
2000-01-03  11.590939  26.990477  30.544085  12.996982 NaN  8.719278
2000-01-04  11.519688  25.777422  30.119860  12.674477 NaN  8.836308
2000-01-05  11.709705  24.849794  31.675343  12.161582 NaN  8.914340
2000-01-06  11.875965  26.659546  34.032150  12.291308 NaN  8.797302
2000-01-07  12.208491  27.506729  35.446213  12.745337 NaN  8.758290

[5 rows x 309 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       MRO  MPC  MKTX        MAR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  2.399103  NaN   NaN  11.590939
2000-01-04  14.625  NaN  27.172190  ...  2.306355  NaN   NaN  11.519688
2000-01-05  15.000  NaN  27.464891  ...  2.368186  NaN   NaN  11.709705
2000-01-06  16.000  NaN  27.684412  ...  2.621700  NaN   NaN  11.875965
2000-01-07  16.250  NaN  28.221029  ...  2.695900  NaN   NaN  12.208491

                  MMC        MLM        MAS  MA       MKC       MXIM
Date
2000-01-03  26.990477  30.544085  12.996982 NaN  8.719278  29.275034
2000-01-04  25.777422  30.119860  12.674477 NaN  8.836308  28.193531
2000-01-05  24.849794  31.675343  12.161582 NaN  8.914340  28.268124
2000-01-06  26.659546  34.032150  12.291308 NaN  8.797302  29.051296
2000-01-07  27.506729  35.446213  12.745337 NaN  8.758290  29.722555

[5 rows x 310 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  MPC  MKTX        MAR        MMC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN   NaN  11.590939  26.990477
2000-01-04  14.625  NaN  27.172190  ...  NaN   NaN  11.519688  25.777422
2000-01-05  15.000  NaN  27.464891  ...  NaN   NaN  11.709705  24.849794
2000-01-06  16.000  NaN  27.684412  ...  NaN   NaN  11.875965  26.659546
2000-01-07  16.250  NaN  28.221029  ...  NaN   NaN  12.208491  27.506729

                  MLM        MAS  MA       MKC       MXIM        MCD
Date
2000-01-03  30.544085  12.996982 NaN  8.719278  29.275034  23.817707
2000-01-04  30.119860  12.674477 NaN  8.836308  28.193531  23.329338
2000-01-05  31.675343  12.161582 NaN  8.914340  28.268124  23.705008
2000-01-06  34.032150  12.291308 NaN  8.797302  29.051296  23.366909
2000-01-07  35.446213  12.745337 NaN  8.758290  29.722555  23.967987

[5 rows x 311 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  MKTX        MAR        MMC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  11.590939  26.990477
2000-01-04  14.625  NaN  27.172190  ...   NaN  11.519688  25.777422
2000-01-05  15.000  NaN  27.464891  ...   NaN  11.709705  24.849794
2000-01-06  16.000  NaN  27.684412  ...   NaN  11.875965  26.659546
2000-01-07  16.250  NaN  28.221029  ...   NaN  12.208491  27.506729

                  MLM        MAS  MA       MKC       MXIM        MCD  \
Date
2000-01-03  30.544085  12.996982 NaN  8.719278  29.275034  23.817707
2000-01-04  30.119860  12.674477 NaN  8.836308  28.193531  23.329338
2000-01-05  31.675343  12.161582 NaN  8.914340  28.268124  23.705008
2000-01-06  34.032150  12.291308 NaN  8.797302  29.051296  23.366909
2000-01-07  35.446213  12.745337 NaN  8.758290  29.722555  23.967987

                  MCK
Date
2000-01-03  19.955185
2000-01-04  18.678059
2000-01-05  18.890911
2000-01-06  20.221256
2000-01-07  20.008398

[5 rows x 312 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        MAR        MMC        MLM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  11.590939  26.990477  30.544085
2000-01-04  14.625  NaN  27.172190  ...  11.519688  25.777422  30.119860
2000-01-05  15.000  NaN  27.464891  ...  11.709705  24.849794  31.675343
2000-01-06  16.000  NaN  27.684412  ...  11.875965  26.659546  34.032150
2000-01-07  16.250  NaN  28.221029  ...  12.208491  27.506729  35.446213

                  MAS  MA       MKC       MXIM        MCD        MCK  \
Date
2000-01-03  12.996982 NaN  8.719278  29.275034  23.817707  19.955185
2000-01-04  12.674477 NaN  8.836308  28.193531  23.329338  18.678059
2000-01-05  12.161582 NaN  8.914340  28.268124  23.705008  18.890911
2000-01-06  12.291308 NaN  8.797302  29.051296  23.366909  20.221256
2000-01-07  12.745337 NaN  8.758290  29.722555  23.967987  20.008398

                  MDT
Date
2000-01-03  24.943438
2000-01-04  25.125523
2000-01-05  26.704069
2000-01-06  27.706591
2000-01-07  30.805367

[5 rows x 313 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        MMC        MLM        MAS  MA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  26.990477  30.544085  12.996982 NaN
2000-01-04  14.625  NaN  27.172190  ...  25.777422  30.119860  12.674477 NaN
2000-01-05  15.000  NaN  27.464891  ...  24.849794  31.675343  12.161582 NaN
2000-01-06  16.000  NaN  27.684412  ...  26.659546  34.032150  12.291308 NaN
2000-01-07  16.250  NaN  28.221029  ...  27.506729  35.446213  12.745337 NaN

                 MKC       MXIM        MCD        MCK        MDT        MRK
Date
2000-01-03  8.719278  29.275034  23.817707  19.955185  24.943438  31.689192
2000-01-04  8.836308  28.193531  23.329338  18.678059  25.125523  30.576269
2000-01-05  8.914340  28.268124  23.705008  18.890911  26.704069  31.777040
2000-01-06  8.797302  29.051296  23.366909  20.221256  27.706591  32.040642
2000-01-07  8.758290  29.722555  23.967987  20.008398  30.805367  35.115833

[5 rows x 314 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        MLM        MAS  MA       MKC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  30.544085  12.996982 NaN  8.719278
2000-01-04  14.625  NaN  27.172190  ...  30.119860  12.674477 NaN  8.836308
2000-01-05  15.000  NaN  27.464891  ...  31.675343  12.161582 NaN  8.914340
2000-01-06  16.000  NaN  27.684412  ...  34.032150  12.291308 NaN  8.797302
2000-01-07  16.250  NaN  28.221029  ...  35.446213  12.745337 NaN  8.758290

                 MXIM        MCD        MCK        MDT        MRK  MET
Date
2000-01-03  29.275034  23.817707  19.955185  24.943438  31.689192  NaN
2000-01-04  28.193531  23.329338  18.678059  25.125523  30.576269  NaN
2000-01-05  28.268124  23.705008  18.890911  26.704069  31.777040  NaN
2000-01-06  29.051296  23.366909  20.221256  27.706591  32.040642  NaN
2000-01-07  29.722555  23.967987  20.008398  30.805367  35.115833  NaN

[5 rows x 315 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        MAS  MA       MKC       MXIM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  12.996982 NaN  8.719278  29.275034
2000-01-04  14.625  NaN  27.172190  ...  12.674477 NaN  8.836308  28.193531
2000-01-05  15.000  NaN  27.464891  ...  12.161582 NaN  8.914340  28.268124
2000-01-06  16.000  NaN  27.684412  ...  12.291308 NaN  8.797302  29.051296
2000-01-07  16.250  NaN  28.221029  ...  12.745337 NaN  8.758290  29.722555

                  MCD        MCK        MDT        MRK  MET     MTD
Date
2000-01-03  23.817707  19.955185  24.943438  31.689192  NaN  35.375
2000-01-04  23.329338  18.678059  25.125523  30.576269  NaN  34.625
2000-01-05  23.705008  18.890911  26.704069  31.777040  NaN  33.875
2000-01-06  23.366909  20.221256  27.706591  32.040642  NaN  34.625
2000-01-07  23.967987  20.008398  30.805367  35.115833  NaN  35.625

[5 rows x 316 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  MA       MKC       MXIM        MCD  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ... NaN  8.719278  29.275034  23.817707
2000-01-04  14.625  NaN  27.172190  ... NaN  8.836308  28.193531  23.329338
2000-01-05  15.000  NaN  27.464891  ... NaN  8.914340  28.268124  23.705008
2000-01-06  16.000  NaN  27.684412  ... NaN  8.797302  29.051296  23.366909
2000-01-07  16.250  NaN  28.221029  ... NaN  8.758290  29.722555  23.967987

                  MCK        MDT        MRK  MET     MTD        MGM
Date
2000-01-03  19.955185  24.943438  31.689192  NaN  35.375  10.921989
2000-01-04  18.678059  25.125523  30.576269  NaN  34.625  10.820863
2000-01-05  18.890911  26.704069  31.777040  NaN  33.875  10.647493
2000-01-06  20.221256  27.706591  32.040642  NaN  34.625  11.037569
2000-01-07  20.008398  30.805367  35.115833  NaN  35.625  10.921989

[5 rows x 317 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       MKC       MXIM        MCD  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  8.719278  29.275034  23.817707
2000-01-04  14.625  NaN  27.172190  ...  8.836308  28.193531  23.329338
2000-01-05  15.000  NaN  27.464891  ...  8.914340  28.268124  23.705008
2000-01-06  16.000  NaN  27.684412  ...  8.797302  29.051296  23.366909
2000-01-07  16.250  NaN  28.221029  ...  8.758290  29.722555  23.967987

                  MCK        MDT        MRK  MET     MTD        MGM       MCHP
Date
2000-01-03  19.955185  24.943438  31.689192  NaN  35.375  10.921989  12.186379
2000-01-04  18.678059  25.125523  30.576269  NaN  34.625  10.820863  11.311924
2000-01-05  18.890911  26.704069  31.777040  NaN  33.875  10.647493  11.401610
2000-01-06  20.221256  27.706591  32.040642  NaN  34.625  11.037569  11.098914
2000-01-07  20.008398  30.805367  35.115833  NaN  35.625  10.921989  10.807423

[5 rows x 318 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       MXIM        MCD        MCK  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  29.275034  23.817707  19.955185
2000-01-04  14.625  NaN  27.172190  ...  28.193531  23.329338  18.678059
2000-01-05  15.000  NaN  27.464891  ...  28.268124  23.705008  18.890911
2000-01-06  16.000  NaN  27.684412  ...  29.051296  23.366909  20.221256
2000-01-07  16.250  NaN  28.221029  ...  29.722555  23.967987  20.008398

                  MDT        MRK  MET     MTD        MGM       MCHP        MU
Date
2000-01-03  24.943438  31.689192  NaN  35.375  10.921989  12.186379  37.96875
2000-01-04  25.125523  30.576269  NaN  34.625  10.820863  11.311924  36.50000
2000-01-05  26.704069  31.777040  NaN  33.875  10.647493  11.401610  36.37500
2000-01-06  27.706591  32.040642  NaN  34.625  11.037569  11.098914  37.00000
2000-01-07  30.805367  35.115833  NaN  35.625  10.921989  10.807423  35.25000

[5 rows x 319 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        MCD        MCK        MDT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  23.817707  19.955185  24.943438
2000-01-04  14.625  NaN  27.172190  ...  23.329338  18.678059  25.125523
2000-01-05  15.000  NaN  27.464891  ...  23.705008  18.890911  26.704069
2000-01-06  16.000  NaN  27.684412  ...  23.366909  20.221256  27.706591
2000-01-07  16.250  NaN  28.221029  ...  23.967987  20.008398  30.805367

                  MRK  MET     MTD        MGM       MCHP        MU       MSFT
Date
2000-01-03  31.689192  NaN  35.375  10.921989  12.186379  37.96875  37.289700
2000-01-04  30.576269  NaN  34.625  10.820863  11.311924  36.50000  36.030037
2000-01-05  31.777040  NaN  33.875  10.647493  11.401610  36.37500  36.409924
2000-01-06  32.040642  NaN  34.625  11.037569  11.098914  37.00000  35.190277
2000-01-07  35.115833  NaN  35.625  10.921989  10.807423  35.25000  35.650139

[5 rows x 320 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        MCK        MDT        MRK  MET  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  19.955185  24.943438  31.689192  NaN
2000-01-04  14.625  NaN  27.172190  ...  18.678059  25.125523  30.576269  NaN
2000-01-05  15.000  NaN  27.464891  ...  18.890911  26.704069  31.777040  NaN
2000-01-06  16.000  NaN  27.684412  ...  20.221256  27.706591  32.040642  NaN
2000-01-07  16.250  NaN  28.221029  ...  20.008398  30.805367  35.115833  NaN

               MTD        MGM       MCHP        MU       MSFT       MAA
Date
2000-01-03  35.375  10.921989  12.186379  37.96875  37.289700  7.268247
2000-01-04  34.625  10.820863  11.311924  36.50000  36.030037  7.308624
2000-01-05  33.875  10.647493  11.401610  36.37500  36.409924  7.227864
2000-01-06  34.625  11.037569  11.098914  37.00000  35.190277  7.349001
2000-01-07  35.625  10.921989  10.807423  35.25000  35.650139  7.409570

[5 rows x 321 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        MDT        MRK  MET     MTD  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  24.943438  31.689192  NaN  35.375
2000-01-04  14.625  NaN  27.172190  ...  25.125523  30.576269  NaN  34.625
2000-01-05  15.000  NaN  27.464891  ...  26.704069  31.777040  NaN  33.875
2000-01-06  16.000  NaN  27.684412  ...  27.706591  32.040642  NaN  34.625
2000-01-07  16.250  NaN  28.221029  ...  30.805367  35.115833  NaN  35.625

                  MGM       MCHP        MU       MSFT       MAA      MHK
Date
2000-01-03  10.921989  12.186379  37.96875  37.289700  7.268247  24.5625
2000-01-04  10.820863  11.311924  36.50000  36.030037  7.308624  24.0000
2000-01-05  10.647493  11.401610  36.37500  36.409924  7.227864  24.4375
2000-01-06  11.037569  11.098914  37.00000  35.190277  7.349001  24.3125
2000-01-07  10.921989  10.807423  35.25000  35.650139  7.409570  24.6250

[5 rows x 322 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        MRK  MET     MTD        MGM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  31.689192  NaN  35.375  10.921989
2000-01-04  14.625  NaN  27.172190  ...  30.576269  NaN  34.625  10.820863
2000-01-05  15.000  NaN  27.464891  ...  31.777040  NaN  33.875  10.647493
2000-01-06  16.000  NaN  27.684412  ...  32.040642  NaN  34.625  11.037569
2000-01-07  16.250  NaN  28.221029  ...  35.115833  NaN  35.625  10.921989

                 MCHP        MU       MSFT       MAA      MHK        TAP
Date
2000-01-03  12.186379  37.96875  37.289700  7.268247  24.5625  14.784784
2000-01-04  11.311924  36.50000  36.030037  7.308624  24.0000  14.602485
2000-01-05  11.401610  36.37500  36.409924  7.227864  24.4375  15.295240
2000-01-06  11.098914  37.00000  35.190277  7.349001  24.3125  15.112926
2000-01-07  10.807423  35.25000  35.650139  7.409570  24.6250  15.441082

[5 rows x 323 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  MET     MTD        MGM       MCHP  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  35.375  10.921989  12.186379
2000-01-04  14.625  NaN  27.172190  ...  NaN  34.625  10.820863  11.311924
2000-01-05  15.000  NaN  27.464891  ...  NaN  33.875  10.647493  11.401610
2000-01-06  16.000  NaN  27.684412  ...  NaN  34.625  11.037569  11.098914
2000-01-07  16.250  NaN  28.221029  ...  NaN  35.625  10.921989  10.807423

                  MU       MSFT       MAA      MHK        TAP  MDLZ
Date
2000-01-03  37.96875  37.289700  7.268247  24.5625  14.784784   NaN
2000-01-04  36.50000  36.030037  7.308624  24.0000  14.602485   NaN
2000-01-05  36.37500  36.409924  7.227864  24.4375  15.295240   NaN
2000-01-06  37.00000  35.190277  7.349001  24.3125  15.112926   NaN
2000-01-07  35.25000  35.650139  7.409570  24.6250  15.441082   NaN

[5 rows x 324 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...     MTD        MGM       MCHP  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  35.375  10.921989  12.186379
2000-01-04  14.625  NaN  27.172190  ...  34.625  10.820863  11.311924
2000-01-05  15.000  NaN  27.464891  ...  33.875  10.647493  11.401610
2000-01-06  16.000  NaN  27.684412  ...  34.625  11.037569  11.098914
2000-01-07  16.250  NaN  28.221029  ...  35.625  10.921989  10.807423

                  MU       MSFT       MAA      MHK        TAP  MDLZ      MNST
Date
2000-01-03  37.96875  37.289700  7.268247  24.5625  14.784784   NaN  0.089844
2000-01-04  36.50000  36.030037  7.308624  24.0000  14.602485   NaN  0.085938
2000-01-05  36.37500  36.409924  7.227864  24.4375  15.295240   NaN  0.085938
2000-01-06  37.00000  35.190277  7.349001  24.3125  15.112926   NaN  0.088542
2000-01-07  35.25000  35.650139  7.409570  24.6250  15.441082   NaN  0.086589

[5 rows x 325 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        MGM       MCHP        MU  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.921989  12.186379  37.96875
2000-01-04  14.625  NaN  27.172190  ...  10.820863  11.311924  36.50000
2000-01-05  15.000  NaN  27.464891  ...  10.647493  11.401610  36.37500
2000-01-06  16.000  NaN  27.684412  ...  11.037569  11.098914  37.00000
2000-01-07  16.250  NaN  28.221029  ...  10.921989  10.807423  35.25000

                 MSFT       MAA      MHK        TAP  MDLZ      MNST       MCO
Date
2000-01-03  37.289700  7.268247  24.5625  14.784784   NaN  0.089844  8.182575
2000-01-04  36.030037  7.308624  24.0000  14.602485   NaN  0.085938  7.946084
2000-01-05  36.409924  7.227864  24.4375  15.295240   NaN  0.085938  7.804188
2000-01-06  35.190277  7.349001  24.3125  15.112926   NaN  0.088542  7.804188
2000-01-07  35.650139  7.409570  24.6250  15.441082   NaN  0.086589  7.993379

[5 rows x 326 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       MCHP        MU       MSFT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  12.186379  37.96875  37.289700
2000-01-04  14.625  NaN  27.172190  ...  11.311924  36.50000  36.030037
2000-01-05  15.000  NaN  27.464891  ...  11.401610  36.37500  36.409924
2000-01-06  16.000  NaN  27.684412  ...  11.098914  37.00000  35.190277
2000-01-07  16.250  NaN  28.221029  ...  10.807423  35.25000  35.650139

                 MAA      MHK        TAP  MDLZ      MNST       MCO         MS
Date
2000-01-03  7.268247  24.5625  14.784784   NaN  0.089844  8.182575  38.990582
2000-01-04  7.308624  24.0000  14.602485   NaN  0.085938  7.946084  36.102390
2000-01-05  7.227864  24.4375  15.295240   NaN  0.085938  7.804188  34.784649
2000-01-06  7.349001  24.3125  15.112926   NaN  0.088542  7.804188  35.452534
2000-01-07  7.409570  24.6250  15.441082   NaN  0.086589  7.993379  36.553665

[5 rows x 327 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        MU       MSFT       MAA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  37.96875  37.289700  7.268247
2000-01-04  14.625  NaN  27.172190  ...  36.50000  36.030037  7.308624
2000-01-05  15.000  NaN  27.464891  ...  36.37500  36.409924  7.227864
2000-01-06  16.000  NaN  27.684412  ...  37.00000  35.190277  7.349001
2000-01-07  16.250  NaN  28.221029  ...  35.25000  35.650139  7.409570

                MHK        TAP  MDLZ      MNST       MCO         MS        MOS
Date
2000-01-03  24.5625  14.784784   NaN  0.089844  8.182575  38.990582  13.199550
2000-01-04  24.0000  14.602485   NaN  0.085938  7.946084  36.102390  12.904040
2000-01-05  24.4375  15.295240   NaN  0.085938  7.804188  34.784649  13.396564
2000-01-06  24.3125  15.112926   NaN  0.088542  7.804188  35.452534  13.593571
2000-01-07  24.6250  15.441082   NaN  0.086589  7.993379  36.553665  13.790578

[5 rows x 328 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       MSFT       MAA      MHK  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  37.289700  7.268247  24.5625
2000-01-04  14.625  NaN  27.172190  ...  36.030037  7.308624  24.0000
2000-01-05  15.000  NaN  27.464891  ...  36.409924  7.227864  24.4375
2000-01-06  16.000  NaN  27.684412  ...  35.190277  7.349001  24.3125
2000-01-07  16.250  NaN  28.221029  ...  35.650139  7.409570  24.6250

                  TAP  MDLZ      MNST       MCO         MS        MOS  \
Date
2000-01-03  14.784784   NaN  0.089844  8.182575  38.990582  13.199550
2000-01-04  14.602485   NaN  0.085938  7.946084  36.102390  12.904040
2000-01-05  15.295240   NaN  0.085938  7.804188  34.784649  13.396564
2000-01-06  15.112926   NaN  0.088542  7.804188  35.452534  13.593571
2000-01-07  15.441082   NaN  0.086589  7.993379  36.553665  13.790578

                   MSI
Date
2000-01-03  135.167023
2000-01-04  125.074883
2000-01-05  121.786392
2000-01-06  107.952164
2000-01-07  116.853699

[5 rows x 329 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       MAA      MHK        TAP  MDLZ  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  7.268247  24.5625  14.784784   NaN
2000-01-04  14.625  NaN  27.172190  ...  7.308624  24.0000  14.602485   NaN
2000-01-05  15.000  NaN  27.464891  ...  7.227864  24.4375  15.295240   NaN
2000-01-06  16.000  NaN  27.684412  ...  7.349001  24.3125  15.112926   NaN
2000-01-07  16.250  NaN  28.221029  ...  7.409570  24.6250  15.441082   NaN

                MNST       MCO         MS        MOS         MSI  MSCI
Date
2000-01-03  0.089844  8.182575  38.990582  13.199550  135.167023   NaN
2000-01-04  0.085938  7.946084  36.102390  12.904040  125.074883   NaN
2000-01-05  0.085938  7.804188  34.784649  13.396564  121.786392   NaN
2000-01-06  0.088542  7.804188  35.452534  13.593571  107.952164   NaN
2000-01-07  0.086589  7.993379  36.553665  13.790578  116.853699   NaN

[5 rows x 330 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      MHK        TAP  MDLZ      MNST  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  24.5625  14.784784   NaN  0.089844
2000-01-04  14.625  NaN  27.172190  ...  24.0000  14.602485   NaN  0.085938
2000-01-05  15.000  NaN  27.464891  ...  24.4375  15.295240   NaN  0.085938
2000-01-06  16.000  NaN  27.684412  ...  24.3125  15.112926   NaN  0.088542
2000-01-07  16.250  NaN  28.221029  ...  24.6250  15.441082   NaN  0.086589

                 MCO         MS        MOS         MSI  MSCI        MYL
Date
2000-01-03  8.182575  38.990582  13.199550  135.167023   NaN  10.236141
2000-01-04  7.946084  36.102390  12.904040  125.074883   NaN   9.763706
2000-01-05  7.804188  34.784649  13.396564  121.786392   NaN   9.921185
2000-01-06  7.804188  35.452534  13.593571  107.952164   NaN   9.973678
2000-01-07  7.993379  36.553665  13.790578  116.853699   NaN  10.498606

[5 rows x 331 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        TAP  MDLZ      MNST       MCO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  14.784784   NaN  0.089844  8.182575
2000-01-04  14.625  NaN  27.172190  ...  14.602485   NaN  0.085938  7.946084
2000-01-05  15.000  NaN  27.464891  ...  15.295240   NaN  0.085938  7.804188
2000-01-06  16.000  NaN  27.684412  ...  15.112926   NaN  0.088542  7.804188
2000-01-07  16.250  NaN  28.221029  ...  15.441082   NaN  0.086589  7.993379

                   MS        MOS         MSI  MSCI        MYL  NDAQ
Date
2000-01-03  38.990582  13.199550  135.167023   NaN  10.236141   NaN
2000-01-04  36.102390  12.904040  125.074883   NaN   9.763706   NaN
2000-01-05  34.784649  13.396564  121.786392   NaN   9.921185   NaN
2000-01-06  35.452534  13.593571  107.952164   NaN   9.973678   NaN
2000-01-07  36.553665  13.790578  116.853699   NaN  10.498606   NaN

[5 rows x 332 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  MDLZ      MNST       MCO         MS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  0.089844  8.182575  38.990582
2000-01-04  14.625  NaN  27.172190  ...   NaN  0.085938  7.946084  36.102390
2000-01-05  15.000  NaN  27.464891  ...   NaN  0.085938  7.804188  34.784649
2000-01-06  16.000  NaN  27.684412  ...   NaN  0.088542  7.804188  35.452534
2000-01-07  16.250  NaN  28.221029  ...   NaN  0.086589  7.993379  36.553665

                  MOS         MSI  MSCI        MYL  NDAQ       NOV
Date
2000-01-03  13.199550  135.167023   NaN  10.236141   NaN  5.681176
2000-01-04  12.904040  125.074883   NaN   9.763706   NaN  5.535507
2000-01-05  13.396564  121.786392   NaN   9.921185   NaN  5.632619
2000-01-06  13.593571  107.952164   NaN   9.973678   NaN  5.851126
2000-01-07  13.790578  116.853699   NaN  10.498606   NaN  6.263861

[5 rows x 333 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      MNST       MCO         MS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  0.089844  8.182575  38.990582
2000-01-04  14.625  NaN  27.172190  ...  0.085938  7.946084  36.102390
2000-01-05  15.000  NaN  27.464891  ...  0.085938  7.804188  34.784649
2000-01-06  16.000  NaN  27.684412  ...  0.088542  7.804188  35.452534
2000-01-07  16.250  NaN  28.221029  ...  0.086589  7.993379  36.553665

                  MOS         MSI  MSCI        MYL  NDAQ       NOV       NTAP
Date
2000-01-03  13.199550  135.167023   NaN  10.236141   NaN  5.681176  36.342716
2000-01-04  12.904040  125.074883   NaN   9.763706   NaN  5.535507  31.746449
2000-01-05  13.396564  121.786392   NaN   9.921185   NaN  5.632619  33.510132
2000-01-06  13.593571  107.952164   NaN   9.973678   NaN  5.851126  29.956018
2000-01-07  13.790578  116.853699   NaN  10.498606   NaN  6.263861  36.342716

[5 rows x 334 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       MCO         MS        MOS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  8.182575  38.990582  13.199550
2000-01-04  14.625  NaN  27.172190  ...  7.946084  36.102390  12.904040
2000-01-05  15.000  NaN  27.464891  ...  7.804188  34.784649  13.396564
2000-01-06  16.000  NaN  27.684412  ...  7.804188  35.452534  13.593571
2000-01-07  16.250  NaN  28.221029  ...  7.993379  36.553665  13.790578

                   MSI  MSCI        MYL  NDAQ       NOV       NTAP  NFLX
Date
2000-01-03  135.167023   NaN  10.236141   NaN  5.681176  36.342716   NaN
2000-01-04  125.074883   NaN   9.763706   NaN  5.535507  31.746449   NaN
2000-01-05  121.786392   NaN   9.921185   NaN  5.632619  33.510132   NaN
2000-01-06  107.952164   NaN   9.973678   NaN  5.851126  29.956018   NaN
2000-01-07  116.853699   NaN  10.498606   NaN  6.263861  36.342716   NaN

[5 rows x 335 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         MS        MOS         MSI  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  38.990582  13.199550  135.167023
2000-01-04  14.625  NaN  27.172190  ...  36.102390  12.904040  125.074883
2000-01-05  15.000  NaN  27.464891  ...  34.784649  13.396564  121.786392
2000-01-06  16.000  NaN  27.684412  ...  35.452534  13.593571  107.952164
2000-01-07  16.250  NaN  28.221029  ...  36.553665  13.790578  116.853699

            MSCI        MYL  NDAQ       NOV       NTAP  NFLX        NWL
Date
2000-01-03   NaN  10.236141   NaN  5.681176  36.342716   NaN  15.215063
2000-01-04   NaN   9.763706   NaN  5.535507  31.746449   NaN  15.592018
2000-01-05   NaN   9.921185   NaN  5.632619  33.510132   NaN  15.352143
2000-01-06   NaN   9.973678   NaN  5.851126  29.956018   NaN  15.660553
2000-01-07   NaN  10.498606   NaN  6.263861  36.342716   NaN  16.174568

[5 rows x 336 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        MOS         MSI  MSCI  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  13.199550  135.167023   NaN
2000-01-04  14.625  NaN  27.172190  ...  12.904040  125.074883   NaN
2000-01-05  15.000  NaN  27.464891  ...  13.396564  121.786392   NaN
2000-01-06  16.000  NaN  27.684412  ...  13.593571  107.952164   NaN
2000-01-07  16.250  NaN  28.221029  ...  13.790578  116.853699   NaN

                  MYL  NDAQ       NOV       NTAP  NFLX        NWL        NEM
Date
2000-01-03  10.236141   NaN  5.681176  36.342716   NaN  15.215063  18.694756
2000-01-04   9.763706   NaN  5.535507  31.746449   NaN  15.592018  17.286575
2000-01-05   9.921185   NaN  5.632619  33.510132   NaN  15.352143  17.480806
2000-01-06   9.973678   NaN  5.851126  29.956018   NaN  15.660553  17.286575
2000-01-07  10.498606   NaN  6.263861  36.342716   NaN  16.174568  16.655317

[5 rows x 337 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         MSI  MSCI        MYL  NDAQ  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  135.167023   NaN  10.236141   NaN
2000-01-04  14.625  NaN  27.172190  ...  125.074883   NaN   9.763706   NaN
2000-01-05  15.000  NaN  27.464891  ...  121.786392   NaN   9.921185   NaN
2000-01-06  16.000  NaN  27.684412  ...  107.952164   NaN   9.973678   NaN
2000-01-07  16.250  NaN  28.221029  ...  116.853699   NaN  10.498606   NaN

                 NOV       NTAP  NFLX        NWL        NEM  NWSA
Date
2000-01-03  5.681176  36.342716   NaN  15.215063  18.694756   NaN
2000-01-04  5.535507  31.746449   NaN  15.592018  17.286575   NaN
2000-01-05  5.632619  33.510132   NaN  15.352143  17.480806   NaN
2000-01-06  5.851126  29.956018   NaN  15.660553  17.286575   NaN
2000-01-07  6.263861  36.342716   NaN  16.174568  16.655317   NaN

[5 rows x 338 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  MSCI        MYL  NDAQ       NOV  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  10.236141   NaN  5.681176
2000-01-04  14.625  NaN  27.172190  ...   NaN   9.763706   NaN  5.535507
2000-01-05  15.000  NaN  27.464891  ...   NaN   9.921185   NaN  5.632619
2000-01-06  16.000  NaN  27.684412  ...   NaN   9.973678   NaN  5.851126
2000-01-07  16.250  NaN  28.221029  ...   NaN  10.498606   NaN  6.263861

                 NTAP  NFLX        NWL        NEM  NWSA  NWS
Date
2000-01-03  36.342716   NaN  15.215063  18.694756   NaN  NaN
2000-01-04  31.746449   NaN  15.592018  17.286575   NaN  NaN
2000-01-05  33.510132   NaN  15.352143  17.480806   NaN  NaN
2000-01-06  29.956018   NaN  15.660553  17.286575   NaN  NaN
2000-01-07  36.342716   NaN  16.174568  16.655317   NaN  NaN

[5 rows x 339 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        MYL  NDAQ       NOV       NTAP  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.236141   NaN  5.681176  36.342716
2000-01-04  14.625  NaN  27.172190  ...   9.763706   NaN  5.535507  31.746449
2000-01-05  15.000  NaN  27.464891  ...   9.921185   NaN  5.632619  33.510132
2000-01-06  16.000  NaN  27.684412  ...   9.973678   NaN  5.851126  29.956018
2000-01-07  16.250  NaN  28.221029  ...  10.498606   NaN  6.263861  36.342716

            NFLX        NWL        NEM  NWSA  NWS       NEE
Date
2000-01-03   NaN  15.215063  18.694756   NaN  NaN  8.322881
2000-01-04   NaN  15.592018  17.286575   NaN  NaN  8.474204
2000-01-05   NaN  15.352143  17.480806   NaN  NaN  8.751637
2000-01-06   NaN  15.660553  17.286575   NaN  NaN  8.751637
2000-01-07   NaN  16.174568  16.655317   NaN  NaN  9.003839

[5 rows x 340 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  NDAQ       NOV       NTAP  NFLX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  5.681176  36.342716   NaN
2000-01-04  14.625  NaN  27.172190  ...   NaN  5.535507  31.746449   NaN
2000-01-05  15.000  NaN  27.464891  ...   NaN  5.632619  33.510132   NaN
2000-01-06  16.000  NaN  27.684412  ...   NaN  5.851126  29.956018   NaN
2000-01-07  16.250  NaN  28.221029  ...   NaN  6.263861  36.342716   NaN

                  NWL        NEM  NWSA  NWS       NEE  NLSN
Date
2000-01-03  15.215063  18.694756   NaN  NaN  8.322881   NaN
2000-01-04  15.592018  17.286575   NaN  NaN  8.474204   NaN
2000-01-05  15.352143  17.480806   NaN  NaN  8.751637   NaN
2000-01-06  15.660553  17.286575   NaN  NaN  8.751637   NaN
2000-01-07  16.174568  16.655317   NaN  NaN  9.003839   NaN

[5 rows x 341 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       NOV       NTAP  NFLX        NWL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  5.681176  36.342716   NaN  15.215063
2000-01-04  14.625  NaN  27.172190  ...  5.535507  31.746449   NaN  15.592018
2000-01-05  15.000  NaN  27.464891  ...  5.632619  33.510132   NaN  15.352143
2000-01-06  16.000  NaN  27.684412  ...  5.851126  29.956018   NaN  15.660553
2000-01-07  16.250  NaN  28.221029  ...  6.263861  36.342716   NaN  16.174568

                  NEM  NWSA  NWS       NEE  NLSN       NKE
Date
2000-01-03  18.694756   NaN  NaN  8.322881   NaN  1.819597
2000-01-04  17.286575   NaN  NaN  8.474204   NaN  1.720346
2000-01-05  17.480806   NaN  NaN  8.751637   NaN  1.819597
2000-01-06  17.286575   NaN  NaN  8.751637   NaN  1.810144
2000-01-07  16.655317   NaN  NaN  9.003839   NaN  1.810144

[5 rows x 342 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       NTAP  NFLX        NWL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  36.342716   NaN  15.215063
2000-01-04  14.625  NaN  27.172190  ...  31.746449   NaN  15.592018
2000-01-05  15.000  NaN  27.464891  ...  33.510132   NaN  15.352143
2000-01-06  16.000  NaN  27.684412  ...  29.956018   NaN  15.660553
2000-01-07  16.250  NaN  28.221029  ...  36.342716   NaN  16.174568

                  NEM  NWSA  NWS       NEE  NLSN       NKE        NI
Date
2000-01-03  18.694756   NaN  NaN  8.322881   NaN  1.819597  2.819523
2000-01-04  17.286575   NaN  NaN  8.474204   NaN  1.720346  2.849518
2000-01-05  17.480806   NaN  NaN  8.751637   NaN  1.819597  2.969497
2000-01-06  17.286575   NaN  NaN  8.751637   NaN  1.810144  2.949502
2000-01-07  16.655317   NaN  NaN  9.003839   NaN  1.810144  2.939502

[5 rows x 343 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  NFLX        NWL        NEM  NWSA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  15.215063  18.694756   NaN
2000-01-04  14.625  NaN  27.172190  ...   NaN  15.592018  17.286575   NaN
2000-01-05  15.000  NaN  27.464891  ...   NaN  15.352143  17.480806   NaN
2000-01-06  16.000  NaN  27.684412  ...   NaN  15.660553  17.286575   NaN
2000-01-07  16.250  NaN  28.221029  ...   NaN  16.174568  16.655317   NaN

            NWS       NEE  NLSN       NKE        NI       NBL
Date
2000-01-03  NaN  8.322881   NaN  1.819597  2.819523  3.600099
2000-01-04  NaN  8.474204   NaN  1.720346  2.849518  3.477872
2000-01-05  NaN  8.751637   NaN  1.819597  2.969497  3.444537
2000-01-06  NaN  8.751637   NaN  1.810144  2.949502  3.644542
2000-01-07  NaN  9.003839   NaN  1.810144  2.939502  3.700100

[5 rows x 344 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        NWL        NEM  NWSA  NWS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  15.215063  18.694756   NaN  NaN
2000-01-04  14.625  NaN  27.172190  ...  15.592018  17.286575   NaN  NaN
2000-01-05  15.000  NaN  27.464891  ...  15.352143  17.480806   NaN  NaN
2000-01-06  16.000  NaN  27.684412  ...  15.660553  17.286575   NaN  NaN
2000-01-07  16.250  NaN  28.221029  ...  16.174568  16.655317   NaN  NaN

                 NEE  NLSN       NKE        NI       NBL        NSC
Date
2000-01-03  8.322881   NaN  1.819597  2.819523  3.600099  12.738764
2000-01-04  8.474204   NaN  1.720346  2.849518  3.477872  12.817889
2000-01-05  8.751637   NaN  1.819597  2.969497  3.444537  12.738764
2000-01-06  8.751637   NaN  1.810144  2.949502  3.644542  13.490429
2000-01-07  9.003839   NaN  1.810144  2.939502  3.700100  13.094814

[5 rows x 345 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        NEM  NWSA  NWS       NEE  NLSN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  18.694756   NaN  NaN  8.322881   NaN
2000-01-04  14.625  NaN  27.172190  ...  17.286575   NaN  NaN  8.474204   NaN
2000-01-05  15.000  NaN  27.464891  ...  17.480806   NaN  NaN  8.751637   NaN
2000-01-06  16.000  NaN  27.684412  ...  17.286575   NaN  NaN  8.751637   NaN
2000-01-07  16.250  NaN  28.221029  ...  16.655317   NaN  NaN  9.003839   NaN

                 NKE        NI       NBL        NSC       NTRS
Date
2000-01-03  1.819597  2.819523  3.600099  12.738764  34.062267
2000-01-04  1.720346  2.849518  3.477872  12.817889  31.847679
2000-01-05  1.819597  2.969497  3.444537  12.738764  32.564785
2000-01-06  1.810144  2.949502  3.644542  13.490429  33.239700
2000-01-07  1.810144  2.939502  3.700100  13.094814  33.661541

[5 rows x 346 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  NWSA  NWS       NEE  NLSN       NKE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  NaN  8.322881   NaN  1.819597
2000-01-04  14.625  NaN  27.172190  ...   NaN  NaN  8.474204   NaN  1.720346
2000-01-05  15.000  NaN  27.464891  ...   NaN  NaN  8.751637   NaN  1.819597
2000-01-06  16.000  NaN  27.684412  ...   NaN  NaN  8.751637   NaN  1.810144
2000-01-07  16.250  NaN  28.221029  ...   NaN  NaN  9.003839   NaN  1.810144

                  NI       NBL        NSC       NTRS        NOC
Date
2000-01-03  2.819523  3.600099  12.738764  34.062267  13.660627
2000-01-04  2.849518  3.477872  12.817889  31.847679  13.838248
2000-01-05  2.969497  3.444537  12.738764  32.564785  13.822094
2000-01-06  2.949502  3.644542  13.490429  33.239700  13.563735
2000-01-07  2.939502  3.700100  13.094814  33.661541  13.886681

[5 rows x 347 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  NWS       NEE  NLSN       NKE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  8.322881   NaN  1.819597
2000-01-04  14.625  NaN  27.172190  ...  NaN  8.474204   NaN  1.720346
2000-01-05  15.000  NaN  27.464891  ...  NaN  8.751637   NaN  1.819597
2000-01-06  16.000  NaN  27.684412  ...  NaN  8.751637   NaN  1.810144
2000-01-07  16.250  NaN  28.221029  ...  NaN  9.003839   NaN  1.810144

                  NI       NBL        NSC       NTRS        NOC  NLOK
Date
2000-01-03  2.819523  3.600099  12.738764  34.062267  13.660627   NaN
2000-01-04  2.849518  3.477872  12.817889  31.847679  13.838248   NaN
2000-01-05  2.969497  3.444537  12.738764  32.564785  13.822094   NaN
2000-01-06  2.949502  3.644542  13.490429  33.239700  13.563735   NaN
2000-01-07  2.939502  3.700100  13.094814  33.661541  13.886681   NaN

[5 rows x 348 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       NEE  NLSN       NKE        NI  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  8.322881   NaN  1.819597  2.819523
2000-01-04  14.625  NaN  27.172190  ...  8.474204   NaN  1.720346  2.849518
2000-01-05  15.000  NaN  27.464891  ...  8.751637   NaN  1.819597  2.969497
2000-01-06  16.000  NaN  27.684412  ...  8.751637   NaN  1.810144  2.949502
2000-01-07  16.250  NaN  28.221029  ...  9.003839   NaN  1.810144  2.939502

                 NBL        NSC       NTRS        NOC  NLOK  NCLH
Date
2000-01-03  3.600099  12.738764  34.062267  13.660627   NaN   NaN
2000-01-04  3.477872  12.817889  31.847679  13.838248   NaN   NaN
2000-01-05  3.444537  12.738764  32.564785  13.822094   NaN   NaN
2000-01-06  3.644542  13.490429  33.239700  13.563735   NaN   NaN
2000-01-07  3.700100  13.094814  33.661541  13.886681   NaN   NaN

[5 rows x 349 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  NLSN       NKE        NI       NBL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  1.819597  2.819523  3.600099
2000-01-04  14.625  NaN  27.172190  ...   NaN  1.720346  2.849518  3.477872
2000-01-05  15.000  NaN  27.464891  ...   NaN  1.819597  2.969497  3.444537
2000-01-06  16.000  NaN  27.684412  ...   NaN  1.810144  2.949502  3.644542
2000-01-07  16.250  NaN  28.221029  ...   NaN  1.810144  2.939502  3.700100

                  NSC       NTRS        NOC  NLOK  NCLH  NRG
Date
2000-01-03  12.738764  34.062267  13.660627   NaN   NaN  NaN
2000-01-04  12.817889  31.847679  13.838248   NaN   NaN  NaN
2000-01-05  12.738764  32.564785  13.822094   NaN   NaN  NaN
2000-01-06  13.490429  33.239700  13.563735   NaN   NaN  NaN
2000-01-07  13.094814  33.661541  13.886681   NaN   NaN  NaN

[5 rows x 350 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       NKE        NI       NBL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  1.819597  2.819523  3.600099
2000-01-04  14.625  NaN  27.172190  ...  1.720346  2.849518  3.477872
2000-01-05  15.000  NaN  27.464891  ...  1.819597  2.969497  3.444537
2000-01-06  16.000  NaN  27.684412  ...  1.810144  2.949502  3.644542
2000-01-07  16.250  NaN  28.221029  ...  1.810144  2.939502  3.700100

                  NSC       NTRS        NOC  NLOK  NCLH  NRG       NUE
Date
2000-01-03  12.738764  34.062267  13.660627   NaN   NaN  NaN  6.318145
2000-01-04  12.817889  31.847679  13.838248   NaN   NaN  NaN  6.252708
2000-01-05  12.738764  32.564785  13.822094   NaN   NaN  NaN  6.427203
2000-01-06  13.490429  33.239700  13.563735   NaN   NaN  NaN  6.485368
2000-01-07  13.094814  33.661541  13.886681   NaN   NaN  NaN  6.507185

[5 rows x 351 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        NI       NBL        NSC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  2.819523  3.600099  12.738764
2000-01-04  14.625  NaN  27.172190  ...  2.849518  3.477872  12.817889
2000-01-05  15.000  NaN  27.464891  ...  2.969497  3.444537  12.738764
2000-01-06  16.000  NaN  27.684412  ...  2.949502  3.644542  13.490429
2000-01-07  16.250  NaN  28.221029  ...  2.939502  3.700100  13.094814

                 NTRS        NOC  NLOK  NCLH  NRG       NUE      NVDA
Date
2000-01-03  34.062267  13.660627   NaN   NaN  NaN  6.318145  3.590438
2000-01-04  31.847679  13.838248   NaN   NaN  NaN  6.252708  3.494565
2000-01-05  32.564785  13.822094   NaN   NaN  NaN  6.427203  3.379518
2000-01-06  33.239700  13.563735   NaN   NaN  NaN  6.485368  3.159011
2000-01-07  33.661541  13.886681   NaN   NaN  NaN  6.507185  3.211740

[5 rows x 352 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       NBL        NSC       NTRS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  3.600099  12.738764  34.062267
2000-01-04  14.625  NaN  27.172190  ...  3.477872  12.817889  31.847679
2000-01-05  15.000  NaN  27.464891  ...  3.444537  12.738764  32.564785
2000-01-06  16.000  NaN  27.684412  ...  3.644542  13.490429  33.239700
2000-01-07  16.250  NaN  28.221029  ...  3.700100  13.094814  33.661541

                  NOC  NLOK  NCLH  NRG       NUE      NVDA      NVR
Date
2000-01-03  13.660627   NaN   NaN  NaN  6.318145  3.590438  46.5625
2000-01-04  13.838248   NaN   NaN  NaN  6.252708  3.494565  46.0000
2000-01-05  13.822094   NaN   NaN  NaN  6.427203  3.379518  45.8750
2000-01-06  13.563735   NaN   NaN  NaN  6.485368  3.159011  45.8750
2000-01-07  13.886681   NaN   NaN  NaN  6.507185  3.211740  46.7500

[5 rows x 353 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        NSC       NTRS        NOC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  12.738764  34.062267  13.660627
2000-01-04  14.625  NaN  27.172190  ...  12.817889  31.847679  13.838248
2000-01-05  15.000  NaN  27.464891  ...  12.738764  32.564785  13.822094
2000-01-06  16.000  NaN  27.684412  ...  13.490429  33.239700  13.563735
2000-01-07  16.250  NaN  28.221029  ...  13.094814  33.661541  13.886681

            NLOK  NCLH  NRG       NUE      NVDA      NVR      ORLY
Date
2000-01-03   NaN   NaN  NaN  6.318145  3.590438  46.5625  10.75000
2000-01-04   NaN   NaN  NaN  6.252708  3.494565  46.0000   9.96875
2000-01-05   NaN   NaN  NaN  6.427203  3.379518  45.8750  10.03125
2000-01-06   NaN   NaN  NaN  6.485368  3.159011  45.8750   9.46875
2000-01-07   NaN   NaN  NaN  6.507185  3.211740  46.7500   8.31250

[5 rows x 354 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       NTRS        NOC  NLOK  NCLH  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  34.062267  13.660627   NaN   NaN
2000-01-04  14.625  NaN  27.172190  ...  31.847679  13.838248   NaN   NaN
2000-01-05  15.000  NaN  27.464891  ...  32.564785  13.822094   NaN   NaN
2000-01-06  16.000  NaN  27.684412  ...  33.239700  13.563735   NaN   NaN
2000-01-07  16.250  NaN  28.221029  ...  33.661541  13.886681   NaN   NaN

            NRG       NUE      NVDA      NVR      ORLY       OXY
Date
2000-01-03  NaN  6.318145  3.590438  46.5625  10.75000  5.206547
2000-01-04  NaN  6.252708  3.494565  46.0000   9.96875  5.097101
2000-01-05  NaN  6.427203  3.379518  45.8750  10.03125  5.128369
2000-01-06  NaN  6.485368  3.159011  45.8750   9.46875  5.269087
2000-01-07  NaN  6.507185  3.211740  46.7500   8.31250  5.425441

[5 rows x 355 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        NOC  NLOK  NCLH  NRG       NUE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  13.660627   NaN   NaN  NaN  6.318145
2000-01-04  14.625  NaN  27.172190  ...  13.838248   NaN   NaN  NaN  6.252708
2000-01-05  15.000  NaN  27.464891  ...  13.822094   NaN   NaN  NaN  6.427203
2000-01-06  16.000  NaN  27.684412  ...  13.563735   NaN   NaN  NaN  6.485368
2000-01-07  16.250  NaN  28.221029  ...  13.886681   NaN   NaN  NaN  6.507185

                NVDA      NVR      ORLY       OXY      ODFL
Date
2000-01-03  3.590438  46.5625  10.75000  5.206547  0.973316
2000-01-04  3.494565  46.0000   9.96875  5.097101  0.951687
2000-01-05  3.379518  45.8750  10.03125  5.128369  1.070648
2000-01-06  3.159011  45.8750   9.46875  5.269087  0.973316
2000-01-07  3.211740  46.7500   8.31250  5.425441  0.973316

[5 rows x 356 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  NLOK  NCLH  NRG       NUE      NVDA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN   NaN  NaN  6.318145  3.590438
2000-01-04  14.625  NaN  27.172190  ...   NaN   NaN  NaN  6.252708  3.494565
2000-01-05  15.000  NaN  27.464891  ...   NaN   NaN  NaN  6.427203  3.379518
2000-01-06  16.000  NaN  27.684412  ...   NaN   NaN  NaN  6.485368  3.159011
2000-01-07  16.250  NaN  28.221029  ...   NaN   NaN  NaN  6.507185  3.211740

                NVR      ORLY       OXY      ODFL        OMC
Date
2000-01-03  46.5625  10.75000  5.206547  0.973316  29.950857
2000-01-04  46.0000   9.96875  5.097101  0.951687  28.965408
2000-01-05  45.8750  10.03125  5.128369  1.070648  28.134499
2000-01-06  45.8750   9.46875  5.269087  0.973316  28.289080
2000-01-07  46.7500   8.31250  5.425441  0.973316  29.487122

[5 rows x 357 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  NCLH  NRG       NUE      NVDA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  NaN  6.318145  3.590438
2000-01-04  14.625  NaN  27.172190  ...   NaN  NaN  6.252708  3.494565
2000-01-05  15.000  NaN  27.464891  ...   NaN  NaN  6.427203  3.379518
2000-01-06  16.000  NaN  27.684412  ...   NaN  NaN  6.485368  3.159011
2000-01-07  16.250  NaN  28.221029  ...   NaN  NaN  6.507185  3.211740

                NVR      ORLY       OXY      ODFL        OMC       OKE
Date
2000-01-03  46.5625  10.75000  5.206547  0.973316  29.950857  1.100867
2000-01-04  46.0000   9.96875  5.097101  0.951687  28.965408  1.087002
2000-01-05  45.8750  10.03125  5.128369  1.070648  28.134499  1.098094
2000-01-06  45.8750   9.46875  5.269087  0.973316  28.289080  1.098094
2000-01-07  46.7500   8.31250  5.425441  0.973316  29.487122  1.139689

[5 rows x 358 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  NRG       NUE      NVDA      NVR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  6.318145  3.590438  46.5625
2000-01-04  14.625  NaN  27.172190  ...  NaN  6.252708  3.494565  46.0000
2000-01-05  15.000  NaN  27.464891  ...  NaN  6.427203  3.379518  45.8750
2000-01-06  16.000  NaN  27.684412  ...  NaN  6.485368  3.159011  45.8750
2000-01-07  16.250  NaN  28.221029  ...  NaN  6.507185  3.211740  46.7500

                ORLY       OXY      ODFL        OMC       OKE       ORCL
Date
2000-01-03  10.75000  5.206547  0.973316  29.950857  1.100867  25.591290
2000-01-04   9.96875  5.097101  0.951687  28.965408  1.087002  23.330050
2000-01-05  10.03125  5.128369  1.070648  28.134499  1.098094  22.097868
2000-01-06   9.46875  5.269087  0.973316  28.289080  1.098094  20.797998
2000-01-07   8.31250  5.425441  0.973316  29.487122  1.139689  22.395758

[5 rows x 359 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       NUE      NVDA      NVR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  6.318145  3.590438  46.5625
2000-01-04  14.625  NaN  27.172190  ...  6.252708  3.494565  46.0000
2000-01-05  15.000  NaN  27.464891  ...  6.427203  3.379518  45.8750
2000-01-06  16.000  NaN  27.684412  ...  6.485368  3.159011  45.8750
2000-01-07  16.250  NaN  28.221029  ...  6.507185  3.211740  46.7500

                ORLY       OXY      ODFL        OMC       OKE       ORCL  OTIS
Date
2000-01-03  10.75000  5.206547  0.973316  29.950857  1.100867  25.591290   NaN
2000-01-04   9.96875  5.097101  0.951687  28.965408  1.087002  23.330050   NaN
2000-01-05  10.03125  5.128369  1.070648  28.134499  1.098094  22.097868   NaN
2000-01-06   9.46875  5.269087  0.973316  28.289080  1.098094  20.797998   NaN
2000-01-07   8.31250  5.425441  0.973316  29.487122  1.139689  22.395758   NaN

[5 rows x 360 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      NVDA      NVR      ORLY  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  3.590438  46.5625  10.75000
2000-01-04  14.625  NaN  27.172190  ...  3.494565  46.0000   9.96875
2000-01-05  15.000  NaN  27.464891  ...  3.379518  45.8750  10.03125
2000-01-06  16.000  NaN  27.684412  ...  3.159011  45.8750   9.46875
2000-01-07  16.250  NaN  28.221029  ...  3.211740  46.7500   8.31250

                 OXY      ODFL        OMC       OKE       ORCL  OTIS      PCAR
Date
2000-01-03  5.206547  0.973316  29.950857  1.100867  25.591290   NaN  4.339079
2000-01-04  5.097101  0.951687  28.965408  1.087002  23.330050   NaN  4.139580
2000-01-05  5.128369  1.070648  28.134499  1.098094  22.097868   NaN  4.307909
2000-01-06  5.269087  0.973316  28.289080  1.098094  20.797998   NaN  4.251801
2000-01-07  5.425441  0.973316  29.487122  1.139689  22.395758   NaN  4.413892

[5 rows x 361 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      NVR      ORLY       OXY  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  46.5625  10.75000  5.206547
2000-01-04  14.625  NaN  27.172190  ...  46.0000   9.96875  5.097101
2000-01-05  15.000  NaN  27.464891  ...  45.8750  10.03125  5.128369
2000-01-06  16.000  NaN  27.684412  ...  45.8750   9.46875  5.269087
2000-01-07  16.250  NaN  28.221029  ...  46.7500   8.31250  5.425441

                ODFL        OMC       OKE       ORCL  OTIS      PCAR  PKG
Date
2000-01-03  0.973316  29.950857  1.100867  25.591290   NaN  4.339079  NaN
2000-01-04  0.951687  28.965408  1.087002  23.330050   NaN  4.139580  NaN
2000-01-05  1.070648  28.134499  1.098094  22.097868   NaN  4.307909  NaN
2000-01-06  0.973316  28.289080  1.098094  20.797998   NaN  4.251801  NaN
2000-01-07  0.973316  29.487122  1.139689  22.395758   NaN  4.413892  NaN

[5 rows x 362 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      ORLY       OXY      ODFL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.75000  5.206547  0.973316
2000-01-04  14.625  NaN  27.172190  ...   9.96875  5.097101  0.951687
2000-01-05  15.000  NaN  27.464891  ...  10.03125  5.128369  1.070648
2000-01-06  16.000  NaN  27.684412  ...   9.46875  5.269087  0.973316
2000-01-07  16.250  NaN  28.221029  ...   8.31250  5.425441  0.973316

                  OMC       OKE       ORCL  OTIS      PCAR  PKG         PH
Date
2000-01-03  29.950857  1.100867  25.591290   NaN  4.339079  NaN  22.927376
2000-01-04  28.965408  1.087002  23.330050   NaN  4.139580  NaN  22.017334
2000-01-05  28.134499  1.098094  22.097868   NaN  4.307909  NaN  22.017334
2000-01-06  28.289080  1.098094  20.797998   NaN  4.251801  NaN  22.428320
2000-01-07  29.487122  1.139689  22.395758   NaN  4.413892  NaN  24.483263

[5 rows x 363 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       OXY      ODFL        OMC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  5.206547  0.973316  29.950857
2000-01-04  14.625  NaN  27.172190  ...  5.097101  0.951687  28.965408
2000-01-05  15.000  NaN  27.464891  ...  5.128369  1.070648  28.134499
2000-01-06  16.000  NaN  27.684412  ...  5.269087  0.973316  28.289080
2000-01-07  16.250  NaN  28.221029  ...  5.425441  0.973316  29.487122

                 OKE       ORCL  OTIS      PCAR  PKG         PH       PAYX
Date
2000-01-03  1.100867  25.591290   NaN  4.339079  NaN  22.927376  14.952477
2000-01-04  1.087002  23.330050   NaN  4.139580  NaN  22.017334  13.831042
2000-01-05  1.098094  22.097868   NaN  4.307909  NaN  22.017334  14.648758
2000-01-06  1.098094  20.797998   NaN  4.251801  NaN  22.428320  15.186110
2000-01-07  1.139689  22.395758   NaN  4.413892  NaN  24.483263  15.489835

[5 rows x 364 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      ODFL        OMC       OKE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  0.973316  29.950857  1.100867
2000-01-04  14.625  NaN  27.172190  ...  0.951687  28.965408  1.087002
2000-01-05  15.000  NaN  27.464891  ...  1.070648  28.134499  1.098094
2000-01-06  16.000  NaN  27.684412  ...  0.973316  28.289080  1.098094
2000-01-07  16.250  NaN  28.221029  ...  0.973316  29.487122  1.139689

                 ORCL  OTIS      PCAR  PKG         PH       PAYX  PAYC
Date
2000-01-03  25.591290   NaN  4.339079  NaN  22.927376  14.952477   NaN
2000-01-04  23.330050   NaN  4.139580  NaN  22.017334  13.831042   NaN
2000-01-05  22.097868   NaN  4.307909  NaN  22.017334  14.648758   NaN
2000-01-06  20.797998   NaN  4.251801  NaN  22.428320  15.186110   NaN
2000-01-07  22.395758   NaN  4.413892  NaN  24.483263  15.489835   NaN

[5 rows x 365 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        OMC       OKE       ORCL  OTIS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  29.950857  1.100867  25.591290   NaN
2000-01-04  14.625  NaN  27.172190  ...  28.965408  1.087002  23.330050   NaN
2000-01-05  15.000  NaN  27.464891  ...  28.134499  1.098094  22.097868   NaN
2000-01-06  16.000  NaN  27.684412  ...  28.289080  1.098094  20.797998   NaN
2000-01-07  16.250  NaN  28.221029  ...  29.487122  1.139689  22.395758   NaN

                PCAR  PKG         PH       PAYX  PAYC  PYPL
Date
2000-01-03  4.339079  NaN  22.927376  14.952477   NaN   NaN
2000-01-04  4.139580  NaN  22.017334  13.831042   NaN   NaN
2000-01-05  4.307909  NaN  22.017334  14.648758   NaN   NaN
2000-01-06  4.251801  NaN  22.428320  15.186110   NaN   NaN
2000-01-07  4.413892  NaN  24.483263  15.489835   NaN   NaN

[5 rows x 366 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       OKE       ORCL  OTIS      PCAR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  1.100867  25.591290   NaN  4.339079
2000-01-04  14.625  NaN  27.172190  ...  1.087002  23.330050   NaN  4.139580
2000-01-05  15.000  NaN  27.464891  ...  1.098094  22.097868   NaN  4.307909
2000-01-06  16.000  NaN  27.684412  ...  1.098094  20.797998   NaN  4.251801
2000-01-07  16.250  NaN  28.221029  ...  1.139689  22.395758   NaN  4.413892

            PKG         PH       PAYX  PAYC  PYPL       PNR
Date
2000-01-03  NaN  22.927376  14.952477   NaN   NaN  5.890952
2000-01-04  NaN  22.017334  13.831042   NaN   NaN  5.799384
2000-01-05  NaN  22.017334  14.648758   NaN   NaN  5.890952
2000-01-06  NaN  22.428320  15.186110   NaN   NaN  5.860430
2000-01-07  NaN  24.483263  15.489835   NaN   NaN  6.094439

[5 rows x 367 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       ORCL  OTIS      PCAR  PKG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  25.591290   NaN  4.339079  NaN
2000-01-04  14.625  NaN  27.172190  ...  23.330050   NaN  4.139580  NaN
2000-01-05  15.000  NaN  27.464891  ...  22.097868   NaN  4.307909  NaN
2000-01-06  16.000  NaN  27.684412  ...  20.797998   NaN  4.251801  NaN
2000-01-07  16.250  NaN  28.221029  ...  22.395758   NaN  4.413892  NaN

                   PH       PAYX  PAYC  PYPL       PNR      PBCT
Date
2000-01-03  22.927376  14.952477   NaN   NaN  5.890952  1.810835
2000-01-04  22.017334  13.831042   NaN   NaN  5.799384  1.805414
2000-01-05  22.017334  14.648758   NaN   NaN  5.890952  1.816257
2000-01-06  22.428320  15.186110   NaN   NaN  5.860430  1.799992
2000-01-07  24.483263  15.489835   NaN   NaN  6.094439  1.789148

[5 rows x 368 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  OTIS      PCAR  PKG         PH  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  4.339079  NaN  22.927376
2000-01-04  14.625  NaN  27.172190  ...   NaN  4.139580  NaN  22.017334
2000-01-05  15.000  NaN  27.464891  ...   NaN  4.307909  NaN  22.017334
2000-01-06  16.000  NaN  27.684412  ...   NaN  4.251801  NaN  22.428320
2000-01-07  16.250  NaN  28.221029  ...   NaN  4.413892  NaN  24.483263

                 PAYX  PAYC  PYPL       PNR      PBCT        PEP
Date
2000-01-03  14.952477   NaN   NaN  5.890952  1.810835  22.473984
2000-01-04  13.831042   NaN   NaN  5.799384  1.805414  21.902601
2000-01-05  14.648758   NaN   NaN  5.890952  1.816257  21.369314
2000-01-06  15.186110   NaN   NaN  5.860430  1.799992  22.321609
2000-01-07  15.489835   NaN   NaN  6.094439  1.789148  22.931068

[5 rows x 369 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      PCAR  PKG         PH       PAYX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  4.339079  NaN  22.927376  14.952477
2000-01-04  14.625  NaN  27.172190  ...  4.139580  NaN  22.017334  13.831042
2000-01-05  15.000  NaN  27.464891  ...  4.307909  NaN  22.017334  14.648758
2000-01-06  16.000  NaN  27.684412  ...  4.251801  NaN  22.428320  15.186110
2000-01-07  16.250  NaN  28.221029  ...  4.413892  NaN  24.483263  15.489835

            PAYC  PYPL       PNR      PBCT        PEP        PKI
Date
2000-01-03   NaN   NaN  5.890952  1.810835  22.473984  16.246918
2000-01-04   NaN   NaN  5.799384  1.805414  21.902601  15.487261
2000-01-05   NaN   NaN  5.890952  1.816257  21.369314  15.315738
2000-01-06   NaN   NaN  5.860430  1.799992  22.321609  15.511765
2000-01-07   NaN   NaN  6.094439  1.789148  22.931068  15.707812

[5 rows x 370 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  PKG         PH       PAYX  PAYC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  22.927376  14.952477   NaN
2000-01-04  14.625  NaN  27.172190  ...  NaN  22.017334  13.831042   NaN
2000-01-05  15.000  NaN  27.464891  ...  NaN  22.017334  14.648758   NaN
2000-01-06  16.000  NaN  27.684412  ...  NaN  22.428320  15.186110   NaN
2000-01-07  16.250  NaN  28.221029  ...  NaN  24.483263  15.489835   NaN

            PYPL       PNR      PBCT        PEP        PKI      PRGO
Date
2000-01-03   NaN  5.890952  1.810835  22.473984  16.246918  7.147457
2000-01-04   NaN  5.799384  1.805414  21.902601  15.487261  7.092479
2000-01-05   NaN  5.890952  1.816257  21.369314  15.315738  7.092479
2000-01-06   NaN  5.860430  1.799992  22.321609  15.511765  7.147457
2000-01-07   NaN  6.094439  1.789148  22.931068  15.707812  7.339890

[5 rows x 371 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         PH       PAYX  PAYC  PYPL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  22.927376  14.952477   NaN   NaN
2000-01-04  14.625  NaN  27.172190  ...  22.017334  13.831042   NaN   NaN
2000-01-05  15.000  NaN  27.464891  ...  22.017334  14.648758   NaN   NaN
2000-01-06  16.000  NaN  27.684412  ...  22.428320  15.186110   NaN   NaN
2000-01-07  16.250  NaN  28.221029  ...  24.483263  15.489835   NaN   NaN

                 PNR      PBCT        PEP        PKI      PRGO        PFE
Date
2000-01-03  5.890952  1.810835  22.473984  16.246918  7.147457  16.010798
2000-01-04  5.799384  1.805414  21.902601  15.487261  7.092479  15.414313
2000-01-05  5.890952  1.816257  21.369314  15.315738  7.092479  15.665458
2000-01-06  5.860430  1.799992  22.321609  15.511765  7.147457  16.230549
2000-01-07  6.094439  1.789148  22.931068  15.707812  7.339890  17.329325

[5 rows x 372 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       PAYX  PAYC  PYPL       PNR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  14.952477   NaN   NaN  5.890952
2000-01-04  14.625  NaN  27.172190  ...  13.831042   NaN   NaN  5.799384
2000-01-05  15.000  NaN  27.464891  ...  14.648758   NaN   NaN  5.890952
2000-01-06  16.000  NaN  27.684412  ...  15.186110   NaN   NaN  5.860430
2000-01-07  16.250  NaN  28.221029  ...  15.489835   NaN   NaN  6.094439

                PBCT        PEP        PKI      PRGO        PFE  PM
Date
2000-01-03  1.810835  22.473984  16.246918  7.147457  16.010798 NaN
2000-01-04  1.805414  21.902601  15.487261  7.092479  15.414313 NaN
2000-01-05  1.816257  21.369314  15.315738  7.092479  15.665458 NaN
2000-01-06  1.799992  22.321609  15.511765  7.147457  16.230549 NaN
2000-01-07  1.789148  22.931068  15.707812  7.339890  17.329325 NaN

[5 rows x 373 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  PAYC  PYPL       PNR      PBCT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN   NaN  5.890952  1.810835
2000-01-04  14.625  NaN  27.172190  ...   NaN   NaN  5.799384  1.805414
2000-01-05  15.000  NaN  27.464891  ...   NaN   NaN  5.890952  1.816257
2000-01-06  16.000  NaN  27.684412  ...   NaN   NaN  5.860430  1.799992
2000-01-07  16.250  NaN  28.221029  ...   NaN   NaN  6.094439  1.789148

                  PEP        PKI      PRGO        PFE  PM  PSX
Date
2000-01-03  22.473984  16.246918  7.147457  16.010798 NaN  NaN
2000-01-04  21.902601  15.487261  7.092479  15.414313 NaN  NaN
2000-01-05  21.369314  15.315738  7.092479  15.665458 NaN  NaN
2000-01-06  22.321609  15.511765  7.147457  16.230549 NaN  NaN
2000-01-07  22.931068  15.707812  7.339890  17.329325 NaN  NaN

[5 rows x 374 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  PYPL       PNR      PBCT        PEP  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  5.890952  1.810835  22.473984
2000-01-04  14.625  NaN  27.172190  ...   NaN  5.799384  1.805414  21.902601
2000-01-05  15.000  NaN  27.464891  ...   NaN  5.890952  1.816257  21.369314
2000-01-06  16.000  NaN  27.684412  ...   NaN  5.860430  1.799992  22.321609
2000-01-07  16.250  NaN  28.221029  ...   NaN  6.094439  1.789148  22.931068

                  PKI      PRGO        PFE  PM  PSX        PNW
Date
2000-01-03  16.246918  7.147457  16.010798 NaN  NaN  12.105463
2000-01-04  15.487261  7.092479  15.414313 NaN  NaN  12.258056
2000-01-05  15.315738  7.092479  15.665458 NaN  NaN  12.588662
2000-01-06  15.511765  7.147457  16.230549 NaN  NaN  12.664960
2000-01-07  15.707812  7.339890  17.329325 NaN  NaN  13.021002

[5 rows x 375 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       PNR      PBCT        PEP  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  5.890952  1.810835  22.473984
2000-01-04  14.625  NaN  27.172190  ...  5.799384  1.805414  21.902601
2000-01-05  15.000  NaN  27.464891  ...  5.890952  1.816257  21.369314
2000-01-06  16.000  NaN  27.684412  ...  5.860430  1.799992  22.321609
2000-01-07  16.250  NaN  28.221029  ...  6.094439  1.789148  22.931068

                  PKI      PRGO        PFE  PM  PSX        PNW       PXD
Date
2000-01-03  16.246918  7.147457  16.010798 NaN  NaN  12.105463  7.975256
2000-01-04  15.487261  7.092479  15.414313 NaN  NaN  12.258056  8.093408
2000-01-05  15.315738  7.092479  15.665458 NaN  NaN  12.588662  7.857108
2000-01-06  15.511765  7.147457  16.230549 NaN  NaN  12.664960  8.034334
2000-01-07  15.707812  7.339890  17.329325 NaN  NaN  13.021002  8.270637

[5 rows x 376 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      PBCT        PEP        PKI  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  1.810835  22.473984  16.246918
2000-01-04  14.625  NaN  27.172190  ...  1.805414  21.902601  15.487261
2000-01-05  15.000  NaN  27.464891  ...  1.816257  21.369314  15.315738
2000-01-06  16.000  NaN  27.684412  ...  1.799992  22.321609  15.511765
2000-01-07  16.250  NaN  28.221029  ...  1.789148  22.931068  15.707812

                PRGO        PFE  PM  PSX        PNW       PXD        PNC
Date
2000-01-03  7.147457  16.010798 NaN  NaN  12.105463  7.975256  23.299726
2000-01-04  7.092479  15.414313 NaN  NaN  12.258056  8.093408  22.574865
2000-01-05  7.092479  15.665458 NaN  NaN  12.588662  7.857108  22.678413
2000-01-06  7.147457  16.230549 NaN  NaN  12.664960  8.034334  23.748474
2000-01-07  7.339890  17.329325 NaN  NaN  13.021002  8.270637  23.782997

[5 rows x 377 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        PEP        PKI      PRGO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  22.473984  16.246918  7.147457
2000-01-04  14.625  NaN  27.172190  ...  21.902601  15.487261  7.092479
2000-01-05  15.000  NaN  27.464891  ...  21.369314  15.315738  7.092479
2000-01-06  16.000  NaN  27.684412  ...  22.321609  15.511765  7.147457
2000-01-07  16.250  NaN  28.221029  ...  22.931068  15.707812  7.339890

                  PFE  PM  PSX        PNW       PXD        PNC        PPG
Date
2000-01-03  16.010798 NaN  NaN  12.105463  7.975256  23.299726  11.366902
2000-01-04  15.414313 NaN  NaN  12.258056  8.093408  22.574865  10.976167
2000-01-05  15.665458 NaN  NaN  12.588662  7.857108  22.678413  11.390581
2000-01-06  16.230549 NaN  NaN  12.664960  8.034334  23.748474  11.935251
2000-01-07  17.329325 NaN  NaN  13.021002  8.270637  23.782997  12.148381

[5 rows x 378 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        PKI      PRGO        PFE  PM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  16.246918  7.147457  16.010798 NaN
2000-01-04  14.625  NaN  27.172190  ...  15.487261  7.092479  15.414313 NaN
2000-01-05  15.000  NaN  27.464891  ...  15.315738  7.092479  15.665458 NaN
2000-01-06  16.000  NaN  27.684412  ...  15.511765  7.147457  16.230549 NaN
2000-01-07  16.250  NaN  28.221029  ...  15.707812  7.339890  17.329325 NaN

            PSX        PNW       PXD        PNC        PPG       PPL
Date
2000-01-03  NaN  12.105463  7.975256  23.299726  11.366902  3.395812
2000-01-04  NaN  12.258056  8.093408  22.574865  10.976167  3.481903
2000-01-05  NaN  12.588662  7.857108  22.678413  11.390581  3.558429
2000-01-06  NaN  12.664960  8.034334  23.748474  11.935251  3.510600
2000-01-07  NaN  13.021002  8.270637  23.782997  12.148381  3.577559

[5 rows x 379 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      PRGO        PFE  PM  PSX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  7.147457  16.010798 NaN  NaN
2000-01-04  14.625  NaN  27.172190  ...  7.092479  15.414313 NaN  NaN
2000-01-05  15.000  NaN  27.464891  ...  7.092479  15.665458 NaN  NaN
2000-01-06  16.000  NaN  27.684412  ...  7.147457  16.230549 NaN  NaN
2000-01-07  16.250  NaN  28.221029  ...  7.339890  17.329325 NaN  NaN

                  PNW       PXD        PNC        PPG       PPL  PFG
Date
2000-01-03  12.105463  7.975256  23.299726  11.366902  3.395812  NaN
2000-01-04  12.258056  8.093408  22.574865  10.976167  3.481903  NaN
2000-01-05  12.588662  7.857108  22.678413  11.390581  3.558429  NaN
2000-01-06  12.664960  8.034334  23.748474  11.935251  3.510600  NaN
2000-01-07  13.021002  8.270637  23.782997  12.148381  3.577559  NaN

[5 rows x 380 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        PFE  PM  PSX        PNW  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  16.010798 NaN  NaN  12.105463
2000-01-04  14.625  NaN  27.172190  ...  15.414313 NaN  NaN  12.258056
2000-01-05  15.000  NaN  27.464891  ...  15.665458 NaN  NaN  12.588662
2000-01-06  16.000  NaN  27.684412  ...  16.230549 NaN  NaN  12.664960
2000-01-07  16.250  NaN  28.221029  ...  17.329325 NaN  NaN  13.021002

                 PXD        PNC        PPG       PPL  PFG         PG
Date
2000-01-03  7.975256  23.299726  11.366902  3.395812  NaN  28.391300
2000-01-04  8.093408  22.574865  10.976167  3.481903  NaN  27.844984
2000-01-05  7.857108  22.678413  11.390581  3.558429  NaN  27.315243
2000-01-06  8.034334  23.748474  11.935251  3.510600  NaN  28.573389
2000-01-07  8.270637  23.782997  12.148381  3.577559  NaN  30.857954

[5 rows x 381 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  PM  PSX        PNW       PXD  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ... NaN  NaN  12.105463  7.975256
2000-01-04  14.625  NaN  27.172190  ... NaN  NaN  12.258056  8.093408
2000-01-05  15.000  NaN  27.464891  ... NaN  NaN  12.588662  7.857108
2000-01-06  16.000  NaN  27.684412  ... NaN  NaN  12.664960  8.034334
2000-01-07  16.250  NaN  28.221029  ... NaN  NaN  13.021002  8.270637

                  PNC        PPG       PPL  PFG         PG       PGR
Date
2000-01-03  23.299726  11.366902  3.395812  NaN  28.391300  3.510027
2000-01-04  22.574865  10.976167  3.481903  NaN  27.844984  3.382783
2000-01-05  22.678413  11.390581  3.558429  NaN  27.315243  3.463474
2000-01-06  23.748474  11.935251  3.510600  NaN  28.573389  3.451060
2000-01-07  23.782997  12.148381  3.577559  NaN  30.857954  3.510027

[5 rows x 382 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  PSX        PNW       PXD        PNC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  12.105463  7.975256  23.299726
2000-01-04  14.625  NaN  27.172190  ...  NaN  12.258056  8.093408  22.574865
2000-01-05  15.000  NaN  27.464891  ...  NaN  12.588662  7.857108  22.678413
2000-01-06  16.000  NaN  27.684412  ...  NaN  12.664960  8.034334  23.748474
2000-01-07  16.250  NaN  28.221029  ...  NaN  13.021002  8.270637  23.782997

                  PPG       PPL  PFG         PG       PGR       PLD
Date
2000-01-03  11.366902  3.395812  NaN  28.391300  3.510027  8.691907
2000-01-04  10.976167  3.481903  NaN  27.844984  3.382783  8.554814
2000-01-05  11.390581  3.558429  NaN  27.315243  3.463474  8.445135
2000-01-06  11.935251  3.510600  NaN  28.573389  3.451060  8.609652
2000-01-07  12.148381  3.577559  NaN  30.857954  3.510027  8.774165

[5 rows x 383 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        PNW       PXD        PNC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  12.105463  7.975256  23.299726
2000-01-04  14.625  NaN  27.172190  ...  12.258056  8.093408  22.574865
2000-01-05  15.000  NaN  27.464891  ...  12.588662  7.857108  22.678413
2000-01-06  16.000  NaN  27.684412  ...  12.664960  8.034334  23.748474
2000-01-07  16.250  NaN  28.221029  ...  13.021002  8.270637  23.782997

                  PPG       PPL  PFG         PG       PGR       PLD  PRU
Date
2000-01-03  11.366902  3.395812  NaN  28.391300  3.510027  8.691907  NaN
2000-01-04  10.976167  3.481903  NaN  27.844984  3.382783  8.554814  NaN
2000-01-05  11.390581  3.558429  NaN  27.315243  3.463474  8.445135  NaN
2000-01-06  11.935251  3.510600  NaN  28.573389  3.451060  8.609652  NaN
2000-01-07  12.148381  3.577559  NaN  30.857954  3.510027  8.774165  NaN

[5 rows x 384 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       PXD        PNC        PPG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  7.975256  23.299726  11.366902
2000-01-04  14.625  NaN  27.172190  ...  8.093408  22.574865  10.976167
2000-01-05  15.000  NaN  27.464891  ...  7.857108  22.678413  11.390581
2000-01-06  16.000  NaN  27.684412  ...  8.034334  23.748474  11.935251
2000-01-07  16.250  NaN  28.221029  ...  8.270637  23.782997  12.148381

                 PPL  PFG         PG       PGR       PLD  PRU       PEG
Date
2000-01-03  3.395812  NaN  28.391300  3.510027  8.691907  NaN  4.965199
2000-01-04  3.481903  NaN  27.844984  3.382783  8.554814  NaN  5.001638
2000-01-05  3.558429  NaN  27.315243  3.463474  8.445135  NaN  5.129188
2000-01-06  3.510600  NaN  28.573389  3.451060  8.609652  NaN  5.147407
2000-01-07  3.577559  NaN  30.857954  3.510027  8.774165  NaN  5.110966

[5 rows x 385 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        PNC        PPG       PPL  PFG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  23.299726  11.366902  3.395812  NaN
2000-01-04  14.625  NaN  27.172190  ...  22.574865  10.976167  3.481903  NaN
2000-01-05  15.000  NaN  27.464891  ...  22.678413  11.390581  3.558429  NaN
2000-01-06  16.000  NaN  27.684412  ...  23.748474  11.935251  3.510600  NaN
2000-01-07  16.250  NaN  28.221029  ...  23.782997  12.148381  3.577559  NaN

                   PG       PGR       PLD  PRU       PEG        PSA
Date
2000-01-03  28.391300  3.510027  8.691907  NaN  4.965199  10.998557
2000-01-04  27.844984  3.382783  8.554814  NaN  5.001638  10.998557
2000-01-05  27.315243  3.463474  8.445135  NaN  5.129188  11.089203
2000-01-06  28.573389  3.451060  8.609652  NaN  5.147407  11.512227
2000-01-07  30.857954  3.510027  8.774165  NaN  5.110966  11.663308

[5 rows x 386 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        PPG       PPL  PFG         PG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  11.366902  3.395812  NaN  28.391300
2000-01-04  14.625  NaN  27.172190  ...  10.976167  3.481903  NaN  27.844984
2000-01-05  15.000  NaN  27.464891  ...  11.390581  3.558429  NaN  27.315243
2000-01-06  16.000  NaN  27.684412  ...  11.935251  3.510600  NaN  28.573389
2000-01-07  16.250  NaN  28.221029  ...  12.148381  3.577559  NaN  30.857954

                 PGR       PLD  PRU       PEG        PSA       PHM
Date
2000-01-03  3.510027  8.691907  NaN  4.965199  10.998557  4.288374
2000-01-04  3.382783  8.554814  NaN  5.001638  10.998557  4.085377
2000-01-05  3.463474  8.445135  NaN  5.129188  11.089203  4.009250
2000-01-06  3.451060  8.609652  NaN  5.147407  11.512227  3.983874
2000-01-07  3.510027  8.774165  NaN  5.110966  11.663308  4.047312

[5 rows x 387 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       PPL  PFG         PG       PGR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  3.395812  NaN  28.391300  3.510027
2000-01-04  14.625  NaN  27.172190  ...  3.481903  NaN  27.844984  3.382783
2000-01-05  15.000  NaN  27.464891  ...  3.558429  NaN  27.315243  3.463474
2000-01-06  16.000  NaN  27.684412  ...  3.510600  NaN  28.573389  3.451060
2000-01-07  16.250  NaN  28.221029  ...  3.577559  NaN  30.857954  3.510027

                 PLD  PRU       PEG        PSA       PHM       PVH
Date
2000-01-03  8.691907  NaN  4.965199  10.998557  4.288374  7.058062
2000-01-04  8.554814  NaN  5.001638  10.998557  4.085377  6.775739
2000-01-05  8.445135  NaN  5.129188  11.089203  4.009250  6.662811
2000-01-06  8.609652  NaN  5.147407  11.512227  3.983874  6.832205
2000-01-07  8.774165  NaN  5.110966  11.663308  4.047312  6.662811

[5 rows x 388 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  PFG         PG       PGR       PLD  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  28.391300  3.510027  8.691907
2000-01-04  14.625  NaN  27.172190  ...  NaN  27.844984  3.382783  8.554814
2000-01-05  15.000  NaN  27.464891  ...  NaN  27.315243  3.463474  8.445135
2000-01-06  16.000  NaN  27.684412  ...  NaN  28.573389  3.451060  8.609652
2000-01-07  16.250  NaN  28.221029  ...  NaN  30.857954  3.510027  8.774165

            PRU       PEG        PSA       PHM       PVH  QRVO
Date
2000-01-03  NaN  4.965199  10.998557  4.288374  7.058062   NaN
2000-01-04  NaN  5.001638  10.998557  4.085377  6.775739   NaN
2000-01-05  NaN  5.129188  11.089203  4.009250  6.662811   NaN
2000-01-06  NaN  5.147407  11.512227  3.983874  6.832205   NaN
2000-01-07  NaN  5.110966  11.663308  4.047312  6.662811   NaN

[5 rows x 389 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         PG       PGR       PLD  PRU  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  28.391300  3.510027  8.691907  NaN
2000-01-04  14.625  NaN  27.172190  ...  27.844984  3.382783  8.554814  NaN
2000-01-05  15.000  NaN  27.464891  ...  27.315243  3.463474  8.445135  NaN
2000-01-06  16.000  NaN  27.684412  ...  28.573389  3.451060  8.609652  NaN
2000-01-07  16.250  NaN  28.221029  ...  30.857954  3.510027  8.774165  NaN

                 PEG        PSA       PHM       PVH  QRVO        PWR
Date
2000-01-03  4.965199  10.998557  4.288374  7.058062   NaN  18.654486
2000-01-04  5.001638  10.998557  4.085377  6.775739   NaN  18.613127
2000-01-05  5.129188  11.089203  4.009250  6.662811   NaN  18.902664
2000-01-06  5.147407  11.512227  3.983874  6.832205   NaN  18.530401
2000-01-07  5.110966  11.663308  4.047312  6.662811   NaN  18.447678

[5 rows x 390 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       PGR       PLD  PRU       PEG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  3.510027  8.691907  NaN  4.965199
2000-01-04  14.625  NaN  27.172190  ...  3.382783  8.554814  NaN  5.001638
2000-01-05  15.000  NaN  27.464891  ...  3.463474  8.445135  NaN  5.129188
2000-01-06  16.000  NaN  27.684412  ...  3.451060  8.609652  NaN  5.147407
2000-01-07  16.250  NaN  28.221029  ...  3.510027  8.774165  NaN  5.110966

                  PSA       PHM       PVH  QRVO        PWR       QCOM
Date
2000-01-03  10.998557  4.288374  7.058062   NaN  18.654486  62.936359
2000-01-04  10.998557  4.085377  6.775739   NaN  18.613127  56.881840
2000-01-05  11.089203  4.009250  6.662811   NaN  18.902664  54.907513
2000-01-06  11.512227  3.983874  6.832205   NaN  18.530401  49.160114
2000-01-07  11.663308  4.047312  6.662811   NaN  18.447678  52.648048

[5 rows x 391 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       PLD  PRU       PEG        PSA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  8.691907  NaN  4.965199  10.998557
2000-01-04  14.625  NaN  27.172190  ...  8.554814  NaN  5.001638  10.998557
2000-01-05  15.000  NaN  27.464891  ...  8.445135  NaN  5.129188  11.089203
2000-01-06  16.000  NaN  27.684412  ...  8.609652  NaN  5.147407  11.512227
2000-01-07  16.250  NaN  28.221029  ...  8.774165  NaN  5.110966  11.663308

                 PHM       PVH  QRVO        PWR       QCOM       DGX
Date
2000-01-03  4.288374  7.058062   NaN  18.654486  62.936359  5.849173
2000-01-04  4.085377  6.775739   NaN  18.613127  56.881840  5.836986
2000-01-05  4.009250  6.662811   NaN  18.902664  54.907513  5.788244
2000-01-06  3.983874  6.832205   NaN  18.530401  49.160114  5.812618
2000-01-07  4.047312  6.662811   NaN  18.447678  52.648048  6.044146

[5 rows x 392 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  PRU       PEG        PSA       PHM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  4.965199  10.998557  4.288374
2000-01-04  14.625  NaN  27.172190  ...  NaN  5.001638  10.998557  4.085377
2000-01-05  15.000  NaN  27.464891  ...  NaN  5.129188  11.089203  4.009250
2000-01-06  16.000  NaN  27.684412  ...  NaN  5.147407  11.512227  3.983874
2000-01-07  16.250  NaN  28.221029  ...  NaN  5.110966  11.663308  4.047312

                 PVH  QRVO        PWR       QCOM       DGX         RL
Date
2000-01-03  7.058062   NaN  18.654486  62.936359  5.849173  14.462232
2000-01-04  6.775739   NaN  18.613127  56.881840  5.836986  13.892036
2000-01-05  6.662811   NaN  18.902664  54.907513  5.788244  14.151213
2000-01-06  6.832205   NaN  18.530401  49.160114  5.812618  14.151213
2000-01-07  6.662811   NaN  18.447678  52.648048  6.044146  14.514068

[5 rows x 393 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       PEG        PSA       PHM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  4.965199  10.998557  4.288374
2000-01-04  14.625  NaN  27.172190  ...  5.001638  10.998557  4.085377
2000-01-05  15.000  NaN  27.464891  ...  5.129188  11.089203  4.009250
2000-01-06  16.000  NaN  27.684412  ...  5.147407  11.512227  3.983874
2000-01-07  16.250  NaN  28.221029  ...  5.110966  11.663308  4.047312

                 PVH  QRVO        PWR       QCOM       DGX         RL  \
Date
2000-01-03  7.058062   NaN  18.654486  62.936359  5.849173  14.462232
2000-01-04  6.775739   NaN  18.613127  56.881840  5.836986  13.892036
2000-01-05  6.662811   NaN  18.902664  54.907513  5.788244  14.151213
2000-01-06  6.832205   NaN  18.530401  49.160114  5.812618  14.151213
2000-01-07  6.662811   NaN  18.447678  52.648048  6.044146  14.514068

                 RJF
Date
2000-01-03  5.880072
2000-01-04  5.671556
2000-01-05  5.609005
2000-01-06  5.609005
2000-01-07  5.671556

[5 rows x 394 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        PSA       PHM       PVH  QRVO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.998557  4.288374  7.058062   NaN
2000-01-04  14.625  NaN  27.172190  ...  10.998557  4.085377  6.775739   NaN
2000-01-05  15.000  NaN  27.464891  ...  11.089203  4.009250  6.662811   NaN
2000-01-06  16.000  NaN  27.684412  ...  11.512227  3.983874  6.832205   NaN
2000-01-07  16.250  NaN  28.221029  ...  11.663308  4.047312  6.662811   NaN

                  PWR       QCOM       DGX         RL       RJF        RTX
Date
2000-01-03  18.654486  62.936359  5.849173  14.462232  5.880072  12.899742
2000-01-04  18.613127  56.881840  5.836986  13.892036  5.671556  12.370852
2000-01-05  18.902664  54.907513  5.788244  14.151213  5.609005  12.125756
2000-01-06  18.530401  49.160114  5.812618  14.151213  5.609005  12.706249
2000-01-07  18.447678  52.648048  6.044146  14.514068  5.671556  13.209336

[5 rows x 395 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       PHM       PVH  QRVO        PWR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  4.288374  7.058062   NaN  18.654486
2000-01-04  14.625  NaN  27.172190  ...  4.085377  6.775739   NaN  18.613127
2000-01-05  15.000  NaN  27.464891  ...  4.009250  6.662811   NaN  18.902664
2000-01-06  16.000  NaN  27.684412  ...  3.983874  6.832205   NaN  18.530401
2000-01-07  16.250  NaN  28.221029  ...  4.047312  6.662811   NaN  18.447678

                 QCOM       DGX         RL       RJF        RTX         O
Date
2000-01-03  62.936359  5.849173  14.462232  5.880072  12.899742  3.221045
2000-01-04  56.881840  5.836986  13.892036  5.671556  12.370852  3.182238
2000-01-05  54.907513  5.788244  14.151213  5.609005  12.125756  3.162835
2000-01-06  49.160114  5.812618  14.151213  5.609005  12.706249  3.201642
2000-01-07  52.648048  6.044146  14.514068  5.671556  13.209336  3.259852

[5 rows x 396 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       PVH  QRVO        PWR       QCOM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  7.058062   NaN  18.654486  62.936359
2000-01-04  14.625  NaN  27.172190  ...  6.775739   NaN  18.613127  56.881840
2000-01-05  15.000  NaN  27.464891  ...  6.662811   NaN  18.902664  54.907513
2000-01-06  16.000  NaN  27.684412  ...  6.832205   NaN  18.530401  49.160114
2000-01-07  16.250  NaN  28.221029  ...  6.662811   NaN  18.447678  52.648048

                 DGX         RL       RJF        RTX         O       REG
Date
2000-01-03  5.849173  14.462232  5.880072  12.899742  3.221045  7.506075
2000-01-04  5.836986  13.892036  5.671556  12.370852  3.182238  7.529604
2000-01-05  5.788244  14.151213  5.609005  12.125756  3.162835  7.482544
2000-01-06  5.812618  14.151213  5.609005  12.706249  3.201642  7.529604
2000-01-07  6.044146  14.514068  5.671556  13.209336  3.259852  7.788433

[5 rows x 397 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  QRVO        PWR       QCOM       DGX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  18.654486  62.936359  5.849173
2000-01-04  14.625  NaN  27.172190  ...   NaN  18.613127  56.881840  5.836986
2000-01-05  15.000  NaN  27.464891  ...   NaN  18.902664  54.907513  5.788244
2000-01-06  16.000  NaN  27.684412  ...   NaN  18.530401  49.160114  5.812618
2000-01-07  16.250  NaN  28.221029  ...   NaN  18.447678  52.648048  6.044146

                   RL       RJF        RTX         O       REG     REGN
Date
2000-01-03  14.462232  5.880072  12.899742  3.221045  7.506075  12.3125
2000-01-04  13.892036  5.671556  12.370852  3.182238  7.529604  12.0000
2000-01-05  14.151213  5.609005  12.125756  3.162835  7.482544  11.5000
2000-01-06  14.151213  5.609005  12.706249  3.201642  7.529604  11.6250
2000-01-07  14.514068  5.671556  13.209336  3.259852  7.788433  13.0000

[5 rows x 398 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        PWR       QCOM       DGX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  18.654486  62.936359  5.849173
2000-01-04  14.625  NaN  27.172190  ...  18.613127  56.881840  5.836986
2000-01-05  15.000  NaN  27.464891  ...  18.902664  54.907513  5.788244
2000-01-06  16.000  NaN  27.684412  ...  18.530401  49.160114  5.812618
2000-01-07  16.250  NaN  28.221029  ...  18.447678  52.648048  6.044146

                   RL       RJF        RTX         O       REG     REGN  \
Date
2000-01-03  14.462232  5.880072  12.899742  3.221045  7.506075  12.3125
2000-01-04  13.892036  5.671556  12.370852  3.182238  7.529604  12.0000
2000-01-05  14.151213  5.609005  12.125756  3.162835  7.482544  11.5000
2000-01-06  14.151213  5.609005  12.706249  3.201642  7.529604  11.6250
2000-01-07  14.514068  5.671556  13.209336  3.259852  7.788433  13.0000

                   RF
Date
2000-01-03  10.150783
2000-01-04   9.853820
2000-01-05   9.799825
2000-01-06   9.826822
2000-01-07   9.934812

[5 rows x 399 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       QCOM       DGX         RL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  62.936359  5.849173  14.462232
2000-01-04  14.625  NaN  27.172190  ...  56.881840  5.836986  13.892036
2000-01-05  15.000  NaN  27.464891  ...  54.907513  5.788244  14.151213
2000-01-06  16.000  NaN  27.684412  ...  49.160114  5.812618  14.151213
2000-01-07  16.250  NaN  28.221029  ...  52.648048  6.044146  14.514068

                 RJF        RTX         O       REG     REGN         RF  \
Date
2000-01-03  5.880072  12.899742  3.221045  7.506075  12.3125  10.150783
2000-01-04  5.671556  12.370852  3.182238  7.529604  12.0000   9.853820
2000-01-05  5.609005  12.125756  3.162835  7.482544  11.5000   9.799825
2000-01-06  5.609005  12.706249  3.201642  7.529604  11.6250   9.826822
2000-01-07  5.671556  13.209336  3.259852  7.788433  13.0000   9.934812

                 RSG
Date
2000-01-03  6.369450
2000-01-04  5.974884
2000-01-05  5.862149
2000-01-06  5.833966
2000-01-07  6.143981

[5 rows x 400 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       DGX         RL       RJF  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  5.849173  14.462232  5.880072
2000-01-04  14.625  NaN  27.172190  ...  5.836986  13.892036  5.671556
2000-01-05  15.000  NaN  27.464891  ...  5.788244  14.151213  5.609005
2000-01-06  16.000  NaN  27.684412  ...  5.812618  14.151213  5.609005
2000-01-07  16.250  NaN  28.221029  ...  6.044146  14.514068  5.671556

                  RTX         O       REG     REGN         RF       RSG  \
Date
2000-01-03  12.899742  3.221045  7.506075  12.3125  10.150783  6.369450
2000-01-04  12.370852  3.182238  7.529604  12.0000   9.853820  5.974884
2000-01-05  12.125756  3.162835  7.482544  11.5000   9.799825  5.862149
2000-01-06  12.706249  3.201642  7.529604  11.6250   9.826822  5.833966
2000-01-07  13.209336  3.259852  7.788433  13.0000   9.934812  6.143981

                 RMD
Date
2000-01-03  4.448647
2000-01-04  4.428240
2000-01-05  4.428240
2000-01-06  4.435042
2000-01-07  4.448647

[5 rows x 401 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         RL       RJF        RTX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  14.462232  5.880072  12.899742
2000-01-04  14.625  NaN  27.172190  ...  13.892036  5.671556  12.370852
2000-01-05  15.000  NaN  27.464891  ...  14.151213  5.609005  12.125756
2000-01-06  16.000  NaN  27.684412  ...  14.151213  5.609005  12.706249
2000-01-07  16.250  NaN  28.221029  ...  14.514068  5.671556  13.209336

                   O       REG     REGN         RF       RSG       RMD  \
Date
2000-01-03  3.221045  7.506075  12.3125  10.150783  6.369450  4.448647
2000-01-04  3.182238  7.529604  12.0000   9.853820  5.974884  4.428240
2000-01-05  3.162835  7.482544  11.5000   9.799825  5.862149  4.428240
2000-01-06  3.201642  7.529604  11.6250   9.826822  5.833966  4.435042
2000-01-07  3.259852  7.788433  13.0000   9.934812  6.143981  4.448647

                  RHI
Date
2000-01-03  10.475074
2000-01-04   9.912652
2000-01-05   9.725178
2000-01-06   9.725178
2000-01-07   9.912652

[5 rows x 402 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       RJF        RTX         O  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  5.880072  12.899742  3.221045
2000-01-04  14.625  NaN  27.172190  ...  5.671556  12.370852  3.182238
2000-01-05  15.000  NaN  27.464891  ...  5.609005  12.125756  3.162835
2000-01-06  16.000  NaN  27.684412  ...  5.609005  12.706249  3.201642
2000-01-07  16.250  NaN  28.221029  ...  5.671556  13.209336  3.259852

                 REG     REGN         RF       RSG       RMD        RHI  \
Date
2000-01-03  7.506075  12.3125  10.150783  6.369450  4.448647  10.475074
2000-01-04  7.529604  12.0000   9.853820  5.974884  4.428240   9.912652
2000-01-05  7.482544  11.5000   9.799825  5.862149  4.428240   9.725178
2000-01-06  7.529604  11.6250   9.826822  5.833966  4.435042   9.725178
2000-01-07  7.788433  13.0000   9.934812  6.143981  4.448647   9.912652

                  ROK
Date
2000-01-03  11.691692
2000-01-04  11.262503
2000-01-05  11.321700
2000-01-06  11.099705
2000-01-07  11.440097

[5 rows x 403 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        RTX         O       REG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  12.899742  3.221045  7.506075
2000-01-04  14.625  NaN  27.172190  ...  12.370852  3.182238  7.529604
2000-01-05  15.000  NaN  27.464891  ...  12.125756  3.162835  7.482544
2000-01-06  16.000  NaN  27.684412  ...  12.706249  3.201642  7.529604
2000-01-07  16.250  NaN  28.221029  ...  13.209336  3.259852  7.788433

               REGN         RF       RSG       RMD        RHI        ROK  \
Date
2000-01-03  12.3125  10.150783  6.369450  4.448647  10.475074  11.691692
2000-01-04  12.0000   9.853820  5.974884  4.428240   9.912652  11.262503
2000-01-05  11.5000   9.799825  5.862149  4.428240   9.725178  11.321700
2000-01-06  11.6250   9.826822  5.833966  4.435042   9.725178  11.099705
2000-01-07  13.0000   9.934812  6.143981  4.448647   9.912652  11.440097

                 ROL
Date
2000-01-03  0.438953
2000-01-04  0.435340
2000-01-05  0.433534
2000-01-06  0.437147
2000-01-07  0.440760

[5 rows x 404 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         O       REG     REGN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  3.221045  7.506075  12.3125
2000-01-04  14.625  NaN  27.172190  ...  3.182238  7.529604  12.0000
2000-01-05  15.000  NaN  27.464891  ...  3.162835  7.482544  11.5000
2000-01-06  16.000  NaN  27.684412  ...  3.201642  7.529604  11.6250
2000-01-07  16.250  NaN  28.221029  ...  3.259852  7.788433  13.0000

                   RF       RSG       RMD        RHI        ROK       ROL  \
Date
2000-01-03  10.150783  6.369450  4.448647  10.475074  11.691692  0.438953
2000-01-04   9.853820  5.974884  4.428240   9.912652  11.262503  0.435340
2000-01-05   9.799825  5.862149  4.428240   9.725178  11.321700  0.433534
2000-01-06   9.826822  5.833966  4.435042   9.725178  11.099705  0.437147
2000-01-07   9.934812  6.143981  4.448647   9.912652  11.440097  0.440760

                  ROP
Date
2000-01-03  14.825952
2000-01-04  14.148485
2000-01-05  13.966091
2000-01-06  13.966091
2000-01-07  14.174543

[5 rows x 405 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       REG     REGN         RF  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  7.506075  12.3125  10.150783
2000-01-04  14.625  NaN  27.172190  ...  7.529604  12.0000   9.853820
2000-01-05  15.000  NaN  27.464891  ...  7.482544  11.5000   9.799825
2000-01-06  16.000  NaN  27.684412  ...  7.529604  11.6250   9.826822
2000-01-07  16.250  NaN  28.221029  ...  7.788433  13.0000   9.934812

                 RSG       RMD        RHI        ROK       ROL        ROP  \
Date
2000-01-03  6.369450  4.448647  10.475074  11.691692  0.438953  14.825952
2000-01-04  5.974884  4.428240   9.912652  11.262503  0.435340  14.148485
2000-01-05  5.862149  4.428240   9.725178  11.321700  0.433534  13.966091
2000-01-06  5.833966  4.435042   9.725178  11.099705  0.437147  13.966091
2000-01-07  6.143981  4.448647   9.912652  11.440097  0.440760  14.174543

                ROST
Date
2000-01-03  1.798371
2000-01-04  1.720743
2000-01-05  1.759558
2000-01-06  1.571957
2000-01-07  1.552551

[5 rows x 406 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...     REGN         RF       RSG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  12.3125  10.150783  6.369450
2000-01-04  14.625  NaN  27.172190  ...  12.0000   9.853820  5.974884
2000-01-05  15.000  NaN  27.464891  ...  11.5000   9.799825  5.862149
2000-01-06  16.000  NaN  27.684412  ...  11.6250   9.826822  5.833966
2000-01-07  16.250  NaN  28.221029  ...  13.0000   9.934812  6.143981

                 RMD        RHI        ROK       ROL        ROP      ROST  \
Date
2000-01-03  4.448647  10.475074  11.691692  0.438953  14.825952  1.798371
2000-01-04  4.428240   9.912652  11.262503  0.435340  14.148485  1.720743
2000-01-05  4.428240   9.725178  11.321700  0.433534  13.966091  1.759558
2000-01-06  4.435042   9.725178  11.099705  0.437147  13.966091  1.571957
2000-01-07  4.448647   9.912652  11.440097  0.440760  14.174543  1.552551

                  RCL
Date
2000-01-03  32.360470
2000-01-04  31.270157
2000-01-05  33.189110
2000-01-06  33.843285
2000-01-07  34.366627

[5 rows x 407 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         RF       RSG       RMD  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.150783  6.369450  4.448647
2000-01-04  14.625  NaN  27.172190  ...   9.853820  5.974884  4.428240
2000-01-05  15.000  NaN  27.464891  ...   9.799825  5.862149  4.428240
2000-01-06  16.000  NaN  27.684412  ...   9.826822  5.833966  4.435042
2000-01-07  16.250  NaN  28.221029  ...   9.934812  6.143981  4.448647

                  RHI        ROK       ROL        ROP      ROST        RCL  \
Date
2000-01-03  10.475074  11.691692  0.438953  14.825952  1.798371  32.360470
2000-01-04   9.912652  11.262503  0.435340  14.148485  1.720743  31.270157
2000-01-05   9.725178  11.321700  0.433534  13.966091  1.759558  33.189110
2000-01-06   9.725178  11.099705  0.437147  13.966091  1.571957  33.843285
2000-01-07   9.912652  11.440097  0.440760  14.174543  1.552551  34.366627

                 SPGI
Date
2000-01-03  17.913654
2000-01-04  17.089819
2000-01-05  16.859913
2000-01-06  16.400099
2000-01-07  16.553364

[5 rows x 408 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       RSG       RMD        RHI  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  6.369450  4.448647  10.475074
2000-01-04  14.625  NaN  27.172190  ...  5.974884  4.428240   9.912652
2000-01-05  15.000  NaN  27.464891  ...  5.862149  4.428240   9.725178
2000-01-06  16.000  NaN  27.684412  ...  5.833966  4.435042   9.725178
2000-01-07  16.250  NaN  28.221029  ...  6.143981  4.448647   9.912652

                  ROK       ROL        ROP      ROST        RCL       SPGI  \
Date
2000-01-03  11.691692  0.438953  14.825952  1.798371  32.360470  17.913654
2000-01-04  11.262503  0.435340  14.148485  1.720743  31.270157  17.089819
2000-01-05  11.321700  0.433534  13.966091  1.759558  33.189110  16.859913
2000-01-06  11.099705  0.437147  13.966091  1.571957  33.843285  16.400099
2000-01-07  11.440097  0.440760  14.174543  1.552551  34.366627  16.553364

            CRM
Date
2000-01-03  NaN
2000-01-04  NaN
2000-01-05  NaN
2000-01-06  NaN
2000-01-07  NaN

[5 rows x 409 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       RMD        RHI        ROK  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  4.448647  10.475074  11.691692
2000-01-04  14.625  NaN  27.172190  ...  4.428240   9.912652  11.262503
2000-01-05  15.000  NaN  27.464891  ...  4.428240   9.725178  11.321700
2000-01-06  16.000  NaN  27.684412  ...  4.435042   9.725178  11.099705
2000-01-07  16.250  NaN  28.221029  ...  4.448647   9.912652  11.440097

                 ROL        ROP      ROST        RCL       SPGI  CRM  \
Date
2000-01-03  0.438953  14.825952  1.798371  32.360470  17.913654  NaN
2000-01-04  0.435340  14.148485  1.720743  31.270157  17.089819  NaN
2000-01-05  0.433534  13.966091  1.759558  33.189110  16.859913  NaN
2000-01-06  0.437147  13.966091  1.571957  33.843285  16.400099  NaN
2000-01-07  0.440760  14.174543  1.552551  34.366627  16.553364  NaN

                 SBAC
Date
2000-01-03  17.917931
2000-01-04  17.669069
2000-01-05  16.922489
2000-01-06  16.860275
2000-01-07  18.291220

[5 rows x 410 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        RHI        ROK       ROL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.475074  11.691692  0.438953
2000-01-04  14.625  NaN  27.172190  ...   9.912652  11.262503  0.435340
2000-01-05  15.000  NaN  27.464891  ...   9.725178  11.321700  0.433534
2000-01-06  16.000  NaN  27.684412  ...   9.725178  11.099705  0.437147
2000-01-07  16.250  NaN  28.221029  ...   9.912652  11.440097  0.440760

                  ROP      ROST        RCL       SPGI  CRM       SBAC  \
Date
2000-01-03  14.825952  1.798371  32.360470  17.913654  NaN  17.917931
2000-01-04  14.148485  1.720743  31.270157  17.089819  NaN  17.669069
2000-01-05  13.966091  1.759558  33.189110  16.859913  NaN  16.922489
2000-01-06  13.966091  1.571957  33.843285  16.400099  NaN  16.860275
2000-01-07  14.174543  1.552551  34.366627  16.553364  NaN  18.291220

                  SLB
Date
2000-01-03  18.658325
2000-01-04  18.403605
2000-01-05  18.361147
2000-01-06  19.613518
2000-01-07  19.974379

[5 rows x 411 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        ROK       ROL        ROP  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  11.691692  0.438953  14.825952
2000-01-04  14.625  NaN  27.172190  ...  11.262503  0.435340  14.148485
2000-01-05  15.000  NaN  27.464891  ...  11.321700  0.433534  13.966091
2000-01-06  16.000  NaN  27.684412  ...  11.099705  0.437147  13.966091
2000-01-07  16.250  NaN  28.221029  ...  11.440097  0.440760  14.174543

                ROST        RCL       SPGI  CRM       SBAC        SLB  STX
Date
2000-01-03  1.798371  32.360470  17.913654  NaN  17.917931  18.658325  NaN
2000-01-04  1.720743  31.270157  17.089819  NaN  17.669069  18.403605  NaN
2000-01-05  1.759558  33.189110  16.859913  NaN  16.922489  18.361147  NaN
2000-01-06  1.571957  33.843285  16.400099  NaN  16.860275  19.613518  NaN
2000-01-07  1.552551  34.366627  16.553364  NaN  18.291220  19.974379  NaN

[5 rows x 412 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       ROL        ROP      ROST  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  0.438953  14.825952  1.798371
2000-01-04  14.625  NaN  27.172190  ...  0.435340  14.148485  1.720743
2000-01-05  15.000  NaN  27.464891  ...  0.433534  13.966091  1.759558
2000-01-06  16.000  NaN  27.684412  ...  0.437147  13.966091  1.571957
2000-01-07  16.250  NaN  28.221029  ...  0.440760  14.174543  1.552551

                  RCL       SPGI  CRM       SBAC        SLB  STX        SEE
Date
2000-01-03  32.360470  17.913654  NaN  17.917931  18.658325  NaN  19.682228
2000-01-04  31.270157  17.089819  NaN  17.669069  18.403605  NaN  20.436514
2000-01-05  33.189110  16.859913  NaN  16.922489  18.361147  NaN  20.436514
2000-01-06  33.843285  16.400099  NaN  16.860275  19.613518  NaN  20.978657
2000-01-07  34.366627  16.553364  NaN  18.291220  19.974379  NaN  21.732948

[5 rows x 413 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        ROP      ROST        RCL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  14.825952  1.798371  32.360470
2000-01-04  14.625  NaN  27.172190  ...  14.148485  1.720743  31.270157
2000-01-05  15.000  NaN  27.464891  ...  13.966091  1.759558  33.189110
2000-01-06  16.000  NaN  27.684412  ...  13.966091  1.571957  33.843285
2000-01-07  16.250  NaN  28.221029  ...  14.174543  1.552551  34.366627

                 SPGI  CRM       SBAC        SLB  STX        SEE       SRE
Date
2000-01-03  17.913654  NaN  17.917931  18.658325  NaN  19.682228  8.589351
2000-01-04  17.089819  NaN  17.669069  18.403605  NaN  20.436514  8.682376
2000-01-05  16.859913  NaN  16.922489  18.361147  NaN  20.436514  8.868423
2000-01-06  16.400099  NaN  16.860275  19.613518  NaN  20.978657  9.116494
2000-01-07  16.553364  NaN  18.291220  19.974379  NaN  21.732948  8.930438

[5 rows x 414 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      ROST        RCL       SPGI  CRM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  1.798371  32.360470  17.913654  NaN
2000-01-04  14.625  NaN  27.172190  ...  1.720743  31.270157  17.089819  NaN
2000-01-05  15.000  NaN  27.464891  ...  1.759558  33.189110  16.859913  NaN
2000-01-06  16.000  NaN  27.684412  ...  1.571957  33.843285  16.400099  NaN
2000-01-07  16.250  NaN  28.221029  ...  1.552551  34.366627  16.553364  NaN

                 SBAC        SLB  STX        SEE       SRE  NOW
Date
2000-01-03  17.917931  18.658325  NaN  19.682228  8.589351  NaN
2000-01-04  17.669069  18.403605  NaN  20.436514  8.682376  NaN
2000-01-05  16.922489  18.361147  NaN  20.436514  8.868423  NaN
2000-01-06  16.860275  19.613518  NaN  20.978657  9.116494  NaN
2000-01-07  18.291220  19.974379  NaN  21.732948  8.930438  NaN

[5 rows x 415 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        RCL       SPGI  CRM       SBAC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  32.360470  17.913654  NaN  17.917931
2000-01-04  14.625  NaN  27.172190  ...  31.270157  17.089819  NaN  17.669069
2000-01-05  15.000  NaN  27.464891  ...  33.189110  16.859913  NaN  16.922489
2000-01-06  16.000  NaN  27.684412  ...  33.843285  16.400099  NaN  16.860275
2000-01-07  16.250  NaN  28.221029  ...  34.366627  16.553364  NaN  18.291220

                  SLB  STX        SEE       SRE  NOW        SHW
Date
2000-01-03  18.658325  NaN  19.682228  8.589351  NaN  14.267481
2000-01-04  18.403605  NaN  20.436514  8.682376  NaN  13.735774
2000-01-05  18.361147  NaN  20.436514  8.868423  NaN  13.780086
2000-01-06  19.613518  NaN  20.978657  9.116494  NaN  14.001625
2000-01-07  19.974379  NaN  21.732948  8.930438  NaN  13.824393

[5 rows x 416 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       SPGI  CRM       SBAC        SLB  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  17.913654  NaN  17.917931  18.658325
2000-01-04  14.625  NaN  27.172190  ...  17.089819  NaN  17.669069  18.403605
2000-01-05  15.000  NaN  27.464891  ...  16.859913  NaN  16.922489  18.361147
2000-01-06  16.000  NaN  27.684412  ...  16.400099  NaN  16.860275  19.613518
2000-01-07  16.250  NaN  28.221029  ...  16.553364  NaN  18.291220  19.974379

            STX        SEE       SRE  NOW        SHW       SPG
Date
2000-01-03  NaN  19.682228  8.589351  NaN  14.267481  8.037941
2000-01-04  NaN  20.436514  8.682376  NaN  13.735774  7.949121
2000-01-05  NaN  20.436514  8.868423  NaN  13.780086  8.015734
2000-01-06  NaN  20.978657  9.116494  NaN  14.001625  8.215574
2000-01-07  NaN  21.732948  8.930438  NaN  13.824393  8.570842

[5 rows x 417 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  CRM       SBAC        SLB  STX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  17.917931  18.658325  NaN
2000-01-04  14.625  NaN  27.172190  ...  NaN  17.669069  18.403605  NaN
2000-01-05  15.000  NaN  27.464891  ...  NaN  16.922489  18.361147  NaN
2000-01-06  16.000  NaN  27.684412  ...  NaN  16.860275  19.613518  NaN
2000-01-07  16.250  NaN  28.221029  ...  NaN  18.291220  19.974379  NaN

                  SEE       SRE  NOW        SHW       SPG       SWKS
Date
2000-01-03  19.682228  8.589351  NaN  14.267481  8.037941  28.752079
2000-01-04  20.436514  8.682376  NaN  13.735774  7.949121  27.064148
2000-01-05  20.436514  8.868423  NaN  13.780086  8.015734  27.765066
2000-01-06  20.978657  9.116494  NaN  14.001625  8.215574  25.061514
2000-01-07  21.732948  8.930438  NaN  13.824393  8.570842  27.636326

[5 rows x 418 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       SBAC        SLB  STX        SEE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  17.917931  18.658325  NaN  19.682228
2000-01-04  14.625  NaN  27.172190  ...  17.669069  18.403605  NaN  20.436514
2000-01-05  15.000  NaN  27.464891  ...  16.922489  18.361147  NaN  20.436514
2000-01-06  16.000  NaN  27.684412  ...  16.860275  19.613518  NaN  20.978657
2000-01-07  16.250  NaN  28.221029  ...  18.291220  19.974379  NaN  21.732948

                 SRE  NOW        SHW       SPG       SWKS        SLG
Date
2000-01-03  8.589351  NaN  14.267481  8.037941  28.752079  11.161804
2000-01-04  8.682376  NaN  13.735774  7.949121  27.064148  11.000039
2000-01-05  8.868423  NaN  13.780086  8.015734  27.765066  10.902983
2000-01-06  9.116494  NaN  14.001625  8.215574  25.061514  11.097099
2000-01-07  8.930438  NaN  13.824393  8.570842  27.636326  11.485332

[5 rows x 419 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        SLB  STX        SEE       SRE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  18.658325  NaN  19.682228  8.589351
2000-01-04  14.625  NaN  27.172190  ...  18.403605  NaN  20.436514  8.682376
2000-01-05  15.000  NaN  27.464891  ...  18.361147  NaN  20.436514  8.868423
2000-01-06  16.000  NaN  27.684412  ...  19.613518  NaN  20.978657  9.116494
2000-01-07  16.250  NaN  28.221029  ...  19.974379  NaN  21.732948  8.930438

            NOW        SHW       SPG       SWKS        SLG        SNA
Date
2000-01-03  NaN  14.267481  8.037941  28.752079  11.161804  15.953835
2000-01-04  NaN  13.735774  7.949121  27.064148  11.000039  15.768328
2000-01-05  NaN  13.780086  8.015734  27.765066  10.902983  15.174697
2000-01-06  NaN  14.001625  8.215574  25.061514  11.097099  15.211799
2000-01-07  NaN  13.824393  8.570842  27.636326  11.485332  15.582814

[5 rows x 420 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  STX        SEE       SRE  NOW  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  19.682228  8.589351  NaN
2000-01-04  14.625  NaN  27.172190  ...  NaN  20.436514  8.682376  NaN
2000-01-05  15.000  NaN  27.464891  ...  NaN  20.436514  8.868423  NaN
2000-01-06  16.000  NaN  27.684412  ...  NaN  20.978657  9.116494  NaN
2000-01-07  16.250  NaN  28.221029  ...  NaN  21.732948  8.930438  NaN

                  SHW       SPG       SWKS        SLG        SNA        SO
Date
2000-01-03  14.267481  8.037941  28.752079  11.161804  15.953835  4.688773
2000-01-04  13.735774  7.949121  27.064148  11.000039  15.768328  4.740299
2000-01-05  13.780086  8.015734  27.765066  10.902983  15.174697  4.985040
2000-01-06  14.001625  8.215574  25.061514  11.097099  15.211799  4.997924
2000-01-07  13.824393  8.570842  27.636326  11.485332  15.582814  5.088092

[5 rows x 421 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        SEE       SRE  NOW        SHW  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  19.682228  8.589351  NaN  14.267481
2000-01-04  14.625  NaN  27.172190  ...  20.436514  8.682376  NaN  13.735774
2000-01-05  15.000  NaN  27.464891  ...  20.436514  8.868423  NaN  13.780086
2000-01-06  16.000  NaN  27.684412  ...  20.978657  9.116494  NaN  14.001625
2000-01-07  16.250  NaN  28.221029  ...  21.732948  8.930438  NaN  13.824393

                 SPG       SWKS        SLG        SNA        SO       LUV
Date
2000-01-03  8.037941  28.752079  11.161804  15.953835  4.688773  9.689154
2000-01-04  7.949121  27.064148  11.000039  15.768328  4.740299  9.422133
2000-01-05  8.015734  27.765066  10.902983  15.174697  4.985040  9.383987
2000-01-06  8.215574  25.061514  11.097099  15.211799  4.997924  9.345841
2000-01-07  8.570842  27.636326  11.485332  15.582814  5.088092  9.689154

[5 rows x 422 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       SRE  NOW        SHW       SPG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  8.589351  NaN  14.267481  8.037941
2000-01-04  14.625  NaN  27.172190  ...  8.682376  NaN  13.735774  7.949121
2000-01-05  15.000  NaN  27.464891  ...  8.868423  NaN  13.780086  8.015734
2000-01-06  16.000  NaN  27.684412  ...  9.116494  NaN  14.001625  8.215574
2000-01-07  16.250  NaN  28.221029  ...  8.930438  NaN  13.824393  8.570842

                 SWKS        SLG        SNA        SO       LUV        SWK
Date
2000-01-03  28.752079  11.161804  15.953835  4.688773  9.689154  17.319683
2000-01-04  27.064148  11.000039  15.768328  4.740299  9.422133  16.943161
2000-01-05  27.765066  10.902983  15.174697  4.985040  9.383987  16.717258
2000-01-06  25.061514  11.097099  15.211799  4.997924  9.345841  16.641953
2000-01-07  27.636326  11.485332  15.582814  5.088092  9.689154  16.943161

[5 rows x 423 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  NOW        SHW       SPG       SWKS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  14.267481  8.037941  28.752079
2000-01-04  14.625  NaN  27.172190  ...  NaN  13.735774  7.949121  27.064148
2000-01-05  15.000  NaN  27.464891  ...  NaN  13.780086  8.015734  27.765066
2000-01-06  16.000  NaN  27.684412  ...  NaN  14.001625  8.215574  25.061514
2000-01-07  16.250  NaN  28.221029  ...  NaN  13.824393  8.570842  27.636326

                  SLG        SNA        SO       LUV        SWK      SBUX
Date
2000-01-03  11.161804  15.953835  4.688773  9.689154  17.319683  2.602256
2000-01-04  11.000039  15.768328  4.740299  9.422133  16.943161  2.519801
2000-01-05  10.902983  15.174697  4.985040  9.383987  16.717258  2.552784
2000-01-06  11.097099  15.211799  4.997924  9.345841  16.641953  2.645133
2000-01-07  11.485332  15.582814  5.088092  9.689154  16.943161  2.631940

[5 rows x 424 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        SHW       SPG       SWKS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  14.267481  8.037941  28.752079
2000-01-04  14.625  NaN  27.172190  ...  13.735774  7.949121  27.064148
2000-01-05  15.000  NaN  27.464891  ...  13.780086  8.015734  27.765066
2000-01-06  16.000  NaN  27.684412  ...  14.001625  8.215574  25.061514
2000-01-07  16.250  NaN  28.221029  ...  13.824393  8.570842  27.636326

                  SLG        SNA        SO       LUV        SWK      SBUX  \
Date
2000-01-03  11.161804  15.953835  4.688773  9.689154  17.319683  2.602256
2000-01-04  11.000039  15.768328  4.740299  9.422133  16.943161  2.519801
2000-01-05  10.902983  15.174697  4.985040  9.383987  16.717258  2.552784
2000-01-06  11.097099  15.211799  4.997924  9.345841  16.641953  2.645133
2000-01-07  11.485332  15.582814  5.088092  9.689154  16.943161  2.631940

                  STT
Date
2000-01-03  25.467466
2000-01-04  24.052601
2000-01-05  24.486187
2000-01-06  25.513100
2000-01-07  26.425909

[5 rows x 425 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       SPG       SWKS        SLG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  8.037941  28.752079  11.161804
2000-01-04  14.625  NaN  27.172190  ...  7.949121  27.064148  11.000039
2000-01-05  15.000  NaN  27.464891  ...  8.015734  27.765066  10.902983
2000-01-06  16.000  NaN  27.684412  ...  8.215574  25.061514  11.097099
2000-01-07  16.250  NaN  28.221029  ...  8.570842  27.636326  11.485332

                  SNA        SO       LUV        SWK      SBUX        STT  \
Date
2000-01-03  15.953835  4.688773  9.689154  17.319683  2.602256  25.467466
2000-01-04  15.768328  4.740299  9.422133  16.943161  2.519801  24.052601
2000-01-05  15.174697  4.985040  9.383987  16.717258  2.552784  24.486187
2000-01-06  15.211799  4.997924  9.345841  16.641953  2.645133  25.513100
2000-01-07  15.582814  5.088092  9.689154  16.943161  2.631940  26.425909

                 STE
Date
2000-01-03  8.181990
2000-01-04  7.927893
2000-01-05  7.877072
2000-01-06  8.029531
2000-01-07  7.927893

[5 rows x 426 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       SWKS        SLG        SNA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  28.752079  11.161804  15.953835
2000-01-04  14.625  NaN  27.172190  ...  27.064148  11.000039  15.768328
2000-01-05  15.000  NaN  27.464891  ...  27.765066  10.902983  15.174697
2000-01-06  16.000  NaN  27.684412  ...  25.061514  11.097099  15.211799
2000-01-07  16.250  NaN  28.221029  ...  27.636326  11.485332  15.582814

                  SO       LUV        SWK      SBUX        STT       STE  \
Date
2000-01-03  4.688773  9.689154  17.319683  2.602256  25.467466  8.181990
2000-01-04  4.740299  9.422133  16.943161  2.519801  24.052601  7.927893
2000-01-05  4.985040  9.383987  16.717258  2.552784  24.486187  7.877072
2000-01-06  4.997924  9.345841  16.641953  2.645133  25.513100  8.029531
2000-01-07  5.088092  9.689154  16.943161  2.631940  26.425909  7.927893

                  SYK
Date
2000-01-03  14.256066
2000-01-04  14.099688
2000-01-05  14.529713
2000-01-06  14.842464
2000-01-07  16.210737

[5 rows x 427 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        SLG        SNA        SO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  11.161804  15.953835  4.688773
2000-01-04  14.625  NaN  27.172190  ...  11.000039  15.768328  4.740299
2000-01-05  15.000  NaN  27.464891  ...  10.902983  15.174697  4.985040
2000-01-06  16.000  NaN  27.684412  ...  11.097099  15.211799  4.997924
2000-01-07  16.250  NaN  28.221029  ...  11.485332  15.582814  5.088092

                 LUV        SWK      SBUX        STT       STE        SYK  \
Date
2000-01-03  9.689154  17.319683  2.602256  25.467466  8.181990  14.256066
2000-01-04  9.422133  16.943161  2.519801  24.052601  7.927893  14.099688
2000-01-05  9.383987  16.717258  2.552784  24.486187  7.877072  14.529713
2000-01-06  9.345841  16.641953  2.645133  25.513100  8.029531  14.842464
2000-01-07  9.689154  16.943161  2.631940  26.425909  7.927893  16.210737

                 SIVB
Date
2000-01-03  26.500000
2000-01-04  24.781250
2000-01-05  23.968750
2000-01-06  24.554688
2000-01-07  24.718750

[5 rows x 428 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        SNA        SO       LUV  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  15.953835  4.688773  9.689154
2000-01-04  14.625  NaN  27.172190  ...  15.768328  4.740299  9.422133
2000-01-05  15.000  NaN  27.464891  ...  15.174697  4.985040  9.383987
2000-01-06  16.000  NaN  27.684412  ...  15.211799  4.997924  9.345841
2000-01-07  16.250  NaN  28.221029  ...  15.582814  5.088092  9.689154

                  SWK      SBUX        STT       STE        SYK       SIVB  \
Date
2000-01-03  17.319683  2.602256  25.467466  8.181990  14.256066  26.500000
2000-01-04  16.943161  2.519801  24.052601  7.927893  14.099688  24.781250
2000-01-05  16.717258  2.552784  24.486187  7.877072  14.529713  23.968750
2000-01-06  16.641953  2.645133  25.513100  8.029531  14.842464  24.554688
2000-01-07  16.943161  2.631940  26.425909  7.927893  16.210737  24.718750

            SYF
Date
2000-01-03  NaN
2000-01-04  NaN
2000-01-05  NaN
2000-01-06  NaN
2000-01-07  NaN

[5 rows x 429 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        SO       LUV        SWK  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  4.688773  9.689154  17.319683
2000-01-04  14.625  NaN  27.172190  ...  4.740299  9.422133  16.943161
2000-01-05  15.000  NaN  27.464891  ...  4.985040  9.383987  16.717258
2000-01-06  16.000  NaN  27.684412  ...  4.997924  9.345841  16.641953
2000-01-07  16.250  NaN  28.221029  ...  5.088092  9.689154  16.943161

                SBUX        STT       STE        SYK       SIVB  SYF  \
Date
2000-01-03  2.602256  25.467466  8.181990  14.256066  26.500000  NaN
2000-01-04  2.519801  24.052601  7.927893  14.099688  24.781250  NaN
2000-01-05  2.552784  24.486187  7.877072  14.529713  23.968750  NaN
2000-01-06  2.645133  25.513100  8.029531  14.842464  24.554688  NaN
2000-01-07  2.631940  26.425909  7.927893  16.210737  24.718750  NaN

                 SNPS
Date
2000-01-03  32.781250
2000-01-04  30.437500
2000-01-05  30.703125
2000-01-06  28.468750
2000-01-07  28.750000

[5 rows x 430 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       LUV        SWK      SBUX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  9.689154  17.319683  2.602256
2000-01-04  14.625  NaN  27.172190  ...  9.422133  16.943161  2.519801
2000-01-05  15.000  NaN  27.464891  ...  9.383987  16.717258  2.552784
2000-01-06  16.000  NaN  27.684412  ...  9.345841  16.641953  2.645133
2000-01-07  16.250  NaN  28.221029  ...  9.689154  16.943161  2.631940

                  STT       STE        SYK       SIVB  SYF       SNPS  \
Date
2000-01-03  25.467466  8.181990  14.256066  26.500000  NaN  32.781250
2000-01-04  24.052601  7.927893  14.099688  24.781250  NaN  30.437500
2000-01-05  24.486187  7.877072  14.529713  23.968750  NaN  30.703125
2000-01-06  25.513100  8.029531  14.842464  24.554688  NaN  28.468750
2000-01-07  26.425909  7.927893  16.210737  24.718750  NaN  28.750000

                  SYY
Date
2000-01-03  11.204473
2000-01-04  10.855477
2000-01-05  11.018912
2000-01-06  11.481119
2000-01-07  11.499604

[5 rows x 431 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        SWK      SBUX        STT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  17.319683  2.602256  25.467466
2000-01-04  14.625  NaN  27.172190  ...  16.943161  2.519801  24.052601
2000-01-05  15.000  NaN  27.464891  ...  16.717258  2.552784  24.486187
2000-01-06  16.000  NaN  27.684412  ...  16.641953  2.645133  25.513100
2000-01-07  16.250  NaN  28.221029  ...  16.943161  2.631940  26.425909

                 STE        SYK       SIVB  SYF       SNPS        SYY  TMUS
Date
2000-01-03  8.181990  14.256066  26.500000  NaN  32.781250  11.204473   NaN
2000-01-04  7.927893  14.099688  24.781250  NaN  30.437500  10.855477   NaN
2000-01-05  7.877072  14.529713  23.968750  NaN  30.703125  11.018912   NaN
2000-01-06  8.029531  14.842464  24.554688  NaN  28.468750  11.481119   NaN
2000-01-07  7.927893  16.210737  24.718750  NaN  28.750000  11.499604   NaN

[5 rows x 432 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      SBUX        STT       STE  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  2.602256  25.467466  8.181990
2000-01-04  14.625  NaN  27.172190  ...  2.519801  24.052601  7.927893
2000-01-05  15.000  NaN  27.464891  ...  2.552784  24.486187  7.877072
2000-01-06  16.000  NaN  27.684412  ...  2.645133  25.513100  8.029531
2000-01-07  16.250  NaN  28.221029  ...  2.631940  26.425909  7.927893

                  SYK       SIVB  SYF       SNPS        SYY  TMUS       TROW
Date
2000-01-03  14.256066  26.500000  NaN  32.781250  11.204473   NaN  10.995634
2000-01-04  14.099688  24.781250  NaN  30.437500  10.855477   NaN  10.663034
2000-01-05  14.529713  23.968750  NaN  30.703125  11.018912   NaN  10.643468
2000-01-06  14.842464  24.554688  NaN  28.468750  11.481119   NaN  10.956511
2000-01-07  16.210737  24.718750  NaN  28.750000  11.499604   NaN  10.878253

[5 rows x 433 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        STT       STE        SYK  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  25.467466  8.181990  14.256066
2000-01-04  14.625  NaN  27.172190  ...  24.052601  7.927893  14.099688
2000-01-05  15.000  NaN  27.464891  ...  24.486187  7.877072  14.529713
2000-01-06  16.000  NaN  27.684412  ...  25.513100  8.029531  14.842464
2000-01-07  16.250  NaN  28.221029  ...  26.425909  7.927893  16.210737

                 SIVB  SYF       SNPS        SYY  TMUS       TROW      TTWO
Date
2000-01-03  26.500000  NaN  32.781250  11.204473   NaN  10.995634  9.124436
2000-01-04  24.781250  NaN  30.437500  10.855477   NaN  10.663034  8.874452
2000-01-05  23.968750  NaN  30.703125  11.018912   NaN  10.643468  8.832788
2000-01-06  24.554688  NaN  28.468750  11.481119   NaN  10.956511  8.749459
2000-01-07  24.718750  NaN  28.750000  11.499604   NaN  10.878253  8.999444

[5 rows x 434 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       STE        SYK       SIVB  SYF  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  8.181990  14.256066  26.500000  NaN
2000-01-04  14.625  NaN  27.172190  ...  7.927893  14.099688  24.781250  NaN
2000-01-05  15.000  NaN  27.464891  ...  7.877072  14.529713  23.968750  NaN
2000-01-06  16.000  NaN  27.684412  ...  8.029531  14.842464  24.554688  NaN
2000-01-07  16.250  NaN  28.221029  ...  7.927893  16.210737  24.718750  NaN

                 SNPS        SYY  TMUS       TROW      TTWO  TPR
Date
2000-01-03  32.781250  11.204473   NaN  10.995634  9.124436  NaN
2000-01-04  30.437500  10.855477   NaN  10.663034  8.874452  NaN
2000-01-05  30.703125  11.018912   NaN  10.643468  8.832788  NaN
2000-01-06  28.468750  11.481119   NaN  10.956511  8.749459  NaN
2000-01-07  28.750000  11.499604   NaN  10.878253  8.999444  NaN

[5 rows x 435 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        SYK       SIVB  SYF       SNPS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  14.256066  26.500000  NaN  32.781250
2000-01-04  14.625  NaN  27.172190  ...  14.099688  24.781250  NaN  30.437500
2000-01-05  15.000  NaN  27.464891  ...  14.529713  23.968750  NaN  30.703125
2000-01-06  16.000  NaN  27.684412  ...  14.842464  24.554688  NaN  28.468750
2000-01-07  16.250  NaN  28.221029  ...  16.210737  24.718750  NaN  28.750000

                  SYY  TMUS       TROW      TTWO  TPR        TGT
Date
2000-01-03  11.204473   NaN  10.995634  9.124436  NaN  24.629271
2000-01-04  10.855477   NaN  10.663034  8.874452  NaN  23.561226
2000-01-05  11.018912   NaN  10.643468  8.832788  NaN  23.027193
2000-01-06  11.481119   NaN  10.956511  8.749459  NaN  21.937782
2000-01-07  11.499604   NaN  10.878253  8.999444  NaN  23.069923

[5 rows x 436 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       SIVB  SYF       SNPS        SYY  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  26.500000  NaN  32.781250  11.204473
2000-01-04  14.625  NaN  27.172190  ...  24.781250  NaN  30.437500  10.855477
2000-01-05  15.000  NaN  27.464891  ...  23.968750  NaN  30.703125  11.018912
2000-01-06  16.000  NaN  27.684412  ...  24.554688  NaN  28.468750  11.481119
2000-01-07  16.250  NaN  28.221029  ...  24.718750  NaN  28.750000  11.499604

            TMUS       TROW      TTWO  TPR        TGT  TEL
Date
2000-01-03   NaN  10.995634  9.124436  NaN  24.629271  NaN
2000-01-04   NaN  10.663034  8.874452  NaN  23.561226  NaN
2000-01-05   NaN  10.643468  8.832788  NaN  23.027193  NaN
2000-01-06   NaN  10.956511  8.749459  NaN  21.937782  NaN
2000-01-07   NaN  10.878253  8.999444  NaN  23.069923  NaN

[5 rows x 437 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  SYF       SNPS        SYY  TMUS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  32.781250  11.204473   NaN
2000-01-04  14.625  NaN  27.172190  ...  NaN  30.437500  10.855477   NaN
2000-01-05  15.000  NaN  27.464891  ...  NaN  30.703125  11.018912   NaN
2000-01-06  16.000  NaN  27.684412  ...  NaN  28.468750  11.481119   NaN
2000-01-07  16.250  NaN  28.221029  ...  NaN  28.750000  11.499604   NaN

                 TROW      TTWO  TPR        TGT  TEL  FTI
Date
2000-01-03  10.995634  9.124436  NaN  24.629271  NaN  NaN
2000-01-04  10.663034  8.874452  NaN  23.561226  NaN  NaN
2000-01-05  10.643468  8.832788  NaN  23.027193  NaN  NaN
2000-01-06  10.956511  8.749459  NaN  21.937782  NaN  NaN
2000-01-07  10.878253  8.999444  NaN  23.069923  NaN  NaN

[5 rows x 438 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       SNPS        SYY  TMUS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  32.781250  11.204473   NaN
2000-01-04  14.625  NaN  27.172190  ...  30.437500  10.855477   NaN
2000-01-05  15.000  NaN  27.464891  ...  30.703125  11.018912   NaN
2000-01-06  16.000  NaN  27.684412  ...  28.468750  11.481119   NaN
2000-01-07  16.250  NaN  28.221029  ...  28.750000  11.499604   NaN

                 TROW      TTWO  TPR        TGT  TEL  FTI  TDY
Date
2000-01-03  10.995634  9.124436  NaN  24.629271  NaN  NaN  NaN
2000-01-04  10.663034  8.874452  NaN  23.561226  NaN  NaN  NaN
2000-01-05  10.643468  8.832788  NaN  23.027193  NaN  NaN  NaN
2000-01-06  10.956511  8.749459  NaN  21.937782  NaN  NaN  NaN
2000-01-07  10.878253  8.999444  NaN  23.069923  NaN  NaN  NaN

[5 rows x 439 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        SYY  TMUS       TROW      TTWO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  11.204473   NaN  10.995634  9.124436
2000-01-04  14.625  NaN  27.172190  ...  10.855477   NaN  10.663034  8.874452
2000-01-05  15.000  NaN  27.464891  ...  11.018912   NaN  10.643468  8.832788
2000-01-06  16.000  NaN  27.684412  ...  11.481119   NaN  10.956511  8.749459
2000-01-07  16.250  NaN  28.221029  ...  11.499604   NaN  10.878253  8.999444

            TPR        TGT  TEL  FTI  TDY        TFX
Date
2000-01-03  NaN  24.629271  NaN  NaN  NaN  22.611609
2000-01-04  NaN  23.561226  NaN  NaN  NaN  22.114145
2000-01-05  NaN  23.027193  NaN  NaN  NaN  23.470840
2000-01-06  NaN  21.937782  NaN  NaN  NaN  23.470840
2000-01-07  NaN  23.069923  NaN  NaN  NaN  24.194403

[5 rows x 440 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  TMUS       TROW      TTWO  TPR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  10.995634  9.124436  NaN
2000-01-04  14.625  NaN  27.172190  ...   NaN  10.663034  8.874452  NaN
2000-01-05  15.000  NaN  27.464891  ...   NaN  10.643468  8.832788  NaN
2000-01-06  16.000  NaN  27.684412  ...   NaN  10.956511  8.749459  NaN
2000-01-07  16.250  NaN  28.221029  ...   NaN  10.878253  8.999444  NaN

                  TGT  TEL  FTI  TDY        TFX        TXN
Date
2000-01-03  24.629271  NaN  NaN  NaN  22.611609  36.574970
2000-01-04  23.561226  NaN  NaN  NaN  22.114145  35.019547
2000-01-05  23.027193  NaN  NaN  NaN  23.470840  34.175152
2000-01-06  21.937782  NaN  NaN  NaN  23.470840  33.241901
2000-01-07  23.069923  NaN  NaN  NaN  24.194403  33.419655

[5 rows x 441 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       TROW      TTWO  TPR        TGT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.995634  9.124436  NaN  24.629271
2000-01-04  14.625  NaN  27.172190  ...  10.663034  8.874452  NaN  23.561226
2000-01-05  15.000  NaN  27.464891  ...  10.643468  8.832788  NaN  23.027193
2000-01-06  16.000  NaN  27.684412  ...  10.956511  8.749459  NaN  21.937782
2000-01-07  16.250  NaN  28.221029  ...  10.878253  8.999444  NaN  23.069923

            TEL  FTI  TDY        TFX        TXN        TXT
Date
2000-01-03  NaN  NaN  NaN  22.611609  36.574970  24.218569
2000-01-04  NaN  NaN  NaN  22.114145  35.019547  23.814602
2000-01-05  NaN  NaN  NaN  23.470840  34.175152  23.249025
2000-01-06  NaN  NaN  NaN  23.470840  33.241901  22.946039
2000-01-07  NaN  NaN  NaN  24.194403  33.419655  23.511602

[5 rows x 442 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      TTWO  TPR        TGT  TEL  FTI  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  9.124436  NaN  24.629271  NaN  NaN
2000-01-04  14.625  NaN  27.172190  ...  8.874452  NaN  23.561226  NaN  NaN
2000-01-05  15.000  NaN  27.464891  ...  8.832788  NaN  23.027193  NaN  NaN
2000-01-06  16.000  NaN  27.684412  ...  8.749459  NaN  21.937782  NaN  NaN
2000-01-07  16.250  NaN  28.221029  ...  8.999444  NaN  23.069923  NaN  NaN

            TDY        TFX        TXN        TXT        TMO
Date
2000-01-03  NaN  22.611609  36.574970  24.218569  12.402374
2000-01-04  NaN  22.114145  35.019547  23.814602  11.937287
2000-01-05  NaN  23.470840  34.175152  23.249025  12.040640
2000-01-06  NaN  23.470840  33.241901  22.946039  12.040640
2000-01-07  NaN  24.194403  33.419655  23.511602  12.195669

[5 rows x 443 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  TPR        TGT  TEL  FTI  TDY  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  24.629271  NaN  NaN  NaN
2000-01-04  14.625  NaN  27.172190  ...  NaN  23.561226  NaN  NaN  NaN
2000-01-05  15.000  NaN  27.464891  ...  NaN  23.027193  NaN  NaN  NaN
2000-01-06  16.000  NaN  27.684412  ...  NaN  21.937782  NaN  NaN  NaN
2000-01-07  16.250  NaN  28.221029  ...  NaN  23.069923  NaN  NaN  NaN

                  TFX        TXN        TXT        TMO        TIF
Date
2000-01-03  22.611609  36.574970  24.218569  12.402374  31.321611
2000-01-04  22.114145  35.019547  23.814602  11.937287  30.330566
2000-01-05  23.470840  34.175152  23.249025  12.040640  29.593056
2000-01-06  23.470840  33.241901  22.946039  12.040640  28.394577
2000-01-07  24.194403  33.419655  23.511602  12.195669  30.399715

[5 rows x 444 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        TGT  TEL  FTI  TDY        TFX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  24.629271  NaN  NaN  NaN  22.611609
2000-01-04  14.625  NaN  27.172190  ...  23.561226  NaN  NaN  NaN  22.114145
2000-01-05  15.000  NaN  27.464891  ...  23.027193  NaN  NaN  NaN  23.470840
2000-01-06  16.000  NaN  27.684412  ...  21.937782  NaN  NaN  NaN  23.470840
2000-01-07  16.250  NaN  28.221029  ...  23.069923  NaN  NaN  NaN  24.194403

                  TXN        TXT        TMO        TIF       TJX
Date
2000-01-03  36.574970  24.218569  12.402374  31.321611  1.205621
2000-01-04  35.019547  23.814602  11.937287  30.330566  1.142558
2000-01-05  34.175152  23.249025  12.040640  29.593056  1.109172
2000-01-06  33.241901  22.946039  12.040640  28.394577  1.175945
2000-01-07  33.419655  23.511602  12.195669  30.399715  1.205621

[5 rows x 445 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  TEL  FTI  TDY        TFX        TXN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  NaN  NaN  22.611609  36.574970
2000-01-04  14.625  NaN  27.172190  ...  NaN  NaN  NaN  22.114145  35.019547
2000-01-05  15.000  NaN  27.464891  ...  NaN  NaN  NaN  23.470840  34.175152
2000-01-06  16.000  NaN  27.684412  ...  NaN  NaN  NaN  23.470840  33.241901
2000-01-07  16.250  NaN  28.221029  ...  NaN  NaN  NaN  24.194403  33.419655

                  TXT        TMO        TIF       TJX      TSCO
Date
2000-01-03  24.218569  12.402374  31.321611  1.205621  0.885583
2000-01-04  23.814602  11.937287  30.330566  1.142558  0.866407
2000-01-05  23.249025  12.040640  29.593056  1.109172  0.871637
2000-01-06  22.946039  12.040640  28.394577  1.175945  0.857691
2000-01-07  23.511602  12.195669  30.399715  1.205621  0.878610

[5 rows x 446 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  FTI  TDY        TFX        TXN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  NaN  22.611609  36.574970
2000-01-04  14.625  NaN  27.172190  ...  NaN  NaN  22.114145  35.019547
2000-01-05  15.000  NaN  27.464891  ...  NaN  NaN  23.470840  34.175152
2000-01-06  16.000  NaN  27.684412  ...  NaN  NaN  23.470840  33.241901
2000-01-07  16.250  NaN  28.221029  ...  NaN  NaN  24.194403  33.419655

                  TXT        TMO        TIF       TJX      TSCO        TT
Date
2000-01-03  24.218569  12.402374  31.321611  1.205621  0.885583       NaN
2000-01-04  23.814602  11.937287  30.330566  1.142558  0.866407       NaN
2000-01-05  23.249025  12.040640  29.593056  1.109172  0.871637       NaN
2000-01-06  22.946039  12.040640  28.394577  1.175945  0.857691  1.089692
2000-01-07  23.511602  12.195669  30.399715  1.205621  0.878610  1.089692

[5 rows x 447 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  TDY        TFX        TXN        TXT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  22.611609  36.574970  24.218569
2000-01-04  14.625  NaN  27.172190  ...  NaN  22.114145  35.019547  23.814602
2000-01-05  15.000  NaN  27.464891  ...  NaN  23.470840  34.175152  23.249025
2000-01-06  16.000  NaN  27.684412  ...  NaN  23.470840  33.241901  22.946039
2000-01-07  16.250  NaN  28.221029  ...  NaN  24.194403  33.419655  23.511602

                  TMO        TIF       TJX      TSCO        TT  TDG
Date
2000-01-03  12.402374  31.321611  1.205621  0.885583       NaN  NaN
2000-01-04  11.937287  30.330566  1.142558  0.866407       NaN  NaN
2000-01-05  12.040640  29.593056  1.109172  0.871637       NaN  NaN
2000-01-06  12.040640  28.394577  1.175945  0.857691  1.089692  NaN
2000-01-07  12.195669  30.399715  1.205621  0.878610  1.089692  NaN

[5 rows x 448 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        TFX        TXN        TXT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  22.611609  36.574970  24.218569
2000-01-04  14.625  NaN  27.172190  ...  22.114145  35.019547  23.814602
2000-01-05  15.000  NaN  27.464891  ...  23.470840  34.175152  23.249025
2000-01-06  16.000  NaN  27.684412  ...  23.470840  33.241901  22.946039
2000-01-07  16.250  NaN  28.221029  ...  24.194403  33.419655  23.511602

                  TMO        TIF       TJX      TSCO        TT  TDG        TRV
Date
2000-01-03  12.402374  31.321611  1.205621  0.885583       NaN  NaN  19.621847
2000-01-04  11.937287  30.330566  1.142558  0.866407       NaN  NaN  19.361706
2000-01-05  12.040640  29.593056  1.109172  0.871637       NaN  NaN  19.213058
2000-01-06  12.040640  28.394577  1.175945  0.857691  1.089692  NaN  19.584684
2000-01-07  12.195669  30.399715  1.205621  0.878610  1.089692  NaN  20.365091

[5 rows x 449 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        TXN        TXT        TMO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  36.574970  24.218569  12.402374
2000-01-04  14.625  NaN  27.172190  ...  35.019547  23.814602  11.937287
2000-01-05  15.000  NaN  27.464891  ...  34.175152  23.249025  12.040640
2000-01-06  16.000  NaN  27.684412  ...  33.241901  22.946039  12.040640
2000-01-07  16.250  NaN  28.221029  ...  33.419655  23.511602  12.195669

                  TIF       TJX      TSCO        TT  TDG        TRV        TFC
Date
2000-01-03  31.321611  1.205621  0.885583       NaN  NaN  19.621847  12.632176
2000-01-04  30.330566  1.142558  0.866407       NaN  NaN  19.361706  12.265133
2000-01-05  29.593056  1.109172  0.871637       NaN  NaN  19.213058  12.418066
2000-01-06  28.394577  1.175945  0.857691  1.089692  NaN  19.584684  12.999200
2000-01-07  30.399715  1.205621  0.878610  1.089692  NaN  20.365091  13.090965

[5 rows x 450 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        TXT        TMO        TIF  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  24.218569  12.402374  31.321611
2000-01-04  14.625  NaN  27.172190  ...  23.814602  11.937287  30.330566
2000-01-05  15.000  NaN  27.464891  ...  23.249025  12.040640  29.593056
2000-01-06  16.000  NaN  27.684412  ...  22.946039  12.040640  28.394577
2000-01-07  16.250  NaN  28.221029  ...  23.511602  12.195669  30.399715

                 TJX      TSCO        TT  TDG        TRV        TFC  TWTR
Date
2000-01-03  1.205621  0.885583       NaN  NaN  19.621847  12.632176   NaN
2000-01-04  1.142558  0.866407       NaN  NaN  19.361706  12.265133   NaN
2000-01-05  1.109172  0.871637       NaN  NaN  19.213058  12.418066   NaN
2000-01-06  1.175945  0.857691  1.089692  NaN  19.584684  12.999200   NaN
2000-01-07  1.205621  0.878610  1.089692  NaN  20.365091  13.090965   NaN

[5 rows x 451 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        TMO        TIF       TJX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  12.402374  31.321611  1.205621
2000-01-04  14.625  NaN  27.172190  ...  11.937287  30.330566  1.142558
2000-01-05  15.000  NaN  27.464891  ...  12.040640  29.593056  1.109172
2000-01-06  16.000  NaN  27.684412  ...  12.040640  28.394577  1.175945
2000-01-07  16.250  NaN  28.221029  ...  12.195669  30.399715  1.205621

                TSCO        TT  TDG        TRV        TFC  TWTR  TYL
Date
2000-01-03  0.885583       NaN  NaN  19.621847  12.632176   NaN  NaN
2000-01-04  0.866407       NaN  NaN  19.361706  12.265133   NaN  NaN
2000-01-05  0.871637       NaN  NaN  19.213058  12.418066   NaN  NaN
2000-01-06  0.857691  1.089692  NaN  19.584684  12.999200   NaN  NaN
2000-01-07  0.878610  1.089692  NaN  20.365091  13.090965   NaN  NaN

[5 rows x 452 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        TIF       TJX      TSCO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  31.321611  1.205621  0.885583
2000-01-04  14.625  NaN  27.172190  ...  30.330566  1.142558  0.866407
2000-01-05  15.000  NaN  27.464891  ...  29.593056  1.109172  0.871637
2000-01-06  16.000  NaN  27.684412  ...  28.394577  1.175945  0.857691
2000-01-07  16.250  NaN  28.221029  ...  30.399715  1.205621  0.878610

                  TT  TDG        TRV        TFC  TWTR  TYL        TSN
Date
2000-01-03       NaN  NaN  19.621847  12.632176   NaN  NaN  12.474911
2000-01-04       NaN  NaN  19.361706  12.265133   NaN  NaN  12.426370
2000-01-05       NaN  NaN  19.213058  12.418066   NaN  NaN  12.474911
2000-01-06  1.089692  NaN  19.584684  12.999200   NaN  NaN  12.571986
2000-01-07  1.089692  NaN  20.365091  13.090965   NaN  NaN  13.154481

[5 rows x 453 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       TJX      TSCO        TT  TDG  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  1.205621  0.885583       NaN  NaN
2000-01-04  14.625  NaN  27.172190  ...  1.142558  0.866407       NaN  NaN
2000-01-05  15.000  NaN  27.464891  ...  1.109172  0.871637       NaN  NaN
2000-01-06  16.000  NaN  27.684412  ...  1.175945  0.857691  1.089692  NaN
2000-01-07  16.250  NaN  28.221029  ...  1.205621  0.878610  1.089692  NaN

                  TRV        TFC  TWTR  TYL        TSN       UDR
Date
2000-01-03  19.621847  12.632176   NaN  NaN  12.474911  3.439641
2000-01-04  19.361706  12.265133   NaN  NaN  12.426370  3.288211
2000-01-05  19.213058  12.418066   NaN  NaN  12.474911  3.353110
2000-01-06  19.584684  12.999200   NaN  NaN  12.571986  3.591073
2000-01-07  20.365091  13.090965   NaN  NaN  13.154481  3.526172

[5 rows x 454 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      TSCO        TT  TDG        TRV  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  0.885583       NaN  NaN  19.621847
2000-01-04  14.625  NaN  27.172190  ...  0.866407       NaN  NaN  19.361706
2000-01-05  15.000  NaN  27.464891  ...  0.871637       NaN  NaN  19.213058
2000-01-06  16.000  NaN  27.684412  ...  0.857691  1.089692  NaN  19.584684
2000-01-07  16.250  NaN  28.221029  ...  0.878610  1.089692  NaN  20.365091

                  TFC  TWTR  TYL        TSN       UDR  ULTA
Date
2000-01-03  12.632176   NaN  NaN  12.474911  3.439641   NaN
2000-01-04  12.265133   NaN  NaN  12.426370  3.288211   NaN
2000-01-05  12.418066   NaN  NaN  12.474911  3.353110   NaN
2000-01-06  12.999200   NaN  NaN  12.571986  3.591073   NaN
2000-01-07  13.090965   NaN  NaN  13.154481  3.526172   NaN

[5 rows x 455 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        TT  TDG        TRV        TFC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...       NaN  NaN  19.621847  12.632176
2000-01-04  14.625  NaN  27.172190  ...       NaN  NaN  19.361706  12.265133
2000-01-05  15.000  NaN  27.464891  ...       NaN  NaN  19.213058  12.418066
2000-01-06  16.000  NaN  27.684412  ...  1.089692  NaN  19.584684  12.999200
2000-01-07  16.250  NaN  28.221029  ...  1.089692  NaN  20.365091  13.090965

            TWTR  TYL        TSN       UDR  ULTA        USB
Date
2000-01-03   NaN  NaN  12.474911  3.439641   NaN  10.688401
2000-01-04   NaN  NaN  12.426370  3.288211   NaN  10.298549
2000-01-05   NaN  NaN  12.474911  3.353110   NaN  10.071136
2000-01-06   NaN  NaN  12.571986  3.591073   NaN  10.850838
2000-01-07   NaN  NaN  13.154481  3.526172   NaN  11.273177

[5 rows x 456 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  TDG        TRV        TFC  TWTR  TYL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  19.621847  12.632176   NaN  NaN
2000-01-04  14.625  NaN  27.172190  ...  NaN  19.361706  12.265133   NaN  NaN
2000-01-05  15.000  NaN  27.464891  ...  NaN  19.213058  12.418066   NaN  NaN
2000-01-06  16.000  NaN  27.684412  ...  NaN  19.584684  12.999200   NaN  NaN
2000-01-07  16.250  NaN  28.221029  ...  NaN  20.365091  13.090965   NaN  NaN

                  TSN       UDR  ULTA        USB  UAA
Date
2000-01-03  12.474911  3.439641   NaN  10.688401  NaN
2000-01-04  12.426370  3.288211   NaN  10.298549  NaN
2000-01-05  12.474911  3.353110   NaN  10.071136  NaN
2000-01-06  12.571986  3.591073   NaN  10.850838  NaN
2000-01-07  13.154481  3.526172   NaN  11.273177  NaN

[5 rows x 457 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        TRV        TFC  TWTR  TYL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  19.621847  12.632176   NaN  NaN
2000-01-04  14.625  NaN  27.172190  ...  19.361706  12.265133   NaN  NaN
2000-01-05  15.000  NaN  27.464891  ...  19.213058  12.418066   NaN  NaN
2000-01-06  16.000  NaN  27.684412  ...  19.584684  12.999200   NaN  NaN
2000-01-07  16.250  NaN  28.221029  ...  20.365091  13.090965   NaN  NaN

                  TSN       UDR  ULTA        USB  UAA  UA
Date
2000-01-03  12.474911  3.439641   NaN  10.688401  NaN NaN
2000-01-04  12.426370  3.288211   NaN  10.298549  NaN NaN
2000-01-05  12.474911  3.353110   NaN  10.071136  NaN NaN
2000-01-06  12.571986  3.591073   NaN  10.850838  NaN NaN
2000-01-07  13.154481  3.526172   NaN  11.273177  NaN NaN

[5 rows x 458 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        TFC  TWTR  TYL        TSN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  12.632176   NaN  NaN  12.474911
2000-01-04  14.625  NaN  27.172190  ...  12.265133   NaN  NaN  12.426370
2000-01-05  15.000  NaN  27.464891  ...  12.418066   NaN  NaN  12.474911
2000-01-06  16.000  NaN  27.684412  ...  12.999200   NaN  NaN  12.571986
2000-01-07  16.250  NaN  28.221029  ...  13.090965   NaN  NaN  13.154481

                 UDR  ULTA        USB  UAA  UA       UNP
Date
2000-01-03  3.439641   NaN  10.688401  NaN NaN  4.378635
2000-01-04  3.288211   NaN  10.298549  NaN NaN  4.372283
2000-01-05  3.353110   NaN  10.071136  NaN NaN  4.372283
2000-01-06  3.591073   NaN  10.850838  NaN NaN  4.639195
2000-01-07  3.526172   NaN  11.273177  NaN NaN  4.607419

[5 rows x 459 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  TWTR  TYL        TSN       UDR  ULTA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  NaN  12.474911  3.439641   NaN
2000-01-04  14.625  NaN  27.172190  ...   NaN  NaN  12.426370  3.288211   NaN
2000-01-05  15.000  NaN  27.464891  ...   NaN  NaN  12.474911  3.353110   NaN
2000-01-06  16.000  NaN  27.684412  ...   NaN  NaN  12.571986  3.591073   NaN
2000-01-07  16.250  NaN  28.221029  ...   NaN  NaN  13.154481  3.526172   NaN

                  USB  UAA  UA       UNP  UAL
Date
2000-01-03  10.688401  NaN NaN  4.378635  NaN
2000-01-04  10.298549  NaN NaN  4.372283  NaN
2000-01-05  10.071136  NaN NaN  4.372283  NaN
2000-01-06  10.850838  NaN NaN  4.639195  NaN
2000-01-07  11.273177  NaN NaN  4.607419  NaN

[5 rows x 460 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  TYL        TSN       UDR  ULTA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  12.474911  3.439641   NaN
2000-01-04  14.625  NaN  27.172190  ...  NaN  12.426370  3.288211   NaN
2000-01-05  15.000  NaN  27.464891  ...  NaN  12.474911  3.353110   NaN
2000-01-06  16.000  NaN  27.684412  ...  NaN  12.571986  3.591073   NaN
2000-01-07  16.250  NaN  28.221029  ...  NaN  13.154481  3.526172   NaN

                  USB  UAA  UA       UNP  UAL       UNH
Date
2000-01-03  10.688401  NaN NaN  4.378635  NaN  5.647923
2000-01-04  10.298549  NaN NaN  4.372283  NaN  5.575684
2000-01-05  10.071136  NaN NaN  4.372283  NaN  5.562548
2000-01-06  10.850838  NaN NaN  4.639195  NaN  5.766134
2000-01-07  11.273177  NaN NaN  4.607419  NaN  6.442572

[5 rows x 461 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        TSN       UDR  ULTA        USB  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  12.474911  3.439641   NaN  10.688401
2000-01-04  14.625  NaN  27.172190  ...  12.426370  3.288211   NaN  10.298549
2000-01-05  15.000  NaN  27.464891  ...  12.474911  3.353110   NaN  10.071136
2000-01-06  16.000  NaN  27.684412  ...  12.571986  3.591073   NaN  10.850838
2000-01-07  16.250  NaN  28.221029  ...  13.154481  3.526172   NaN  11.273177

            UAA  UA       UNP  UAL       UNH        UPS
Date
2000-01-03  NaN NaN  4.378635  NaN  5.647923  40.255608
2000-01-04  NaN NaN  4.372283  NaN  5.575684  38.980015
2000-01-05  NaN NaN  4.372283  NaN  5.562548  40.818356
2000-01-06  NaN NaN  4.639195  NaN  5.766134  40.818356
2000-01-07  NaN NaN  4.607419  NaN  6.442572  39.842907

[5 rows x 462 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       UDR  ULTA        USB  UAA  UA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  3.439641   NaN  10.688401  NaN NaN
2000-01-04  14.625  NaN  27.172190  ...  3.288211   NaN  10.298549  NaN NaN
2000-01-05  15.000  NaN  27.464891  ...  3.353110   NaN  10.071136  NaN NaN
2000-01-06  16.000  NaN  27.684412  ...  3.591073   NaN  10.850838  NaN NaN
2000-01-07  16.250  NaN  28.221029  ...  3.526172   NaN  11.273177  NaN NaN

                 UNP  UAL       UNH        UPS      URI
Date
2000-01-03  4.378635  NaN  5.647923  40.255608  16.6875
2000-01-04  4.372283  NaN  5.575684  38.980015  16.5000
2000-01-05  4.372283  NaN  5.562548  40.818356  16.4375
2000-01-06  4.639195  NaN  5.766134  40.818356  17.3750
2000-01-07  4.607419  NaN  6.442572  39.842907  17.9375

[5 rows x 463 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  ULTA        USB  UAA  UA       UNP  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  10.688401  NaN NaN  4.378635
2000-01-04  14.625  NaN  27.172190  ...   NaN  10.298549  NaN NaN  4.372283
2000-01-05  15.000  NaN  27.464891  ...   NaN  10.071136  NaN NaN  4.372283
2000-01-06  16.000  NaN  27.684412  ...   NaN  10.850838  NaN NaN  4.639195
2000-01-07  16.250  NaN  28.221029  ...   NaN  11.273177  NaN NaN  4.607419

            UAL       UNH        UPS      URI       UHS
Date
2000-01-03  NaN  5.647923  40.255608  16.6875  8.208087
2000-01-04  NaN  5.575684  38.980015  16.5000  8.042828
2000-01-05  NaN  5.562548  40.818356  16.4375  8.373354
2000-01-06  NaN  5.766134  40.818356  17.3750  8.993091
2000-01-07  NaN  6.442572  39.842907  17.9375  9.736775

[5 rows x 464 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        USB  UAA  UA       UNP  UAL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.688401  NaN NaN  4.378635  NaN
2000-01-04  14.625  NaN  27.172190  ...  10.298549  NaN NaN  4.372283  NaN
2000-01-05  15.000  NaN  27.464891  ...  10.071136  NaN NaN  4.372283  NaN
2000-01-06  16.000  NaN  27.684412  ...  10.850838  NaN NaN  4.639195  NaN
2000-01-07  16.250  NaN  28.221029  ...  11.273177  NaN NaN  4.607419  NaN

                 UNH        UPS      URI       UHS        UNM
Date
2000-01-03  5.647923  40.255608  16.6875  8.208087  19.676989
2000-01-04  5.575684  38.980015  16.5000  8.042828  19.314087
2000-01-05  5.562548  40.818356  16.4375  8.373354  18.668941
2000-01-06  5.766134  40.818356  17.3750  8.993091  19.072153
2000-01-07  6.442572  39.842907  17.9375  9.736775  19.354408

[5 rows x 465 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  UAA  UA       UNP  UAL       UNH  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN NaN  4.378635  NaN  5.647923
2000-01-04  14.625  NaN  27.172190  ...  NaN NaN  4.372283  NaN  5.575684
2000-01-05  15.000  NaN  27.464891  ...  NaN NaN  4.372283  NaN  5.562548
2000-01-06  16.000  NaN  27.684412  ...  NaN NaN  4.639195  NaN  5.766134
2000-01-07  16.250  NaN  28.221029  ...  NaN NaN  4.607419  NaN  6.442572

                  UPS      URI       UHS        UNM       VFC
Date
2000-01-03  40.255608  16.6875  8.208087  19.676989  4.132394
2000-01-04  38.980015  16.5000  8.042828  19.314087  4.088802
2000-01-05  40.818356  16.4375  8.373354  18.668941  4.045213
2000-01-06  40.818356  17.3750  8.993091  19.072153  3.984184
2000-01-07  39.842907  17.9375  9.736775  19.354408  4.071366

[5 rows x 466 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  UA       UNP  UAL       UNH  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ... NaN  4.378635  NaN  5.647923
2000-01-04  14.625  NaN  27.172190  ... NaN  4.372283  NaN  5.575684
2000-01-05  15.000  NaN  27.464891  ... NaN  4.372283  NaN  5.562548
2000-01-06  16.000  NaN  27.684412  ... NaN  4.639195  NaN  5.766134
2000-01-07  16.250  NaN  28.221029  ... NaN  4.607419  NaN  6.442572

                  UPS      URI       UHS        UNM       VFC       VLO
Date
2000-01-03  40.255608  16.6875  8.208087  19.676989  4.132394  2.411881
2000-01-04  38.980015  16.5000  8.042828  19.314087  4.088802  2.388236
2000-01-05  40.818356  16.4375  8.373354  18.668941  4.045213  2.474937
2000-01-06  40.818356  17.3750  8.993091  19.072153  3.984184  2.553756
2000-01-07  39.842907  17.9375  9.736775  19.354408  4.071366  2.522229

[5 rows x 467 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       UNP  UAL       UNH        UPS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  4.378635  NaN  5.647923  40.255608
2000-01-04  14.625  NaN  27.172190  ...  4.372283  NaN  5.575684  38.980015
2000-01-05  15.000  NaN  27.464891  ...  4.372283  NaN  5.562548  40.818356
2000-01-06  16.000  NaN  27.684412  ...  4.639195  NaN  5.766134  40.818356
2000-01-07  16.250  NaN  28.221029  ...  4.607419  NaN  6.442572  39.842907

                URI       UHS        UNM       VFC       VLO       VAR
Date
2000-01-03  16.6875  8.208087  19.676989  4.132394  2.411881  6.302719
2000-01-04  16.5000  8.042828  19.314087  4.088802  2.388236  6.261614
2000-01-05  16.4375  8.373354  18.668941  4.045213  2.474937  6.477414
2000-01-06  17.3750  8.993091  19.072153  3.984184  2.553756  6.494541
2000-01-07  17.9375  9.736775  19.354408  4.071366  2.522229  6.535645

[5 rows x 468 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  UAL       UNH        UPS      URI  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  5.647923  40.255608  16.6875
2000-01-04  14.625  NaN  27.172190  ...  NaN  5.575684  38.980015  16.5000
2000-01-05  15.000  NaN  27.464891  ...  NaN  5.562548  40.818356  16.4375
2000-01-06  16.000  NaN  27.684412  ...  NaN  5.766134  40.818356  17.3750
2000-01-07  16.250  NaN  28.221029  ...  NaN  6.442572  39.842907  17.9375

                 UHS        UNM       VFC       VLO       VAR       VTR
Date
2000-01-03  8.208087  19.676989  4.132394  2.411881  6.302719  1.540800
2000-01-04  8.042828  19.314087  4.088802  2.388236  6.261614  1.540800
2000-01-05  8.373354  18.668941  4.045213  2.474937  6.477414  1.516724
2000-01-06  8.993091  19.072153  3.984184  2.553756  6.494541  1.540800
2000-01-07  9.736775  19.354408  4.071366  2.522229  6.535645  1.516724

[5 rows x 469 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       UNH        UPS      URI  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  5.647923  40.255608  16.6875
2000-01-04  14.625  NaN  27.172190  ...  5.575684  38.980015  16.5000
2000-01-05  15.000  NaN  27.464891  ...  5.562548  40.818356  16.4375
2000-01-06  16.000  NaN  27.684412  ...  5.766134  40.818356  17.3750
2000-01-07  16.250  NaN  28.221029  ...  6.442572  39.842907  17.9375

                 UHS        UNM       VFC       VLO       VAR       VTR  \
Date
2000-01-03  8.208087  19.676989  4.132394  2.411881  6.302719  1.540800
2000-01-04  8.042828  19.314087  4.088802  2.388236  6.261614  1.540800
2000-01-05  8.373354  18.668941  4.045213  2.474937  6.477414  1.516724
2000-01-06  8.993091  19.072153  3.984184  2.553756  6.494541  1.540800
2000-01-07  9.736775  19.354408  4.071366  2.522229  6.535645  1.516724

                  VRSN
Date
2000-01-03  161.444855
2000-01-04  159.958847
2000-01-05  151.148895
2000-01-06  131.724564
2000-01-07  144.209732

[5 rows x 470 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        UPS      URI       UHS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  40.255608  16.6875  8.208087
2000-01-04  14.625  NaN  27.172190  ...  38.980015  16.5000  8.042828
2000-01-05  15.000  NaN  27.464891  ...  40.818356  16.4375  8.373354
2000-01-06  16.000  NaN  27.684412  ...  40.818356  17.3750  8.993091
2000-01-07  16.250  NaN  28.221029  ...  39.842907  17.9375  9.736775

                  UNM       VFC       VLO       VAR       VTR        VRSN  \
Date
2000-01-03  19.676989  4.132394  2.411881  6.302719  1.540800  161.444855
2000-01-04  19.314087  4.088802  2.388236  6.261614  1.540800  159.958847
2000-01-05  18.668941  4.045213  2.474937  6.477414  1.516724  151.148895
2000-01-06  19.072153  3.984184  2.553756  6.494541  1.540800  131.724564
2000-01-07  19.354408  4.071366  2.522229  6.535645  1.516724  144.209732

            VRSK
Date
2000-01-03   NaN
2000-01-04   NaN
2000-01-05   NaN
2000-01-06   NaN
2000-01-07   NaN

[5 rows x 471 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      URI       UHS        UNM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  16.6875  8.208087  19.676989
2000-01-04  14.625  NaN  27.172190  ...  16.5000  8.042828  19.314087
2000-01-05  15.000  NaN  27.464891  ...  16.4375  8.373354  18.668941
2000-01-06  16.000  NaN  27.684412  ...  17.3750  8.993091  19.072153
2000-01-07  16.250  NaN  28.221029  ...  17.9375  9.736775  19.354408

                 VFC       VLO       VAR       VTR        VRSN  VRSK  \
Date
2000-01-03  4.132394  2.411881  6.302719  1.540800  161.444855   NaN
2000-01-04  4.088802  2.388236  6.261614  1.540800  159.958847   NaN
2000-01-05  4.045213  2.474937  6.477414  1.516724  151.148895   NaN
2000-01-06  3.984184  2.553756  6.494541  1.540800  131.724564   NaN
2000-01-07  4.071366  2.522229  6.535645  1.516724  144.209732   NaN

                   VZ
Date
2000-01-03  21.479733
2000-01-04  20.785389
2000-01-05  21.479733
2000-01-06  21.370630
2000-01-07  21.212824

[5 rows x 472 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       UHS        UNM       VFC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  8.208087  19.676989  4.132394
2000-01-04  14.625  NaN  27.172190  ...  8.042828  19.314087  4.088802
2000-01-05  15.000  NaN  27.464891  ...  8.373354  18.668941  4.045213
2000-01-06  16.000  NaN  27.684412  ...  8.993091  19.072153  3.984184
2000-01-07  16.250  NaN  28.221029  ...  9.736775  19.354408  4.071366

                 VLO       VAR       VTR        VRSN  VRSK         VZ  \
Date
2000-01-03  2.411881  6.302719  1.540800  161.444855   NaN  21.479733
2000-01-04  2.388236  6.261614  1.540800  159.958847   NaN  20.785389
2000-01-05  2.474937  6.477414  1.516724  151.148895   NaN  21.479733
2000-01-06  2.553756  6.494541  1.540800  131.724564   NaN  21.370630
2000-01-07  2.522229  6.535645  1.516724  144.209732   NaN  21.212824

                VRTX
Date
2000-01-03  18.78125
2000-01-04  17.28125
2000-01-05  17.00000
2000-01-06  16.75000
2000-01-07  18.21875

[5 rows x 473 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        UNM       VFC       VLO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  19.676989  4.132394  2.411881
2000-01-04  14.625  NaN  27.172190  ...  19.314087  4.088802  2.388236
2000-01-05  15.000  NaN  27.464891  ...  18.668941  4.045213  2.474937
2000-01-06  16.000  NaN  27.684412  ...  19.072153  3.984184  2.553756
2000-01-07  16.250  NaN  28.221029  ...  19.354408  4.071366  2.522229

                 VAR       VTR        VRSN  VRSK         VZ      VRTX  VIAC
Date
2000-01-03  6.302719  1.540800  161.444855   NaN  21.479733  18.78125   NaN
2000-01-04  6.261614  1.540800  159.958847   NaN  20.785389  17.28125   NaN
2000-01-05  6.477414  1.516724  151.148895   NaN  21.479733  17.00000   NaN
2000-01-06  6.494541  1.540800  131.724564   NaN  21.370630  16.75000   NaN
2000-01-07  6.535645  1.516724  144.209732   NaN  21.212824  18.21875   NaN

[5 rows x 474 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       VFC       VLO       VAR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  4.132394  2.411881  6.302719
2000-01-04  14.625  NaN  27.172190  ...  4.088802  2.388236  6.261614
2000-01-05  15.000  NaN  27.464891  ...  4.045213  2.474937  6.477414
2000-01-06  16.000  NaN  27.684412  ...  3.984184  2.553756  6.494541
2000-01-07  16.250  NaN  28.221029  ...  4.071366  2.522229  6.535645

                 VTR        VRSN  VRSK         VZ      VRTX  VIAC   V
Date
2000-01-03  1.540800  161.444855   NaN  21.479733  18.78125   NaN NaN
2000-01-04  1.540800  159.958847   NaN  20.785389  17.28125   NaN NaN
2000-01-05  1.516724  151.148895   NaN  21.479733  17.00000   NaN NaN
2000-01-06  1.540800  131.724564   NaN  21.370630  16.75000   NaN NaN
2000-01-07  1.516724  144.209732   NaN  21.212824  18.21875   NaN NaN

[5 rows x 475 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       VLO       VAR       VTR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  2.411881  6.302719  1.540800
2000-01-04  14.625  NaN  27.172190  ...  2.388236  6.261614  1.540800
2000-01-05  15.000  NaN  27.464891  ...  2.474937  6.477414  1.516724
2000-01-06  16.000  NaN  27.684412  ...  2.553756  6.494541  1.540800
2000-01-07  16.250  NaN  28.221029  ...  2.522229  6.535645  1.516724

                  VRSN  VRSK         VZ      VRTX  VIAC   V        VNO
Date
2000-01-03  161.444855   NaN  21.479733  18.78125   NaN NaN   9.687466
2000-01-04  159.958847   NaN  20.785389  17.28125   NaN NaN   9.687466
2000-01-05  151.148895   NaN  21.479733  17.00000   NaN NaN   9.941445
2000-01-06  131.724564   NaN  21.370630  16.75000   NaN NaN  10.068432
2000-01-07  144.209732   NaN  21.212824  18.21875   NaN NaN  10.140999

[5 rows x 476 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       VAR       VTR        VRSN  VRSK  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  6.302719  1.540800  161.444855   NaN
2000-01-04  14.625  NaN  27.172190  ...  6.261614  1.540800  159.958847   NaN
2000-01-05  15.000  NaN  27.464891  ...  6.477414  1.516724  151.148895   NaN
2000-01-06  16.000  NaN  27.684412  ...  6.494541  1.540800  131.724564   NaN
2000-01-07  16.250  NaN  28.221029  ...  6.535645  1.516724  144.209732   NaN

                   VZ      VRTX  VIAC   V        VNO        VMC
Date
2000-01-03  21.479733  18.78125   NaN NaN   9.687466  28.422752
2000-01-04  20.785389  17.28125   NaN NaN   9.687466  28.332516
2000-01-05  21.479733  17.00000   NaN NaN   9.941445  30.227381
2000-01-06  21.370630  16.75000   NaN NaN  10.068432  30.272488
2000-01-07  21.212824  18.21875   NaN NaN  10.140999  30.362715

[5 rows x 477 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       VTR        VRSN  VRSK  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  1.540800  161.444855   NaN
2000-01-04  14.625  NaN  27.172190  ...  1.540800  159.958847   NaN
2000-01-05  15.000  NaN  27.464891  ...  1.516724  151.148895   NaN
2000-01-06  16.000  NaN  27.684412  ...  1.540800  131.724564   NaN
2000-01-07  16.250  NaN  28.221029  ...  1.516724  144.209732   NaN

                   VZ      VRTX  VIAC   V        VNO        VMC       WRB
Date
2000-01-03  21.479733  18.78125   NaN NaN   9.687466  28.422752  1.400169
2000-01-04  20.785389  17.28125   NaN NaN   9.687466  28.332516  1.357087
2000-01-05  21.479733  17.00000   NaN NaN   9.941445  30.227381  1.335547
2000-01-06  21.370630  16.75000   NaN NaN  10.068432  30.272488  1.413094
2000-01-07  21.212824  18.21875   NaN NaN  10.140999  30.362715  1.391553

[5 rows x 478 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        VRSN  VRSK         VZ  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  161.444855   NaN  21.479733
2000-01-04  14.625  NaN  27.172190  ...  159.958847   NaN  20.785389
2000-01-05  15.000  NaN  27.464891  ...  151.148895   NaN  21.479733
2000-01-06  16.000  NaN  27.684412  ...  131.724564   NaN  21.370630
2000-01-07  16.250  NaN  28.221029  ...  144.209732   NaN  21.212824

                VRTX  VIAC   V        VNO        VMC       WRB       WAB
Date
2000-01-03  18.78125   NaN NaN   9.687466  28.422752  1.400169  7.870015
2000-01-04  17.28125   NaN NaN   9.687466  28.332516  1.357087  7.755545
2000-01-05  17.00000   NaN NaN   9.941445  30.227381  1.335547  7.726925
2000-01-06  16.75000   NaN NaN  10.068432  30.272488  1.413094  7.412125
2000-01-07  18.21875   NaN NaN  10.140999  30.362715  1.391553  7.125941

[5 rows x 479 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  VRSK         VZ      VRTX  VIAC   V  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  21.479733  18.78125   NaN NaN
2000-01-04  14.625  NaN  27.172190  ...   NaN  20.785389  17.28125   NaN NaN
2000-01-05  15.000  NaN  27.464891  ...   NaN  21.479733  17.00000   NaN NaN
2000-01-06  16.000  NaN  27.684412  ...   NaN  21.370630  16.75000   NaN NaN
2000-01-07  16.250  NaN  28.221029  ...   NaN  21.212824  18.21875   NaN NaN

                  VNO        VMC       WRB       WAB        WMT
Date
2000-01-03   9.687466  28.422752  1.400169  7.870015  45.984715
2000-01-04   9.687466  28.332516  1.357087  7.755545  44.264072
2000-01-05   9.941445  30.227381  1.335547  7.726925  43.360710
2000-01-06  10.068432  30.272488  1.413094  7.412125  43.833904
2000-01-07  10.140999  30.362715  1.391553  7.125941  47.146187

[5 rows x 480 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         VZ      VRTX  VIAC   V  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  21.479733  18.78125   NaN NaN
2000-01-04  14.625  NaN  27.172190  ...  20.785389  17.28125   NaN NaN
2000-01-05  15.000  NaN  27.464891  ...  21.479733  17.00000   NaN NaN
2000-01-06  16.000  NaN  27.684412  ...  21.370630  16.75000   NaN NaN
2000-01-07  16.250  NaN  28.221029  ...  21.212824  18.21875   NaN NaN

                  VNO        VMC       WRB       WAB        WMT        WBA
Date
2000-01-03   9.687466  28.422752  1.400169  7.870015  45.984715  20.749420
2000-01-04   9.687466  28.332516  1.357087  7.755545  44.264072  19.977560
2000-01-05   9.941445  30.227381  1.335547  7.726925  43.360710  20.204578
2000-01-06  10.068432  30.272488  1.413094  7.412125  43.833904  19.614326
2000-01-07  10.140999  30.362715  1.391553  7.125941  47.146187  20.113766

[5 rows x 481 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      VRTX  VIAC   V        VNO  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  18.78125   NaN NaN   9.687466
2000-01-04  14.625  NaN  27.172190  ...  17.28125   NaN NaN   9.687466
2000-01-05  15.000  NaN  27.464891  ...  17.00000   NaN NaN   9.941445
2000-01-06  16.000  NaN  27.684412  ...  16.75000   NaN NaN  10.068432
2000-01-07  16.250  NaN  28.221029  ...  18.21875   NaN NaN  10.140999

                  VMC       WRB       WAB        WMT        WBA        DIS
Date
2000-01-03  28.422752  1.400169  7.870015  45.984715  20.749420  23.115221
2000-01-04  28.332516  1.357087  7.755545  44.264072  19.977560  24.469255
2000-01-05  30.227381  1.335547  7.726925  43.360710  20.204578  25.484774
2000-01-06  30.272488  1.413094  7.412125  43.833904  19.614326  24.469255
2000-01-07  30.362715  1.391553  7.125941  47.146187  20.113766  24.082386

[5 rows x 482 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  VIAC   V        VNO        VMC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN NaN   9.687466  28.422752
2000-01-04  14.625  NaN  27.172190  ...   NaN NaN   9.687466  28.332516
2000-01-05  15.000  NaN  27.464891  ...   NaN NaN   9.941445  30.227381
2000-01-06  16.000  NaN  27.684412  ...   NaN NaN  10.068432  30.272488
2000-01-07  16.250  NaN  28.221029  ...   NaN NaN  10.140999  30.362715

                 WRB       WAB        WMT        WBA        DIS         WM
Date
2000-01-03  1.400169  7.870015  45.984715  20.749420  23.115221  10.629345
2000-01-04  1.357087  7.755545  44.264072  19.977560  24.469255  10.591113
2000-01-05  1.335547  7.726925  43.360710  20.204578  25.484774  10.629345
2000-01-06  1.413094  7.412125  43.833904  19.614326  24.469255  10.552879
2000-01-07  1.391553  7.125941  47.146187  20.113766  24.082386  10.132292

[5 rows x 483 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...   V        VNO        VMC       WRB  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ... NaN   9.687466  28.422752  1.400169
2000-01-04  14.625  NaN  27.172190  ... NaN   9.687466  28.332516  1.357087
2000-01-05  15.000  NaN  27.464891  ... NaN   9.941445  30.227381  1.335547
2000-01-06  16.000  NaN  27.684412  ... NaN  10.068432  30.272488  1.413094
2000-01-07  16.250  NaN  28.221029  ... NaN  10.140999  30.362715  1.391553

                 WAB        WMT        WBA        DIS         WM       WAT
Date
2000-01-03  7.870015  45.984715  20.749420  23.115221  10.629345  25.75000
2000-01-04  7.755545  44.264072  19.977560  24.469255  10.591113  24.50000
2000-01-05  7.726925  43.360710  20.204578  25.484774  10.629345  26.03125
2000-01-06  7.412125  43.833904  19.614326  24.469255  10.552879  25.25000
2000-01-07  7.125941  47.146187  20.113766  24.082386  10.132292  26.03125

[5 rows x 484 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        VNO        VMC       WRB  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   9.687466  28.422752  1.400169
2000-01-04  14.625  NaN  27.172190  ...   9.687466  28.332516  1.357087
2000-01-05  15.000  NaN  27.464891  ...   9.941445  30.227381  1.335547
2000-01-06  16.000  NaN  27.684412  ...  10.068432  30.272488  1.413094
2000-01-07  16.250  NaN  28.221029  ...  10.140999  30.362715  1.391553

                 WAB        WMT        WBA        DIS         WM       WAT  \
Date
2000-01-03  7.870015  45.984715  20.749420  23.115221  10.629345  25.75000
2000-01-04  7.755545  44.264072  19.977560  24.469255  10.591113  24.50000
2000-01-05  7.726925  43.360710  20.204578  25.484774  10.629345  26.03125
2000-01-06  7.412125  43.833904  19.614326  24.469255  10.552879  25.25000
2000-01-07  7.125941  47.146187  20.113766  24.082386  10.132292  26.03125

                 WEC
Date
2000-01-03  3.371912
2000-01-04  3.394022
2000-01-05  3.548799
2000-01-06  3.537743
2000-01-07  3.581964

[5 rows x 485 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        VMC       WRB       WAB  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  28.422752  1.400169  7.870015
2000-01-04  14.625  NaN  27.172190  ...  28.332516  1.357087  7.755545
2000-01-05  15.000  NaN  27.464891  ...  30.227381  1.335547  7.726925
2000-01-06  16.000  NaN  27.684412  ...  30.272488  1.413094  7.412125
2000-01-07  16.250  NaN  28.221029  ...  30.362715  1.391553  7.125941

                  WMT        WBA        DIS         WM       WAT       WEC  \
Date
2000-01-03  45.984715  20.749420  23.115221  10.629345  25.75000  3.371912
2000-01-04  44.264072  19.977560  24.469255  10.591113  24.50000  3.394022
2000-01-05  43.360710  20.204578  25.484774  10.629345  26.03125  3.548799
2000-01-06  43.833904  19.614326  24.469255  10.552879  25.25000  3.537743
2000-01-07  47.146187  20.113766  24.082386  10.132292  26.03125  3.581964

                 WFC
Date
2000-01-03  9.072605
2000-01-04  8.623325
2000-01-05  8.536361
2000-01-06  8.913179
2000-01-07  9.072605

[5 rows x 486 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       WRB       WAB        WMT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  1.400169  7.870015  45.984715
2000-01-04  14.625  NaN  27.172190  ...  1.357087  7.755545  44.264072
2000-01-05  15.000  NaN  27.464891  ...  1.335547  7.726925  43.360710
2000-01-06  16.000  NaN  27.684412  ...  1.413094  7.412125  43.833904
2000-01-07  16.250  NaN  28.221029  ...  1.391553  7.125941  47.146187

                  WBA        DIS         WM       WAT       WEC       WFC  \
Date
2000-01-03  20.749420  23.115221  10.629345  25.75000  3.371912  9.072605
2000-01-04  19.977560  24.469255  10.591113  24.50000  3.394022  8.623325
2000-01-05  20.204578  25.484774  10.629345  26.03125  3.548799  8.536361
2000-01-06  19.614326  24.469255  10.552879  25.25000  3.537743  8.913179
2000-01-07  20.113766  24.082386  10.132292  26.03125  3.581964  9.072605

                WELL
Date
2000-01-03  4.034884
2000-01-04  4.018484
2000-01-05  4.133297
2000-01-06  4.346523
2000-01-07  4.412130

[5 rows x 487 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       WAB        WMT        WBA  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  7.870015  45.984715  20.749420
2000-01-04  14.625  NaN  27.172190  ...  7.755545  44.264072  19.977560
2000-01-05  15.000  NaN  27.464891  ...  7.726925  43.360710  20.204578
2000-01-06  16.000  NaN  27.684412  ...  7.412125  43.833904  19.614326
2000-01-07  16.250  NaN  28.221029  ...  7.125941  47.146187  20.113766

                  DIS         WM       WAT       WEC       WFC      WELL  \
Date
2000-01-03  23.115221  10.629345  25.75000  3.371912  9.072605  4.034884
2000-01-04  24.469255  10.591113  24.50000  3.394022  8.623325  4.018484
2000-01-05  25.484774  10.629345  26.03125  3.548799  8.536361  4.133297
2000-01-06  24.469255  10.552879  25.25000  3.537743  8.913179  4.346523
2000-01-07  24.082386  10.132292  26.03125  3.581964  9.072605  4.412130

                 WST
Date
2000-01-03  5.474422
2000-01-04  5.530974
2000-01-05  5.508355
2000-01-06  5.451799
2000-01-07  5.508355

[5 rows x 488 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        WMT        WBA        DIS  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  45.984715  20.749420  23.115221
2000-01-04  14.625  NaN  27.172190  ...  44.264072  19.977560  24.469255
2000-01-05  15.000  NaN  27.464891  ...  43.360710  20.204578  25.484774
2000-01-06  16.000  NaN  27.684412  ...  43.833904  19.614326  24.469255
2000-01-07  16.250  NaN  28.221029  ...  47.146187  20.113766  24.082386

                   WM       WAT       WEC       WFC      WELL       WST  \
Date
2000-01-03  10.629345  25.75000  3.371912  9.072605  4.034884  5.474422
2000-01-04  10.591113  24.50000  3.394022  8.623325  4.018484  5.530974
2000-01-05  10.629345  26.03125  3.548799  8.536361  4.133297  5.508355
2000-01-06  10.552879  25.25000  3.537743  8.913179  4.346523  5.451799
2000-01-07  10.132292  26.03125  3.581964  9.072605  4.412130  5.508355

                 WDC
Date
2000-01-03  3.091555
2000-01-04  3.680422
2000-01-05  3.435061
2000-01-06  3.582278
2000-01-07  4.416508

[5 rows x 489 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        WBA        DIS         WM  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  20.749420  23.115221  10.629345
2000-01-04  14.625  NaN  27.172190  ...  19.977560  24.469255  10.591113
2000-01-05  15.000  NaN  27.464891  ...  20.204578  25.484774  10.629345
2000-01-06  16.000  NaN  27.684412  ...  19.614326  24.469255  10.552879
2000-01-07  16.250  NaN  28.221029  ...  20.113766  24.082386  10.132292

                 WAT       WEC       WFC      WELL       WST       WDC  WU
Date
2000-01-03  25.75000  3.371912  9.072605  4.034884  5.474422  3.091555 NaN
2000-01-04  24.50000  3.394022  8.623325  4.018484  5.530974  3.680422 NaN
2000-01-05  26.03125  3.548799  8.536361  4.133297  5.508355  3.435061 NaN
2000-01-06  25.25000  3.537743  8.913179  4.346523  5.451799  3.582278 NaN
2000-01-07  26.03125  3.581964  9.072605  4.412130  5.508355  4.416508 NaN

[5 rows x 490 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        DIS         WM       WAT  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  23.115221  10.629345  25.75000
2000-01-04  14.625  NaN  27.172190  ...  24.469255  10.591113  24.50000
2000-01-05  15.000  NaN  27.464891  ...  25.484774  10.629345  26.03125
2000-01-06  16.000  NaN  27.684412  ...  24.469255  10.552879  25.25000
2000-01-07  16.250  NaN  28.221029  ...  24.082386  10.132292  26.03125

                 WEC       WFC      WELL       WST       WDC  WU  WRK
Date
2000-01-03  3.371912  9.072605  4.034884  5.474422  3.091555 NaN  NaN
2000-01-04  3.394022  8.623325  4.018484  5.530974  3.680422 NaN  NaN
2000-01-05  3.548799  8.536361  4.133297  5.508355  3.435061 NaN  NaN
2000-01-06  3.537743  8.913179  4.346523  5.451799  3.582278 NaN  NaN
2000-01-07  3.581964  9.072605  4.412130  5.508355  4.416508 NaN  NaN

[5 rows x 491 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         WM       WAT       WEC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  10.629345  25.75000  3.371912
2000-01-04  14.625  NaN  27.172190  ...  10.591113  24.50000  3.394022
2000-01-05  15.000  NaN  27.464891  ...  10.629345  26.03125  3.548799
2000-01-06  16.000  NaN  27.684412  ...  10.552879  25.25000  3.537743
2000-01-07  16.250  NaN  28.221029  ...  10.132292  26.03125  3.581964

                 WFC      WELL       WST       WDC  WU  WRK         WY
Date
2000-01-03  9.072605  4.034884  5.474422  3.091555 NaN  NaN  36.431850
2000-01-04  8.623325  4.018484  5.530974  3.680422 NaN  NaN  35.063206
2000-01-05  8.536361  4.133297  5.508355  3.435061 NaN  NaN  36.920658
2000-01-06  8.913179  4.346523  5.451799  3.582278 NaN  NaN  38.647736
2000-01-07  9.072605  4.412130  5.508355  4.416508 NaN  NaN  37.376862

[5 rows x 492 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       WAT       WEC       WFC  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  25.75000  3.371912  9.072605
2000-01-04  14.625  NaN  27.172190  ...  24.50000  3.394022  8.623325
2000-01-05  15.000  NaN  27.464891  ...  26.03125  3.548799  8.536361
2000-01-06  16.000  NaN  27.684412  ...  25.25000  3.537743  8.913179
2000-01-07  16.250  NaN  28.221029  ...  26.03125  3.581964  9.072605

                WELL       WST       WDC  WU  WRK         WY        WHR
Date
2000-01-03  4.034884  5.474422  3.091555 NaN  NaN  36.431850  36.692276
2000-01-04  4.018484  5.530974  3.680422 NaN  NaN  35.063206  35.282478
2000-01-05  4.133297  5.508355  3.435061 NaN  NaN  36.920658  35.801876
2000-01-06  4.346523  5.451799  3.582278 NaN  NaN  38.647736  36.098686
2000-01-07  4.412130  5.508355  4.416508 NaN  NaN  37.376862  36.209980

[5 rows x 493 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       WEC       WFC      WELL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  3.371912  9.072605  4.034884
2000-01-04  14.625  NaN  27.172190  ...  3.394022  8.623325  4.018484
2000-01-05  15.000  NaN  27.464891  ...  3.548799  8.536361  4.133297
2000-01-06  16.000  NaN  27.684412  ...  3.537743  8.913179  4.346523
2000-01-07  16.250  NaN  28.221029  ...  3.581964  9.072605  4.412130

                 WST       WDC  WU  WRK         WY        WHR        WMB
Date
2000-01-03  5.474422  3.091555 NaN  NaN  36.431850  36.692276  11.307589
2000-01-04  5.530974  3.680422 NaN  NaN  35.063206  35.282478  11.056811
2000-01-05  5.508355  3.435061 NaN  NaN  36.920658  35.801876  11.740736
2000-01-06  5.451799  3.582278 NaN  NaN  38.647736  36.098686  11.991516
2000-01-07  5.508355  4.416508 NaN  NaN  37.376862  36.209980  12.310672

[5 rows x 494 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       WFC      WELL       WST  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  9.072605  4.034884  5.474422
2000-01-04  14.625  NaN  27.172190  ...  8.623325  4.018484  5.530974
2000-01-05  15.000  NaN  27.464891  ...  8.536361  4.133297  5.508355
2000-01-06  16.000  NaN  27.684412  ...  8.913179  4.346523  5.451799
2000-01-07  16.250  NaN  28.221029  ...  9.072605  4.412130  5.508355

                 WDC  WU  WRK         WY        WHR        WMB  WLTW
Date
2000-01-03  3.091555 NaN  NaN  36.431850  36.692276  11.307589   NaN
2000-01-04  3.680422 NaN  NaN  35.063206  35.282478  11.056811   NaN
2000-01-05  3.435061 NaN  NaN  36.920658  35.801876  11.740736   NaN
2000-01-06  3.582278 NaN  NaN  38.647736  36.098686  11.991516   NaN
2000-01-07  4.416508 NaN  NaN  37.376862  36.209980  12.310672   NaN

[5 rows x 495 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...      WELL       WST       WDC  WU  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  4.034884  5.474422  3.091555 NaN
2000-01-04  14.625  NaN  27.172190  ...  4.018484  5.530974  3.680422 NaN
2000-01-05  15.000  NaN  27.464891  ...  4.133297  5.508355  3.435061 NaN
2000-01-06  16.000  NaN  27.684412  ...  4.346523  5.451799  3.582278 NaN
2000-01-07  16.250  NaN  28.221029  ...  4.412130  5.508355  4.416508 NaN

            WRK         WY        WHR        WMB  WLTW  WYNN
Date
2000-01-03  NaN  36.431850  36.692276  11.307589   NaN   NaN
2000-01-04  NaN  35.063206  35.282478  11.056811   NaN   NaN
2000-01-05  NaN  36.920658  35.801876  11.740736   NaN   NaN
2000-01-06  NaN  38.647736  36.098686  11.991516   NaN   NaN
2000-01-07  NaN  37.376862  36.209980  12.310672   NaN   NaN

[5 rows x 496 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       WST       WDC  WU  WRK  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  5.474422  3.091555 NaN  NaN
2000-01-04  14.625  NaN  27.172190  ...  5.530974  3.680422 NaN  NaN
2000-01-05  15.000  NaN  27.464891  ...  5.508355  3.435061 NaN  NaN
2000-01-06  16.000  NaN  27.684412  ...  5.451799  3.582278 NaN  NaN
2000-01-07  16.250  NaN  28.221029  ...  5.508355  4.416508 NaN  NaN

                   WY        WHR        WMB  WLTW  WYNN       XEL
Date
2000-01-03  36.431850  36.692276  11.307589   NaN   NaN  7.782174
2000-01-04  35.063206  35.282478  11.056811   NaN   NaN  7.961369
2000-01-05  36.920658  35.801876  11.740736   NaN   NaN  8.268555
2000-01-06  38.647736  36.098686  11.991516   NaN   NaN  8.191765
2000-01-07  37.376862  36.209980  12.310672   NaN   NaN  8.191765

[5 rows x 497 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...       WDC  WU  WRK         WY  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  3.091555 NaN  NaN  36.431850
2000-01-04  14.625  NaN  27.172190  ...  3.680422 NaN  NaN  35.063206
2000-01-05  15.000  NaN  27.464891  ...  3.435061 NaN  NaN  36.920658
2000-01-06  16.000  NaN  27.684412  ...  3.582278 NaN  NaN  38.647736
2000-01-07  16.250  NaN  28.221029  ...  4.416508 NaN  NaN  37.376862

                  WHR        WMB  WLTW  WYNN       XEL        XRX
Date
2000-01-03  36.692276  11.307589   NaN   NaN  7.782174  44.165188
2000-01-04  35.282478  11.056811   NaN   NaN  7.961369  42.111004
2000-01-05  35.801876  11.740736   NaN   NaN  8.268555  44.279305
2000-01-06  36.098686  11.991516   NaN   NaN  8.191765  43.366337
2000-01-07  36.209980  12.310672   NaN   NaN  8.191765  44.393436

[5 rows x 498 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  WU  WRK         WY        WHR  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ... NaN  NaN  36.431850  36.692276
2000-01-04  14.625  NaN  27.172190  ... NaN  NaN  35.063206  35.282478
2000-01-05  15.000  NaN  27.464891  ... NaN  NaN  36.920658  35.801876
2000-01-06  16.000  NaN  27.684412  ... NaN  NaN  38.647736  36.098686
2000-01-07  16.250  NaN  28.221029  ... NaN  NaN  37.376862  36.209980

                  WMB  WLTW  WYNN       XEL        XRX       XLNX
Date
2000-01-03  11.307589   NaN   NaN  7.782174  44.165188  33.290680
2000-01-04  11.056811   NaN   NaN  7.961369  42.111004  32.534081
2000-01-05  11.740736   NaN   NaN  8.268555  44.279305  31.821962
2000-01-06  11.991516   NaN   NaN  8.191765  43.366337  29.062582
2000-01-07  12.310672   NaN   NaN  8.191765  44.393436  32.356041

[5 rows x 499 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  WRK         WY        WHR        WMB  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  NaN  36.431850  36.692276  11.307589
2000-01-04  14.625  NaN  27.172190  ...  NaN  35.063206  35.282478  11.056811
2000-01-05  15.000  NaN  27.464891  ...  NaN  36.920658  35.801876  11.740736
2000-01-06  16.000  NaN  27.684412  ...  NaN  38.647736  36.098686  11.991516
2000-01-07  16.250  NaN  28.221029  ...  NaN  37.376862  36.209980  12.310672

            WLTW  WYNN       XEL        XRX       XLNX  XYL
Date
2000-01-03   NaN   NaN  7.782174  44.165188  33.290680  NaN
2000-01-04   NaN   NaN  7.961369  42.111004  32.534081  NaN
2000-01-05   NaN   NaN  8.268555  44.279305  31.821962  NaN
2000-01-06   NaN   NaN  8.191765  43.366337  29.062582  NaN
2000-01-07   NaN   NaN  8.191765  44.393436  32.356041  NaN

[5 rows x 500 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...         WY        WHR        WMB  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  36.431850  36.692276  11.307589
2000-01-04  14.625  NaN  27.172190  ...  35.063206  35.282478  11.056811
2000-01-05  15.000  NaN  27.464891  ...  36.920658  35.801876  11.740736
2000-01-06  16.000  NaN  27.684412  ...  38.647736  36.098686  11.991516
2000-01-07  16.250  NaN  28.221029  ...  37.376862  36.209980  12.310672

            WLTW  WYNN       XEL        XRX       XLNX  XYL       YUM
Date
2000-01-03   NaN   NaN  7.782174  44.165188  33.290680  NaN  4.402331
2000-01-04   NaN   NaN  7.961369  42.111004  32.534081  NaN  4.313842
2000-01-05   NaN   NaN  8.268555  44.279305  31.821962  NaN  4.335964
2000-01-06   NaN   NaN  8.191765  43.366337  29.062582  NaN  4.299095
2000-01-07   NaN   NaN  8.191765  44.393436  32.356041  NaN  4.203231

[5 rows x 501 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        WHR        WMB  WLTW  WYNN  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  36.692276  11.307589   NaN   NaN
2000-01-04  14.625  NaN  27.172190  ...  35.282478  11.056811   NaN   NaN
2000-01-05  15.000  NaN  27.464891  ...  35.801876  11.740736   NaN   NaN
2000-01-06  16.000  NaN  27.684412  ...  36.098686  11.991516   NaN   NaN
2000-01-07  16.250  NaN  28.221029  ...  36.209980  12.310672   NaN   NaN

                 XEL        XRX       XLNX  XYL       YUM       ZBRA
Date
2000-01-03  7.782174  44.165188  33.290680  NaN  4.402331  25.027779
2000-01-04  7.961369  42.111004  32.534081  NaN  4.313842  24.666666
2000-01-05  8.268555  44.279305  31.821962  NaN  4.335964  25.138889
2000-01-06  8.191765  43.366337  29.062582  NaN  4.299095  23.777779
2000-01-07  8.191765  44.393436  32.356041  NaN  4.203231  23.513889

[5 rows x 502 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...        WMB  WLTW  WYNN       XEL  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...  11.307589   NaN   NaN  7.782174
2000-01-04  14.625  NaN  27.172190  ...  11.056811   NaN   NaN  7.961369
2000-01-05  15.000  NaN  27.464891  ...  11.740736   NaN   NaN  8.268555
2000-01-06  16.000  NaN  27.684412  ...  11.991516   NaN   NaN  8.191765
2000-01-07  16.250  NaN  28.221029  ...  12.310672   NaN   NaN  8.191765

                  XRX       XLNX  XYL       YUM       ZBRA  ZBH
Date
2000-01-03  44.165188  33.290680  NaN  4.402331  25.027779  NaN
2000-01-04  42.111004  32.534081  NaN  4.313842  24.666666  NaN
2000-01-05  44.279305  31.821962  NaN  4.335964  25.138889  NaN
2000-01-06  43.366337  29.062582  NaN  4.299095  23.777779  NaN
2000-01-07  44.393436  32.356041  NaN  4.203231  23.513889  NaN

[5 rows x 503 columns]

                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  WLTW  WYNN       XEL        XRX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN   NaN  7.782174  44.165188
2000-01-04  14.625  NaN  27.172190  ...   NaN   NaN  7.961369  42.111004
2000-01-05  15.000  NaN  27.464891  ...   NaN   NaN  8.268555  44.279305
2000-01-06  16.000  NaN  27.684412  ...   NaN   NaN  8.191765  43.366337
2000-01-07  16.250  NaN  28.221029  ...   NaN   NaN  8.191765  44.393436

                 XLNX  XYL       YUM       ZBRA  ZBH       ZION
Date
2000-01-03  33.290680  NaN  4.402331  25.027779  NaN  40.734089
2000-01-04  32.534081  NaN  4.313842  24.666666  NaN  38.761597
2000-01-05  31.821962  NaN  4.335964  25.138889  NaN  38.715733
2000-01-06  29.062582  NaN  4.299095  23.777779  NaN  39.266190
2000-01-07  32.356041  NaN  4.203231  23.513889  NaN  39.357929

[5 rows x 504 columns]
                  MMM       ABT  ABBV      ABMD  ACN      ATVI       ADBE  \
Date
2000-01-03  28.311874  6.564564   NaN  18.25000  NaN  1.227554  16.274673
2000-01-04  27.186905  6.377004   NaN  17.81250  NaN  1.190215  14.909401
2000-01-05  27.974379  6.365284   NaN  18.00000  NaN  1.194882  15.204173
2000-01-06  30.224340  6.588011   NaN  18.03125  NaN  1.171544  15.328290
2000-01-07  30.824324  6.658342   NaN  17.93750  NaN  1.204217  16.072983

               AMD  AAP        AES  ...  WYNN       XEL        XRX       XLNX  \
Date                                ...
2000-01-03  15.500  NaN  28.294199  ...   NaN  7.782174  44.165188  33.290680
2000-01-04  14.625  NaN  27.172190  ...   NaN  7.961369  42.111004  32.534081
2000-01-05  15.000  NaN  27.464891  ...   NaN  8.268555  44.279305  31.821962
2000-01-06  16.000  NaN  27.684412  ...   NaN  8.191765  43.366337  29.062582
2000-01-07  16.250  NaN  28.221029  ...   NaN  8.191765  44.393436  32.356041

            XYL       YUM       ZBRA  ZBH       ZION  ZTS
Date
2000-01-03  NaN  4.402331  25.027779  NaN  40.734089  NaN
2000-01-04  NaN  4.313842  24.666666  NaN  38.761597  NaN
2000-01-05  NaN  4.335964  25.138889  NaN  38.715733  NaN
2000-01-06  NaN  4.299095  23.777779  NaN  39.266190  NaN
2000-01-07  NaN  4.203231  23.513889  NaN  39.357929  NaN

[5 rows x 505 columns]

In [ ]:
# Part 8: Correlation Tables & Data Visualization
# Visualizing data from the SP500 close price csv 
def visualize_data():
    df = pd.read_csv('sp500_joined_closes.csv')

# Example of plotting one company close price over time for Apple (ticker = AAPL) 
#    df['AAPL'].plot()
#    plt.show()

# Create correlation table for all data in df for SP500 close price
    df_corr = df.corr()
    print(df_corr.head())
# Visualize inner values of dataframe (numpy array of columns and rows)
# Specify figure and define axes using parameters(111) : one subplot is 1x1 for plot 1)
    data = df_corr.values
    fig = plt.figure()
    ax = fig.add_subplot(1,1,1)

# Define heatmap using a range from red to yellow to green
# Red = Negative, Yellow = Neutral, Green = Positive
# Colorbar for legend
    heatmap = ax.pcolor(data, cmap = plt.cm.RdYlGn)
    fig.colorbar(heatmap)
# Build graph
    ax.set_xticks(np.arange(data.shape[0]) + 0.5, minor = False)
    ax.set_yticks(np.arange(data.shape[1]) + 0.5, minor = False)
    ax.invert_yaxis()
    ax.xaxis.tick_top()

    column_labels = df_corr.columns
    row_labels = df_corr.index
# Make x labels vertical, set limit of colors (-1 = min, 1 = max)
    ax.set_xticklabels(column_labels)
    ax.set_yticklabels(row_labels)
    plt.xticks(rotation = 90)
    heatmap.set_clim(-1, 1)
    plt.tight_layout()
    plt.show()
visualize_data()

In [ ]:
# Next create features/labels, use ML for trading strategy & possible investments.	

# Part 9: Preprocessing Data for Machine Learning (ML) Model
# Part 10: Setting Target
# Part 11: Generate Labels

# svm = support-vector machine
# Cross validation to shuffle data and create training & testing samples  
# Voting classifier - use many classifiers, let them voite on best classifier

# For tutorials on Practical Machine Learning with Python visit: /
# https://pythonprogramming.net/machine-learning-tutorial-python-introduction/

# Machine Learnings: Preprocess Data for Trading Strategy

# Disclaimer: This script is for educational purposes only.
# To build more accurate ML models, you might focus on specific time frames (i.e. 1-2 yrs)
# Further, you might need more data.
# We use one-day data because it is available for free.

# Create features/labels, use ML for trading strategy & possible investments.	
# Theory: groups of companies might move up/down together (using pricing data).
# Take S&P500 dataset (closing price over time, 2000-2020), use machine learning.
# Normalize dataset by converting pricing data to % change
# Features = define, labels = target
# Labels = Buy, Sell, or Hold

In [ ]:
# Take feature data and determine label by asking:
# "Within next 7 trading days did price go up more than x% (i.e. 2%)?"
# If yes, sell company.
# If no, hold company.

# Each model generated per company
# Each company model considers pricing data from entire SP500 dataset
# To look further into the future, i.e. 30 days, change to "hm_days = 30:
def process_data_for_labels(ticker):
    hm_days = 7
    fileDataSet = pd.read_csv('sp500_joined_closes.csv', index_col = 0)
    tickers = fileDataSet.columns.values.tolist()
    fileDataSet.fillna(0, inplace = True)

# Preprocessing Data for ML

# The range will go up to a certain point (for 7 days)  
# Create custom dataset to predict future values based on percentage change
# Value in percent change = price in two days from now
# less today's price, divided by today's price, multiplied by 100.
    for i in range(1, hm_days+1):
        fileDataSet['{}d'.format(ticker, i)] = (fileDataSet[ticker].shift(-i) - fileDataSet[ticker]) / fileDataSet[ticker]

    fileDataSet.fillna(0, inplace = True)
    return tickers, fileDataSet

# Here we look at Bank of America (ticker = BAC); change ticker to view another company.
process_data_for_labels('BAC')

In [ ]:
# Next, generate labels for targets using machine learning for investing with Python
# Based on percent change pricing information, should we buy, sell, or hold company?

# See mapping functions tutorials at https://pythonprogramming.net/python-function-mapping-pandas/
# Args and kwargs tutorials at https://pythonprogramming.net/args-kwargs-intermediate-python-tutorial/

# We will also back-test out strategy.
# Example here using percent change = 2% in a week.
# If company stock price changes by 2% in 7 days get out of position for that company.
# 0 = hold, -1 = sell, +1 = buy
# If data is inbalanced you can adjust the algorithm for higher accuracy
# Aiming for > 33% accuracy (for this example)
# Example if you are incorrect on the hold, did not think it would change more than 2%, but it did...

In [ ]:
def buy_sell_hold(*args):
    cols = [c for c in args]
    requirement = 0.02
    for col in cols:
        if col > requirement:
            return 1
        if col < -requirement:
            return -1
    return 0

In [ ]:
# Part 11 ML Labels
# Map the function above to a column
def extract_featuresets(ticker):
    tickers, fileDataSet = process_data_for_labels(ticker)

# Define new column, value = mapped function using arg
# Arg = 7-day & change for future price; Pass paramters to function
# Generate labels for buy, sell, or hold
    fileDataSet['{}_target'.format(ticker)] = list(map(buy_sell_hold, fileDataSet[[c for c in fileDataSet.columns if c not in tickers]].values))

    vals = fileDataSet['{}_target'.format(ticker)].values.tolist()
    str_vals = [str(i) for i in vals]
    print('Data spread:', Counter(str_vals))
    
# List of options
    fileDataSet.fillna(0, inplace = True)
    fileDataSet = fileDataSet.replace([np.inf, -np.inf], np.nan)
    fileDataSet.dropna(inplace = True)

# Normalizing data set for ticker (prices) by using percent change.
    fileDataSet_vals = fileDataSet[[ticker_name for ticker_name in tickers]].pct_change()
    fileDataSet_vals = fileDataSet_vals.replace([np.inf, -np.inf], 0)
    fileDataSet_vals.fillna(0, inplace = True)

    X = fileDataSet_vals.values
    y = fileDataSet['{}_target'.format(ticker)].values

    return X, y, fileDataSet

extract_featuresets('BAC')

In [ ]:
# Create new Machine Learning function
# Create training and testing, 25% sample data will be tested against for accuracy

# Create classifier, define
# X_train is (fileDataset_vals, above) the percent change data for all companies, including company testing for
# y is the target classification (0 = hold, 1 = buy, -1 = sell)
# Use classifier that will fit input data to target 
# clf = neighbors.KNeighborsClassifier()
#
#    clf.fit(X_train, y_train)
#    confidence = clf.score(X_test, y_test)
#    print('Accuracy', confidence)

# Going forward, if you train and do not wish to retrain this model (above) pickle the classifier
# Load the pickle file, clf.predict will run and return list of predictions
# predictions = clf.predict(X_test)
# print('Predicted spread:', Counter(predictions))
#
# print('Confidence:', Counter(confidence))   
#    return confidence

# Here we are looking at Bank of America (ticker = BAC)
# do_ml('BAC')

# Example Output: 0 = hold, -1 = sell, 1 = buy (for BAC we had more holds, followed by sells and least for buys)
# Data spread: Counter({'0': 2558, '1': 1462, '-1': 1110})
# Data spread: Counter({'0': 2026, '1': 1701, '-1': 1403})
# Accuracy 0.38347622759158223
# Predicted spread: Counter({0: 758, -1: 318, 1: 207})

In [ ]:
# Part 12: ML Algorithm with Voting Classifier 
# Repeat above using Voting Classifier
def do_ml(ticker):
    X, y, fileDataSet = extract_featuresets(ticker)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)
    #clf = neighbors.KNeighborsClassifier()
# Replace simple classifier with voting classifier:
# Voting classifier will take list of tuples of classifier by name, classifier
# List contains tuples (i.e. 3 classifiers: linear svc, neigbors, random forest classifiers) 
    #clf = VotingClassifier([('lsvc', svm.LinearSVC()),
    clf = VotingClassifier([('lsvc', LinearSVC()), 
                            ('knn', neighbors.KNeighborsClassifier()),
                            ('rfor', RandomForestClassifier())])

    clf.fit(X_train, y_train)
    confidence = clf.score(X_test, y_test)
    print('Accuracy', confidence)
    predictions = clf.predict(X_test)
    print('Predicted spread:', Counter(predictions))

    return confidence

do_ml('BAC')