In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import urllib.request as ur

In [2]:
# Enter a stock symbol
index = 'MSFT'

# URL link
url_is = 'https://finance.yahoo.com/quote/' + index + '/financials?p=' + index
url_is = 'https://finance.yahoo.com/quote/' + index + '/balance-sheet?p=' + index
url_is = 'https://finance.yahoo.com/quote/' + index + '/cash-flow?p=' + index

In [3]:
read_data = ur.urlopen(url_is).read()
soup_is = BeautifulSoup(read_data, 'lxml')

In [4]:
# Data Manipulation
ls = [] # Create empty list
for l in soup_is.find_all('div'):
    # Find all data structures that are 'div'
    ls.append(l.string) # add each element to the list
    
ls = [e for e in ls if e not in ('Operating Expenses', 'Non-recurring Events')] # Exclude those columns

In [5]:
new_ls = list(filter(None, ls))

In [6]:
new_ls = new_ls[12:]
is_data = list(zip(*[iter(new_ls)]*6))

In [7]:
Income_st = pd.DataFrame(is_data[0:])
Income_st

,0,1,2,3,4,5
0,Quarterly,Expand All,ttm,6/30/2019,6/30/2018,6/30/2017
1,"58,110,000","52,185,000","43,884,000","39,507,000","-15,018,000","-15,773,000"
2,"-6,061,000","-46,781,000","-42,455,000","-36,887,000","-33,590,000","8,408,000"
3,"11,849,000","11,356,000","11,946,000","7,663,000",Capital Expenditure,"-14,748,000"
4,"-13,925,000","-11,632,000","-8,129,000",Issuance of Capital Stock,"1,311,000","1,142,000"
5,"1,002,000","772,000",Issuance of Debt,-,0,"7,183,000"
6,"44,344,000",Repayment of Debt,"-6,518,000","-4,000,000","-10,060,000","-7,922,000"
7,Repurchase of Capital Stock,"-21,810,000","-19,543,000","-10,721,000","-11,788,000",Free Cash Flow
8,"43,362,000","38,260,000","32,252,000","31,378,000",Learn more,© 2020 Verizon Media. All rights reserved.

In [8]:
# Data Cleaning
Income_st.columns = Income_st.iloc[0] # Name columns to first row of dataframe
Income_st = Income_st.iloc[1:,] # start to read 1st row
Income_st = Income_st.T # transpose dataframe
Income_st.columns = Income_st.iloc[0] #Name columns to first row of dataframe
Income_st.drop(Income_st.index[0],inplace=True) #Drop first index row
Income_st.index.name = '' # Remove the index name
Income_st.rename(index={'ttm': '12/31/2019'},inplace=True) #Rename ttm in index columns to end of the year
Income_st = Income_st[Income_st.columns[:-5]] # remove last 5 irrelevant columns

SyntaxError: invalid character in identifier (<ipython-input-8-88d79304ed2b>, line 7)